[2019-08-22 19:50] jeffhammond commented on #325
I studied page size sensitivity of BLIS in extraordinary detail last fall
and the answer is that it is not sensitive to it, at least on an
architecture where MKL was sensitive to page size (because it’s closer to
peak than BLIS).
--
Jeff Hammond
jeff.science@gmail.com
http://jeffhammond.github.io/

[2019-08-22 21:23] fgvanzee commented on #326
One person's "small" may be another person's "medium" may be another person's "tiny." I'll just add libxsmm to the graphs and let the audience decide which region to focus in on.

[2019-08-22 21:35] jeffhammond commented on #326
Look again.  It might have changed.  It’s free as in beer now and for a few
years. You can get it from Yum and Apt repos as well as maybe Anaconda and
some other thing. Internet has details.

and Pabst said it only got its

I think that’s a fair statement. Competition is good in every dimension.
--
Jeff Hammond
jeff.science@gmail.com
http://jeffhammond.github.io/

[2019-08-22 22:04] rvdg commented on #326
I always argue that companies should financially support BLIS so as to make sure that products like MKL are at their best.  Even if BLIS does not attain the best performance, it makes others attain best performance, and that helps the community.  (And then, of course, there is the fact that BLIS can more easily expand functionality beyond the BLAS.)

[2019-08-23 03:00] jeffhammond commented on #324
https://github.com/jeffhammond/HPCInfo/blob/master/buildscripts/gcc-release.sh
has been tested on a wide range of Linux systems including:
- behind corporate firewalls, with a proxy
- on Intel, AMD, ARM and IBM POWER systems
- on a range of distros, from CentOS 6 to Ubuntu 18

If you misuse make -j, it can brick your machine, because there’s a lot of
parallelism in GCC builds.

It does not support

[2019-08-26 10:10] figual commented on #329
This should be fixed now in bfddf671328e7e372ac7228f72ff2d9d8e03ae18.

[2019-08-26 14:51] jfikar commented on #329
I can confirm that it works now. However I got some errors in out.cblat2. Not sure if it is important. All other tests passed.

[code]

On the other hand, for cortexa57 all tests passed ok, strange.

[2019-08-28 16:28] loveshack commented on #326
Sure, but I think most people involved with machine learning and
materials computation would expect "small" to be in the libxsmm region
and expect the comparison.  I'd be happy with some disclaimer saying it
isn't relevant.

[2019-08-28 16:35] loveshack commented on #326
I know what the licence says -- unlike most, I actually read them...  It
may be free of charge, but it obviously isn't free software.  Apart from
that excluding use in relevant GNU/Linux distributions, cp2k has no GPL
exception.  (My all-free software build was reportedly faster than an
Intel compiler+MKL+MPI one on Sandy Bridge anyway.)

[2019-08-28 16:37] loveshack commented on #325
That's the sort of info I was missing -- which is fairly clear for
OpenBLAS.  I don't mean to be stroppy, but I wanted to know how to make
more measurements (and, for instance, I could probably access Thunder X2
if you no longer can).

From what Jeff said, it's not relevant, but see vm/transhuge.txt in the
Linux documentation, or maybe
https://access.redhat.com/documentation/en-us/red_hat_enterpri

[2019-08-28 16:38] loveshack commented on #326
Sure, but it covers the applications which need "small" matrix support
in the sense people like me probably understand it.

[2019-08-28 16:39] loveshack commented on #325
I think that's worth documenting, particularly as Goto was always
supposed to be concerned with TLB misses.  I may be able to check on
non-x86_64 if that might be different.

[2019-08-29 00:21] jeffhammond commented on #326
@loveshack If MKL redistribution is a bottleneck for you, write me an email and I'll try to solve it.

[2019-08-29 14:29] loveshack commented on #325
I'm not.  I mainly wanted to know what the actual code to build and run
is, which is obvious in openblas, for instance.  I'd expect someone with
a clue or two to be able to go from there.  Research Software Engineer
lore would expect some sort of R or Python runnable notebook thing (in a
container?), but some of us experimentalists have a different view of
replicating results.

Sure, thanks.  It d

[2019-08-29 14:29] #325 closed

[2019-08-29 17:15] fgvanzee commented on #325
@loveshack I've committed 80e6c10, which includes short blurb on reproducing performance (similar to my response above) in both `Performance.md` and `PerformanceSmall.md`. The blurb includes the directory (with link). Hopefully you find this satisfactory.

[2019-08-30 14:01] jfikar commented on #329
Ok, I see.
Thank you

[2019-08-30 14:01] #329 closed

[2019-08-30 15:40] rth opened #332 "snrm2 overflow for large input floats"
DSNRM2 in BLIS overflows when applied to a an array `[1e20]` while it doesn't overflow in the Netlib BLAS (or OpenBLAS).

I run into this while trying to pass the scipy test suite with BLIS in https://github.com/scipy/scipy/issues/10744, as mentionned in that issue,

There are also a number of other scipy test failures due to overflow I think in other functions (see the linked issue).

[2019-08-30 15:45] rth commented on #332
(Sorry submitted too early by accident, see edited description above. This issue is related to overflows when trying to pass the scipy test suite with BLIS).

[2019-08-30 15:57] devinamatthews commented on #332
Possible solutions:

1) Cast f32 to f64 before multiplication and accumulate in f64 (looks like OpenBLAS does this maybe?).
2) Scale:
    - By using `isamax` to find the largest element.
    - Using `isamax` over chunks that fit in cache and normalizing each chunk individually.
    - Changing the scale factor as you go along (like netlib), but of course this isn't (easily) vectorizable.

    In ea

[2019-08-30 16:14] rth commented on #332
Indeed. I imagine one would pay for it with performance in any case...

Maybe the scale could only to be applied if `max_value**2*n_elements>dtype.max` to avoid needless calculations? Or some other way of detecting the overflow.

[2019-08-30 16:18] devinamatthews commented on #332
I think the extra calculation is probably not an issue (except division but that can be avoided). The biggest cost would be either the increased memory accesses (going through the array twice) or the loss of vectorization. My preference is method 1) for `snrm2` and 2b) for `dnrm2`. @fgvanzee ?

[2019-08-30 17:17] fgvanzee commented on #332
This is kind of beyond my preferred level of expertise, and also hard to follow without more details / code samples. I nominate @devinamatthews to throw together a pull request.

[2019-08-30 17:19] devinamatthews commented on #332
@fgvanzee can you give me a list of the files I need to edit? I'm not sure I could find them all.

[2019-08-30 17:27] fgvanzee commented on #332
`?nrm2()`, defined in `frame/compat/bla_nrm2.c`, is currently based on `bli_?normfv()`, which is defined in `frame/util/bli_util_tapi.c`, but is based on a helper function that is defined starting on line 313 in `frame/util/bli_util_unb_var1.c`. (Be sure to mind the `#ifdef FE_OVERFLOW` cpp branch.) That helper function currently uses another helper function that implements `sumsqv`, which is defi

[2019-08-30 17:30] devinamatthews commented on #332
So the functions there can't have optimized implementations? Not that it really matters for nrm2 and similar but I just want to make sure this is the only place to change.

[2019-08-30 18:26] rvdg commented on #332
We have an enrichment on this in the course we are creating:

http://www.cs.utexas.edu/users/flame/laff/alaff-beta/chapter01-computing-2-norm.html <http://www.cs.utexas.edu/users/flame/laff/alaff-beta/chapter01-computing-2-norm.html>

[2019-08-30 18:28] fgvanzee commented on #332
As those operations are currently classified, correct. Let me know if it becomes and problem and I can think about reclassifying those functions as level-1v, at which time they will "first-class citizens" of the `cntx_t`.

[2019-08-30 18:42] fgvanzee opened #333 "BLIS Retreat 2019 community invitation"
BLIS contributors/users,

Every year since 2013 we have held an invitation-only workshop here at The University of Texas at Austin that brings together various stakeholders in the BLIS community. This year, the workshop, which we call the BLIS Retreat, [will take place September 19-20, 2019](http://www.cs.utexas.edu/users/flame/BLISRetreat2019/).

If you are interested in attending, even if you ha

[2019-08-30 18:46] devinamatthews commented on #332
@rth by any chance were you testing on a Mac? I looked at the code and in fact it is already applying a scale factor, except that it tries to optimize by computing dot(x,x) first and checking for overflow exceptions. On MacOS, though, floating point exceptions are never generated.

[2019-08-30 19:01] rth commented on #332
No, I was testing on Linux (Gentoo), using blis 0.6.0 though -- maybe this was recently changed?

[2019-08-30 19:06] devinamatthews commented on #332
It looks like the behavior has been the same since Nov. 2016. I pushed in a new commit to #334 that unconditionally disables the use of dot. See if that works for you.

[2019-08-30 20:16] rth commented on #332
I haven't build BLIS from sources yet (and won't be able to look into it before next week).

Are you saying that you are not able to reproduce the failure on master with a unit test applying snrm2 on an array [1e20] of dtype float (32 bit)?

[2019-08-30 20:18] devinamatthews commented on #332
@field can you try and reproduce this and see if the fix in #334 works? @rth is this an array of length 1e20? Are the values drawn from some distribution?

[2019-08-30 20:21] fgvanzee commented on #332
@devinamatthews I think @rth means that the array has one element containing the value 1e20.

Yeah, I can try to reproduce.

[2019-08-30 20:21] rth commented on #332
Sorry for the confusion. It's a 1D array with a single element equal to 1e20, so that when you square it, float32 would overflow.

[2019-08-30 20:25] isuruf commented on #332
I can reproduce this issue on linux and can confirm that #334 works

[2019-08-30 20:28] devinamatthews commented on #332
@fgvanzee saved by the bell. I think merging #334 is the ticket then, unless you want to clean it up/add a comment or something.

[2019-08-30 20:32] fgvanzee commented on #332
I also can confirm that `snrm2_()` on 1e20 doesn't work. (I actually get `-nan`.)

I'll take a look at it. Thanks for your quick work, everyone.

[2019-08-30 21:52] #332 closed

[2019-09-02 12:01] rth commented on #332
For future reference, here is a python snipped reproducing the original issue,
[code]

and I can confirm that https://github.com/flame/blis/pull/334 fixes it.

[2019-09-03 16:30] loveshack opened #335 "don't use popen"
On ARM, frame/base/bli_cpuid.c currently calls popen, and surely shouldn't.  It's at least surprising to have the library spawning a shell -- which may be prevented by SELINUX etc. anyway -- and it's probably worthy of a CVE in case it's run by a privileged process.  (See popen(3) and system(3).)

If BLIS must check /proc/cpuinfo, it should just read it and examine it line-wise.

On aarch64, this

[2019-09-03 16:33] loveshack commented on #322
At least with GCC, use __builtin_cpu_is to distinguish POWER micro-architectures.

[2019-09-04 04:19] tks2004 opened #336 "CSR SPMV"
Does BLIS support CSR SPMV operations?

[2019-09-05 09:00] hominhquan opened #337 "Does `dim_t` need to be `gint_t` ?"
Hi all,

Just a rationale question, is `dim_t` (dimension) necessarily to be a `gint_t` signed integer ? Is there any harm if we change it to `guint_t` ? I see good reason for `inc_t` and `doff_t` to be possibly negative, but not for the matrix dimension.

Quan

[2019-09-05 18:15] fgvanzee commented on #337
@hominhquan You raise a fair point. In fact, in earlier versions of BLIS, `dim_t` **was** defined in terms of `guint_t`. However, I decided to redefine it as `gint_t`. I forget what the "tipping point" issue of the day was for us (maybe @devinamatthews or @jeffhammond remember?), but I can give you one great example of where the signedness comes in handy. Consider the following loop that iterates

[2019-09-05 18:16] fgvanzee commented on #336
@tks2004 Could you clarify what you mean by CSR? I'm not immediately familiar with the term. Come to think of it, it's not clear what you mean by SPMV, either.

[2019-09-05 18:20] devinamatthews commented on #337
@fgvanzee I also agree that signed integers are better for dim_t (avoids the many unexpected underflow problems that *will* occur; 2x range of unsigned isn't really a big deal especially for 64 bit). But on the off chance that I might run across unsigned numbers, I always write my reverse loops using the "goes to" operator:

[code]
Of course `i --> 0` is just `i-- > 0`.

[2019-09-05 18:22] devinamatthews commented on #336
CSR == compressed sparse row (i.e. store list of non-zero (i,m_ij) pairs for each j)
SPMV == sparse gemv

[2019-09-05 18:24] fgvanzee commented on #337
@devinamatthews Cute trick. Not crazy about it for readability purposes (it kind of makes the uninitiated stare at it for a while to convince themselves of what it actually does), but definitely convenient if you are unsure of signedness. Thanks for sharing.

[2019-09-05 18:26] fgvanzee commented on #336
@devinamatthews Ah, thanks for that.
@tks2004 The answer, unfortunately, is no. BLIS does not currently offer any sparse operations. Perhaps @rvdg can suggest where to look for such implementations?

[2019-09-05 18:43] rvdg commented on #336
Victor Eijkhout would be the person to ask.

[2019-09-05 21:41] fgvanzee commented on #335
@loveshack I've reimplemented the ARM version of `bli_cpuid_query()` in terms of `fopen()` and `fgets()` in 1cfe8e2.

And yes, you are correct: the current implementation of `bli_cpuid_query_id()` doesn't really do much with the results. The reason is that `/proc/cpuinfo` isn't guaranteed to have the information we need in order to discern a CortexA57 from a ThunderX2 from a whatever. If I were an

[2019-09-05 21:46] fgvanzee commented on #322
Note that @nicholaiTukanov is working on power9, but I'm guessing this is probably quite low on the list of things he would opt to work on right now. If this is going to be done anytime soon, someone else will probably need to step up and suggest a solution. In other words... "We look forward to your patch." :)

[2019-09-06 03:55] jeffhammond commented on #337
I remember some weird stuff with integer types in loop bounds on Xeon Phi
but it has been years and I can’t remember which was best.

I think Devin’s trick is evil and he should use C++20 ranges instead but I
have not written any code in the past month so I have no credibility here.
--
Jeff Hammond
jeff.science@gmail.com
http://jeffhammond.github.io/

[2019-09-06 07:41] hominhquan commented on #337
Thanks @fgvanzee and @devinamatthews for pointing out the use of `dim_t` in reverse loop. Ok for me now for `dim_t` to be signed.

[2019-09-06 07:41] #337 closed

[2019-09-10 14:51] loveshack commented on #335
I the current code didn't seem to attempt that anyway, so didn't seem
useful.

I don't understand the issue.  I referenced what OpenBLAS does, which
doesn't seem to demand any ARM expertise, though I don't know on which
Linux versions it works.  (I assume it's dependent on Linux support.)

I've previously used qemu for testing ARM (not aarch64) builds of
something I maintain, which was tolerable o

[2019-09-10 14:56] loveshack commented on #322
Again, I don't understand as I've given a solution similarly to aarch64,
and it was Jeff who proposed it originally.  I don't have POWER to hand
either.

[2019-09-10 17:20] fgvanzee commented on #322
@loveshack My message was directed at Jeff, especially because he taught me the quoted phrase, but also because he was the original poster. Sorry for any confusion I may have caused.

As for your solution, I wouldn't quite call it a solution for our purposes. 1. We like PRs. 2. We like portability, and I would hesitate to use a gcc builtin unless that was the only way. But like I said before, we d

[2019-09-19 15:12] jlinford commented on #335
@fgvanzee @loveshack, here's how to get an account on two of my favorite Arm HPC systems:
- Isambard: Cray XC50 with ThunderX2 CPUs.  In production, open to all, and currently being used for real science, e.g. drug development.  Contact Professor Simon McIntosh-Smith at cssnmis@bristol.ac.uk to request an account.
- Catalyst: 12,000 ThunderX2 cores available at three university sites.  Join the Ca

[2019-09-19 21:00] loveshack commented on #335
I don't think that's right now; I've talked to a Bristol support person
recently.  See
https://gw4-isambard.github.io/docs/user-guide/requestaccount.html,
which demands a PI/project, and I've no idea on the rules for foreign
users.

I don't know about the others, but at least EPCC's isn't generally
available (and there are conditions on potential access that may not be
appropriate).  I have access

[2019-09-19 21:07] isuruf commented on #335
@fgvanzee, you can get access to the gcc compile farm. List at https://cfarm.tetaneutral.net/machines/list/ . Registration form https://cfarm.tetaneutral.net/users/new/

[2019-09-20 11:19] loveshack opened #341 "checkblas failure for cortexa53"
I'm puzzled by this and don't have the enthusiasm to debug it, but thought I should at least record it.

I built for the cortexa53 target on aarch64, and make checkblas failed with the errors below. However, the full blis test succeeded.  This was on a thunderx1 KVM VM with gcc 8.3.1 under Fedora 29.  It also fails if I build the Fortran version directly.

However, the test passes doing the same t

[2019-09-23 16:27] loveshack opened #342 "checkblas failures with generic target"
I built current master on power8 ppc64le (Fedora 29) with
[code]
and got the following failures from checkblas, though checkblis passed:

[code]

Then I checked the generic config on skx with -march=skylake-avx512, and also with -march=haswell, and got similar results.

I guess #341 is related.

[2019-09-23 17:28] fgvanzee commented on #342
@loveshack I suspect that #329 also falls under this umbrella.

What compiler and version are you using?

[2019-09-23 18:15] fgvanzee commented on #341
I know I sound like a broken record on this topic, but this behavior may be the result of a bug in gcc--specifically, in version 8.3.x. We've observed this (or a similar) failure in the packed level-2 BLAS operations in enough contexts--and all of them *only recently*--that I think the odds of it being a compiler problem are higher than normal.

[2019-09-23 20:07] dnparikh commented on #341
Could these numerical errors be related to the fact that ARM's NEON is not fully compliant to IEEE floating point? I've had some experience where NEON was causing numerical issues in the BLAS testsuite.

[2019-09-23 20:31] adamjstewart opened #343 "Installed library missing executable permissions"
[code]
This is with BLIS 0.6.0 on CentOS 7 built with GCC 7.2.0.

@fgvanzee

[2019-09-23 20:39] fgvanzee commented on #343
Thanks Adam. This should be fixed now in bc16ec7.

[2019-09-23 21:56] adamjstewart commented on #343
I can confirm that your patch fixes the problem for me, thanks!

[2019-09-23 21:56] #343 closed

[2019-09-24 08:11] loveshack commented on #342
Sorry, I should have recorded the compiler, but it isn't that.

The ppc64 failure was with gcc 8.3 (Fedora 29).  I see variations on
these failures also with gcc 6.3/sandybridge, 7.4/haswell, 8.3/skx,
8.3/haswell, and 9.1/sandybridge; also with clang-6.0/haswell.

I think it needs debugging.  I don't _think_ it was a problem in the
past when I was trying the generic kernel with -ffast-maath, but I

[2019-09-24 08:17] loveshack commented on #341
I don't think it's Neon-specific.  -funsafe-math-optimizations is used
generally, and this error occurs with other targets using the generic
micro-kernel.  (Neon is used anyhow in BLIS and OpenBLAS, and I assumed
the vectorization that should be enabled by -funsafe-math-optimizations
would be wanted for ARM.)

Note that this is specifically in the BLAS interface.  The blis
interface test suite pas

[2019-09-24 09:31] loveshack commented on #341
Duplicate of an unresolved part of #329.

[2019-09-24 10:12] loveshack commented on #341
I should have asked if there's a relevant gcc bug report about gcc 8.3, but see the comments about compilers in #342.

[2019-09-24 12:18] loveshack opened #346 "Errors from -fsanitize=undefined"
FYI, if I build with the undefined behaviour sanitizer I see reports like this from make checkblis:

[code]
Configure with "CFLAGS=-fsanitize=undefined LDFLAGS=-lubsan" to reproduce (at least with gcc 8 or 9).

[2019-09-24 12:27] loveshack opened #347 "Possily-incomplete make showconfig output"
If I configure for the arm64 family I added and use make showconfig, I get this output:
[code]
i.e. the map doesn't show all the sub-configs.  Is it supposed to show only the one non-generic kernel?
It's probably not important, and I haven't investigated.

[2019-09-24 17:00] fgvanzee commented on #346
@devinamatthews, can you help me understand what is happening here?

[2019-09-24 17:07] devinamatthews commented on #346
Somewhere (aggregate blis.h so I don't know exactly where) there is a `x<<y` where `x=7`, `y=29`, and `x` is an `int`. That overflows which for signed types is undefined behavior. @loveshack can you send the context for those lines? Also, I think it would help @fgvanzee if you could provide a stack trace rather than him having to figure out UBSan.

[2019-09-24 17:16] fgvanzee commented on #347
@loveshack The above output seems correct to me. Your concern probably stems from some nuance to the kernel-to-config map that you probably aren't aware of. It's not trying to map a kernel set to *every* subconfiguration; rather, it's trying to map *every* kernel set (in the requisite kernel sets) to *one* subconfiguration (of the subconfigurations implied by the family). For umbrella families tha

[2019-09-24 17:16] #347 closed

[2019-09-24 17:53] fgvanzee commented on #346
Based on the line numbers, it appears the issue is in the bitshifts that take place in the `bli_obj_comp_dt()` and `bli_obj_set_comp_dt()` static functions, which are defined in `frame/include/bli_obj_macro_defs.h`.

I think I understand the issue. the computation datatype spans bits 29 to 31 of the `objbits_t info` field of `obj_t`. That means the bitfield occupies the last bit (bit 31), which wo

[2019-09-24 17:55] devinamatthews commented on #346
Bitfields?

[2019-09-24 17:57] devinamatthews commented on #346
Before you ask:

[code]

[2019-09-24 18:33] fgvanzee commented on #346
Sorry, I still have to ask, because I've never seen that syntax.

By "bitfields", I was referring to the usage spelled out in `bli_type_defs.h`, which involves manually "declaring" certain bits for certain uses and using bitmasks and shifts and stuff to query and manipulate them.

[2019-09-24 18:37] fgvanzee commented on #342
@loveshack Would you have run `make check`? `checkblas` would have been executed automatically by the `check` target.

[2019-09-24 18:38] devinamatthews commented on #346
https://en.cppreference.com/w/c/language/bit_field

[2019-09-24 18:39] fgvanzee commented on #346
Oh wow. If this is what I think it is, this will clean up a lot of fragile code.

[2019-09-24 18:41] devinamatthews commented on #346
Welcome to 1989ish :).

[2019-09-24 18:45] fgvanzee commented on #346
Is it safe to assume that by using the [bit field C language construct](https://en.cppreference.com/w/c/language/bit_field), the compiler ends up inserting the requisite shifts and masks as needed?

[2019-09-24 18:49] devinamatthews commented on #346
Yes, what is doesn't guarantee is 1) padding, 2) order. There are standard ABIs that extend the language guarantee, though; e.g. ELF requires a particular layout so that program units compiled with different compilers are guaranteed to agree.

[2019-09-24 18:51] fgvanzee commented on #346
Okay, so my interpretation of what you are saying is that switching to language-based bit fields may result in an increase in the size of an `obj_t`.

[2019-09-24 18:57] devinamatthews commented on #346
If it does I don't think it will matter. But you can measure it pretty easily.

[2019-09-25 10:06] loveshack commented on #346
Right, according to the generated version in my source.  I've no
evidence this is actually causing a problem, but undefined behaviour can
be a problem with aggressive (-O3) optimization.

Some types are signed that I'd expect to be unsigned (counts and
dimensions?), but would be non-trivial to change and likely not worth
worrying about.  (GCC has sign-compare and sign-conversion warnings,
e.g. wit

[2019-09-25 10:21] loveshack commented on #342
I typically run check, and that's how I saw the problem originally, but
I've been running checkblas directly to investigate this for different
configurations.

[2019-09-25 17:59] fgvanzee commented on #335
@isuruf Thanks for pointing this out, Isuru.

[2019-09-25 21:57] loveshack commented on #335
I should have referenced #344 for the arm64 implementation and comments
on arm32.

(I'm not very interested in the arm32 implementation, and it would be
best if someone can say how to without reading /proc.  Also I only have
access to cortexa9 for actual arm32.)

[2019-10-04 15:59] loveshack opened #350 "allow environment to select family members"
OpenBLAS has a facility that's sometimes useful to bypass cpuid-type runtime selection to select the architecture.
I implemented that under #345 (for BLIS_CORETYPE, rather than OPENBLAS_CORETYPE) but I don't know where best to document it.
(I'm afraid I've accumulated several features in that branch as they're inter-dependent.)

[2019-10-07 15:38] loveshack opened #352 "Workstation SKX is mis-identified"
I have a desktop SKX, model W-2123, which the cpuid code identifies as haswell (obvious with `configure auto`).

It turns out that it doesn't report avx512 vpus due to not parsing the model name.  I fixed it with #351.

[2019-10-07 17:23] fgvanzee commented on #352
@loveshack Thanks for your contribution, Dave. I was not even aware of this [W line of parts](https://www.anandtech.com/show/13116/the-intel-xeon-w-review-w-2195-w-2155-w-2123-w-2104-and-w-2102-tested). (I was confused at first because "desktop SKX" seemed contradictory; up until now we knew all desktop Skylakes to be sans AVX-512. But it seems the W is for workstation, which makes sense in that i

[2019-10-07 18:04] fgvanzee commented on #352
@devinamatthews Could you give your stamp of approval to this patch? @dnparikh seems to recall there being an issue of 1 VPU vs 2 VPUs, but I don't have any memory of this one way or another.

[2019-10-07 18:20] devinamatthews commented on #352
Comments on #351

[2019-10-07 18:31] devinamatthews commented on #352
Except for Skylake-X i7 and i9! And Cannon Lake! And Cascade Lake!

[2019-10-07 18:42] fgvanzee commented on #352
Ugh. I know nothing, then.

Thanks for your comments, Devin.

[2019-10-08 18:08] fgvanzee commented on #326
I'm going to consider this issue closed. @loveshack please reopen if you have any remaining concerns.

[2019-10-08 18:08] #326 closed

[2019-10-14 19:24] jeffhammond commented on #335
@loveshack What is the issue with reading `/proc`?  Everything I can find suggests that this is the best method for querying ARM CPUs (e.g. https://en.wikichip.org/wiki/arm/armv8#ARMv8_Extensions_and_Processor_Features).  Furthermore, when other sources exist, they appear to be inaccessible from userspace (e.g. https://www.kernel.org/doc/Documentation/arm64/cpu-feature-registers.txt).

[2019-10-15 09:09] loveshack commented on #335
I don't think it's fundamentally wrong if you don't have a better
option.  A cpuid-like mechanism (as suggested by Linux and IBM doc) seems
generally better to me.

* You don't rely on undocumented (?) formats.  (But the ARM /sys files don't
  have that issue.)
* /proc isn't guaranteed to be mounted or accessible.  (Yes, plenty will
  break if not -- it was in my old node health checks.).
* Not re

[2019-10-15 09:24] loveshack commented on #335
If you need convincing, this is on a Fedora 29 KVM instance on
ThunderX1.  Similarly on non-virtualized Ubuntu 18.04 on ThunderX2.

[code]

[2019-10-15 10:01] loveshack opened #354 "-march overrides -mcpu on ARM"
I don't know how much difference it makes, but ARM should use -mpu per configuration, and avoid -march.  Confusingly, these have different semantics on x86.

Fixed in #353, with references.

[2019-11-04 18:51] jeffhammond opened #356 "banish non-use warning generates warning with XLC"
@fgvanzee I don't care about this warning, but since it seems your goal is to banish warnings, you should know that the attempt to do so here has the opposite effect with XLC
[code]
If you are unconcerned by this, feel free to close the issue.

[2019-11-04 18:53] jeffhammond opened #357 "POWER9: 1500-065: (S) Too many registers are required in the asm statement."
@nicholaiTukanov

I see the following error when I build the test suite.
[code]

The configuration was as follows.
[code]

[2019-11-04 18:56] jeffhammond opened #358 "POWER9: blacklist GCC 4.8.5"
The default version of GCC in certain Linux distributions is too old to build the POWER9 kernels.  I recall BLIS has a blacklist like this for e.g. Haswell.  It should be applied to POWER9 as well.
[code]
I will try to work on this but make no commitments.

[2019-11-04 18:57] fgvanzee commented on #357
@jeffhammond I happen to know what's going on here, so I'll chime in ahead of Nicholai's comment.

Basically, as the commit log entry suggests, you can't use `xlc`. The compiler has issues with recognizing the use of certain general-purpose registers in the GNU extended inline assembly clobber list. Please use `gcc` instead, kthnx.

[2019-11-04 18:58] fgvanzee commented on #356
I'll look at a patch to avoid the warning. Thanks.

[2019-11-04 19:00] jeffhammond opened #359 "POWER9: test errors"
@nicholaiTukanov are these expected?
[code]

[2019-11-04 19:00] fgvanzee commented on #358
I agree that we should blacklist compiler versions. I'll need to forensically track the power9 support through the gcc version history and insert the appropriate logic.

[2019-11-04 19:03] fgvanzee commented on #359
@jeffhammond I'm not sure Nicholai ever ran the BLAS test drivers. I'll work with him on reproducing / deciphering these errors. But please be patient; our machine in Chattanooga was having network issues and was basically unusable last we checked, and we don't yet have access to the upcoming system at TACC.

[2019-11-04 19:06] jeffhammond commented on #357
Works for me.  I have no affection for XLC.

[2019-11-04 19:06] #357 closed

[2019-11-04 19:11] jeffhammond commented on #358
I am working on this...

[2019-11-04 19:20] jeffhammond commented on #358
I am trying to figure out if GCC-5 supports POWER9 but https://www.olcf.ornl.gov/wp-content/uploads/2018/12/summit_workshop_walkup.pdf recommends GXX 6.4 and 8.1.  The GCC 5.5.0 compiler build is more complicated than later versions.

[2019-11-04 19:21] jeffhammond commented on #359
@fgvanzee No worries at all.  I am creating tickets to be helpful, not to be difficult.

[2019-11-04 19:21] jeffhammond commented on #359
I can send full details of test failures or run stuff for you, if that helps.

[2019-11-04 19:22] fgvanzee commented on #358
Alright, you can have this one. :) Thanks for your help, Jeff.

[2019-11-04 19:22] jeffhammond commented on #358
I am giving up on building GCC 5.5.0 and will set the minimum version for POWER9 to GCC-6.

[2019-11-04 19:23] devinamatthews commented on #356
[code]
Is the idiomatic way I think.

[2019-11-04 19:23] fgvanzee commented on #359
@jeffhammond Thanks for offering. It wouldn't hurt to send us your test failure output just so we know exactly what we're trying to reproduce.

[2019-11-04 19:24] fgvanzee commented on #356
I agree with @devinamatthews.

[2019-11-04 19:26] devinamatthews commented on #358
Unlike certain compilers *coughclangcough* the GCC documentation should specify the available mcpu/march options, right? It's pretty easy to go through the documentation by version--just pick a past version, go to the right page, and then edit the url.

[2019-11-04 19:29] jeffhammond commented on #358
@devinamatthews I looked.  GCC docs were reorganized between version 5 and 7, so it wasn't easy to find.  Feel free to update https://github.com/flame/blis/pull/360 once you find the answer.

[2019-11-04 19:30] fgvanzee commented on #358
What Jeff said. So... *almost* that easy. :)

[2019-11-04 19:31] devinamatthews commented on #358
I change my vote to gcc 6 :smile:.

[2019-11-04 19:32] jeffhammond commented on #358
https://gcc.gnu.org/onlinedocs/gcc-5.5.0/gcc/RS_002f6000-and-PowerPC-Options.html#RS_002f6000-and-PowerPC-Options indicates no POWER9 support in GCC-5.  I had to manually navigate to this page because Google can't find it.

[2019-11-04 19:33] jeffhammond commented on #358
If this is a comment on ICC, `icc -help codegen` always lists the supported processors in the context of the `-x` options.

[2019-11-04 19:35] devinamatthews commented on #358
*coughclangcough* as in "making users read the source code is sufficient documentation".

[2019-11-04 19:55] #358 closed

[2019-11-04 23:04] jeffhammond commented on #359
Based on https://github.com/flame/blis/commit/c84391314d4f1b3f73d868f72105324e649f2a72#commitcomment-35800975, I will wait until requested to provide logs, since it seems that you have a good way to debug locally.

[2019-11-05 15:28] loveshack commented on #335
Concerning cpuid-like mechanisms versus reading /proc, I should have mentioned that presumably you need to ensure you use the right cpuinfo entry for the processor you're actually running on in case of heterogeneous hardware. That may only be an issue in the ARM world currently and I don't know how relevant it is outside phones.  (I _assume_ cpuid-like things report the core they're run on...)

An

[2019-11-05 15:35] loveshack commented on #299
I added /proc-based support for arm32 (which isn't in OpenBLAS) to the PR.
That completes support for families of the supported architectures.  (See also a comment on #335.)

[2019-11-06 15:22] jeffhammond commented on #359
@fgvanzee After your recent changes, this is where it fails.
[code]

[2019-11-06 15:46] jeffhammond commented on #359
@fgvanzee FYI
[code]

[2019-11-08 14:44] jeremiedbb opened #362 "Feature Request: get multithreading status at runtime"
Hi,

maybe it's already there but I haven't found any way to know at runtime what is the status of multithreading, i.e. openmp, pthreads or no multithreading. I could be nice to have that for runtime introspection.

Also, when built with no multithreading, the functions `bli_thread_get(set)_num_threads` act as if multithreading was enabled. For instance
[code]
is confusing. wdyt ?

thanks

[2019-11-08 18:12] fgvanzee commented on #362
This more or less exists. The following code snippet is taken from the testsuite to show how it can be done:
[code]

I'll address this in a subsequent post.

[2019-11-08 18:42] fgvanzee commented on #362
This is actually a more complicated topic than it may appear.

First, let's start with the fact that, even when multithreading is enabled, `bli_thread_set_num_threads()` does not return the number of threads *actively running*, but rather [something whose meaning is closer to] the number that *will be requested* when multithreading is engaged. If you look at it through that lens, the current behav

[2019-11-08 19:31] fgvanzee commented on #362
@devinamatthews @jeffhammond @dnparikh Just to review, here are the options currently on the table:
1. The status quo asserts that, for single-threaded builds of BLIS, setting the number of threads has a visible effect (i.e., querying via `bli_thread_get_num_threads()` suggests your change was applied), but that effect is ignored by the implementation during execution of multithreading-eligible op

[2019-11-08 19:55] fgvanzee commented on #359
Thanks, Jeff. I was able to reproduce these errors, except for those of `trsm`, using the haswell/power9 hybrid configuration I'm using to do debugging. (And I think I know why the `trsm` errors didn't manifest for me.) So I think I can proceed.

[2019-11-08 20:49] #356 closed

[2019-11-11 13:51] loveshack commented on #342
I got round to finding out where checkblas started failing with the generic target (tested on x86_64).  It's at commit 31c8657f. (Automated bisection fails because of one or more commits that don't build.)
I haven't tried on arm64 to see if #341 is the same.

[2019-11-12 09:34] jeremiedbb commented on #362
Great thanks !

[2019-11-12 09:51] jeremiedbb commented on #362
My confusion might come from me trying to compare with other blas implementations. For instance `mkl_get_max_threads` is documented as number of threads available to use. So for mkl it makes sense that when using the sequential threading layer, `mkl_set_num_threads` has no effect on `mkl_get_max_threads`.

I think your proposition would be less confusing for newbie users like me :)
But maybe just

[2019-11-12 18:11] fgvanzee commented on #359
@jeffhammond I think I've fixed most (hopefully all) of these errors **provided** that you disable 1m in the testsuite's `input.general` file:
[code]
Aside from that very important tweak, you should be able to run with a stock copy of `input.general` and `input.operations`. Unfortunately, 1m as currently implemented is incompatible with kernels that require duplication/broadcasting of stored eleme

[2019-11-12 21:35] fgvanzee commented on #362
@jeremiedbb I've updated the language in the [Multithreading.md](https://github.com/flame/blis/blob/master/docs/Multithreading.md) document in 8f399c8:

**Note**: Please be aware of what happens if you try to specify both the automatic and manual ways, as it could otherwise confuse new users. Here are the important points:
 * Regardless of which broad method is used, **if multithreading is specifi

[2019-11-13 14:21] jeremiedbb commented on #362
That's great, thanks a lot !

[2019-11-13 14:21] #362 closed

[2019-11-14 16:47] hominhquan opened #363 "Possible underflow of `j` in backward order in `bli_acquire_mpart_ndim`"
In backward partitioning, `j` is "relocated" (`j = n - j - b;`). If my understand is correct, this is to somehow convert the backward to the forward partitioning.

The point is `j + b` can exceeds `n` if the blocksize `b` has not been tuned correctly by the caller function. In the forward case, this is catched in the line 399 and `b` is decreased to fit into `n` https://github.com/flame/blis/blob/

[2019-11-14 18:39] fgvanzee commented on #359
@jeffhammond I may have spoken too soon. It appears I was running with a problem size that just happened to pass, while other problem sizes were failing. I'll continue to look into this.

[2019-11-14 19:04] fgvanzee commented on #359
Nevermind, I found the issue. It was a minor copy-paste bug in the new broadcast-based, single-precision real packing function. And just like that, my day went from a 2 to a 7.5.

[2019-11-14 23:00] fgvanzee commented on #342
@loveshack Thanks, Dave. I'll look into this.

[2019-11-15 12:35] loveshack commented on #342
I don't currently get the cblat2 failure on x86 (haswell) -- I haven't
re-tried power8 -- and that #341 appears to be different (unless they're
bot somehow due to optimizing undefined behaviour, or similar).

[2019-11-18 12:51] hominhquan commented on #363
Thanks @fgvanzee. This looks good to me.

[2019-11-18 12:51] #363 closed

[2019-11-21 22:45] fgvanzee commented on #342
@loveshack Thanks for your patience on this. We've been abnormally busy with other priorities.

I got a chance to look at this issue. Thanks to your bisection (and to the fact that I was able to reproduce on my end with `generic` on a Haswell-era system), I was able to quickly identify the offending code changes and revert them after realizing that they were never appropriate to begin with.

The p

[2019-11-21 23:58] wavefunction91 commented on #359
Just to piggyback on this issue: I've been testing on Summit and the current master produces the following:

[code]

Configure: `./configure CC=gcc -i 32 -b 32 -t openmp power9`

Abbreviated output (all combinations fail for these functions)
[code]

Are the triangular functions expected to fail at this time?

[2019-11-22 00:05] fgvanzee commented on #359
@wavefunction91 Have you disabled 1m in the testsuite? The testsuite **will** return failures using a "stock" clone of BLIS. There is no getting around this, unfortunately, unless/until I either make 1m compatible with duplication during packing **or** we write native complex `gemm` microkernels for power9.

[2019-11-22 16:14] wavefunction91 commented on #359
@fgvanzee Yes, I disabled 1m per your previous comment.

From the looks of it, it seems that all `gemm` functions are working fine (mod 1m) on power9, only the `trsm/mm` functions are giving problems (am I correct in understanding that you likely use similar packing schemes for `tr` and `sy/he`?).

[2019-11-22 17:50] fgvanzee commented on #359
Your snippet above shows `hemm` and `symm` failing in addition to `trmm` and `trsm`. Perhaps the confusion is that you made the wrong assumption about...

No. `hemm`/`symm` use different packing schemes than `trmm` and `trsm`. The former expand out to a dense matrix during packing while the latter are packed to a special "micropanel-triangular" format (triangular with MR x MR blocks on the diagona

[2019-11-22 18:21] wavefunction91 commented on #359
Ah OK, that makes sense, I've never tried to write packing utils for triangular/symmetric GEMM, hence the confusion.

If it ends up being non-trivial, I'm more than happy to provide more detailed info re: failures, etc.

[2019-11-22 18:24] fgvanzee commented on #359
Wait, I'm just now realizing that the failures make sense. The fixes that @nicholaiTukanov was working on haven't been pushed to `flame/master` yet. (I think he was only delayed because the network for the machine he was trying to test the changes on was being stupid.)

@nicholaiTukanov Could you give us an update on this?

[2019-11-22 20:20] nicholaiTukanov commented on #359
I haven't been able to work on the fixes due to issues with the machine I was developing on. Once I can get access to a working machine, I can finish debugging the failures.

[2019-11-22 20:43] jeffhammond commented on #359
@fgvanzee @nicholaiTukanov  I haven't used it but I wonder if https://github.com/open-power-sdk/power-simulator would help.

[2019-11-22 20:51] rvdg commented on #359
@jeffhammond Part of the problem is that we don't have easy access to a system right now.  We hope that, now that SC19 is over, someone at TACC will fix that.  The second problem is that we are not funded by anyone to work on the Power9 system, making this lower priority.  What this in particular means is that we don't really have time to mess around with things like simulators...

[2019-11-22 20:58] fgvanzee commented on #359
@rvdg @nicholaiTukanov Might I suggest that Nicholai push the changes (via a PR) into `flame/master` even though he hasn't been able to test them on a power9 system yet? I think @wavefunction91 is willing to be our guinea pig. I also think there is a shot that the changes either (a) don't need to be tested because they just work, or (b) are close enough to being correct that I can tweak it the res

[2019-11-22 20:59] isuruf commented on #359
@fgvanzee, Oregon State's Open Source Lab offers Power8 and Power9 access to open source projects.
It's an easy form https://osuosl.org/services/powerdev/request_hosting . I use the service for another open source project for Power8 debugging and find it very useful.

[2019-11-22 21:14] fgvanzee commented on #359
@isuruf Thanks for pointing this out. At this point, though, it's up to the boss (@rvdg) given that we have other priorities. (I will bookmark that link though!)

[2019-11-27 01:34] ValZapod commented on #312
@fgvanzee I think you should reconsider https://www.reddit.com/r/matlab/comments/dxn38s/howto_force_matlab_to_use_a_fast_codepath_on_amd/

and least run some tests, you know, to check bitexact propeties.

[2019-12-04 20:12] nicholaiTukanov commented on #359
@wavefunction91 The issue should be fixed. Let me know if there are still failing tests.

[2019-12-04 20:20] fgvanzee commented on #359
@wavefunction91 Just to clarify, @nicholaiTukanov is referring to #365, which introduces commit 61b1f0b. Thanks Nicholai, for your help on this!

[2019-12-06 21:42] kyungminlee opened #366 "functions defined in header (or default visibility problem in shared library?)"
It seems that the default visibility is hidden after https://github.com/flame/blis/issues/304. The problem, however, is that some `blis.h` *defines* a number of functions which call the internal functions (e.g. `bli_thread_obroadcast` calls `bli_thrcomm_bcast`), and this causes link error when using shared library.

For example, with blis built with `./configure --enable-cblas haswell` compiling t

[2019-12-06 23:15] fgvanzee commented on #366
Thanks for pointing this out, @kyungminlee, and for the example code. I was indeed able to reproduce the problem.

My preferred solution is that the functions be annotated for export so that they are always compiled into the shared library. I've committed fe2560a, which hopefully fixes this bug.

Please let us know if you encounter any further difficulties.

[2019-12-07 20:36] kyungminlee commented on #366
Your solution seems to work well. Thanks

[2019-12-07 20:36] #366 closed

[2019-12-09 16:27] wavefunction91 commented on #359
@nicholaiTukanov @fgvanzee Everything is passing on my end! Sorry for the delay

[2019-12-16 16:48] ACSimon33 opened #367 "False result from cblas_sdsdot"
I encountered a small bug in the CBLAS compatibility layer with the cblas_sdsdot routine.
The routine should compute the dot product and add the scalar alpha:

<pre>dot <- alpha + x^T * y</pre>

But the routine actually adds the scalar alpha twice. The bug is in the following routine:
(frame/compat/cblas/f77_sub/f77_dot_sub.c)

<pre>void PASTEF772(sds,dot,sub)
    (
        const f77_int* n,

[2019-12-16 16:51] devinamatthews commented on #367
@fgvanzee To get the correct rounding we would need either the second option `*rval = PASTEF77(sds,dot)` or something like this:

[code]
right?

[2019-12-16 16:57] ACSimon33 commented on #367
You are right. Then there is actually another bug in the BLAS layer:

<pre>
float PASTEF77(sd,sdot)
     (
       const f77_int* n,
       const float*   sb,
       const float*   x, const f77_int* incx,
       const float*   y, const f77_int* incy
     )
{
	float r = ( float )PASTEF77(d,sdot)( n,
	                                     x, incx,
	                                     y, incy );
	retu

[2019-12-16 19:15] fgvanzee commented on #367
@ACSimon33 Thank you for bringing this bug to our attention! We're happy to fix it.

However, I'm a having a little trouble following all of the different proposed options to fix the (now multiple) bug(s). I defer to you and Devin to choose the option that is "best." You can submit via a PR, or simply spell out exactly what lines you want me to change.

[2019-12-16 20:03] ACSimon33 commented on #367
@devinamatthews @fgvanzee My suggestion is to change the BLAS layer routine to:

<pre>
float PASTEF77(sd,sdot)
    (
        const f77_int* n,
        const float*   sb,
        const float*   x, const f77_int* incx,
        const float*   y, const f77_int* incy
    )
    {
	double r = ( double ) *sb + PASTEF77(ds,dot)( n,
	                                              x, incx,

[2019-12-16 21:21] fgvanzee commented on #367
@ACSimon33 Thanks for that summary; I can do that. I'll let @devinamatthews comment before I proceed, though.

[2019-12-16 21:25] devinamatthews commented on #367
Looks good to me except that the temporary in `frame/compat/bla_dot.c` is not necessary, you can just return the expression that it is assigned to directly.

[2019-12-16 23:25] fgvanzee commented on #367
@ACSimon33 Please take a look at 5271107 and confirm that it fixes the two bugs.

[2019-12-16 23:47] ACSimon33 commented on #367
@fgvanzee Thanks. Works perfectly.

[2019-12-16 23:47] #367 closed

[2019-12-30 15:01] mratsim commented on #352
My Skylake-X i9-9980XE is also misidentified as Haswell.

[2019-12-30 15:24] devinamatthews commented on #352
@mratsim can you send the output of `/proc/cpuinfo` or the equivalent on your platform?

[2019-12-30 16:12] mratsim commented on #352
Here you go:

[code]

The full output is at https://gist.github.com/mratsim/419062e11ee1f66daa62c7fe4c13dc5d

[2019-12-30 16:19] mratsim commented on #352
If that helps, for my own BLAS implementation purposes (see https://github.com/pytorch/pytorch/issues/26534#issuecomment-537269042), I only test if the CPU implements AVX512F (with CPUID instruction, leaf 7 -> ebx -> bit 16 is set), see my [CPU detection code](https://github.com/mratsim/weave/blob/059d4521fd285b393339bd916f85588c97c5da75/benchmarks/matmul_gemm_blas/gemm_pure_nim/common/cpuinfo_x86

[2019-12-30 21:59] jeffhammond commented on #352
@mratsim Can you run https://github.com/jeffhammond/vpu-count to see if that detects AVX-512 2x FMA correctly?

[2019-12-30 22:03] jeffhammond commented on #352
@fgvanzee @devinamatthews I have to wonder if addressing my comment here (https://github.com/flame/blis/pull/351/files/94b34d38f6dffc074a4f12a1936c0ddba51f47ee..5597169dda1c4cb0c447cb589f8d5c2a5418a259#diff-81ef49aa7330af78381263dcf0acbea8) would solve this problem.

[2019-12-30 22:22] jeffhammond commented on #352
@mratsim For context, the reason BLIS detects your CPU as Haswell is that it _incorrectly_ thinks it has only 1 FMA unit.  The handful of SKX processors that have only 1 FMA should be treated as Haswell by BLIS, for reasons discussed in https://github.com/flame/blis/pull/351.

[2019-12-31 09:59] mratsim commented on #352
That's a good point, in my own I assume that everyone who cared about numerical computing that got an AVX512 CPU was informed enough to get one with 2 FMA units.

Here is the output of the test.x script:

[code]

The empirical script however sometimes give me 1, sometimes give me 2, but my CPU is overclocked GHz all-core turbo, 4.0 GHz all-core AVX turbo, 3.5 GHz all-core AVX512 turbo, see [perf p

[2019-12-31 14:05] loveshack commented on #352
That should be fixed by the changes I submitted, which don't seem to be
wanted.  (If the CPU isn't recognized, the cpuid code might take a
fraction of a second to run measurement code, but that needs a
suitably-licensed implementation; Gromacs' has syntax for GCC, but is
GPL.  Otherwise, it's probably best just to default to the normal case
of 2×FMA.)

For what it's worth, it looks as if OpenBLAS

[2019-12-31 16:10] jeffhammond commented on #352
@loveshack Your suggestion of OpenBLAS here is total garbage.  Unless there has been a rewrite for SKX, it's nowhere near as fast on SKX.  See [SkylakeX](https://github.com/flame/blis/blob/master/docs/Performance.md#skylakex) on the Performance Wiki page for details.

Anyone can *trivially* fix the problem in this issue by setting the configuration name explicitly.  Using the build system options

[2019-12-31 16:19] jeffhammond commented on #352
@mratsim You are right that people buy the 2 FMA parts when they are building HPC systems, but there are a lot of academics and software developers at small firms who buy the low-end server CPUs in their workstations.  I too was surprised but my activities on this front were motivated by reports of strange DGEMM performance with Skylake Xeon 4xxx SKUs on GitHub.

[2020-01-01 21:13] jeffhammond opened #368 "use best available gemm/trsm rather than falling back to generic"
Both AVX-512 ports of BLIS lack complex gemm and gemmtrsm support, but the Haswell port has optimized complex gemm and optimized real gemmtrsm.

I propose to have the SKX and KNL configs use the HSW kernels that exist, rather than falling back on the generic C99 versions.  On the Ice Lake client platform, this will improve the performance of cgemm and zgemm by approximately 4x.

In the table below

[2020-01-01 21:18] jeffhammond opened #369 "Ice Lake client"
I measured on a pre-production part so I won't publish the numbers, but I've tested BLIS on Ice Lake client (supports AVX-512) and find that the SKX config performs better than the Haswell one nearly all of the time, when the SKX config has an optimized version.  When SKX lacks an optimized implementation, the Haswell config performs much better.

This is interesting, because this CPU has one 512-

[2020-01-02 12:36] loveshack commented on #352
Aggressively addressing something different when confronted with
uncomfortable facts is the sort of tactic I expect from disreputable
politicians.  BLIS certainly knows how to drive off outside
contributors.

I have actually compared development BLIS and OpenBLAS -- believe it or
not -- rather than talking through my hat.  (The releases both use avx2
on my W-series box, but OpenBLAS does rather be

[2020-01-02 18:31] jeffhammond commented on #352
Please note that I am an outside contributor.

Please post the data.

What is not documented?  Are you suggesting that the "auto" and "skx"
configuration options are not properly documented?

https://github.com/jeffhammond/vpu-count/blob/master/vpu-count.c)

True, but I am not telling anyone to use it, so why does it matter?

https://github.com/jeffhammond/vpu-count/blob/master/empirical.c)

It is

[2020-01-02 18:44] jeffhammond commented on #352
Please note that I am an outside contributor.

Please post the data.

What is not documented?  Are you suggesting that the `auto` and `skx` configuration options are not properly documented?

True, but I am not telling anyone to use it, so why does it matter?

It is not junk.  It just isn't recommended for most users.

https://github.com/jeffhammond/vpu-count/blob/master/README.md#usage has
been m

[2020-01-03 13:58] mratsim commented on #352
unreleased) skylakex support, so if you just want a good BLAS, it will
probably be the best option.

Since we are veering into off-topic (but the original problem was yours, and it's understood with a potential fix underway), allow me to expand on my use of BLAS libraries.

I interact with BLAS / BLIS with 3 different hats.

## As a regular user

I focus on data science workloads, while lots of co

[2020-01-03 17:18] devinamatthews commented on #352
@mratsim w.r.t. threading I have been meaning for some time to port BLIS to my [TCI](https://github.com/devinamatthews/tci) threading library that I use in [TBLIS](https://github.com/devinasmatthews/tblis). This library can use either thread-based (OpenMP, pthreads) or task-based (TBB, GCD, PPL) back-ends. On Haswell TBLIS+TBB can beat MKL+TBB quite handily (perf. only a few % lower than OpenMP),

[2020-01-03 17:37] rvdg commented on #352
Folks,

Let me second that.  With BLIS, we have always been willing to give up 5% for flexibility, maintainability, and extendability.  We are always delighted when people take building blocks or ideas from BLIS and build their own.  We don’t feel threatened when others opt for other solutions or roll their own.  One of our greatest delights comes from people realizing that providing BLAS-like fun

[2020-01-03 20:23] jeffhammond opened #371 "Intel 19 test failures"
I apologize if this is a duplicate, but this is different from https://github.com/flame/blis/issues/160 and https://github.com/flame/blis/issues/120.

I am seeing systematic test failures with the `haswell` configuration when building BLIS with Intel 19 compilers.  This issue will capture the details.

The immediate solution here is to blacklist Intel 19, at least with the `haswell` configuration,

[2020-01-03 21:14] jeffhammond commented on #371
The test errors with Intel 19.4 (2019.4.243) are even greater for the other configurations I tested.
[code]

I am blacklisting Intel 19+ for now.

[2020-01-03 21:39] jeffhammond commented on #336
I am closing this issue because the question was answered by Field already.

[2020-01-03 21:39] #336 closed

[2020-01-03 21:50] jeffhammond commented on #34
I am closing this issue because ALCF Blue Gene/Q systems have been [retired](https://www.alcf.anl.gov/news/argonne-s-mira-supercomputer-set-retire-after-years-enabling-groundbreaking-science) and thus friends of BLIS like me lack the ability to reproduce user errors.

[2020-01-03 21:50] #34 closed

[2020-01-03 21:51] jeffhammond commented on #26
I am closing because this issue is stale and likely has been fixed already.  Please reopen if this is not the case.

[2020-01-03 21:51] #26 closed

[2020-01-03 21:53] jeffhammond commented on #17
I believe this issue has been addressed by the compiler version blacklisting in `configure`.  Please reopen this issue if necessary.

[2020-01-03 21:53] #17 closed

[2020-01-03 21:57] jeffhammond commented on #25
Closing as "won't fix", based upon discussion here.

[2020-01-03 21:57] #25 closed

[2020-01-03 21:58] jeffhammond commented on #29
Closing this issue due to lack of activity.  Please reopen if appropriate.

[2020-01-03 21:58] #29 closed

[2020-01-03 21:59] jeffhammond commented on #222
I am closing this issue because ALCF Blue Gene/Q systems have been [retired](https://www.alcf.anl.gov/news/argonne-s-mira-supercomputer-set-retire-after-years-enabling-groundbreaking-science) and thus friends of BLIS like me lack the ability to reproduce user errors.

[2020-01-03 21:59] #222 closed

[2020-01-03 22:03] jeffhammond commented on #87
@fgvanzee It's 2020 so if you are going to do this, now is as good a time as ever 😄

[2020-01-03 23:00] fgvanzee commented on #87
@jeffhammond I learned recently that I misunderstood the semantics behind copyright years. It doesn't really matter much for 3-clause BSD, anyway, but to the extent that it *does* matter, by always changing the year to be the most current we are actually throwing away information. Ideally you would want to go from "2019" to "2019-2020" and then just widen the range. Or use a series (list) of years

[2020-01-03 23:00] #87 closed

[2020-01-03 23:31] jeffhammond commented on #371
Intel 18 is broken for the `skx` configuration for `blis_[cz]trsm1m`.  I will add that to the blacklist.
[code]

[2020-01-04 01:44] jeffhammond commented on #371
Intel 18 is broken for the `knl` configuration for `blis_[cz]trsm1m`. I will add that to the blacklist.
[code]

[2020-01-04 01:51] #371 closed

[2020-01-06 17:38] devinamatthews commented on #368
@fgvanzee or `1m`?

[2020-01-06 18:18] fgvanzee commented on #368
@devinamatthews Yes, unless I'm missing something, this issue is moot.

@jeffhammond Take a look at the SkylakeX results available in the [Performance.md](https://github.com/flame/blis/blob/master/docs/Performance.md#skylakex-results) document. What you'll find is that all level-3 operations perform more-or-less as expected for all level-3 operations.

For example, single-threaded `cgemm` and `zge

[2020-01-15 12:42] isuruf opened #373 "Avoid sorting LDFLAGS"
I wanted to add a couple of flags `-Xclang --dependent-lib=msvcrt` which has to come in that order, but BLIS's Makefiles sorts them. https://github.com/flame/blis/blob/e67deb22aaeab5ed6794364520190936748ef272/common.mk#L813-L814

[2020-01-15 13:13] peterukk commented on #265
Hello! I would like to use the mixed precision procedure "bli_gemm" in my Fortran code. Is this not possible yet?

[2020-01-15 18:57] fgvanzee commented on #373
@isuruf The `sort` function is being used here only because we want the ability to remove duplicates. I agree that sorting is not actually what we want.

I will fashion a workaround using the "recursive" solution proposed in [this stackoverflow thread](https://stackoverflow.com/questions/16144115/makefile-remove-duplicate-words-without-sorting).

[2020-01-15 18:58] devinamatthews commented on #373
@fgvanzee Do you *actually* need to remove duplicates?

[2020-01-15 19:03] isuruf commented on #373
Removing duplicates is also problematic. For eg: `-L /usr/lib -L /usr/local/lib`  are valid and removing `-L` from one is wrong

[2020-01-15 19:04] devinamatthews commented on #373
As many warts as they have, there is a reason that people wrote tools like autoconf and libtool 😃 .

[2020-01-15 19:05] devinamatthews commented on #373
But not cmake. Never cmake.

[2020-01-15 19:07] fgvanzee commented on #373
Hmm, good point. I think there are *other* situations where I do want to remove duplicates (because they don't involve compiler flags). But this (`LDFLAGS`) certainly seems like a situation where duplicates can be left alone.

I continue to be astonished at how many projects seem to disagree (or simply not care).

[2020-01-15 19:54] fgvanzee commented on #373
@isuruf Try working with d626112. Hopefully that allows you to add your `-Xclang --dependent-lib=msvcrt` flags.

[2020-01-17 17:49] isuruf commented on #373
Thanks. Works for me.

[2020-01-17 17:49] #373 closed

[2020-01-20 22:20] jeffhammond commented on #265
@peterukk as that isn't part of the BLAS interface, I don't think anyone bothered to write Fortran wrappers for it.  If you want to contribute this feature, look at [frame/compat](https://github.com/flame/blis/tree/master/frame/compat) for how it is done for BLAS functions.

I am sorry that I haven't written the Fortran 2003 interface yet.  I tend the queue these things up and then get busy with m

[2020-02-07 23:04] ajaypanyala opened #374 "Release 0.6.1: invalid conversion from ‘int’ to ‘packbuf_t’ error with g++"
Am using Release 0.6.1 and trying to compile `https://github.com/flame/blis/blob/master/test/test_gemm.c` with `g++ versions > 7.x` (Have not tested with `g++ <= 6.x`)

```g++  -c test_gemm.cc -I.```

[code]

[2020-02-07 23:09] devinamatthews commented on #374
@fgvanzee the Travis CI setup should probably include a C++-compilation test to catch these kind of bugs. The fix in this case is a simple cast (or using a valid enum constant).

[2020-02-07 23:12] fgvanzee commented on #374
@ajaypanyala It would be very helpful to us if you could you use triple backquotes before and after your output so that it's formatted as fixed-width font. (Also, it appears your command line invocation was incomplete; I was fixated on the fact that I couldn't see how `g++` was even finding `blis.h`.)

[2020-02-07 23:19] ajaypanyala commented on #374
@fgvanzee I din't realize the compile line got mixed up with the error. Edited my original post. Thanks!

[2020-02-07 23:22] fgvanzee commented on #374
@ajaypanyala Thanks for that edit, Ajay. I'm guessing that you have the path to `blis.h` taken care of in some subtle way?

I trust Devin when he says this is an easy typecasting fix. If we can reproduce your issue, we can take care of the error your received as well as any others that would show up.

[2020-02-07 23:28] ajaypanyala commented on #374
Yes, `blis.h` is in the same folder as the test code in my case.

[2020-02-07 23:50] fgvanzee commented on #374
@ajaypanyala I think I've fixed your issue in d7a7679. Please give it a try.

Please be aware that you need other compiler flags in order to successfully compile the drivers in `test`. Those drivers were actually intended to be compiled via the `Makefile` in that directory. What I recommend is starting with a fresh/unmodified clone. Then:
[code]
That will allow you to build `test_gemm.c` using `g+

[2020-02-08 00:47] ajaypanyala commented on #374
@fgvanzee I can confirm that `d7a7679` works. Thanks!

[2020-02-21 08:08] assaad opened #375 "Blis dgemm crashing on Skylake X on [512x512] matmult [512x512]"
When i try a dgemm of  [512x512] matmult [512x512] on skylake X, my computer restarts.
If i try the same using the generic blas it's slower but the computer doesn't crash.
Any idea on how to help you to fix this issue?
My cpu model is: i7-7820X CPU
Thanks

[2020-02-21 09:49] assaad commented on #375
For info i compiled the library using the following config:
./configure --quiet --without-memkind --disable-mixed-dt-extra-mem --disable-mixed-dt --enable-cblas --enable-blas --disable-threading --disable-shared --enable-static skx

I need the enable-cblas option.
Many thanks!

[2020-02-21 10:08] assaad commented on #375
Just for info: I tried release 0.6.0 and release 0.6.1, both crashed on skx config, and both succeeded on haswell.

[2020-02-21 21:36] fgvanzee commented on #375
@assaad Thanks for this report, and sorry you're having issues with BLIS on SkylakeX.

I'll try to reproduce this next week.

[2020-02-22 00:50] devinamatthews commented on #375
Sounds like it could be a thermal stability issue.

[2020-02-23 02:39] lingweiyang opened #376 "What are the difference between blis-sup and blis-conv? Is the micro - kernel?"

[2020-02-24 00:30] jeffhammond commented on #375
@assaad
1. Can you please try MKL (https://software.intel.com/en-us/mkl/choose-download) to see if this has anything to do with BLIS?
2. What OS is this?
3. Full details to reproduce this would be helpful.  Is this 100% reproducible?

@devinamatthews 512x512 is a pretty tiny computation to hit any sort of thermal limit, unless one is running it in a loop. The individual call takes ~0.2 millisecond

[2020-02-24 19:15] fgvanzee commented on #376
@lingweiyang If I understand your question correctly, the answer may be found (at least in part) in the [General Information](https://github.com/flame/blis/blob/master/docs/PerformanceSmall.md#general-information) section of the [PerformanceSmall.md](https://github.com/flame/blis/blob/master/docs/PerformanceSmall.md) document:

These two different implementations do in fact use different sets of m

[2020-02-24 23:05] fgvanzee commented on #375
Unfortunately I was unable to reproduce this issue using @assaad's `configure` options on a Xeon Platinum 8167M.

[2020-02-25 03:13] lingweiyang commented on #376
Thanks for your answer! Is blis-sup's micro-kernel code open source?

[2020-02-25 05:58] lingweiyang commented on #376
Thank you for your answer. What is the difference between bli_gemmsup_rd_haswell_asm_d6x8.c and bli_gemmsup_rv_haswell_asm_d6x8.c?

[2020-02-25 07:51] assaad commented on #375
I am using manjaro OS and i7-7820X it has one fused add multiply and i read somewhere here that skx compilation needs at least 2, might that be the problem? is there a minimal test i could run again on my machine that might help?

[2020-02-25 08:04] assaad commented on #375
An update: since last 2 days, i updated my OS, and i removed overclocking on my CPU, i run the test now and it's passing, might be thermal problem or OC. Anyway thanks very much!

[2020-02-25 08:04] #375 closed

[2020-02-25 09:17] lingweiyang commented on #376
Thank you for your answer. Are there any other differences besides micro-kernel? Are the parameters of blis-sup's micro-kernel a,b, and c the whole matrix or a partial matrix?

[2020-02-25 09:22] lingweiyang commented on #376
Thank you for your answer. Are there any other differences besides micro-kernel? Are the parameters of blis-sup's micro-kernel a,b, and c the whole matrix or a partial matrix?

[2020-02-25 18:52] fgvanzee commented on #376
There are some other differences, but they are rather technical and go beyond the scope of a GitHub issue to discuss.

The BLIS sup microkernels operate on submatrices (what we call "micropanels"), just as the conventional microkernel does. The difference is in the assumed storage format of those micropanels.

[2020-02-25 19:10] fgvanzee commented on #375
@assaad I'm glad you were able to solve your issue. (h/t to @devinamatthews for suggesting the possibility of overheating.)

@assaad No, that should not be a problem. My understanding is that the `skx` kernel and subconfiguration does not **need** two FPUs (VPUs), but rather, it is **optimized** for two FPUs. It should still run fine on single FPU systems, but with a peak floating-point throughput

[2020-02-28 04:54] jeffhammond commented on #375
Yeah, don’t overclock and run AVX-512 code. There is a very good chance that is a very bad idea.

[2020-03-13 06:53] kvaragan opened #377 "Probable error in thread partition function void bli_thread_partition_2x2()"
In the file frame/thread/bli_thread.c at line no 1060.
[code]
Are we missing the "return" statement here...

[2020-03-14 23:08] fgvanzee commented on #377
@kvaragan Good catch, Kiran. Thank you for this report. I have submitted a fix to the `amd` branch (commit 9f3a8d4).

[2020-03-18 13:20] xrq-phys opened #378 "Is there a document on setting auxinfo_t for calling microkernels?"
I'm recently trying to utilize BLIS microkernels for implementing some antisymmetric matrix operations. I read the KernelsHowTo.md but still have no idea on how to tag the packed memory and call `((dgemm_ukr_ft)bli_cntx_get_l3_nat_ukr_dt(...))(k, &alpha, ...)` correctly.

If `NULL` is passed to `auxinfo_t` BLIS seems to give a correct answer but bad memory access might occur depending on type of t

[2020-03-20 12:54] matcross opened #380 "Incorrect amaxv results"
(This supersedes #379.)

I'm using

[code]
on Core i9.

The following Fortran program shows incorrect results for i*amax:

[code]
in which the smallest of the max indices are not being returned:

[code]

[2020-03-20 22:09] fgvanzee commented on #380
@matcross Thanks for this bug report. I'm going to try to reproduce this. In the meantime, could you modify and rerun your test driver to instead output the return value of `i?amax()`?

[2020-03-20 22:42] matcross commented on #380
Sure, here's

[code]

with output (gfortran -g)

[code]

[2020-03-20 23:13] fgvanzee commented on #380
@matcross Thanks for those additional printouts. They were quite helpful.

All three failures appear to be a result of how the `amaxv` kernel is implemented (via vector instructions), and fixing them will take a bit of time since I did not write those kernels (they were contributed by AMD).

Furthermore, I suspect if you made your `Real` (float) vector length 8 instead of 4, you would also observe

[2020-03-21 04:31] naromero77 opened #381 "Spack package"
Are there plans for packaging up BLIS as a Spack package?

https://github.com/spack/spack

I would be willing to take a shot a it, if someone from the team was willing to contribute some time answering basic questions about the build system and reviewing the final package.

[2020-03-21 07:09] matcross commented on #380
Thanks for the comments. Good point about the constant float case, you are right that using 8 elements does also wrongly return 2.
The spec of i*amax is that it returns the *smallest* integer for which the corresponding array element is of max abs value.
Our testing at NAG shows that a number of LAPACK failures occur if this is not observed.

[2020-03-21 23:31] fgvanzee commented on #380
@matcross Thanks for pointing this out. I actually pulled up `idamax.f` yesterday and looked at the subroutine definition and *still* somehow missed this detail. I will use the old "distracted by a global pandemic" excuse. :)

My PI has pointed out to me that this operation should probably not be vectorized in the first place since it is never amounts to any significant portion of computation, and

[2020-03-21 23:48] devinamatthews commented on #380
FYI I just peeked at the code and it wouldn't be too hard to fix it to return the expected result. In fact, I think the whole problem is [here](https://github.com/flame/blis/blob/c01d249d7c546fe2e3cee3fe071cd4c4c88b9115/kernels/zen/1/bli_amaxv_zen_int.c#L181) and [here](https://github.com/flame/blis/blob/c01d249d7c546fe2e3cee3fe071cd4c4c88b9115/kernels/zen/1/bli_amaxv_zen_int.c#L335).

[2020-03-21 23:55] fgvanzee commented on #381
@naromero77 Thank you for your interest in creating/maintaining a package for the BLIS community!

Another user, @s-sajid-ali, reported in issue #238 that he created an spack recipe. Perhaps you can leverage what he started? (I recommend reading through that issue discussion before you begin.)

We'll happily answer any questions you have.

[2020-03-21 23:57] fgvanzee commented on #380
@devinamatthews Thanks for pointing this out. If you (or someone else) wants to develop a quick patch and confirm it works, I'll merge it.

[2020-03-22 00:15] fgvanzee commented on #378
@xrq-phys Sorry for the delay in response.

It sounds like you are using BLIS for a *very* advanced purpose. I applaud you for attempting to utilize the low-level building blocks in BLIS to do something entirely new. :)

Note that you asked about packed memory first, and then about proper use of `auxinfo_t`, which is a different issue. As for packing the memory, it may actually be useful to write

[2020-03-22 01:25] devinamatthews commented on #380
There's another wrinkle: if the vector contains NaNs then i?amax is supposed to return the index of the first NaN. I think I can handle this too but it will certainly need some testing.

[2020-03-22 02:09] s-sajid-ali commented on #381
@naromero77  : [`BLIS`](https://spack.readthedocs.io/en/latest/package_list.html#blis) and [`AMDBLIS`](https://spack.readthedocs.io/en/latest/package_list.html#amdblis) and are already available in spack ! While I did take the initiative in creating the spack package for BLIS, lots of people have contributed to it since 2018.

[2020-03-22 02:23] devinamatthews commented on #380
@matcross I made a PR (#382) with a possible fix. This should also fix issues with NaNs. I recommend testing on arrays of size 23 with value like you have now, and also on arrays of the form (0 [repeats n times], NaN [repeats 23-n times]).

[2020-03-22 04:54] naromero77 commented on #381
thanks, not sure how I missed the packages when I was looking earlier today

Get Outlook for iOS<https://aka.ms/o0ukef>
________________________________
From: Sajid Ali <notifications@github.com>
Sent: Saturday, March 21, 2020 9:09:19 PM
To: flame/blis <blis@noreply.github.com>
Cc: Romero, Nichols A. <naromero@anl.gov>; Mention <mention@noreply.github.com>
Subject: Re: [flame/blis] Spack package (

[2020-03-22 07:11] xrq-phys commented on #378
Thanks a lot for the reply!

I'm mainly trying to utilize the `haswell`, `skx` and `armv8` kernels (specifically `bli_dgemm_haswell_asm_6x8`, `bli_dgemm_skx_asm_16x14` and `bli_dgemm_armv8a_asm_6x8`).

In `armv8` cases it worked smoothly and I confirmed in the assembly that `auxinfo_t` is not even referenced, but in `hasswell` and `skx` cases it fails very often (because my hand crafted `auxinfo_t

[2020-03-22 16:39] devinamatthews commented on #380
OK, I wrote a new test program to test a couple extra facets of the code:

[code]

#382 works for the `constl` and `constr` tests but NaN is still a problem. Will fix.

[2020-03-22 17:32] devinamatthews commented on #380
@matcross, I finally managed to test #382 completely and it works as expected now. Can you comment on why the LAPACK test suite fails for the previous behavior? Perhaps it is explicitly checking this behavior and otherwise it would be fine?

[2020-03-22 17:35] devinamatthews opened #383 "Reconfigure should work correctly."
After configuring once, running configure again with different settings should completely override the previous configuration. For example, on my machine, `./configure auto` misdetects the CPU type. Running `./configure haswell` afterwards (and completely rebuilding) does not override this wrong behavior though, although running that from the get-go is fine.

[2020-03-22 17:36] devinamatthews opened #384 "BLIS should warn loudly when CPU type can't be detected."
BLIS doesn't detect my MacBook correctly (will submit separately), but I had no idea this was the case until I dug around quite a bit. BLIS should warn loudly in this case as it is almost certainly not going to give the performance that users expect.

[2020-03-22 17:39] devinamatthews opened #385 "BLIS misdetects 2017 MBP"
My 2017 MBP is not correctly detected as `haswell` at runtime, although `configure auto` builds the `haswell` kernels. CPU info:

[code]

[2020-03-22 17:58] matcross commented on #380
Thanks a lot guys (particularly @devinamatthews )

I'll start a test run with our library tomorrow when I'm back in the 'office' and feed back here.

We were seeing incorrect pivots ipiv returned by dgetrf for singular input A, a number of failures in the example programs that we distribute for LAPACK eigensolvers, and another in our example program for a Jacobi solver of sparse linear systems.

[2020-03-22 21:14] devinamatthews commented on #380
Hmm, so I guess the result with the "wrong" pivots would be numerically equivalent but not the particular solution expected. Well, that's the interface so we'll live with it.

[2020-03-22 21:17] devinamatthews commented on #380
@fgvanzee I should note that there is another lurking problem: the indices are stored as floats, so they could overflow/lose precision for very large arrays. Technically we should use proper integer vectors; I suppose we could use uint32_t's and split very large arrays into chunks?

[2020-03-22 21:18] devinamatthews opened #386 "Don't use float for indices in amaxv."
Zen optimized amaxv uses __m128 (float) for indices, could overflow/lose precision for large arrays.

[2020-03-22 21:24] matcross commented on #380
In this particular instance we were seeing that the dgetrf output didn't remotely satisfy A = PLU.

[2020-03-22 21:25] devinamatthews commented on #380
Weird. But I am not a numerical analysis person so I couldn't say why that is.

[2020-03-23 04:05] jeffhammond commented on #385
How is it detected at runtime?

[2020-03-23 16:16] hexi03 opened #387 "BLAS test failed"
Hi, I got it when i do "make check",
OS: Windows64
MSYS2 with GCC: 9.3.0 and bash 4.4.23(2)-release (x86_64-pc-msys)
ryzen 2600x
I did:
./configure zen
make CC='gcc -mavx -march=native -msse4.2' -j 6
make install
*reboot*
make CC='gcc -mavx -march=native -msse4.2' check
and I got something like

I attached log and out. files with errors(tests with number 1 are passed):

[out.cblat2.txt](https://gi

[2020-03-23 16:20] isuruf commented on #387
@fgvanzee, is it possible to make tests link against the static library on windows?
@hexi03, can you try `./configure --disable-shared zen`? This is an issue with the test suite itself. Test suite can't use the DLL library even though the DLL library works fine.

[2020-03-23 16:29] hexi03 commented on #387
Оk, now I got "check-blastest.sh: All BLAS tests passed!". Thanks

[2020-03-23 16:29] #387 closed

[2020-03-23 16:33] matcross commented on #380
Yes, this is looking good. Thanks again.

[2020-03-23 16:45] #381 closed

[2020-03-23 16:52] devinamatthews commented on #385
In theory it is straightforward:

[code]

so I don't know that the problem is.

[2020-03-23 17:15] jeffhammond commented on #385
Sorry, I meant "what result is obtained from detection, if not Haswell?"

[2020-03-23 19:29] fgvanzee commented on #380
Could you clarify what code you're talking about? The reference kernels store the index as integers. Are you referring to the vector intrinsic code in `kernels/zen/1/bli_amaxv_zen_int.c`?

[2020-03-23 19:31] fgvanzee commented on #381
Glad this amounted to a no-op! :) Thanks @s-sajid-ali for chiming in.

[2020-03-23 19:41] fgvanzee commented on #383
Thanks for this report, Devin. This is super surprising to me. I was under the impression that the behavior you are asking for was already the status quo. I'll investigate.

[2020-03-23 19:52] fgvanzee commented on #387
@isuruf Thanks for your help here.

I don't see why not. We simply have to default to one or the other.
- For Linux/OSX, we default to using the static library [when linking the test drivers], but we use the shared library instead if the static is disabled.
- On Windows, for some reason, the convention is reversed: it uses the shared library by default, but uses the static library instead if the s

[2020-03-23 19:57] fgvanzee commented on #380
Nevermind, I just saw #386.

[2020-03-23 20:09] isuruf commented on #387
I remember now. I don't think the windows builds support building static and shared library at the same time.

[2020-03-23 21:36] fgvanzee commented on #383
@devinamatthews Unfortunately I can't reproduce the "bad" `configure` behavior your reference. I tried (on a `haswell` machine):
[code]
and
[code]
In both cases, a `sandybridge` library is built and the build system is left in a posture whereby its current "active" configuration is `sandybridge`:
[code]
The auto-detection branch in `configure` doesn't do anything special; it merely returns a sub-c

[2020-03-23 21:42] devinamatthews commented on #383
Can you try it with a `make` between `configure`s?

[2020-03-23 21:49] fgvanzee commented on #383
I tried:
[code]
and
[code]
And the outcome was the same as previously, although here we end up with a `lib/haswell` directory with `haswell` libraries in addition to the `sandybridge` directory/libraries. (I did use `-j5` in all cases, but I assume that doesn't matter.)

[2020-03-23 21:50] fgvanzee commented on #384
I see two possible scenarios:
1. `configure` can't detect any of the known subconfiguration types (eg: `sandybridge`, `haswell`, `skx` etc.) and therefore defaults to the `generic` subconfiguration.
2. `configure` thinks it has identified the hardware type and affirmatively chooses the appropriate subconfiguration, even though it is mistaken. (This is what appears to be happening in #385.)

Scenar

[2020-03-23 23:03] fgvanzee commented on #387
@isuruf So, shall we leave it as-is?

[2020-03-23 23:34] fgvanzee commented on #384
To address scenario 1, I have a patch ready to commit that yields the following. Is this loudly enough?
[code]

[2020-03-23 23:36] devinamatthews commented on #384
That's good, but I was more talking about a run-time warning (one-time) for when you configure and compile one or more (optimized) subconfigurations into the library, then run on a machine and it picks the generic config for whatever reason.

[2020-03-23 23:39] dnparikh commented on #384
@fgvanzee I'd suggest adding that warning to the end of the configuration also as a recap, so it'd be hard to miss.

[2020-03-23 23:43] fgvanzee commented on #384
Are you suggesting outputting this message to `stderr`? It would take some rejiggering since I'd need to communicate to BLIS the difference between intentional vs. non-intentional use of `generic`.

I can just move it rather than duplicate. `configure` output is long enough as it is.

[2020-03-23 23:50] devinamatthews commented on #384
Yessir. People should know when they're getting the reference implementation, because it is probably not what they want or expected.

[2020-03-24 16:14] devinamatthews commented on #385
I turned on all the printing in bli_cpuid.c and this looks like it might be the problem:

[code]

I'll have to dig in to the cpuid leaves.

[2020-03-24 16:32] devinamatthews commented on #385
Something very odd is up. This code:

[code]

Produces this output:

[code]

[2020-03-24 16:32] devinamatthews commented on #385
OK, this is crazy, but what is actually being checked is not the feature bits themselves, but the *pointer* to the feature bits. I have no idea how this ever "worked".

[2020-03-24 17:47] devinamatthews commented on #385
Luckily, the checking the pointer thing only applied to the debugging output which, while very confusing, is not the core issue. I did find something else. After configure with `./configure auto`, both configure and BLIS_ARCH_DEBUG show the active config as `haswell`. When I then edit the files [kernels/zen/1/bli_amaxv_zen_int.c] and [ref_kernels/1/bli_amaxv_ref.c] to print `here zen` and `here re

[2020-03-24 18:17] fgvanzee commented on #385
@devinamatthews This is normal. The `haswell` subconfig uses part of the `zen` kernel set. AMD contributed several non-level3 kernels in the `zen` kernel set, but we use them for both `haswell` and `zen` subconfigs (and others).

[2020-03-24 18:33] devinamatthews commented on #385
Yes, but isn't haswell supposed to use the zen level 1 kernels, hence #380? Here it uses the reference kernel even though it says it haswell is selected.

[2020-03-24 18:42] fgvanzee commented on #385
Yes, but did you not see that I disabled use of the intrinsics `zen` kernel `amaxv` in e186d71? The kernel is still there, but I un-registered it.

[2020-03-24 19:34] devinamatthews commented on #385
Ugh. Can you reenable it when you merge #382?

[2020-03-24 19:37] devinamatthews commented on #385
Well, given that then this is a false alarm.

[2020-03-24 19:37] #385 closed

[2020-03-24 19:44] devinamatthews commented on #383
Given the revelations of #385, I think what happened is that I pulled one version *just before* you disabled the vectorized amaxv kernel, then cloned another *just after* and confusion ensued. I tried a coupled of other things using different kernels as markers and I think it does work as expected.

[2020-03-24 19:44] #383 closed

[2020-03-24 19:49] devinamatthews opened #388 "Running make twice results in error"
OK, so this one is totally a real issue :smile:. If I initially run `./configure <whatever>; make`, then edit a file, then run `make` again, this is what I get:

[code]

The "has no symbols" errors are a red herring, that just means the contents were conditionally compiled out. The important part is the undefined symbols. Running `make` one more time gives:

[code]

While it doesn't mention the st

[2020-03-24 19:54] fgvanzee commented on #383
Sorry that the stars aligned against you here. :-\ But ultimately I'm glad it was a no-op.

[2020-03-24 19:56] fgvanzee commented on #384
Just to clarify, I think you meant to say, "when they're getting the `generic` subconfiguration [which contains *only* reference implementations]".

Note that even the `haswell` subconfiguration uses several reference implementation kernels, even if most of the commonly used kernels are optimized.

[2020-03-24 22:28] #380 closed

[2020-03-24 22:29] fgvanzee commented on #380
I just merged #382, so this should be fixed now.

[2020-03-26 18:55] fgvanzee commented on #378
@xrq-phys Once again, sorry for the delay. We've been struggling with some high-priority items lately.

I'm still not convinced that your `auxinfo_t` is the problem. The `dgemm` kernels in `kernels/haswell/3/bli_gemm_haswell_asm_d6x8.c` and `kernels/skx/3/bli_dgemm_skx_asm_16x14.c` do not dereference the `auxinfo_t` pointer that is passed in. Even though the *idea* is for the calling code to alway

[2020-03-26 22:00] #384 closed

[2020-03-26 22:02] rvdg commented on #384
I assume this is the loud warning?  It is completely buried in the printout.  It would be much better if this were the last thing to show…

[2020-03-26 22:34] fgvanzee commented on #384
@rvdg Note that in this [comment](https://github.com/flame/blis/issues/384#issuecomment-602918672) I discuss moving it to the end. Which I committed two minutes before your remark. :)

[2020-03-26 22:47] fgvanzee commented on #388
@devinamatthews Not sure if you thought this undefined symbols error was something I could reproduce in Linux, but... I can't reproduce it in Linux. Trying to reproduce it on OSX is also not possible since I don't have access to an OSX system (not to mention that I don't have recent experience developing with Apple hardware/software).

[2020-03-27 00:47] gracenansamba commented on #388
please unsubscribe me from this thread

On Thu, Mar 26, 2020 at 6:47 PM Field G. Van Zee <notifications@github.com>
wrote:

--
Grace Nansamba
MSc. Computer Science.

[2020-03-27 01:07] fgvanzee commented on #388
@gracenansamba Perhaps you should try "unwatching" the project, and/or check your GitHub notifications settings? Aside from that, I'm afraid I can't help you. Best of luck.

[2020-03-30 16:43] xrq-phys commented on #378
@fgvanzee Thanks a lot for your reply!

I'm quite ashamed to say but reason of the segmentation fault came out to be my mishandling of C functional pointer in C++. The test passed in all 3 platforms after wrapping calls of `gemm` kernels into `extern "C"` blocks.

Thank you very much for the information! I'm in fact working with both `double` and `complex<double>` (i.e. `double complex`) so I'll t

[2020-03-30 16:43] #378 closed

[2020-03-30 17:44] fgvanzee opened #389 "Make (even more) sure that user doesn't unknowingly build with generic subconfig"
A spin-off from issue #358: "BLIS should warn loudly when CPU type can't be detected."

Commit c40a331, which addresses #384, inserted a (relatively) loud warning at the end of the `configure` output whenever auto-detection returns the `generic` subconfig; however, it did not (in addition to the `configure` warning) insert any runtime message to `stderr`, as @devinamatthews suggested. The reason i

[2020-03-30 17:56] fgvanzee commented on #378
@xrq-phys Glad you were able to figure out your problem!

[2020-04-17 06:47] vkirangoud opened #391 "Expert Interfaces - selective packing enabled"

[2020-04-17 06:50] #391 closed

[2020-04-17 06:52] kvaragan opened #392 "Expert Interfaces - selective packing enabled"
Hi,
When using expert interface for GEMM
The initialization of rntm_t object enables selective packing by default.
 _bli_rntm_init()
bli_rntm_clear_pack_a( rntm );
bli_rntm_clear_pack_b( rntm );

static void bli_rntm_clear_pack_a( rntm_t* rntm )
{
    bli_rntm_set_pack_a( TRUE, rntm );
}
static void bli_rntm_clear_pack_b( rntm_t* rntm )
{
    bli_rntm_set_pack_b( TRUE, rntm );
}_

As a result - ex

[2020-04-17 20:04] fgvanzee commented on #392
@kvaragan You raise a fair point. The default initialization of `rntm_t` objects via `bli_rntm_init()`, for use with the expert APIs (e.g. `bli_gemm_ex()`), is inconsistent with the default behavior of the non-expert APIs--that is, native APIs (e.g. `bli_gemm()`/`bli_dgemm()`) and BLAS APIs (e.g. `dgemm_()`). Currently, expert APIs enable packing of A and B by default while the non-expert APIs dis

[2020-04-21 07:04] BhaskarNallani opened #393 "error: redefinition of ‘unsigned int __get_cpuid_max(unsigned int, unsigned int*)"
When included cpuid.h in test_gemm.c  facing with below error.

error: redefinition of ‘unsigned int __get_cpuid_max(unsigned int, unsigned int*)’
10:26:45  __get_cpuid_max (unsigned int __ext, unsigned int *__sig)

Some application developer have a need of including #include "cpuid.h" for various reasons.

Bhaskar

[2020-04-22 06:02] BhaskarNallani commented on #393
@fgvanzee ,
Yes, the problem is with the "cpuid.h" and don't know why it doesn't have safeguards.

I tried calling __get_cpuid_max function in the driver code test_gemm.c  with out including cpuid.h and it is working fine.

So we can ask application developers to use definitions of cpuid.h because it is already included in the blis.h.

Bhaskar

[2020-04-22 13:36] Wandalen opened #394 "Question : does NodeJS binding exist?"
Hello! First of all, thanks for this gem. I am very intrigued by the features of the project.
I have a question: does NodeJS binding exist for the project?

[2020-04-22 14:51] devinamatthews commented on #393
@fgvanzee a better solution is to move `#include "cpuid.h"` to `bli_cpuid.c`.

[2020-04-22 14:54] devinamatthews commented on #394
I don't know much about NodeJS, but if there are existing bindings for BLAS then you could link BLIS on the backend instead of the system BLAS. At one time we has bindings for NaCl but then it was abandoned. I guess the equivalent nowadays is WebAssembly. Compiling BLIS into WebASM should be possible but we haven't done it as of yet.

[2020-04-22 17:35] Wandalen commented on #394
@devinamatthews thanks for the answer. WebAssembly is actually too slow to use it in NodeJS. Because of that WebAssemply is for browsers only. Binding to the compiled native executable file is a much faster solution. I was asking about that. As I understand, there is no such. By the way, I am interested in using the project to steroid our [JS math](https://github.com/Wandalen/wMathMatrix). I hope

[2020-04-22 17:50] devinamatthews commented on #394
@Wandalen you could try compiling BLIS as the backend for this https://github.com/NaturalNode/node-lapack.

[2020-04-22 18:51] fgvanzee commented on #393
@devinamatthews Good idea. I've tested this out and it seems to work as intended. Will commit the fix shortly.

[2020-04-22 18:52] Wandalen commented on #394
Thanks for the link. It's really useful!

[2020-04-22 20:57] fgvanzee commented on #393
@BhaskarNallani Please give 477ce91 a try.

[2020-04-23 07:01] BhaskarNallani commented on #393
@fgvanzee @devinamatthews
Thank you for the right fix.
I verified it.

[2020-04-23 07:01] #393 closed

[2020-04-28 11:09] OH-AU opened #397 "-O3 or -Ofast with -flto (gcc 9.2.0) fails to compile due to -ftree-loop-vectorize"
blis 0.7.0
Although the above combination would not be used by many, in case it helps improve code in some way I thought I'd make the observation.
If I add -fno-tree-loop-vectorize to -O3 or -Ofast (with -flto enabled) the compile succeeds and check passes all tests. If I leave the option there I get the following error attempting to compile:
`kernels/haswell/3/sup/bli_gemmsup_rv_haswell_asm_d6x8n

[2020-04-29 17:16] fgvanzee commented on #397
@OH-AU Thanks for letting us know about this. Just to clarify, how are you specifying the aforementioned options? For example, are you modifying the `make_defs.mk` file of the relevant subconfiguration for your hardware?

@devinamatthews Any ideas what's going on with @OH-AU 's observation?

[2020-04-29 20:38] devinamatthews commented on #397
The "impossible constraints" error happens sometimes when the compiler reserves too many registers and not enough are left for the ASM block. Can happen when either too much debugging or too much optimization enabled.

@OH-AU what happens if you enable `-ftree-loop-vectorize` and `-flto` separately? In particular I am very wary of LTO. OTOH, cblat2 and zblat2 don't even touch any of the BLIS inter

[2020-04-29 21:01] fgvanzee commented on #397
@devinamatthews Can you explain "UB from Fortran?"

[2020-04-29 21:56] devinamatthews commented on #397
Fortran and C have different ideas about many things, for example aliasing. A straight port isn't guaranteed to adhere to strict C99 standards.

[2020-04-30 00:52] OH-AU commented on #397
Also wary of LTO. And I'm just about to change the landscape with the below comments due to other flags used
Flags implemented via CFLAGS, CXXFLAGS and LDFLAGS - no manual modifications of any files.
"-O2 -fPIC -mtune=native -march=native -ftree-loop-vectorize" (ie - not LTO) results in the same blas errors on check - but compiles without error.
"-O2 -fPIC -ftree-loop-vectorize" - all tests pass.

[2020-04-30 01:47] devinamatthews commented on #397
@fgvanzee what flags do these files normally get (if configured for haswell)?

@OH-AU I believe we've had problems with these BLAS tests before, e.g. with newer Intel compilers. I blame the netlib source, but I guess the easy "workaround" is just to not use more aggressive compiler flags. The way BLIS is written, extra compiler flags like these shouldn't change performance much if at all.

[2020-05-02 14:51] fgvanzee commented on #397
@devinamatthews Sorry, this fell through the cracks. Compiler flags for `haswell` vary based on which source files are being compiled.
- optimized kernels: `-O3 -Wall -Wno-unused-function -Wfatal-errors -fPIC -std=c99`
- reference kernels: `-O3 -mavx2 -mfma -mfpmath=sse -march=haswell -funsafe-math-optimizations -ffp-contract=fast -Wall -Wno-unused-function -Wfatal-errors -fPIC -std=c99`
- framewo

[2020-05-02 20:41] pkubaj opened #398 "power9 build fails"
I'm trying to build blis 0.7.0 on FreeBSD/powerpc64. The problem is that power9 build fails with:
[code]

[2020-05-03 15:21] devinamatthews commented on #397
AFAICT `-flto` cannot handle different optimization flags in different object files. [This](https://gcc.gnu.org/wiki/lto/OptionHandling) seems to be some sort of working document to address that but as of now I think is is a no-no. I'm going to close this since it seems "Resolved".

[2020-05-03 15:21] #397 closed

[2020-05-04 17:40] fgvanzee commented on #398
@pkubaj Can you provide more of the `configure` / build output prior to the first "Compiling..." line? If the monolithic header was not built, then that would be a big problem and could manifest this way, though I'm not sure why the header generation would have failed in the first place.

I don't have access to power9, so unfortunately I can't even attempt to reproduce this directly.

[2020-05-04 19:19] pkubaj commented on #398
1. FOSS developers can get VM's and bare metal access to POWER9 for free, details at https://developer.ibm.com/linuxonpower/cloud-resources/

You could even use it to make some CI on for POWER.

Here
[code]

This is a log from our package builder, which uses only packages that are necessary for package build (you can check what packages are installed as dependencies at https://www.freshports.org/m

[2020-05-04 19:19] pkubaj commented on #398
I guess you should make it so that it exits configure with error if perl is not found.

[2020-05-04 19:37] dilyn-corner commented on #398
I had this same exact error on my x86_64 (Haswell) laptop and indeed perl is required.

[2020-05-04 19:46] devinamatthews commented on #398
Wow, I've never heard of a system without perl... @pkubaj @dilyn-corner we should make it clear that perl (what version? @fgvanzee) is a prerequisite.

[2020-05-04 19:50] pkubaj commented on #398
All users usually have will have perl, but the point is that Poudriere installs in its builder jail only those packages that are specified. Such jail is not for general usage, but only for building one package, in this case blis.

[2020-05-04 19:56] dilyn-corner commented on #398
My distro recently pushed perl out of 'core' so I've been looking at what packages I use that require it; this one just got caught in the crossfire.

[2020-05-04 23:27] fgvanzee commented on #398
@devinamatthews BLIS's `configure` script originally did not depend on `perl`. (I don't use it in my day-to-day development.) It appears to have been added by an OS X user (perhaps you?) to accommodate brokenness in Apple's perl implementation:
https://github.com/flame/blis/blob/f032d5d4a6ed34c8c3e5ba1ed0b14d1956d0097c/configure#L3137-L3148

So to answer your question: I have no idea which version

[2020-05-04 23:30] devinamatthews commented on #398
OK, so "any version". I think we just need to update the documentation.

[2020-05-05 15:43] everton1984 opened #399 "Problems using blis_gemm with gint_t matrices"
I'm trying to run some tests with integer matrix multiplication, I just created a basic test using `bli_obj_create` I ran into some issues with `bli_setijm` that I was able to fix for myself and then I realized that `bli_gemm` has a check for float datatypes. Is there a proper way to circumvent this or a correct approach to multiply integer matrices?

[2020-05-05 15:48] devinamatthews commented on #399
BLIS does not currently support integer data types. We are working on adding this in the near(ish) future.

[2020-05-05 15:51] everton1984 commented on #399
I thought it supported, since there's a sandybridge kernel for ints...curious. Is there a discussion list or something similar on how to actually come to this? I have a significant interest on making BLIS working for integers for AI/ML applications.

[2020-05-05 17:42] fgvanzee commented on #398
I've documented Perl as a requirement. I'll consider this closed now.

[2020-05-05 17:42] #398 closed

[2020-05-05 17:47] fgvanzee commented on #399
@everton1984 I'm assuming you're referring to the `bli_gemm_sandybridge_int_d8x4.c` file in `kernels/sandybridge/3`? If so, I'm afraid you've misinterpreted (understandably) what the `int` infix in that filename refers to. Here, we use `int` to distinguish from the neighboring `asm` file. Here, `int` and `asm` refer to the *way* the kernels were implemented--intrinsics vs assembly--not the datatyp

[2020-05-05 17:54] everton1984 commented on #399
Yeah you're right there. No problem, so I believe there's the intention of adding integer support, has any work being done towards that? Do you mind if I study the code and make a proposition?

[2020-05-05 18:08] fgvanzee commented on #399
BLIS's current development effort (still in early stages) is to expand floating-point support (e.g. bfloat16). But additional support for integers is something we are considering, yes.

I'm not sure what you had in mind, but we don't have any integer-specific kernel code to study yet. Or did you mean the framework code?

[2020-05-05 18:13] everton1984 commented on #399
@fgvanzee I mean the framework.

[2020-05-05 18:42] fgvanzee commented on #399
Oh, certainly. You're more than welcome to provide us with feedback!

[2020-05-06 13:56] everton1984 commented on #399
@fgvanzee Great, please keep this issue open then so I can use it as a way to discuss my proposals.

[2020-05-07 14:33] isuruf opened #400 "Provide xerbla_array"
This is a blas function that should be provided by blis.

https://github.com/Reference-LAPACK/lapack/blob/9fb29d8ea47d643ad44a67d3da5de36e280143f5/BLAS/SRC/xerbla_array.f

[2020-05-08 18:50] jeffhammond commented on #400
You are right but also 🤮to everything about XERBLA.

[2020-05-08 19:40] fgvanzee commented on #400
@isuruf I'm having trouble understanding why `xerbla_array()` is needed. Could you help me understand the difference between a Fortran string and a string of single characters?

[2020-05-08 19:56] isuruf commented on #400
`xerbla_array` is needed because `scipy` is using it and when switching the blas implementation to blis, there is a missing symbol error.

As to why it is needed at all, Fortran strings sends the length of the string as a hidden argument. (an argument at the end of the argument list and defaults to 1). You can see this in the f2ced version at https://github.com/flame/blis/blob/c53b5153bee585685bf9

[2020-05-08 20:25] fgvanzee commented on #400
Thanks, @isuruf. Can you clarify what you would expect to happen if the string length passed into `xerbla_array_()` is less than zero? Should this cause the local `char` array to be passed into `xerbla_()` with uninitialized values? I'm looking at the netlib code, and that's what it would *seem* to do. But the description contains a note that  "If called with a non-positive SRNAME_LEN, XERBLA_ARRA

[2020-05-08 20:37] isuruf commented on #400
https://github.com/Reference-LAPACK/lapack/blob/9fb29d8ea47d643ad44a67d3da5de36e280143f5/BLAS/SRC/xerbla_array.f#L111 makes it blank.

[2020-05-08 20:37] isuruf commented on #400
blank=space characters

[2020-05-08 20:44] ajaypanyala opened #402 "pass CC_VENDOR to configure"
Is it possible to explicitly specify `CC_VENDOR` to `configure` ?

I am having an issue with configure trying to query compiler vendor when using Intel OneAPI compilers (based on clang)
https://dynamicinstaller.intel.com/oneapi/toolkits/base-kit/linux/

I end up getting the following error when running `make` (since `CC_VENDOR` is empty string)
```config/sandybridge/make_defs.mk:78: *** gcc, icc,

[2020-05-08 21:19] fgvanzee commented on #400
@isuruf Thanks again. I've implemented `xerbla_array_()` in 787adad7. Please give it a try.

[2020-05-08 21:50] jeffhammond commented on #399
@everton1984 You might check out https://github.com/hfp/libxsmm. As stated there, "Supported GEMM datatypes are: FP64, FP32, bfloat16, int16, and int8."  There is also https://github.com/pytorch/QNNPACK, which supports int8.  I couldn't figure out what types https://github.com/Maratyszcza/NNPACK/ supports but it might have integer support.

[2020-05-08 22:07] fgvanzee commented on #402
@ajaypanyala It may be better for us to instead fix the `cc_vendor` detection in `configure`.

What is the output when you run your compiler with `--version`?

[2020-05-08 22:19] ajaypanyala commented on #402
[code]

[2020-05-08 22:21] devinamatthews commented on #402
@fgvanzee FYI if it's based on clang then we should resolve it as clang not icc, despite it being an Intel product.

[2020-05-08 22:40] fgvanzee commented on #402
@devinamatthews That sounds fine, but what do we key off of? `oneAPI`? `DPC++`?

[2020-05-08 22:42] devinamatthews commented on #402
oneAPI should do it until the next branding change.

[2020-05-08 23:07] fgvanzee commented on #402
@ajaypanyala Please try out d51245e and let us know if it works for you.

[2020-05-08 23:18] ajaypanyala commented on #402
@fgvanzee That works. Thanks!

[2020-05-09 01:15] fgvanzee commented on #402
Great, @ajaypanyala! I'll close this issue now.

[2020-05-09 01:15] #402 closed

[2020-05-10 04:11] isuruf commented on #400
Thanks @fgvanzee. I'll try git master with scipy and report back.

[2020-05-12 15:07] everton1984 commented on #399
@jeffhammond Thanks, however I have other reasons to need Blis that limits the possibilities of using other libs.

[2020-05-22 05:19] sav-ix commented on #255
hello,
few more questions:
1. have you benchmarked BLAS C++ interfaces ([Boost.uBLAS](https://www.boost.org/doc/libs/1_73_0/libs/numeric/ublas/doc/index.html), [blaspp](https://bitbucket.org/icl/blaspp/), etc.) for use with {BLIS,OpenBLAS}?
2. have you benchmarked LAPACK C++ interfaces ([CPPLapack](https://sourceforge.net/projects/cpplapack/), [Lapack++](https://sourceforge.net/projects/lapackpp/)

[2020-05-22 19:29] fgvanzee commented on #255
1. We have not measured the performance of uBLAS or blaspp. Those would be interesting to add to our performance graphs someday.
2. We have not had the time or resources lately to do all of the work we would like, particularly at the LAPACK/libflame level. This includes performance measurements.
3. We do not have plans to provide C++ interfaces within BLIS or libflame. However, we may develop comp

[2020-05-23 02:09] sav-ix commented on #255
May this change, when binary128 and decimal{32,64,128} became a part of [ISO/IEC 9899:202x](http://www.open-std.org/jtc1/sc22/wg14/www/docs/n2478.pdf) Standard?

[2020-05-23 16:53] jeffhammond commented on #255
@sav-ix what datatypes are part of ISO/IEC/IEEE doesn't have a major impact on what math libraries support.  User and developer interest does.  If you want to see new datatypes supported, I encourage you to create an issue specific to each, e.g. https://github.com/flame/blis/issues/234.  I know there is some interest in developing binary128 support in BLIS already...

[2020-05-23 16:55] jeffhammond commented on #255
@sav-ix Regarding:

This is something that would make a good third-party project.  Why not start developing that yourself?

[2020-05-27 16:24] fgvanzee commented on #400
Have you had a chance to try this out, @isuruf?

[2020-05-29 08:40] feifeibear opened #405 "How should I configure if I use AMD CPU."
Here are specifications of my cpu. Now I am using the following command to configure.
Is that right?
[code]
Architecture:                    x86_64
CPU op-mode(s):                  32-bit, 64-bit
Byte Order:                      Little Endian
Address sizes:                   43 bits physical, 48 bits virtual
CPU(s):                          16
On-line CPU(s) list:             0-15
Thread(s) per co

[2020-05-29 11:58] BhaskarNallani commented on #405
./configure --enable-threading=openmp --enable-cblas --prefix=${CMAKE_CURRENT_BINARY_DIR}/blis auto

Instead of zen or zen2,  you can also give "auto" so that it select the configuration based on your processor core and builds.

You can also use **https://github.com/amd/blis**  repo which is fine tinned for latest AMD platforms.

[2020-05-29 19:19] fgvanzee commented on #405
@feifeibear Thanks for your question. I can't offer the best support for Zen2 systems because I haven't yet had the chance to test BLIS on Zen2 (though I hope that changes in the near future).

In theory, @BhaskarNallani is right; you would want to either use `auto` as the configuration target or specify `zen2`. (Both options should lead to `zen2` being selected.) The problem is that I've not been

[2020-05-30 02:42] feifeibear commented on #405
cool, thanks fgvanzee and BhaskarNallani. `auto` is a good option.

[2020-06-01 04:23] tuxzz commented on #405
Remember to remove `-march` or `-mtune` from CFLAGS if you defined them, or you will get a compilation error with `auto`.
`-flto` has no problem with my testing,  which gains a little performance(about 30GFLOPS for SGEMM @ 8thread).

[2020-06-01 04:34] tuxzz opened #406 "How to obtaining numerically reproducible results?"
Does blis offer bit-to-bit reproducible result on multiple runs on the same machine? If I need a bit-to-bit reproducible result, how can I configure blis and my program?

[2020-06-01 18:57] fgvanzee commented on #406
I think the short answer is "no." But perhaps @rvdg can comment on this topic.

[2020-06-02 21:20] rvdg commented on #406
I would have to think about this more deeply than I tend to have an attention span for…

Let me kick this around with people who are more into this.

It is certainly the case that “same machine” would have to mean a machine with the same blocking parameters.  My gut says that if then the machine has one core, the answer is possibly yes.  It may even be that if the machine has the same number of th

[2020-06-02 22:42] fgvanzee commented on #406
@rvdg Thanks for chiming in.

@tuxzz It may be that the answer is "yes" after all; I may have been confusing this issue with inter-machine bit reproducibility, which is an interest of some and definitely not something that BLIS currently guarantees.

[2020-06-03 02:58] jeffhammond commented on #406
It all boils down to the sequence {k} in C[i,j]=Sum({k}) A[i,k]*B[k,j].
Anything that changes {k} breaks reproducibility. Blocking, of which
parallelism is a special case, reorders {k}.

Inter-machine portability requires disabling FMA (or using slow software
emulation on processors that don’t have it), and using the same blocking
factors everywhere. That’s probably going to reduce performance eno

[2020-06-03 12:51] rvdg commented on #406
I have had a conversation about this with Greg Henry (at Intel).  He may want to get involved in this conversation and repeat some of what he explained.,

My gut is that most of the level-3 BLAS in BLIS either already is reproducible, or could be easily made so.  However, Greg points out that compilers do all kinds of weird things with edge cases for code where the actually computation loop is wri

[2020-06-03 17:56] rvdg commented on #406
I’m happy to chime in on anything in this thread if I’m copied, although Robert and Jeff have already summarized some major points here. I will say that CNR in MKL is a performance hit, but in many cases it’s only a minor hit.

               I think one of the biggest difficulties with reproducibility is testing it. Testers that just measure accuracy won’t necessarily catch reproducibility bugs-

[2020-06-11 12:12] guillaumekln opened #407 "Integer GEMM"
Are there any plans to include an integer GEMM API in the future? 8-bit or 16-bit integer GEMM have become fairly standard for inference of quantized neural networks.

Here are some examples in other libraries:

* [Intel MKL](https://software.intel.com/content/www/us/en/develop/documentation/mkl-developer-reference-c/top/blas-and-sparse-blas-routines/blas-like-extensions/cblas-gemm-1.html)
* [oneD

[2020-06-12 13:49] dnoan opened #408 "Building on RPi4"
Hello,
I am building BLIS on the new RPi4. I want to build for generic ARM64 but this doesn't seem to work:

`./configure --enable-threading=openmp --enable-blas --enable-cblas arm64`

If I configure with the `auto` flag, it gives the following warning:

`Unable to automatically detect hardware type!`

How can I build a generic ARMv8 64-bit distribution of BLIS?

[2020-06-12 19:11] fgvanzee commented on #408
@dnoan IIRC, the `auto` and `arm64` configuration targets doesn't work for ARMv8. You'll need to choose a subconfiguration and target it manually. Something like:
[code]

[2020-06-12 21:17] fgvanzee commented on #407
@guillaumekln Thanks for your interest in BLIS. Unfortunately, we don't have the resources at this time to investigate integer support for the `gemm` operation. We may look into this more seriously at some point in the future, but I'm not sure when that would be.

[2020-06-15 14:35] peterukk opened #409 "Unable to compile with PGI"
I just tried compiling BLIS with PGI compilers (19.10) - doesn't seem to work. Any ideas?

Configure:
[code]
Make:
[code]

[2020-06-15 14:48] devinamatthews commented on #409
@fgvanzee looks like `-dumpversion` is not supported. Alternatives:

[code]

@peterukk In order to support PGI, a number of other flags would also have to be changed. Can you suggest substitutes for the unknown flags encountered during `make`? We have no experience with PGI and little resources for doing this legwork ourselves, but if you can provide most of the details I think it should be pretty

[2020-06-15 15:14] peterukk commented on #409
Unfortunately, I have little experience with PGI myself.

However, I just tried using the gcc-built BLIS with my PGI-built application, like you suggested. It worked. Thank you!

[2020-06-16 08:30] grisuthedragon opened #410 "cblas_xerbla kills the program"
I tried to use BLIS as a drop in replacement for BLAS/CBLAS a project. Thereby, everytime the `cblas_xerbla` handler is called the program exists. The reason seems to be the still existing `exitt(-1)` in `frame/compat/cblas/src/cblas_xerbla.c`. Other implementations, like OpenBLAS, only throw an error message and do not exit the program.

[2020-06-16 14:02] sshiremath2000 opened #411 "building on windows"
in the FAQ section below step is given to build dll in windows using msys env and clang compiler.

"To build BLIS, activate the Visual Studio environment from a command prompy and drop in to a bash shell from MSYS2 environment. "

I am not understanding this step. Please elaborate how to start msys bash from VS environment

[2020-06-16 14:14] isuruf commented on #411
Run `bash.exe` from a VS shell.

[2020-06-16 15:21] jeffhammond commented on #410
See http://www.netlib.org/lapack/explore-html/d8/db4/cblas__xerbla_8c_source.html.  BLIS is matching the behavior of Netlib's implementation.  However, I also see http://www.netlib.org/lapack/explore-html/d6/d80/a01076_source.html so there may have been a change from 3.8.0 to 3.9.0.

OpenBLAS appears to do the same: https://github.com/xianyi/OpenBLAS/blob/develop/lapack-netlib/CBLAS/src/cblas_xerb

[2020-06-16 15:22] #411 closed

[2020-06-16 15:27] jeffhammond commented on #409
@devinamatthews FYI

from https://www.pgroup.com/resources/docs/20.1/x86/pgi-release-notes/index.htm:

What's weird here is that KMPC is, in my experience, GCC compatible for OpenMP, at least for OpenMP 4 host code.

[2020-06-16 15:27] devinamatthews commented on #410
I suggest making any change in behavior configurable. Maybe a `BLIS_CBLAS_STOP_ON_ERROR` env. variable?

[2020-06-16 15:32] #408 closed

[2020-06-16 18:15] fgvanzee commented on #410
Unless I'm missing something, it seems like we're emulating the latest version of `cblas_xerbla.c` in LAPACK 3.9.0, as shown by the first of Jeff's links above. The second version seems to only be used in the testing code, which likely omits the `exit(-1)` so that a single failed test (at least, one that needs `cblas_xerbla()`) doesn't halt the entire test driver.

[2020-06-16 18:19] devinamatthews commented on #410
@fgvanzee MKL and OpenBLAS do not normally halt in `xerbla`. I can't say why not halting is important behavior as a call to xerbla indicates a serious error but that is the status quo amongst popular BLAS implementations.

[2020-06-16 18:22] fgvanzee commented on #410
@devinamatthews But we're not talking about `xerbla()`. We're talking about `cblas_xerbla()`. Per Jeff's link above, `cblas_xerbla()` in OpenBLAS *does* call `exit(-1)`. Or am I missing something?

[2020-06-16 18:24] grisuthedragon commented on #410
I habe an idea to find a compromise between the exit behavior and a flexible one for the users. I try to provide some proof of concept code tomorrow.

[2020-06-16 18:28] grisuthedragon commented on #410
The last version I tested was 0.3.8 and there I didn't reach an exit statement in classes.

[2020-06-16 18:34] devinamatthews commented on #410
Sure the latter should call the former in a sane world?

But seriously it should be pretty easy to add an environment variable check to stop or not.

[2020-06-16 18:38] grisuthedragon commented on #410
Using a environment variable needs an active input from the user. For deploying an application to users this is not an option. My idea would be to provide a `cblas_xerbla_set` function such that the user could provide their own error handling without struggling with the issues of dynamic or static linkage.

[2020-06-16 18:46] devinamatthews commented on #410
@grisuthedragon the calling program could just call `setenv()` before the first error.

[2020-06-16 18:52] rvdg commented on #410
I believe the idea behind xerbla is that one can provide one’s own function if one wants different behavior.  This was by design.  So, rather than trying to change the behavior of the BLIS implementation, one should instead link a function before linking the library, and then one can force whatever behavior one wants.

[2020-06-16 18:59] grisuthedragon commented on #410
As far as I read the concept and the ideas I agree. With static linking everything works with a correct order during linking. With dynamic linking and the advanced options how symbols can be created this is no longer a good and reliable way. That's why I suggest an API call to replace the error handler independent of the way the application is linked.

[2020-06-16 19:06] fgvanzee commented on #410
@rvdg: Martin is right about the dynamic linking issue; it only works with static libraries.

@grisuthedragon I like your idea of augmenting the CBLAS runtime API since it can solve a wider range of problems than the narrow `exit(-1)` issue of the day. Please proceed and we'll review your patch/PR when you're ready.

[2020-06-16 19:15] grisuthedragon commented on #410
As I said. I try to create something as soon as possible.

[2020-06-16 19:17] fgvanzee commented on #410
@grisuthedragon We're in no hurry. Go at whatever pace is most comfortable to you.

[2020-06-16 22:04] fgvanzee commented on #400
@isuruf Checking again.

[2020-06-16 22:08] isuruf commented on #400
Thanks for the reminder. This was a bug report from a user, so I'll bug him again to check BLIS master.

[2020-06-17 09:30] grisuthedragon commented on #410
As I mentioned yesterday, I have an idea to solve this problem. Therefore, I created an example on top of the reference LAPACK/BLAS/CBLAS implementation: https://github.com/grisuthedragon/lapack/pull/2  I am open for discussion and if we find a solution all are happy with, I port it to the Fortran world as well (since there the same problem exists).

[2020-06-17 14:21] jeffhammond commented on #410
If BLIS defines XERBLA and friends as weak symbols, they can be replaced dynamically at runtime, using the time-tested methods of the MPI profiling interface.

[2020-06-17 14:24] grisuthedragon commented on #410
Thats partly right from my experience. We have cases, where we load BLAS ( or whatever it implements) using dlopen/dlsym and then the weak symbols does not matter.

[2020-06-17 15:20] kvaragan opened #413 "testsuite reports failure for GEMM for Randomize vectors and matrices using powers of 2 in narrow precision range"
We get error failures as:
Output:
blis_sgemm_cn_ccc                    1     1     1     0.00       -nan   FAILURE
blis_cgemm1m_hc_ccc                  1     1     1     0.00       -nan   FAILURE
blis_dgemm_nc_ccc                    1     1     1     0.00       -nan   FAILURE
blis_dgemm_cc_ccc                    1     1     1     0.00       -nan   FAILURE
blis_dgemm_ct_ccc                    1

[2020-06-17 15:31] devinamatthews commented on #413
@kvaragan can you explain a little more how the initialization is done (or @fgvanzee if this is something built-in)?

[2020-06-17 15:45] kvaragan commented on #413
Initialization is built into testsuite.

[2020-06-17 17:16] devinamatthews commented on #413
@fgvanzee ?

[2020-06-17 19:56] fgvanzee commented on #413
@kvaragan Thanks for this bug report, Kiran. I've isolated the issue.

The problem is that the current implementation of both scalar randomization functions (regular or narrow powers of 2) can sometimes return 0. For the narrow powers of 2, this happens *much* more frequently because only a handful of values are possible. Why is this of concern? When I wrote the narrow powers of 2 randomizer, I fi

[2020-06-18 18:35] fgvanzee commented on #413
@kvaragan Please try out b5b604e. It should fix the test failures (which were false to begin with).

[2020-06-18 22:17] #368 closed

[2020-06-19 09:19] kvaragan commented on #413
Its resolved now. Thanks Field.

[2020-06-19 09:19] #413 closed

[2020-06-27 18:57] johnduffymsc opened #416 "HPL Segmentation Fault on Ubuntu 20.04 aarch64"
Hi

I can successfully build HPL-2.3 with the libblis64-serial package in Ubuntu 20.04, but I get the following segmentation fault when I run 'mpirun -np 4 xhpl':

[code]

My Make.blis file has the following:

[code]

Any suggestions would be very much appreciated.

Best wishes

John

[2020-06-27 19:20] johnduffymsc commented on #416
Hi

Following my original comment, attached is my HPL make file. HPL builds fine with no reported errors and creates the xhpl executable.

Best wishes

John

[Make.rpi4-blis-serial.txt](https://github.com/flame/blis/files/4841109/Make.rpi4-blis-serial.txt)

[2020-06-27 19:31] dnparikh commented on #416
It's been a while since I've done anything with HPL, but my guess is that you need BLIS that has been built with multithreading enabled since each MPI process will be launching it's own single-threaded GEMM. Since multiple instances of GEMM will be running simultaneously, multithreading must be enabled.

[2020-06-27 19:51] johnduffymsc commented on #416
Thanks for the suggestion. I've just installed the pthread version of blis with the same result. I'm wondering if the cblas/blas interface in the HPL.dat file needs tweaking. Or, maybe I need to compile HPL with cortexa57 options (the Raspberry Pi 4 has Cortex-A72 cores).

[2020-06-27 23:50] isuruf commented on #400
I checked with scipy and it works now.

[2020-06-27 23:50] #400 closed

[2020-06-28 07:44] johnduffymsc commented on #416
Update - I can build a serial Blis shared library from source using the cortexa57 kernel, build HPL linking to the Blis shared library, and run "mpirun -np ... xhpl". It runs very well and outperforms OpenBLAS on some simplistic HPL runs.

It would be nice though to be able to install Blis from Ubuntu without having to build it from source.

I'm going to try to create a cortexa72 kernel using the

[2020-06-28 15:16] rvdg commented on #416
John,

Thank you for your efforts and feedback.

Unfortunately, we are a very small operation and hence man power and funding constraints limit how actively we can support, for example, Ubuntu.

Our support of ARM architectures is also greatly hampered by a complete lack of financial support from ARM and the ARM universe.

Best of luck with your HPL efforts!
Robert

[2020-06-28 15:24] devinamatthews commented on #416
@fgvanzee who is maintaining the Ubuntu package?

[2020-06-28 16:06] jeffhammond commented on #416
MPI processes aren’t threads in any standard implementation so I don’t
understand this hypothesis.

--
Jeff Hammond
jeff.science@gmail.com
http://jeffhammond.github.io/

[2020-06-28 17:58] dnparikh commented on #416
@jeffhammond Now, it's coming back to me. I did HPL testing when BLIS had static allocations for the packing buffer (2014-15 era). If BLIS was built for single-threaded then it allocated only one buffer per A, B, and it was not happy (can't remember, seg faults or just incorrect answers). I also may have been doing something stupid like running all processes on one node, since I didn't have a prop

[2020-06-28 18:45] johnduffymsc commented on #416
Dear Robert and team

Thank you for your comments and feedback.

I completely understand the constraints of manpower and funding.

I've managed to run HPL linked against a Blis serial shared library built from source and it works really well. On a single Raspberry Pi 4, I can achieve 15 Gflops, which outperforms the Ubuntu OpenBLAS package, and also OpenBLAS built from source. I believe the theore

[2020-06-29 19:21] fgvanzee commented on #416
I believe @cdluminate maintains the Debian package.

@johnduffymsc I'm glad you got things working. As Robert said, we can't provide much support for ARM systems, nor can we (the core developers) provide support for Ubuntu since that is a downstream (though much appreciated) effort.

When writing a cortex72 kernel:
1. Start by using the kernel file in `kernels/armv8a/3` as a template. You shouldn'

[2020-06-29 20:00] rvdg commented on #416
John,

Thank you for your interest in contributing.

If you need a tutorial on the fundamentals that underlies BLIS, we have a MOOC for that.  Programming for High Performance on edX: www.ulaff.net <http://www.ulaff.net/>.  (But it sounds like you are already beyond that level of expertise.)

Robert

[2020-06-30 01:23] cdluminate commented on #416
The configurations used by Debian packages can be found here https://salsa.debian.org/science-team/blis/-/blob/master/debian/rules

From the above discussions I cannot find the reason of Ubuntu segfault.

Ubuntu has its own additional compilation flags, which had seriously broken openblas in the past. So I'm not sure whether this is a common problem among Debian/Ubuntu or just one specific to Ubun

[2020-06-30 22:52] jdiamondGitHub opened #417 "blis make check crashes on completion on MacOS Mojave"
We've tried fresh git clones and builds of blis 0.7.0 (June 30th) on two different MacOS Mojave Macbook Pros.  One was built for Haswell (2015), the other for Sandybridge (2019).  In both cases, the build completed correctly, but make check ended in a segfault at the very end.  The output of make check showed that all tests were completed, and something segfaulted at the very end after dblat3.x fi

[2020-06-30 23:05] devinamatthews commented on #417
As one of the only Mac users in the bunch, I'll try to reproduce.

[2020-06-30 23:08] devinamatthews commented on #417
Confirmed on current master (b37634540fab0f9b8d4751b8356ee2e17c9e3b00). I'll try to debug.

[2020-06-30 23:20] devinamatthews commented on #417
@fgvanzee Looks like it is a bug in the gemmsup kernels (here `bli_dgemmsup_rv_haswell_asm_1x4`):

[code]

`rbp` is needed for the load from `k_iter` since it is on the stack. Solution: don't use `rbp` in kernels.

[2020-07-01 00:49] fgvanzee commented on #417
Thanks for looking into this, Devin.

I don't quite follow this. It sounds like you're saying I'm trying to use a register that the compiler has already allocated. But why does `k_iter` not exist in memory only? Why does it have to occupy a register before the assembly region?

Also, can you venture a guess as to why I did not observe this error on Linux?

[2020-07-01 01:29] devinamatthews commented on #417
`k_iter` does only exist in memory (specifically the stack). However, in 64-bit mode `rbp` is used to address the stack. If you look at the generated assembly the load of `k_iter` is `movq   -0x58(%rbp), %rsi`

[2020-07-01 01:31] devinamatthews commented on #417
On linux, I think `-fomit-frame-pointer` is meaningful and causes `rsp` to be used instead. I'd have to check the assembly to be sure.

[2020-07-01 12:59] johnduffymsc commented on #416
Update - my mistake! HPL does build and run with Ubuntu packaged Blis.

Being a relative Ubuntu/Debian novice, the Blis (and OpenBLAS) package naming conventions confused me. I'm using Ubuntu 20.04 64bit on 8 x Raspberry Pi 4 Model B.

I attempted to build and run HPL against this Blis package, thinking it was for 64bit Ubuntu, which caused the segmentation fault:
[code]
When actually, I should ha

[2020-07-01 12:59] #416 closed

[2020-07-01 13:04] cdluminate commented on #416
@johnduffymsc Thanks for the feedback. Now I can fully understand your confusion.
Indeed I didn't make the blis package description clear enough:

[code]

The 64bit/32bit refers the array indexing (corresponding to the LP64 and ILP64 in MKL's terms). I think I should update the blis package description like I did for openblas:

[code]

[2020-07-01 13:13] cdluminate commented on #416
For your information. I have updated the package descriptions in the git repo:
https://salsa.debian.org/science-team/blis/-/commit/f95152a2689a8713e275a54df832a35ed75af51e

This change will be propagated to Ubuntu in the future.

[2020-07-01 14:08] devinamatthews commented on #417
@jdiamondGitHub FYI to debug BLIS on macOS, just configure with `./configure -d noopt haswell` and then use the system `lldb`.

[2020-07-01 15:11] fgvanzee commented on #417
Are you suggesting that Jeff's version of clang may not be honoring `-fomit-frame-pointer`?

And are you further suggesting that I shouldn't assume the compiler will recognize this option when writing kernels?

[2020-07-01 15:16] devinamatthews commented on #417
I don't know if it's a matter of not honoring the flag or a quirk of the platform ABI, but on macOS `rbp` is definitely used for stack addressing, even in optimized builds. I don't know if the same is true of *BSD.

[2020-07-01 15:16] devinamatthews commented on #417
Re the second question: Yes.

[2020-07-01 19:04] fgvanzee commented on #417
This [stackoverflow thread](https://stackoverflow.com/questions/43792447/assembled-c-appears-to-contain-superfluous-instructions) contained a link to Godbolt, which I began playing with. I was able to get clang 10.0 on darwin/x64_64 to honor `-fomit-frame-pointer`. (It doesn't support anything higher than clang 10.0.)

[2020-07-01 19:06] devinamatthews commented on #417
Apple clang is another matter entirely.

[2020-07-01 19:10] fgvanzee commented on #417
I don't have the emojis...

[2020-07-01 19:16] devinamatthews commented on #417
OK, apparently it does honor `-fomit-frame-pointer`, I just didn't realize that the flag **isn't in the kernels flags already**. Obviously if you're going to munge `rbp` then you have to explicitly add this.

[2020-07-01 19:17] devinamatthews commented on #417
BTW I checked adding it to the make_defs.mk for haswell and it works.

[2020-07-01 19:47] fgvanzee commented on #417
Having not looked into it myself, either, THAT is some egg that I'm happy to have on my face.

I'll submit a fix later today.

[2020-07-01 20:05] fgvanzee commented on #417
Also, how the hell did that code pass Travis in the first place?

[2020-07-03 10:17] lingweiyang opened #418 "multi-threaded"
How can I use BLIS in multi-threaded applications?

[2020-07-03 10:56] lingweiyang commented on #418
I want to run batch GEMM. Using OpenMP and BLIS.

[2020-07-07 18:52] fgvanzee commented on #392
Closing under the assumption that this issue was fixed. Please re-open if necessary.

[2020-07-07 18:52] #392 closed

[2020-07-08 14:07] gmargari opened #419 "Add i?amin() BLAS functions in compatibility layer"
I was able to find the corresponding i?amax() functions but not these.

[2020-07-08 18:48] fgvanzee commented on #419
According to [the netlib documentation for level-1 BLAS](http://www.netlib.org/blas/#_level_1), the `i?amin()` routines are not defined. (I also checked the source code for the reference BLAS version 3.8.0 and confirmed that the routine is not present.)

[2020-07-08 19:22] gmargari commented on #419
We are trying to port our code from MKL to BLIS, so I thought compatibility layer would make BLIS a drop-in replacement for MKL. Didn't know that functions such as i?amin are MKL extensions.

If you don't want to add unofficial extensions to the compatibility layer that's fine. But maybe there could be a doc somewhere (forgive me if there is and I haven't found it) helping these kinds of ports, e.

[2020-07-08 19:32] rvdg commented on #419
I would think it would take very little to modify i?amax to i?min.  I don’t think there is an i?amin equivalent in the BLIS type or object based interface (yet).

A question is whether you have a user who needs this.  If you want all of MKL extended functionality (beyond BLAS) in BLIS, this could take quite a bit.

[2020-07-08 20:08] fgvanzee commented on #419
Yes, sorry for the inconvenience. For now, BLIS only provides a BLAS compatibility layer.

That makes two of us! I don't use MKL except as a BLAS replacement, and only for benchmarking purposes, so I would be among the last to know what is an MKL extension. `i?amin` would be relatively easy to implement in BLIS. But then I would have to decide whether to provide the corresponding "BLAS" interfaces

[2020-07-09 06:33] gmargari commented on #419
I'm also not the end user for these functions, mostly the engineer trying to replace MKL BLAS with BLIS in our code base, so I'm not sure about the function usage or so.

Yeap, defining "popular" is not easy.
I mostly had in my mind a request/issue-driven approach, one step at a time.
For example, if `i?amin` and `dgemmt` are trivial/easy, then why not add them on the existing or new compatibility

[2020-07-09 15:55] jeffhammond commented on #419
I am interested in helping implement MKL extensions in BLIS to ensure compatibility.  It is ideal if there is a GitHub issue for each function or collection of related functions.

DGEMMT is in both MKL and ESSL.  MKL describes it as "Computes a matrix-matrix product with general matrices but updates only the upper or lower triangular part of the result matrix."  A good implementation of this will

[2020-07-09 15:58] devinamatthews commented on #419
Correct me if I'm wrong, but isn't `gemmt` just `syr2k` with some stuff deleted?

[2020-07-09 16:09] rvdg commented on #419
It is important to understand where gemmt comes from.

Let’s say we want to compute C = A B A^T + C, where C and B are symmetric.

Because the operation is not part of the BLAS, what people do is to compute the intermediate result

D = ( A B)

And then they update C + D A^T + C, updating only half of C.

Obviously, the operation C = A B A^T + C should instead be supported by the BLAS, and if that

[2020-07-09 16:17] devinamatthews commented on #419
@rvdg Yes, and that is an operation like that I would very much like to see as well. But from an implementation standpoint, assuming `gemmt` as a given, starting from `syr2k` and whacking some stuff off seems like the same thing and pretty easy to do.

[2020-07-09 16:20] rvdg commented on #419
Field,

Don’t we have that operation in libflame?  (A B A^T). Or somewhere?

[2020-07-09 16:48] fgvanzee commented on #419
Agreed. This is how I would approach it. the `syrk` macrokernel is oblivious to the contents of A and B, so 98% of the work for `gemmt` has already been done as part of supporting `syrk` and `syr2k`.

But let's all keep in mind that proper support in BLIS for `gemmt`, while straightforward, will be more work than it looks. There's the implementation, the object and typed APIs, the compatibility AP

[2020-07-09 16:52] rvdg commented on #419
I am explicitly linking in Paolo to this conversation, since their Lineus (spelling) work dovetails with this.

[2020-07-12 06:28] xrq-phys opened #420 "[ARMSVE] Some <arm_sve.h> Seems Conflicting with "blis.h""
Dear BLIS developers,

I'm recently trying to configure and extend BLIS to the sve512 architecture (A64fx processor). The current configure strategy is to compile all armsve kernels at once and determine SVE vector length at runtime by `incd` instruction. But when I was trying to compile the sve256 packing kernel the following error appeared:
[code]

It seems that `arm_sve.h` provided by ARM Allin

[2020-07-12 07:21] xrq-phys opened #421 "[ARM64] Clobbering x0-x15 Breaks Down on Clang"
Dear BLIS developers,

This seems a duplicate of #207 . Sorry for having opened another issue.
The current `arm64` kernels and new `armsve` kernel play well with GCC but breaks down under Clang with:
[code]

Toolchain:
- LLVM 6.0 + Clang *or*
- ARM Allinea Studio 20.1;

*Possible* Reason:
`Number of input registers + Number of clobbers` becomes larger than 30?

Workaround:
Comment out clobbering o

[2020-07-12 15:26] devinamatthews commented on #421
@xrq-phys Have you tested commenting out the clobbers (and if you do can you please send the generated assembly)? I would be concerned about this because I would have thought that the compiler took the general purpose nature of those registers into account when computing the register allocation, and so removing the clobbers would wither a) not change anything, or b) cause the compiler to actually

[2020-07-12 15:29] devinamatthews commented on #420
Yes, using typenames that end in _t is generally not a good idea. Especially something as generic as bool_t. @fgvanzee since BLIS is C99, why aren't we using the actual bool type?

[2020-07-12 15:30] devinamatthews commented on #420
BTW thanks for working on ARM SVE support, that would be really great!

[2020-07-12 17:32] xrq-phys commented on #421
@devinamatthews I'm afraid your concern is correct. Commenting out x0-15 in `bli_gemm_armv8a_asm_d6x8.c:bli_dgemm_armv8a_asm_6x8` is giving me this after the `__asm__ volatile block`:
[code]
Sorry for having proposed an incorrect workaround.

Still, one way to avoid this seems to be commenting out only x8-15 and compile with `-O3`, but that depends the program on the `-O` behavior thus maybe inapp

[2020-07-12 17:35] devinamatthews commented on #421
No problem, I have a feeling that either the kernel will have to be modified to use one less register, or maybe we will get lucky and one or more of the clobbers are not actually used in the kernel.

[2020-07-13 18:34] fgvanzee commented on #420
Why isn't *ARM* using the actual `bool` type hmmm? :)

More seriously, I think it was because I wasn't sure what size integer I wanted to use to define a boolean. By using `bool_t` everywhere, I could `typedef` it to `gint_t` or `guint_t` or `char` or `bool` or whatever at a later date.

@xrq-phys Thank you for working on this. I'll look into how best to accommodate your needs, probably by renamin

[2020-07-14 09:01] loveshack opened #423 "failure to detect 64-bit systems"
The s390x Fedora package wasn't getting built for the 64-bit target. The patch for blis 0.7 at https://src.fedoraproject.org/rpms/blis/raw/master/f/blis-s390x.patch addresses s390x specifically and tries to be more general, but it probably isn't robust.

[2020-07-15 08:36] henrik227 commented on #419
Paolo pointed me to this discussion because Linnea was mentioned.

If one wants to compute nothing but A B A^T, then a dedicated kernel for this operation might be more useful than `gemmt`. However, there is a scenario where `gemmt` provides some additional benefits: If A B or B A^T shows up somewhere else in an expression, then `gemmt` allows to save work by computing A B or B A^T only once. This

[2020-07-15 09:46] pauldj commented on #419
In my experience with actual applications, the expression A B A^T is by far the one that shows up the most (together with A B^-1 A^T). One should distinguish two scenarios (contexts): 1) the expression appears as part of an assignment such as the one Robert wrote down: C := A B A^T;  2) the expression is part of an inversion  M := (... A B A^T ...)^-1. Obviously the two cases have to be treated di

[2020-07-15 10:25] henrik227 commented on #419
Good point. That made me wonder how an implementation with Cholesky compares to one with `gemmt` if there are additional occurrences of A B or B A^T: If I'm not mistaken, there could be cases where the implementation with `gemmt` requires fewer FLOPs.

[2020-07-15 18:52] fgvanzee commented on #417
@jdiamondGitHub FYI, this should be fixed. Please confirm for us when you are able to.

[2020-07-16 05:02] xrq-phys commented on #420
@fgvanzee That'll be great!

I can currently work with GCC 10 and somehow wait for a Arm compiler support. Thanks a lot!
(Although from my own tests GCC seems to outperform Arm compilers on BLIS source code...)

[2020-07-16 08:59] wickeat commented on #312
It's worth noting that in the latest Update 1 2020 (mkl/19.1.1), the workaround does not work anymore.

https://kb.hlrs.de/platforms/index.php/Libraries(Hawk)

[2020-07-16 14:42] fgvanzee commented on #312
@wickeat Thank you for pointing this out. The workaround's potential (and now confirmed) transience is yet another reason why nobody should have relied on it for performance measurement in the first place.

[2020-07-16 16:20] bartoldeman commented on #312
The newest MKL has a `mkl_blas_def_dgemm_kernel_zen` symbol which seems to be responsible, ie. they actually seem to support Zen but it doesn't work as well as "Intel" avx2 -- it's about 12.5% slower on a dual socket AMD 7452 (64 cores total) with HPL.

FWIW AMD BLIS was very close in my HPL tests on the same chip, within 3% of the old MKL with the workaround.

[2020-07-16 16:48] fgvanzee commented on #312
@bartoldeman I'm not surprised that Intel doesn't want their HPC product to perform perfectly on a competitor's microarchitecture since it risks the situation where a purchasing manager can justify the switch to more cost-effective AMD hardware (while not sacrificing any performance out of one of their users' favorite tools).

[2020-07-17 11:41] vkirangoud commented on #366
Similar issue is encountered again when dgemm sup is added.
I get this error "in function `bli_gemmsup_ref_var1n2m_opt_cases'
test_blas.c:(.text+0x116b8): undefined reference to `bli_abort'"

this error got resolved if we make bli_abort() visible using BLIS_EXPORT_BLIS.

[2020-07-20 10:29] gmargari commented on #419
Is there a BLIS equivalent to `tpsv`?
It seems from `bla_tpsv.c` that it is not implemented in compatibility layer, and I can see to find it in BLIS documentation.

[2020-07-20 11:14] gmargari commented on #418
Hi @lingweiyang , maybe you can check here:
https://github.com/flame/blis/blob/master/docs/Multithreading.md

[2020-07-20 14:28] devinamatthews commented on #419
@gmargari  could you create a separate issue for this?

[2020-07-20 14:52] gmargari opened #426 "Weird multithread behaviour"
Hi devs, and thanks in advance for all your time and effort you put into this project,

I'm currently benchmarking BLIS with multiple threads, and I'm seeing some (at least for me) non-expected behaviour.
I'm suspecting I have misconfigured something, but can't seem to find what.

I'm building BLIS 0.7.0 with:
[code]
on Centos 7.6 with gcc 4.9.2, running on a 6-core/12-thread i7-6800K.
It selects

[2020-07-20 14:55] gmargari commented on #419
Yes of course, I thought of asking first in case it's somewhere I missed.

[2020-07-20 14:56] devinamatthews commented on #426
This is normal; we have not put in multithreading for Level 1 and 2 BLAS operations yet.

This sounds to me like the threads might all be occupying the same physical core. Do you have any OpenMP or GOMP thread affinity environment variables set?

[2020-07-20 14:58] devinamatthews commented on #426
I missed this. If this gives the same behavior then it can't be an OpenMP/GOMP thing, but could still be thread affinity. Can you send the output of `taskset -a` under the same conditions as the BLIS run?

[2020-07-20 14:59] gmargari opened #427 "Implemented ?tpsv()"
It seems from [bla_tpsv.c](https://github.com/flame/blis/blob/master/frame/compat/attic/bla_tpsv.c) that it is not implemented in compatibility layer, and I didn't find it in BLIS documentation.
It exists in [Netlib documentation](http://www.netlib.org/blas/#_level_2).

[2020-07-20 15:02] gmargari commented on #426
Yeah I forgot to mention I also tried setting `OMP_PLACES=cores` and `OMP_PROC_BIND=close` in case of GOMP (but these shouldn't matter in case of pthreads).

[2020-07-20 15:02] devinamatthews commented on #427
There is another file: [frame/compat/f2c/bla_tpsv.c](https://github.com/flame/blis/blob/766769eeb944bd28641a6f72c49a734da20da755/frame/compat/f2c/bla_tpsv.c), and it seems to be in the exported symbols list. Is the symbol `dtpsv_` listed if you run `nm libblis.a`?

[2020-07-20 15:05] gmargari commented on #426
I'm not familiar with `taskset`, what should be the CPU mask arg? (I'm trying `taskset -a ./myprog <myargs>` and get error `failed to parse CPU mask: ./myprog`)

[2020-07-20 15:16] devinamatthews commented on #426
Nevermind that doesn't do what I think it does. I'll look up how to check it from inside the test program.

[2020-07-20 15:18] gmargari commented on #427
I'm sorry, I didn't make myself clear at all. I am able to link against `tpsv_`, I would just like an equivalent `bli_xxxx` function so we can link our code both with MKL and BLIS and use the BLIS function.

[2020-07-20 15:21] devinamatthews commented on #426
Something like this:

[code]

[2020-07-20 15:23] devinamatthews commented on #427
Ah, that is unlikely to happen. There is a CBLAS function defined if you enable the CBLAS interface but that's it. BLIS doesn't otherwise support packed matrices so there wouldn't be anything to gain from a `bli_xxx` function.

[2020-07-20 15:29] gmargari commented on #427
Alright, thanks @devinamatthews !

[2020-07-20 15:29] #427 closed

[2020-07-20 19:32] fgvanzee commented on #366
@vkirangoud I don't quite follow how I would reproduce your issue. But if you can help me reproduce the linker error by providing further details, I'll fix it.

[2020-07-21 06:23] gmargari commented on #426
It prints all logical cores:
[code]

[2020-07-22 09:36] vkirangoud commented on #426
Why don't you try numactl -C 0-3 for pinning the threads to the cores 0-3.

[2020-07-22 12:13] gmargari commented on #426
Hi @vkirangoud , thanks for the suggestion. Unfortunately it seems `numactl` is not available on the machine, and I cannot install software on it.

I'm looking today again on this, it seems that this "weird multithreaded behavior" is now gone, but I must certainly find what caused it so we will not bump into it again (we will be using BLIS on a commercial software).
I thought it could may be a wro

[2020-07-22 13:35] vkirangoud commented on #426
BLIS library doesn't set any environment variables. That's not problem. if you are running dgemm for small problem sizes - barrier might take more time.

[2020-07-22 13:47] gmargari commented on #426
I'm sorry I probably didn't myself clear: _I_ was the one setting the various variables that BLIS documentation mentions. So I thought maybe I set some values or a combination of values which resulted in this behavior.

The matrix sizes I was testing were large, in the order of 4096 x 4096.

[2020-07-22 14:55] devinamatthews commented on #426
@gmargari I did have this happen on one HPC system when I set environment variables for OMP thread affinity. As I hinted above, the symptom was that all threads ended up running on the same physical core which led to massive oversubscription and constant task switching. I never could figure out exactly what caused the problem (nor could the admins) so I just unset the variables and moved on with m

[2020-07-22 19:42] jeffhammond commented on #426
It might be worthwhile to add a feature request for Pthread affinity support in BLIS...
* https://man7.org/linux/man-pages/man3/pthread_setaffinity_np.3.html
* https://man7.org/linux/man-pages/man3/CPU_SET.3.html

[2020-07-22 20:01] fgvanzee commented on #426
@jeffhammond This has been on my long-term radar for some time, but always low priority because I've encountered very few (any?) instances where the environment has pthreads but doesn't have (or doesn't want to use) OpenMP support.

It's also reiterating that @gmargari initially observed the same strange behavior of pthreads, so there is some irony in your off-topic suggestion of opening a separat

[2020-07-23 08:48] gmargari commented on #426
@devinamatthews it was good to hear that at least in your case was a temp misconfiguration issue and didn't happen again, so I was also about to "move on with my life"© and forget about it. But then as I was trying some last things it happened again. This time I was able to somewhat trace it.

So luckily it does not seem to be a BLIS issue, but an **MKL** issue with **OMP** env vars (I was linking

[2020-07-23 17:11] shana34 opened #428 "Quest: undefined reference to 'blis_abort'"
hello，
        After installing the blis with configure 'zen', I tryied #include "blis.h" in my code. But, when I compile it with command "gcc -fopenmp -lm -lblis *.c -o a.out", I receive the error of ld as written by my title.
        Besides, when I tried commands :  "gcc -fopenmp -c *.c -o *.o" & "gcc *.o $(PREFIX)/lib/zen/libblis.a -fpenmp -lm -o a.out", I make it successfully. How to solve  o

[2020-07-23 17:14] devinamatthews commented on #428
@shana34 Does the error also happen if you do `gcc -fopenmp *.c -o a.out -lblis -lm`, this is, put the libraries after the source files?

[2020-07-23 17:18] shana34 commented on #428
@devinamatthews pity to say that yes, it still happens, In function `bli_gemmsup_ref_var1n2m_opt_cases': test.c:(.text+0x11661): undefined reference to `bli_abort'

[2020-07-23 17:21] devinamatthews commented on #428
OK. Before I try to reproduce, please share your environment details (OS version, compiler version, output of `configure`, etc.).

[2020-07-23 17:22] devinamatthews commented on #428
Oh, also BLIS version, either a release number or git commit ID.

[2020-07-23 17:25] shana34 commented on #428
Linux version 3.10.0-957.el7.x86_64 (root@centos-build-7.6) (gcc version 4.8.5 20150623 (Red Hat 4.8.5-36) (GCC) ) #1 SMP Fri Oct 25 22:34:08 UTC 2019

[2020-07-23 17:27] shana34 commented on #428
@devinamatthews if 'output of configure' refers to the output of "./configure --prefix=$(PREFIX) -t openmp zen"?

[2020-07-23 17:28] devinamatthews commented on #428
To make my life a little easier, can you reproduce the bug with the following minimal program:

[code]

[2020-07-23 17:29] devinamatthews commented on #428
Yes

[2020-07-23 17:32] fgvanzee commented on #428
FTR, this sounds identical to a closed issue that @vkirangoud commented on in [1]. I asked for elaboration but no response yet.

[1] https://github.com/flame/blis/issues/366

[2020-07-23 17:33] shana34 commented on #428
./test.c:3:12: error: conflicting types for ‘bli_gemmsup_ref_var1n2m_opt_cases’
 extern int bli_gemmsup_ref_var1n2m_opt_cases();
            ^~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
In file included from ./test.c:1:0:
/home/test/blis/include/blis/blis.h:35841:18: note: previous definition of ‘bli_gemmsup_ref_var1n2m_opt_cases’ was here
 BLIS_INLINE void bli_gemmsup_ref_var1n2m_opt_cases

[2020-07-23 17:35] devinamatthews commented on #428
That minimal program would be without `blis.h`; the real thing that I'm looking for is a short 3-4 line program that reliably reproduces the error. If you can send one that works, or verify that the one I sent also triggers the error.

[2020-07-23 17:38] shana34 commented on #428
Oh, the one you sent to me tell me that : gcc -fopenmp ./test.c -o a.out -lblis -lm
/tmp/ccRmriX4.o: In function `main':
test.c:(.text+0x15): undefined reference to `bli_gemmsup_ref_var1n2m_opt_cases'
collect2: error: ld returned 1 exit status

[2020-07-23 17:43] shana34 commented on #428
so I add #include "blis.h" in it, for my simple code :
#include "blis.h"
#include "omp.h"

int main(void){
        #pragma omp parallel num_threads(6)
        printf("Hello.h\n");
        return 0;
}

[2020-07-23 17:44] shana34 commented on #428
compiled by command: "gcc -fopenmp ./test.c -o a.out -lblis -lm"

[2020-07-23 17:44] devinamatthews commented on #428
OK, I'll use that program.

[2020-07-23 17:46] shana34 commented on #428
thx

[2020-07-23 17:54] fgvanzee commented on #426
@gmargari I'm very glad to hear it was not a problem with BLIS. While it might sound strange to some people, linking to both BLIS and MKL in the same executable is something that we do routinely in our standalone test drivers, and I can't say I've ever observed this behavior before. That said, I never try to set the `OMP_PLACES` or `OMP_PROC_BIND` variables when I do so; I only set `MKL_NUM_THREAD

[2020-07-24 03:30] #428 closed

[2020-07-25 09:21] johnduffymsc opened #430 "Link Library Question"
Hi

Apologies if this is too Debian/Ubuntu specific...

In my ```/usr/lib/aarch64-linux-gnu/blis-serial``` directory I have...
[code]
What is the difference between the ```libblas.so.3``` and ```libblis.so.3```? I note they are slightly different in size.

The Debian/Ubuntu ```update-alternatives --config libels.so.3-aarch64-linux-gnu``` mechanism points to the ```libblas.so.3``` library. I was wo

[2020-07-26 19:04] johnduffymsc opened #431 "Raspberry Pi 4 Cluster Request for Comments/Feedback"
Hi

As part of my MSc Scientific Computing at UCL, I have been doing some Linpack benchmarking of an 8 node Raspberry Pi 4 Model B cluster. I have posted some preliminary results in the README.md at:
[code]
These results are not the usual "Problem Size vs Gflops". I know in advance that I want to use a problem size utilising 80% of memory, so they are "NB vs Gflops". I'm trying to determine the op

[2020-07-27 00:28] rvdg commented on #431
John,

My first question is whether you are familiar with how BLIS structures the matrix-matrix multiplication.  If not, it would be good to look into that, since how it is structured closely relates to what nb you should pick in HPL.

Notice that, since it is your thesis, I am inclined to answer your questions with questions, so that you will gain the insight.

Robert

[2020-07-27 08:23] johnduffymsc commented on #431
Hi Robert

Thank you for you reply.

Indeed, I will look into how BLIS structures matrix-matrix multiplication.

And point taken about answering with questions. I really appreciate any reply from the BLIS team.

Kind regards

John

________________________________
From: Robert van de Geijn <notifications@github.com>
Sent: 27 July 2020 01:29
To: flame/blis <blis@noreply.github.com>
Cc: Duffy, John

[2020-07-27 13:14] rvdg commented on #431
The answer to the performance issues you are seeing is likely much deeper.  You need to understand a little about how HPL parallelizes the linear solve.  An ancient paper is

https://www.osti.gov/biblio/10164371 <https://www.osti.gov/biblio/10164371>

(I think it actually appeared in JPDC).

You will then want to instrument the code to find out where time is being spent.

Now, imho, this discussio

[2020-07-27 17:23] johnduffymsc commented on #431
Hi Robert

All very much appreciated and taken onboard.

Thank you for your replies and time.

Best wishes

John

________________________________
From: Robert van de Geijn <notifications@github.com>
Sent: 27 July 2020 14:14
To: flame/blis <blis@noreply.github.com>
Cc: Duffy, John <john.duffy.19@ucl.ac.uk>; Author <author@noreply.github.com>
Subject: Re: [flame/blis] Raspberry Pi 4 Cluster Request

[2020-07-28 16:19] fgvanzee commented on #430
@johnduffymsc Sorry for the delayed response. You raise a good question. I *think* the two libraries are basically the same and that the reason there are two has to do with the "alternatives" system that Debian and Ubuntu use to switch between various BLAS implementations. I think the idea is that no matter which implementation you install (OpenBLAS, BLIS, etc.), the library files are named accord

[2020-07-28 16:45] cdluminate commented on #430
I'm the maintainer and I confirm that this point is Debian/Ubuntu specific.

The shared objects `libblas.so.3` and `libblis.so.3` from the package `blis-serial` provides exactly the same functionality, except for two differences:
1. They have different SONAMEs, `libblas.so.3` has `SONAME=libblas.so.3`, while `libblis.so.3` has `SONAME=libblis.so.3`. This is meaningful to maintain the alternatives

[2020-07-28 16:46] cdluminate commented on #430
FYI: https://salsa.debian.org/science-team/blis/-/blob/master/debian/patches/libblas-provider.patch

This is how the `libblas.so.3` is built. Anything is reproducible.

[2020-07-28 16:50] cdluminate commented on #430
In brief we have to keep both `libblas.so.3` and `libblis.so.3` in the package to avoid making the mechanism fragile.

[2020-07-28 17:41] johnduffymsc commented on #430
Thank you.

[2020-07-28 17:41] #430 closed

[2020-07-28 17:44] xrq-phys commented on #420
Compilation of `kernels/armsve/1m/bli_dpackm_armsve256_asm_8xk.c` confirmed.
Config: GCC 9.3.1 for inline asm and `armclang` for all others (because of LLVM's register clobbering problem #207 #421).

Thanks a lot!

[2020-07-28 17:44] #420 closed

[2020-07-28 18:01] fgvanzee commented on #420
@xrq-phys Are you saying that you no longer encounter the `bool_t` "previous definition is here" error? If so, I'm a little surprised since `bool_t` has not yet been removed from BLIS (though it **has** been redefined to be a C99 `bool`).

[2020-07-28 18:05] devinamatthews commented on #420
@fgvanzee or gcc 9.3.1 might be allowing a repeated typedef (with the same target type) by default: https://stackoverflow.com/a/8595191.

[2020-07-28 18:07] fgvanzee commented on #420
Oh, that's right. @xrq-phys's initial comment was about the ARM compiler, whereas gcc was fine. Sorry for the confusion.

[2020-07-28 19:00] xrq-phys commented on #420
I guess Clang's also having this C11 feature enabled by default.

BTW [`arm_sve.h`](https://github.com/gcc-mirror/gcc/blob/releases/gcc-10/gcc/config/aarch64/arm_sve.h) in GCC 10 seems to imply its SVE intrinsics are directly handled while that provided by ARM Allinea Studio has lots of aliases.

[2020-07-31 08:19] gmargari commented on #426
Before closing this, was anyone else able to reproduce this issue with env vars?

If not, I should probably research it more on our machines (e.g. GOMP versions etc).
If yes, maybe we should put a notifications or something on the Multithreading documentation, because this is why I tried these env vars in the first place.

[2020-08-04 09:15] chengguosun opened #432 "add -d DEBUG will be caused error"
hi,
i compiled the latest blis0.7.0, and added -d DEBUG option when configuring zen architecture, but make caused one error, the confiure command and errors are as follows:
command:
./configure  --enable-debug --enable-shared --enable-blas --enable-cblas -t openmp zen
 errors:
kernels/haswell/3/sup/bli_gemmsup_rd_haswell_asm_d6x8m.c:724:1: error: bp cannot be used in asm here
 }
 ^
compilation ter

[2020-08-04 14:27] xiexiguo opened #433 "Compatibility with Intel Fortran compiler"
I try to compile a simple fortran code which using zdotc function. I found that when the code is compiled using intel fortran complier and linked with blis, the result is wrong. It is OK when using gfortran. So I am wandering whether blis is compatible with Intel fortran complier.
Blis is compiled with gcc, with blas and cblas interface enabled. I searched the code, and found all the code is C/C++

[2020-08-04 15:02] devinamatthews commented on #433
Unfortunately Intel and GNU Fortran compilers use incompatible mechanisms to return complex numbers: Intel adds a hidden first parameter (e.g. the above would be equivalent to `call zdotc(c, 10, a, 1, b, 1)`) while GNU returns the real and imaginary parts in `xmm0` and `xmm1` like in C.

I tried to look around for flags to emulate the behavior of the other compiler in each but did not have much lu

[2020-08-04 15:18] devinamatthews commented on #432
This looks similar to #417. Please try the latest commit on the `master` branch and see if that fixes the problem.

[2020-08-05 05:40] xiexiguo commented on #433
That will be great if a configure options will be added to support Intel Fortran, since in most scenarios Intel Fortran has better performance than gfortran. Is that on the plan in the future release?

[2020-08-06 19:15] devinamatthews commented on #433
@xiexiguo please try the `intel-zdot` branch. You will need to configure with either `configure --complex-return=intel ...` or `configure FC=ifort ...` (for the latter you can also set `FC` before calling `configure`).

[2020-08-06 19:21] devinamatthews commented on #13
Given our Appveyor CI these days, I assume this is fixed.

[2020-08-06 19:21] #13 closed

[2020-08-06 19:24] devinamatthews commented on #15
The `check-blistest.sh` wrapper is now used which returns a meaningful exit code.

[2020-08-06 19:24] #15 closed

[2020-08-06 19:26] devinamatthews commented on #51
KNL is dead, so closing.

[2020-08-06 19:26] #51 closed

[2020-08-06 19:27] devinamatthews commented on #69
I assume this is all fixed given MP/MD support.

[2020-08-06 19:27] #69 closed

[2020-08-06 19:31] devinamatthews commented on #84
Since it's been so long, I'm going to close. Please reopen if you can reproduce the issue on the latest BLIS.

[2020-08-06 19:31] #84 closed

[2020-08-06 19:31] devinamatthews commented on #112
Still true, but I'm going to close. We've seen other nasty issues with `-ipo` so better to avoid it.

[2020-08-06 19:31] #112 closed

[2020-08-06 19:35] devinamatthews commented on #119
@gaming-hacker we'd love to hear if you ever got this to work, but this isn't something we can take a look at.

[2020-08-06 19:35] #119 closed

[2020-08-06 19:35] devinamatthews commented on #126
Given "non-traditional" packing kernels such as on KNM/Power8(?) this would be very difficult to say the least. Closing.

[2020-08-06 19:35] #126 closed

[2020-08-06 19:38] devinamatthews commented on #141
@hominhquan a new solution popped up on (blis-discuss)[https://groups.google.com/forum/#!topic/blis-discuss/_p-cCwkK9FI].

[2020-08-06 19:38] #141 closed

[2020-08-06 19:41] devinamatthews commented on #162
The monolithic `blis.h` actually solves the typical installation problems, so the current solution is good enough.

[2020-08-06 19:41] #162 closed

[2020-08-06 19:42] devinamatthews commented on #189
I'm assuming this is fixed. Reopen if not.

[2020-08-06 19:42] #189 closed

[2020-08-06 19:49] devinamatthews commented on #213
@loveshack if you'd like to contribute an rpm spec file please open a PR. Any further discussion can happen there if it needs to.

[2020-08-06 19:49] #213 closed

[2020-08-06 19:49] #217 closed

[2020-08-06 19:52] devinamatthews commented on #241
Closing until further input.

[2020-08-06 19:52] #241 closed

[2020-08-06 19:56] devinamatthews commented on #251
The situation seems to be that BLIS works (modulo some CPU detection issues), but that the `popen` mystery has not been solved. I am inclined to blame the build environment here. Please reopen if necessary.

[2020-08-06 19:56] #251 closed

[2020-08-06 20:08] devinamatthews commented on #258
The discussion seems to have devolved somewhat from the original issue. We had an undergraduate working on Power8 kernels with some guidance from on high but I don't think it's officially merged yet. Closing until that gets mainlined and any other issues pop up.

[2020-08-06 20:08] #258 closed

[2020-08-06 20:20] devinamatthews commented on #264
I'm closing this in favor of #265. For `blis_set_num_threads` by itself I endorse the F2003 solution since it is the simplest change.

[2020-08-06 20:20] #264 closed

[2020-08-06 20:22] devinamatthews commented on #265
@jeffhammond ping. I'm loath to close because it might actually get done someday :smile:.

[2020-08-06 20:33] devinamatthews commented on #43
I'm not seeing much consensus here. If someone wants to "create a standard" then we can try to implement it.

[2020-08-06 20:33] #43 closed

[2020-08-06 20:41] devinamatthews commented on #290
I think most of this is fixed/moot now. Re:

the cortexa5x is generic enough for all aarch64 -- someone said, but
I've forgotten -- and if either a9 or a15 will do for all armv7hl (in
distribution labelling).

I don't think it is the intent of that particular document to describe the higher-level meta-configurations. That *should* be elsewhere in the build documentation.

[2020-08-06 20:41] #290 closed

[2020-08-06 20:43] devinamatthews commented on #296
I don't think anyone is ever going to use AVX2 gather so I'm closing.

[2020-08-06 20:43] #296 closed

[2020-08-06 20:46] devinamatthews commented on #297
It looks like this is fixed albeit without recent confirmation.

[2020-08-06 20:46] #297 closed

[2020-08-06 20:46] devinamatthews commented on #299
I think the action is in #344 now, closing.

[2020-08-06 20:46] #299 closed

[2020-08-06 20:55] devinamatthews commented on #300
I think `-funsafe-math-optimizations` and `-O3` have percolated into all the configs.

[2020-08-06 20:55] #300 closed

[2020-08-06 20:58] devinamatthews commented on #301
It's not clear to me what additions to the BLIS code and/or build system are still missing to make this happen. It seems that the rest is a matter of packaging? Please reopen or submit a PR if that's not the case.

[2020-08-06 20:58] #301 closed

[2020-08-06 21:01] devinamatthews commented on #312
Intel giveth and Intel taketh away, so I am closing.

[2020-08-06 21:01] #312 closed

[2020-08-06 21:08] devinamatthews commented on #317
The `TP` and `TB` code is a straight f2c port of Netlib BLAS, so any issues there are almost certainly a compiler bug or improper flags. I'm going to close this unless it turns out to be an issue with the flags used by BLIS internally.

[2020-08-06 21:08] #317 closed

[2020-08-06 21:09] devinamatthews commented on #320
I'm closing until and unless some more information comes in.

[2020-08-06 21:09] #320 closed

[2020-08-06 21:11] devinamatthews commented on #322
I think this can be closed given #345 unless @jeffhammond wants to submit a separate PR.

[2020-08-06 21:11] #322 closed

[2020-08-06 21:14] devinamatthews commented on #323
I have similar problems often in TBLIS, but when trying to compare a vectorized and a non-vectorized implementation some error is to be expected. In fact the best remedy for this is to only test smaller sizes...

I think this can be safely closed.

[2020-08-06 21:14] #323 closed

[2020-08-06 21:18] devinamatthews commented on #324
So, I think this is actually fixed... but with the lovely color commentary it's hard to tell. Please reopen if that is not the case.

[2020-08-06 21:18] #324 closed

[2020-08-06 21:26] devinamatthews commented on #328
Should be fixed, reopen if not.

[2020-08-06 21:26] #328 closed

[2020-08-06 21:27] devinamatthews commented on #333
Closing as time travel is impossible (and so is regular travel).

[2020-08-06 21:27] #333 closed

[2020-08-06 21:30] devinamatthews commented on #335
Looks like the original issue (`popen`) is fixed.

[2020-08-06 21:30] #335 closed

[2020-08-06 21:52] devinamatthews commented on #346
While Field may eventually switch to something else, I'm convinced there isn't a possible bug lurking because left shift is identical for signed and unsigned types. The subsequent bitwise operations are likewise sign-agnostic.

[2020-08-06 21:52] #346 closed

[2020-08-06 21:53] devinamatthews commented on #350
@loveshack thanks for all the stuff in #345 (I'm cranking through the issues and I'll get to the PRs in a bit). Since there is a number of different things in there, though, would it be possible to split it into multiple independent PRs? I might recomment this later.

[2020-08-06 21:53] #350 closed

[2020-08-06 22:02] devinamatthews commented on #352
@mratsim is your CPU still misidentified? If so please send the full output of configure.

[2020-08-06 22:04] devinamatthews commented on #354
Closing in favor of #353.

[2020-08-06 22:04] #354 closed

[2020-08-06 22:06] devinamatthews commented on #359
@jeffhammond does 61b1f0b fix this for you, too?

[2020-08-06 22:08] devinamatthews commented on #369
Closed in favor of #415.

[2020-08-06 22:08] #369 closed

[2020-08-06 22:10] #374 closed

[2020-08-06 22:11] #376 closed

[2020-08-06 22:11] #377 closed

[2020-08-06 22:13] devinamatthews commented on #388
I haven't had this issue recently, so I'll close for now.

[2020-08-06 22:13] #388 closed

[2020-08-06 22:14] #394 closed

[2020-08-06 22:16] devinamatthews commented on #399
@everton1984 since #407 opened up I think this discussion should move over there so it's all in one place.

[2020-08-06 22:16] #399 closed

[2020-08-06 22:17] #405 closed

[2020-08-06 22:20] devinamatthews commented on #406
@tuxzz I think the consensus is that BLIS "probably" is bit-for-bit reproducible on the same machine when using the same number of threads (and maybe even with different numbers). Please let us know if you discover otherwise.

[2020-08-06 22:20] #406 closed

[2020-08-06 22:21] #409 closed

[2020-08-06 22:23] #417 closed

[2020-08-06 22:24] #418 closed

[2020-08-06 22:58] devinamatthews commented on #426
@gmargari I added a note to the documentation.

[2020-08-06 22:58] #426 closed

[2020-08-06 22:59] #431 closed

[2020-08-07 07:03] xiexiguo commented on #433
Thanks! I have done some test, and it works! But there are still some errors when cblas interface(--enable-cblas) is enabled.  Some erros like this.
`
Compiling obj/zen/frame/compat/cblas/f77_sub/f77_dot_sub.o ('zen' CFLAGS for framework code)
frame/compat/cblas/f77_sub/f77_dot_sub.c: In function ‘cdotcsub_’:
frame/compat/cblas/f77_sub/f77_dot_sub.c:55:4: warning: passing argument 1 of ‘cdotc_’ fr

[2020-08-07 14:27] devinamatthews commented on #433
Oops, forgot about CBLAS. Will fix.

[2020-08-07 14:39] devinamatthews commented on #433
Should be fixed now in #434.

[2020-08-08 08:12] xiexiguo commented on #433
Yeah, I just did some tests, and it works well.
I also use this verision combined with lapack(netlib, compiled by ifort) to compile some big applications, and these apps run OK.
But if libflame is used instead of lapack(ifort version), the application also fails when zdotc is called. Maybe the call interface of libflame to blis is still GNU-style. The calling stack is the following.
Is it possible

[2020-08-12 14:02] hominhquan opened #437 "Mis-balanced work between JR/IR threads in edge-macro-blocks"
Let call  `macro-block` an MC-by-NC block, which is traditionally processed by a call to `macro-kernel`
Let call `edge-macro-block` either an ME-by-NC or an MC-by-NE block, where `0 < ME < MC` and `0 < NE < NC` (`E` stands for edge). In short, edge-macro-blocks occur when the C matrix size (M or N) is not multiple of MC (or NC).

I observed the mis-balancing in my old version of BLIS on edge-macro

[2020-08-12 14:10] devinamatthews commented on #437
@hominhquan thanks for your analysis. In practice, `BLIS_IR_NT` is always 1, as threading this loop just doesn't make sense on any architecture we've seen. Without diving into the details on this, can you comment whether an issue still exists if we assume `BLIS_IR_NT == 1`?

[2020-08-12 14:12] devinamatthews commented on #437
I should also add that realistically `BLIS_JR_NT <= 4`.

[2020-08-12 14:14] hominhquan commented on #437
@devinamatthews Yes, I observed indeed the issue on the JR loop with JR_NT bigger than edge-n_iter and IR_NT = 1. The  IR-loop was just a generalized case from JR-loop.

[2020-08-12 14:18] devinamatthews commented on #437
OK. Do you have any performance numbers? It sounds like we can improve general parallel performance then.

[2020-08-12 14:18] hominhquan commented on #437
I give an example of mis-balancing : MC = NC = 256, MR = 8, NR = 16, M = N = 3000
Possible edge-macro-block is  (`3000 % 256`): 184-by-184 => m_iter = 23, n_iter = 12 (ceil(11.5))
If I set BLIS_JR_NT = 16, there will be only 12 threads working on the JR-loops, and 4 threads standby.

[2020-08-12 14:24] hominhquan commented on #437
For example, on the Kalray MPPA3 processor, I get a speedup x1.3 on the macro-kernel itself. the performance gain depends closely on the matrix size and MC/NC parameters. It is hard to asset a number-ed gain on an architecture X, but I believe it can improve the overall parallel scheme. That's why I opened this ticket.

[2020-08-12 14:50] jeffhammond commented on #265
Leave it open.  Some of my finest work is done in response to public shaming.  I don't know when I'll have time for this but I might take vacation in December.

https://github.com/jeffhammond/BigMPI exists because Andreas Schäfer wrote a [blog post](http://gentryx.de/news_the_troubling_state_of_MPI.html) quoting Pavan Balaji saying that I was going to fix it, which I had discussed with Pavan but n

[2020-08-12 14:57] hominhquan commented on #437
In fact, we can re-use the current slab/rr dispatch, but on the fused workspace:

[code]

[2020-08-12 15:07] jeffhammond commented on #359
I have not used POWER9 in a long time.  Hopefully the NWChemEx folks can verify this.

[2020-08-12 15:25] jeffhammond commented on #51
@devinamatthews Not dead, just a branch that was merged into the main branch 😜

[2020-08-12 16:08] wavefunction91 commented on #359
I can give this a try this week

On Wed, Aug 12, 2020, 08:09 Jeff Hammond <notifications@github.com> wrote:

[2020-08-13 13:05] hominhquan commented on #135
Hi @fgvanzee,
Just wanted to know if anything has been done/achieved on this topic since ? I begin to be interested in this feature and am eager to get in if nothing done yet :-)

Quan

[2020-08-13 17:38] mratsim commented on #352
Both test.x and empirical.x properly detect 2 VPUs (as of commit https://github.com/jeffhammond/vpu-count/commit/b20db6dd60679d3ae310069a1a571b29312bcc1c)

[2020-08-13 17:55] devinamatthews commented on #352
@mratsim The code is BLIS is slightly different from @jeffhammond's code. Can you test with BLIS? Configuring with `configure auto` should show that it selects the `skx2` sub-configuration.

[2020-08-13 19:13] fgvanzee commented on #135
@hominhquan No, this has not yet risen to a priority level that merits my time (versus the other priorities we juggle).

Honestly, when I re-read this thread and only became more confused by the differences between various people's interpretations, and whether I properly understood those interpretations.

[2020-08-13 21:32] jedbrown opened #438 "Valgrind-clean mode/clean-up function"
It'd be useful to have a way to clean up so users can avoid these leaks. PETSc would call it in `PetscFinalize` so users wouldn't have valgrind noise from BLIS.

[code]

[2020-08-13 22:50] #341 closed

[2020-08-13 22:51] #342 closed

[2020-08-14 11:30] mratsim commented on #352
As of commit 9c5b485d356367b0a1288761cd623f52036e7344 this is my `./configure auto` output

[code]

[2020-08-14 11:33] mratsim commented on #352
When grep-ing in the repo, I don't see skx2 anywhere. What branch should I use?

[2020-08-17 10:28] loveshack commented on #213
If you want it, you can just take it from
https://copr-dist-git.fedorainfracloud.org/cgit/loveshack/blis/blis.git
though I've just realized it needs updating.  That's the production
Fedora one with additions for SuSE, which still doesn't seem to have a
package.

[2020-08-17 11:18] loveshack commented on #350
It wasn't possible to separate the concerns, and it's all mixed up,
unfortunately.  I was working on incorporating changes for Fedora and
other things, but now I have to merge against more conflicts because the
repo has changed under me.  Damn github.  I could do something with some
assurance that it will get dealt with reasonably timely and not have to
wait a year between iterations.

[2020-08-17 19:37] loveshack commented on #438
There is a bli_finalize: https://github.com/flame/blis/blob/master/docs/BLISTypedAPI.md#initialization-and-cleanup

Somewhat related, it might be a good idea to add the "malloc" GCC (and clang?) attribute to malloc-like functions.

[2020-08-18 00:05] amirgholami commented on #234
I also wanted to request support for reduced precision support. I think it would be valuable to add both IEEE 754's FP16 as well as Bfloat16 as the former has major issues for training ML.

P.S: There is also a new TF32 format from Nvidia:
https://blogs.nvidia.com/blog/2020/05/14/tensorfloat-32-precision-format/

[2020-08-18 15:47] wavefunction91 commented on #359
Everything is passing on my end!

On Wed, Aug 12, 2020, 09:08 David Williams-Young <wavefunction91@gmail.com>
wrote:

[2020-08-18 15:57] #359 closed

[2020-08-19 20:56] jeffhammond commented on #234
@amirgholami BLIS doesn't support GPUs but TF32 is just a form of 19-bit floating-point with 32b data.  In the absence of hardware support, there is no upside versus SGEMM.  In the presence of SGEMM, the implementation is going to be the same as SGEMM but with a different microkernel, except for the loss of accuracy in the results, of course.

[2020-08-19 22:17] amirgholami commented on #234
Hey @jeffhammond

Yes I am aware of the fact that TF32 is supported on Ampere architecture. I mentioned it as evidence that there is still a lot of active research going on in low precision arithmetics. On that note I should also add MSFP8 and MSFP11 which are from Microsoft and being used in their brainwave fpga project.

Aside from the above which are relatively newer formats, there are a lot of

[2020-08-21 07:37] gmargari opened #439 "Multithreading degrades performance for TRSM when matrices are small"
Hi all,

I hope you're doing well and are all safe.

I was running some benchmarks with BLIS 0.7.0 and noticed that using multiple thread seems to degrade performance for `DTRSM` when matrices are small. If matrices are "big enough", multithreading indeed improves performance.

What I did was calling `DTRSM` with `NxN` matrices (both `A` and `B`), where `N` = 2, 4, ..., 1024. Matrices were zeroed.

[2020-08-21 08:15] gmargari commented on #439
Centos 7.6 with gcc 4.9.2 (`g++ test.cpp -lm -fopenmp -std=c++11 libblis.a`)

[2020-08-31 09:57] loveshack opened #440 "power9 assembler warnings"
I can only currently run on power8, so can't test, but building bli_gemm_power9_asm_d12x6 with gcc 9.3.1 and binutils 2.32 produces "invalid register expression" warnings. Generating .s first and compiling that shows it's for the statements containing %r0, e.g.

kernels/power9/3/bli_gemm_power9_asm_d12x6.s:186: Warning: invalid register expression

This is with the version from current master.

[2020-09-01 11:46] loveshack opened #441 "SKX throttling possible improvement"
I was puzzled by BLIS' greater throttling on SKX parallel DGEMM compared with MKL.  I haven't tried to compare the kernels, as I'm not familiar enough with assembler, but https://github.com/xianyi/OpenBLAS/pull/2646 has a change which might be relevant if it hasn't been considered.

[2020-09-02 11:38] loveshack opened #442 "performance problem with openmp trmm on skx"
I ran the test/3 performance comparison with release 0.7 using openmp on all 32 cores of an SKX node and found that trmm performance is dire.  It's similar for a single full socket. Serial skx two-socket haswell are reasonable, though.
I can't attach the figure here, sigh, so currently it's at https://personalpages.manchester.ac.uk/staff/dave.love/l3_perf_skx_nt32.pdf
For what it's worth, openblas

[2020-09-03 13:52] loveshack opened #443 "build error with address sanitizer"
After this with current master

CC=gcc-10 LDFLAGS='-g -fsanitize=address' CFLAGS='-g -fsanitize=address' ./configure skx

make fails:

Compiling obj/skx/kernels/haswell/3/sup/bli_gemmsup_rd_haswell_asm_d6x8m.o ('skx' CFLAGS for kernels)
In file included from kernels/haswell/3/sup/bli_gemmsup_rd_haswell_asm_d6x8m.c:39:
kernels/haswell/3/sup/bli_gemmsup_rd_haswell_asm_d6x8m.c: In function ‘bli_dgemm

[2020-09-03 14:21] loveshack opened #444 "additional error with the undefined sanitizer"
After

CC=gcc-10 LDFLAGS='-g -fsanitize=undefined' CFLAGS='-g -fsanitize=undefined' ./configure skx

with current master, in addition to the previously-reported left shift errors, there's this one that occurs several times from make check:

Running sblat2.x < './blastest/input/sblat2.in' (output to 'out.sblat2')
blastest/f2c/lread.c:709:15: runtime error: member access within misaligned address 0x

[2020-09-03 14:40] jeffhammond commented on #443
https://stackoverflow.com/questions/25579759/gcc-inline-assembly-what-does-asm-operand-has-impossible-constraints-mean suggests this is related to the frame pointer stuff Devin had to deal with recently.

In any case, I am not sure that debugging huge blobs of assembly with Clang Address Sanitizer is going to be productive.

[2020-09-03 14:43] devinamatthews commented on #444
The f2c'ed stuff is pretty terrible. I would ignore this.

[2020-09-03 14:49] devinamatthews commented on #443
Yes, you have to make sure `-fomit-frame-pointer` is in there for the assembly kernels to work correctly. If you are going to modify the CFLAGS, I suggest first configuring with `configure -dnoopt` and then going into the .mk files to add the `-fsanitize=address` to the global flags manually. This way all the extra flags won't get dropped.

[2020-09-03 14:50] jeffhammond commented on #441
What's the evidence for greater throttling?  I am not sure that the OpenBLAS issue is accurate.  AVX512 FMA instructions throttle the most.  Data movement instructions should be in the AVX512-light bucket so optimizing them away should _increase_ the thermal pressure.  I suspect that what is happening in OpenBLAS is the code is just running faster.

I am happy to be wrong and will gladly change as

[2020-09-03 16:54] loveshack commented on #443
The FLAGS variables are documented as prepended.  As far as I remember I
asked for them to be more-or-less consistent with autoconf specifically
to work with packaging, and I think I'd have noticed if that changed.

I suppose I should have reported with V=1.  Anyway -fomit-frame-pointer
is the GCC default with -O up, whether or not it has an effect on a
target.  (That doesn't stop it being often r

[2020-09-03 17:48] jeffhammond commented on #441
I'm going to close this.  BLIS could optimize DGEMM better for SKX but it is unrelated to frequency, power or thermals.

[2020-09-03 17:48] #441 closed

[2020-09-03 17:51] devinamatthews commented on #441
@loveshack as a follow-up, we don't have the manpower to focus on SKX or other Intel architectures currently (especially since they haven't funded us in years), but we would welcome any PRs on this topic.

[2020-09-03 17:56] jeffhammond commented on #442
how does it work on a single socket with affinity enabled?

[2020-09-03 18:16] devinamatthews commented on #443
@loveshack can you try adding `-fomit-frame-pointer` again after `-g -fsanitize=address`? Alternatively, if the exercise is just to determine if any addressing errors occur, you can leave out the `-g` which should help.

[2020-09-03 19:18] devinamatthews commented on #442
For `trmm`, there is some monkeying around with the block sizes that goes on. Maybe the fact that `MR=16` and `NR=14` don't have many common multiples is the problem? @fgvanzee?

[2020-09-03 19:30] fgvanzee commented on #442
Dave's results are definitely not consistent with the results I found during my last SkylakeX performance gathering [1].

@loveshack Did you disable frequency throttling beforehand? Your performance kind of looks like what I recall seeing when I only had access to a system on which I had no root privileges.

When running these tests, I **always** use `cpupower` to set both the governor (`performan

[2020-09-03 20:53] devinamatthews commented on #442
@fgvanzee I understand why you do the frequency throttling, but for predicting "real-world" performance it is probably counterproductive.

[2020-09-04 04:41] jeffhammond commented on #441
As far as I understand it from a more expert colleague, OpenBLAS changed
from 12x2 to 6x4 tiling in the microkernel, which reduces back end
bottlenecks. Unless BLIS did an equivalent thing, what they observed isn’t
relevant. --
Jeff Hammond
jeff.science@gmail.com
http://jeffhammond.github.io/

[2020-09-04 09:15] loveshack opened #445 "openmp data races reported by sanitizer"
I guess this isn't of interest, but I might as well post the result.

After

CC=gcc-10 LDFLAGS='-g -fsanitize=thread' CFLAGS='-g -fsanitize=thread' ./configure -t openmp skx

with current master on a four-core workstation I get a megabyte of output from

OMP_NUM_THREADS=4 make check

These are the unique summary lines.  I haven't tried to make sense of the traces and perhaps an openmp-specific too

[2020-09-04 09:53] loveshack commented on #442
Similarly, but without the strange structure in the s case, which I
thought might be a clue.  Assume I use core binding, actually OMP_PLACES
for convenience and generality.

[2020-09-04 10:14] loveshack commented on #442
I wanted to compare current implementations, and that's on a fairly
typical HPC system on which I'm not at liberty to change the setup,
unfortunately.  I got the average frequency reported by perf for a dgemm
run at the start of the job, as I said before.  I'm not interested in
the absolute best performance, and would normally expect to be using the
serial version for HPC anyway.  Why would thrott

[2020-09-04 10:46] loveshack commented on #441
So it looks as if only the AMD version is worth considering for a BLAS.

I'm afraid contributions and suggestions don't seem to be very welcome
in practice, in contrast to OpenBLAS.  If even AMD's changes don't get
merged in a year, no-one will bother.  Especially so if it would involve
a lot of research for something like SKX improvements.

[2020-09-04 11:34] loveshack commented on #442
Actually, mentioning affinity, I thought I should check.  I was sure the
physical cores corresponded to logical ones on those nodes, but lstopo
says they don't.  I don't know if I was wrong originally, or the BIOS
changed incompatibly in the interim.  I wish everything used hwloc.

Anyhow, I'll try to get new results over the weekend; I guess that's it,
but I'm surprised it only affected trmm.  (I

[2020-09-04 13:59] devinamatthews commented on #442
@fgvanzee is `trmm` calling `bli_trmm3` or `bli_trmm`? The former seems to have the same threading restrictions as `bli_trsm`.

[2020-09-04 17:37] nicholaiTukanov commented on #440
Thank you for mentioning this.

I noticed this when I wrote the kernel, but it has never caused any errors in results. Therefore, I left the warning alone.

[2020-09-04 19:49] fgvanzee commented on #442
Are you asking about the BLAS routines `?trmm_()`? If so, they call `trmm` (not `trmm3`).

Could you elaborate on why you think this?

[2020-09-04 20:00] devinamatthews commented on #442
I was looking [here](https://github.com/flame/blis/blob/810e90ee806510c57504f0cf8eeaf608d38bd9dd/frame/base/bli_rntm.c#L81).

[2020-09-04 20:47] fgvanzee commented on #442
@devinamatthews That is the correct place to look. But the restrictions on `trmm` are not the same as those of `trsm`. `trmm_r` restricts jc-level parallelism whereas `trsm` (l or r) restricts only ir-level parallelism. Though maybe your point was just that they were restricted at all?

If Dave used my test drivers in `test/3` without modifying them, he would be using `trmm_ru`:
[code]
so in theor

[2020-09-04 20:49] devinamatthews commented on #442
I didn't mean that they're exactly the same, just that parallelism is nixed along on dimension. If we have a trmm that doesn't have that fairly serious restriction then why aren't we using it as default?

[2020-09-04 20:52] devinamatthews commented on #442
I also guess I don't understand the need for such a restriction. Unlike trsm, trmm has no data dependencies between elements o C...

[2020-09-04 21:14] fgvanzee commented on #442
Good question. What probably happened is I probably accidentally committed a temporary change.

I would love for that restriction to not be needed. But, these restrictions are largely left over from Tyler's initial implementation, and I'm not in the right state of mind to work through this at the moment. Let me get back to you.

[2020-09-05 01:24] rvdg commented on #442
Just a small comment:  Trmm is probably the least important of all level-3 BLAS.  It is just not a common operation and rarely a performance critical one.

[2020-09-05 01:25] fgvanzee commented on #442
Okay, I *think* I understand why there is a restriction on `trmm_r` but not `trmm_l`. The asymmetry comes from the fact that the jc loop, in our Goto-like algorithm, *always* partitions the right-hand matrix operand. When that matrix operand is general/dense, as in `trmm_l`, everything is fine. But when that matrix is triangular, you run into dependency issues **given** that you are updating the o

[2020-09-05 01:30] fgvanzee commented on #442
@rvdg I disagree slightly. Given that our UT Householder transform-based QR factorization relies on `trmm` (and assuming that Householder/QR is pretty important, which I think it is), I would say something like `hemm` or `her2k` is of relative less importance. But that's just my gut.

[2020-09-05 01:40] rvdg commented on #442
Notice that I was careful to say it is not performance critical…. It is not really performance critical when applying the UT transform, since it ends up being a b x b times b x n trmm.

[2020-09-05 01:47] fgvanzee commented on #442
@rvdg Touche.

[2020-09-05 03:11] jeffhammond commented on #441
This is false and the performance data shown in the wiki proves it.

BLIS was the first open-source BLAS implementation for AVX512, and the only
to support KNL. It supported Blue Gene/Q, supports Power, supports many
variants of ARM, and has great support for pre-AVX512 x86 from both AMD and
Intel.

I welcome issues that are based on data about BLIS, either the source code
or performance measureme

[2020-09-07 09:10] loveshack commented on #442
This does appear to have been a problem with the specified affinity not matching the hardware and/or specifying the thread dimensions.  It went away when just using OMP_NUM_THREADS and OMP_PLACES=cores OMP_PROC_BIND=close (which the el7 libgomp supports, even if it's not documented).

[2020-09-07 09:10] #442 closed

[2020-09-07 20:47] #423 closed

[2020-09-07 21:18] #433 closed

[2020-09-09 20:33] fgvanzee opened #447 "BLIS Retreat 2020 invitation - Come join us!"
Every year since 2013 we have held an invitation-only workshop--the "BLIS Retreat"--here at The University of Texas at Austin that brings together various stakeholders in the BLIS community. The workshop will take place virtually this year due to the COVID-19 pandemic. The event will take place over a single day on October 5, 11am to 330pm CDT [1]. There is no fee or cost to attend.

If you are in

[2020-09-27 01:32] #432 closed

[2020-09-27 01:34] chengguosun commented on #432
The problem has been resolved through the merger of the latest commits, thanks for your work.

[2020-10-09 18:35] decandia50 opened #451 "Ability to set CPU configuration at runtime"
I see that you can use `BLIS_ARCH_DEBUG=1` to see what CPU configuration was selected at runtime, but it would be handy if you could set the CPU configuration at runtime instead of recompiling.  The reasoning is to have the ability to act like MKL's `MKL_CBWR` environment variable which will allow you to specify the instruction set at runtime.  This is useful when trying to create reproducible res

[2020-10-09 18:50] decandia50 commented on #451
Also https://github.com/flame/blis/pull/351 was merged, so you can update https://github.com/flame/blis/blob/2d8ec164e7ae4f0c461c27309dc1f5d1966eb003/frame/base/bli_arch.c#L78

[2020-10-09 19:23] devinamatthews commented on #451
@decandia50 if you configure using e.g. `configure intel` then it will compile in all the Intel architectures and select the proper one at runtime. While this isn't exactly the feature you asked for, it sounds like it would solve part of your problem. What you wouldn't get is e.g. using AVX2 on SkylakeX instead of AVX-512, but it's not clear why you would want to do that.

[2020-10-09 19:24] #447 closed

[2020-10-09 19:25] devinamatthews commented on #445
@loveshack since we're using our own synchronization primitives, I expect these are largely false positives. Is there an easy way to make TSan "aware" of the primitives we're using?

[2020-10-09 19:30] devinamatthews commented on #439
To add to @hominhquan's comment, while BLAS performance on very small matrices is typically bad, trying to use multiple threads will be even worse. There needs to be a significant amount of work for threading to provide a benefit, something on the order of m=n=k=500 or more.

Bottom line: if you're doing thousands of 10x10 solves then BLIS/BLAS isn't the right library for you Good luck!

[2020-10-09 19:30] #439 closed

[2020-10-09 20:51] decandia50 commented on #451
@devinamatthews thanks for the response, but that's exactly what I'm trying to avoid doing.  As you note I can recompile down to a known set of common denominator CPU instructions, but what I'm trying to accomplish is effectively **use** a specific set of instructions at runtime without the need to recompile/redistribute my software _(the code I need is already in there, but I can't self select it

[2020-10-09 22:51] devinamatthews commented on #451
Oh, I didn't not see that it's *reproducibility* that is the main issue. I think this feature should be relatively easy to add, but i can't hazard a guess on a timeline. Do note that, for a reproducible answer, you will also need to run with the same number of threads on each machine.

[2020-10-09 23:05] decandia50 commented on #451
Indeed.  The thread count is very important for reproducibility.  In many cases where reproducibility is required the BLAS functions are often run single threaded to simplify things; e.g.  `BLIS_NUM_THREADS=1` `BLIS_JC_NT=1` `BLIS_IC_NT=1` `BLIS_JR_NT=1` `BLIS_IR_NT=1`

[2020-10-15 18:19] jeffhammond commented on #335
I'm not sure if it matters, but this is what Isambard TX2 looks like:

[code]

[2020-10-19 00:07] fgvanzee commented on #451
@decandia50 I've added support for observing the `BLIS_ARCH_TYPE` environment variable to manually override the automatic subconfiguration selection mechanism. (See commit 2a0682f.) Please note that it must be set to (1) an `arch_t` id value within the defined range, `0` to `BLIS_NUM_ARCHS-1`, as defined in `frame/include/bli_type_defs.h` (note that these `enum` values may change in future commits

[2020-10-20 14:32] LutzWeischerFujitsu opened #452 "A64FX not recognised by ./configure auto, wants to switch to generic"
...
configure: configured to build within top-level directory of source distribution.
configure:
configure: *** Unable to automatically detect hardware type! ***
configure:
configure: NOTE: configure was unable to identify a subconfiguration
configure: optimized for your hardware. As a result, the 'generic'
configure: subconfiguration (with low-performance reference kernels)
configure: will be use

[2020-10-20 14:55] devinamatthews commented on #452
I believe this will be addressed by #344.

[2020-11-02 20:43] fgvanzee opened #453 "Migrate Travis CI testing from Trusty to Xenial or Bionic"
Update `.travis.yml` file to use Ubuntu 16.04 (Xenial) or 18.04 (Bionic). The config file currently specifies use of 14.04 (Trusty). See [1] for migration guide and [2] for a list of supported Ubuntu distributions.

[1] https://docs.travis-ci.com/user/trusty-to-xenial-migration-guide
[2] https://docs.travis-ci.com/user/reference/linux

[2020-11-10 19:06] fgvanzee opened #454 "Add support for systemless mode"
As mentioned in [1], the goal is to allow BLIS to build and link on systems with minimal or nonexistent operating systems. This includes (but is not limited to) stripping use of pthreads used even by sequential builds for thread safety.

Task list:
- [ ] source code
  - [ ] isolate pthreads usage in sequential build and guard with cpp?
  - [ ] or simply neutralize bli_pthread layer implementation

[2020-11-10 23:22] stepannassyr commented on #454
As previously mentioned on the mailing list, I've done some naive changes to de-pthread the library which didn't quite work out. I thought I'd share what I've done: https://gist.github.com/stepannassyr/18b22b7af5f5bc7a9824be968c676159

[2020-11-11 23:14] fgvanzee commented on #454
@stepannassyr Thank you for sharing this gist. I'll review it as I write and prepare my changes for commit.

[2020-11-12 13:49] nagsingh opened #455 "Marginal errors while running dotxaxpyf for multiple cases."
Marginal errors observed while running form testsuite for dotxaxpyf.

Steps to reproduce.
1. In master branch, ./configure --enable-cblas -t openmp haswell; make -j; cd testsuite
2. Change input.operation to run for dotxaxpyf   (i.e. change in line 216   1       # dotxaxpyf   ---->  2        # dotxaxpyf)
3. After change, make clean; make (inside testsuite folder)
4. run ./test_libblis.x. observe t

[2020-11-12 23:11] fgvanzee commented on #454
@stepannassyr Is the `time.h` header (`clock_gettime()` and friends) and corresponding `-lrt` link option available in your environment?

[2020-11-13 00:51] fgvanzee commented on #455
@nagsingh Thanks for this report. However, these can be safely ignored. `dotxaxpyf` is actually working fine in this case. I probably need to adjust the thresholds.

[2020-11-13 01:12] #455 closed

[2020-11-13 01:13] fgvanzee commented on #455
@nagsingh I've adjusted the thresholds upward. This shouldn't be an issue going forward. Thanks again.

[2020-11-16 03:42] jeffhammond commented on #454
I’m not sure why this is in BLIS at all, at least in the release version.
Does BLIS provide its own timer as a user convenience?

--
Jeff Hammond
jeff.science@gmail.com
http://jeffhammond.github.io/

[2020-11-16 16:48] fgvanzee commented on #454
@jeffhammond Yes, BLIS defines `bli_clock()` (and `bli_clock_min_diff()`) for timing purposes [1]. `bli_clock()` is used in all of our performance-timing infrastructure. How it is defined differs based on operating system, and for that reason I feel that it is a natural thing for BLIS to provide rather than thrust it upon the application to figure out.

[1] https://github.com/flame/blis/blob/maste

[2020-11-16 18:21] stepannassyr commented on #454
@fgvanzee As communicated via email, on gem5, -lrt and clock_gettime is available.

However, I have the following answer from one of the interested parties:

[2020-11-16 18:28] fgvanzee commented on #454
@stepannassyr I can dummy-out the `bli_clock()` and its friends when our proposed systemless mode is selected at configure-time. However, just be aware that this means you won't be able to measure performance using any of BLIS's test infrastructure (or possibly at all).

The testsuite should still be useful for confirming correctness, though.

[2020-11-16 22:00] fgvanzee commented on #454
@stepannassyr Please give 9bb23e6 (which is currently the head of the `dev` branch) a try and let me know if any tweaks are required before merging into `master`.

[2020-11-19 05:33] Meghana-vankadari opened #459 "BLIS testsuite application aborts for amaxv API for vector size 0"
Output of testsuite:
% --- amaxv ---
%
% amaxv m                      -1
% amaxv operand params         (none)
%

% blis_<dt><op>_<stor>               m   gflops   resid      result

libblis: frame/base/bli_query.c (line 48):
libblis: Requested functionality not yet implemented.
libblis: Aborting.
Aborted (core dumped)

Issue arises when dimension is zero. Functionality of amaxv is fine for this c