[2018-03-20 19:07] fgvanzee commented on #171
@loveshack I'm happy to announce that commit 664ec48 provides the integrated BLAS test suite, as promised. Simply `configure` and `make`, as before, and then run `make check`. This will run (1) a fast version of the BLIS test suite and a script that checks for BLIS testsuite errors, followed by (2) the new BLAS test suite (which is fast by default) and a script that checks for BLAS test errors. Gr

[2018-03-20 19:10] devinamatthews commented on #171
@fgvanzee is it necessary (for a "quick sanity test") to test all of the transpose/storage variants as well? That would cut down the time a lot.

[2018-03-20 19:41] fgvanzee commented on #171
@devinamatthews No, it's not strictly necessary, but I figure if I can get the runtime of `make check` for mainstream architectures down to 10s or so, then it's worth the added test coverage (and we're at around 10s on Haswell).

We could probably go down a rabbit hole debating what is high priority in such a quick test (e.g. larger problem sizes but fewer parameters/operations vs. smaller problem

[2018-03-20 19:45] fgvanzee commented on #177
@loveshack I'm going to close this out now that we have the BLAS test suite available, which appears to pass everything (at least for me).

[2018-03-20 19:45] #177 closed

[2018-03-20 19:47] fgvanzee commented on #178
I think this is all fixed now. Closing.

[2018-03-20 19:47] #178 closed

[2018-03-21 01:31] iotamudelta opened #179 "linking problems for dynamic target"
Hi, on FreeBSD with clang as the compiler and LLD 6.0.0 as linker, I get the following error (sorry for crappy formatting):

Archiving lib/x86_64/libblis.a
Dynamically linking lib/x86_64/libblis.so
/usr/bin/ld: error: can't create dynamic relocation R_X86_64_PC32 against symbol

[2018-03-21 11:13] loveshack commented on #171
You wrote:

I've just timed make check at 4m42.929s on KNL with up-to-date dev
branch, so there seems to be something wrong unless it was highly
parallel on Haswell.

(That's not terrible if it was right, but it would likely be too time
consuming for, say, arm32 packages or anything that needs to be built on
an emulator.)

[2018-03-21 17:49] fgvanzee commented on #171
@loveshack I should have been more precise. It's not the mainstream-ness of the architecture that matters, it's the kernel support in BLIS. All of the important kernels are written for Haswell. That's not the case yet for KNL, so it's definitely not surprising that running `make check` takes so long in that environment. (Reference kernels are slow.)

Would you mind editing the problem size in `tes

[2018-03-21 18:01] devinamatthews commented on #171
@fgvanzee KNL is slow because it is a 1.1-1.3 GHz processor with terrible integer performance (the testsuite is slow even for `dgemm` which has an optimized kernel). As @loveshack points out, this is the case for a number of other architectures and even moreso when one has to use an emulator. I still think turning off the transpose and storage variants will help a lot, but N=100 is fine too (in ad

[2018-03-21 20:39] fgvanzee commented on #171
@devinamatthews After further consideration, I agree with you that we can turn off transposition and conjugation in level-3 operations, as that functionality only exercises `packm`, which has been tested to death. And if anything in `packm` ever breaks, we'll know about it soon enough.

I'm about to commit an `input.operations.fast` companion file to `input.general.fast`, so we'll be able to prune

[2018-03-21 20:52] fgvanzee commented on #171
Okay, in the "fast" version of the testsuite, I've:
- disabled testing of the `trmm3` operation
- disabled all transposition and conjugation testing for all level-3 operations
- disabled testing of the 1m method
- reduced the problem size to 100
`make testblis-fast` (the most time-consuming part of `make check`) now finishes about 5-6 times faster than before on my Haswell system.

[2018-03-21 21:07] fgvanzee commented on #179
Thanks @iotamudelta. I'll look into this.

[2018-03-21 21:44] fgvanzee commented on #179
@iotamudelta Hmm, I tried `./configure --enable-shared x86_64; make` and cannot reproduce the linker error. Furthermore, when I recompile via `make V=1`, I can't find any objects that don't get compiled with `-fPIC`.

Would you mind rebuilding everything, starting with `make distclean`? When you compile, please use `V=1` to enable verbosity and also redirect your `make` stdout to a file so we can

[2018-03-22 09:54] loveshack commented on #171
You wrote:

I guess I could do the experiments, but what's missing on KNL?  I
haven't checked what they do, but there seem to be more kernels for KNL
than Haswell.

There still seems to something wrong for me anyway.  When I tried make
check for an x86_64 build on 2.6GHz Haswell (serial), it took 76s,
c.f. 10.  (That was off Lustre, not a local filesystem, but it was only
10s sys.)

[2018-03-22 10:07] loveshack commented on #171
Yes, I'll probably just keep the run of dblat3 for rpm packaging.  By
the way, I can post the current version of the spec file using snapshot
source if anyone's interested.

Not my call, of course, but I'd rather see knl and skx in the x86_64
collection (if that's worthwhile without whatever they're missing) than
variants of tests.

[2018-03-22 17:11] fgvanzee commented on #171
The best way to get a sense of how many kernels a configuration "has" is look at which kernels are actually registered. So for `knl`, you would look at `config/knl/bli_cntx_init_knl.c`. As you can see, only one computational kernel is registered: the `dgemm` microkernel. (The other two `knl` kernels are `packm` kernels, which have a **much** lower impact on runtime compared to reference kernels.)

[2018-03-22 17:19] fgvanzee commented on #171
@loveshack Alternatively, you could run `make checkblas`. This will run only the BLAS test drivers.

[2018-03-22 23:28] fgvanzee commented on #169
@loveshack I've implemented this feature. Please give 22289ad2 a try by running `./configure knl` (along with whatever `configure` options you like) and let me know how it goes. Once we're confident that things are working, I'll add `knl` and `skx` to the `x86_64` configuration family.

[2018-03-23 11:52] mrader1248 opened #180 "make check fails when using gcc 7.3"
I have successfully built and tested BLIS with icc (2015) using `make check`. However, when I use gcc 7.3 together with the binutils 2.30 (on the same machine), some tests fail. As far as I can tell, only real test cases are affected. I ran `configure` with the options `--enable-shared --enable-static --enable-blas --enable-cblas`. Attached to this message you can find the blocks of `output.testsu

[2018-03-23 11:57] mrader1248 commented on #180
As gcc 7.3 is rather new, I also tested gcc 7.2 -- same problem.

[2018-03-23 14:32] devinamatthews commented on #180
Could you please tell us:

1) What OS version you are using,
2) What processor you are using,
3) Your complete configure line and output?
4) What version/git commit of BLIS you are using?

[2018-03-23 14:41] mrader1248 commented on #180
1. CentOS 6.9 (w/o root access)
2. Intel(R) Xeon(R) CPU E5-2620 v3 @ 2.40GHz
3. `./configure --prefix=${INSTALL_DIR} --enable-shared --enable-static --enable-blas --enable-cblas CC=gcc-7.3 haswell`, output below
4. the latest one

[code]

[2018-03-23 15:02] devinamatthews commented on #180
OK, I can replicate this and will look into it.

[2018-03-23 15:03] mrader1248 commented on #180
Thank you very much for your quick response!

[2018-03-23 15:04] devinamatthews commented on #180
No problem, thanks for the bug report. Look like a doozy!

[2018-03-23 16:12] fgvanzee commented on #180
My default assumption is that this is a compiler bug, given that so many compilers before/other than gcc 7.2/7.3 do not show any problems. (Granted, it's always possible we're using some sloppy syntax that is no longer forgiven in those versions.)

@devinamatthews Thanks for looking into this.

[2018-03-23 17:18] devinamatthews commented on #180
@mrader1248 we've found the problem and I believe @fgvanzee  is working on a fix (unless you want me to do it).

[2018-03-23 17:43] fgvanzee commented on #180
@devinamatthews I'll commit a fix to the issue @mrader1248 pointed out. Thanks for your help identifying the root cause.

[2018-03-23 17:58] fgvanzee commented on #180
@mrader1248 Please try e2192a8f and let us know if the test failures persist or go away. Thanks for your feedback.

[2018-03-24 15:00] mrader1248 commented on #180
Thank you very much for your great help! Now everything works as expected. Looking forward to benchmarking.
Just for curiosity's sake: Why is the zen code needed for the haswell config?
Will this commit be included into the latest version?

[2018-03-24 20:15] fgvanzee commented on #180
@mrader1248 Glad we were able to fix your problem. (Devin tracked down the issue quickly.)

While the Haswell, Broadwell, Skylake, Kabylake, Coffeelake, and Zen microarchitectures are all distinct, they actually share roughly the same instruction set (at least for our purposes) and number of vector registers. The net effect of this is that we can recycle kernel code across those microarchitectures

[2018-03-25 15:04] mrader1248 commented on #180
Thank you for the clarification.

Yes, to be 'git-precise': I wanted to know whether this commit will be merged into `master`, such that I have to work with a specific commit no longer.

Thank you all again for your help!

[2018-03-26 17:29] loveshack commented on #169
You wrote:

I'm not sure what that feature is, but now" if I configure on knl with
or without --enable-memkind, I get this because memkind.h isn't included
anywhere:

[code]

[2018-03-26 18:34] fgvanzee commented on #169
@loveshack I was referring to the feature I had just described in my previous post: the automatic detection of libmemkind.

Could you confirm that the output of `configure` contains the following line?
[code]

[2018-03-26 19:54] fgvanzee commented on #169
@loveshack The issue you reported should be fixed now in 6a62818.

Also note that the option is `--with-memkind`/`--without-memkind`, not `--enable-memkind`/`--disable-memkind`. But if libmemkind is detected and you want it to be used, you should not need to specify anything extra.

[2018-03-26 21:27] fgvanzee opened #182 "sgemm() fails on skx"
Clement Pernet reports that the following test driver file, `sgemm_bug.c`
[code]
fails when compiled and linked against an `skx`-configured BLIS and run via:
[code]
The correct answer should be [ 2.0 2.0 ].

[2018-03-26 22:12] devinamatthews commented on #182
Hi Clement (I will cross-post to blis-devel): can you tell us precisely which git commit you are working from?

Also, @dnparikh: I can't remember if the code you were porting SKX from had explicit sgemm support? I wrote it at some point but definitely didn't test it as well as dgemm.

[2018-03-26 22:59] fgvanzee commented on #182
I can reproduce this bug on stampede2's skylake nodes, though I had to add the `include` directory:
[code]

[2018-03-27 03:52] iotamudelta commented on #179
@fgvanzee this is for the FreeBSD port. Please find compile log attached.

Configure is with--enable-blas --prefix=/usr/local  --enable-shared --enable-static  -t pthreads --enable-cblas x86_64 . This is with LLVM5 as the compiler, LLD6 as the linker.

[VERBOSE_COMPILE.txt](https://github.com/flame/blis/files/1850324/VERBOSE_COMPILE.txt)

[2018-03-27 07:28] ClementPernet commented on #182
@devinamatthews : I tested it on master at commit e2192a8fd58ec3657434ddd407033e097edad8f4

[2018-03-27 09:40] loveshack commented on #169
You wrote:

I mis-remembered the option name, and also that the header is hbwmalloc,
not memkind a little while after I tested it.

Anyhow, it built OK once I realized I needed the master branch again,
thanks.  Also make check has gone down to 64s on KNL, for what it's
worth.

[2018-03-27 17:12] fgvanzee commented on #169
Okay, good, it sounds like the libmemkind feature is working for you now.

As I suggested previously, you may want to limit your package sanity check to `make checkblas`, which will run the full set of BLAS tests and indirectly test some of the BLIS API as well. It should finish more quickly than `make check`. (On my KNL system, `make checkblas` takes 41 seconds and `make checkblas -j` takes 6 sec

[2018-03-27 17:32] #171 closed

[2018-03-27 17:36] fgvanzee opened #183 "Add skx, knl to x86_64 configuration family"
As @loveshack suggested, we should add `skx` and `knl` to the `x86_64` family. The only problem is, what happens if the compiler doesn't know about `-march=knl` or `-march=skylake-avx512`? For example, Ubunutu 16.04 (presumably a popular distribution of Linux) is on gcc 5.4.0, which knows about `knl` but not `skylake-avx512`.

[2018-03-27 17:40] devinamatthews commented on #183
I pointed to my solution in TBLIS [here](https://github.com/flame/blis/issues/169#issuecomment-370177256).

[2018-03-27 17:55] fgvanzee commented on #183
@devinamatthews Thanks Devin, I had forgotten about that.

[2018-03-27 19:47] loveshack commented on #183
You wrote:

Remember you already have that problem, at least because of Zen, or even
avx2 on RHEL6.  Good if you can test for the support of course, but it's
also worth suggesting devtoolset-6 on RHEL for complete x86_64 support.

[2018-03-27 19:50] fgvanzee commented on #183
You're right, Dave; this is already a problem. Thankfully, Devin has already solved it. I'm working to insert similar logic into BLIS's build system. In short, if a sub-configuration cannot be compiled by the current compiler, it will be stripped from the configuration registry as the file is parsed.

[2018-03-27 22:16] fgvanzee commented on #182
@ClementPernet This bug should be fixed now, as of ae9a5be. (I can no longer reproduce any errors observed prior.) Please try it out and let us know if you encounter any other issues--if you do, just open another issue here on github. Thanks for your feedback.

[2018-03-28 07:12] ClementPernet commented on #182
Great. I confirm that it fixes the issue on the simple test file I sent you, and also on my application which triggered the bug in the first place.
Thanks for the quick fix!
I'm willing to start playing a bit more with BLIS in the near future from viewpoint of the linear algebra over finite fields, so I will certainly stay involved.

[2018-03-28 19:35] fgvanzee commented on #182
Glad we could fix your issue.

I don't know much about finite fields. Out of curiosity, can you give me a sense of the type of problems you usually do? Is it typically `gemm`? What matrix dimensions do you typically work with? And are your matrices usually all square-ish, or do the matrix dimensions (m, n, k) differ significantly? Also, how did you learn about BLIS?

[2018-03-29 10:46] loveshack opened #184 "format fix"
This avoids a format warning in 64-bit mode with current master.  I don't know if long is good enough on everything.

[code]

[2018-03-30 16:49] fgvanzee commented on #184
@loveshack I don't receive this warning when I compile with `--enable-cblas`. Is there any other configuration option you are enabling when you observe the format warning you cite? I'd like to try to reproduce it.

[2018-03-30 17:29] fgvanzee commented on #179
@iotamudelta I've combed through your configuration/compilation log. It was very useful--thank you.

The version you are using has a bug that has since been fixed. Please try the head of `master` for the bugfix you seek as well as many other improvements. (The last month has seen a lot of activity.)

If you need me to bump the version number to justify using the more recent code, I can do so. (I w

[2018-03-31 02:15] iotamudelta commented on #179
@fgvanzee indeed, a later revision works. Is it intended that the number of files is reduced dramatically now? I only get:

include/blis/blis.h
include/blis/cblas.h
lib/libblis.a
lib/libblis.so

as installed - used to get a whole range of include/blis/bli_*.h files.

Don't worry about a new release just for this, we are not restricted to that as long as the code we include in the FreeBSD ports is

[2018-04-01 19:46] loveshack commented on #184
You wrote:

Using any vaguely recent gcc with -Wall should give the warning.  %d
can't be correct for -b 32 and -b 64 (where "info" is either int or
long).

Looking at the issue now, I realize the patch got truncated, but it just
uses %jd instead of %d and casts info to intmax_t.

[2018-04-02 17:54] fgvanzee commented on #179
@iotamudelta Yes, it is definitely intended. After running `./configure`, just before compilation begins, you'll notice a stage that proceeds like this:
[code]
I wrote a script, `flatten-headers.py` (and a companion `flatten-headers.sh` for environments where python isn't available) that recursively inlines all `.h` header files that are `#included` from a top-level header, such as `blis.h`. I did

[2018-04-02 17:55] #179 closed

[2018-04-02 19:50] fgvanzee commented on #183
@loveshack FYI, I'm still working on this. I'm almost done, just ironing out a small kink related to configurations that must be disabled due to lack of compiler support.

[2018-04-04 22:04] fgvanzee commented on #183
@loveshack This feature has been implemented in 786d15c (though I merged with a previous commit during the push). Just grab the head commit of the `dev` branch to try it out. Thanks for your patience.

[2018-04-04 22:41] fgvanzee commented on #180
@mrader1248 Would you care to reveal your real name so I can acknowledge your contribution in our upcoming 0.3.1 announcement? No worries if you'd rather stay anonymous.

[2018-04-04 22:48] fgvanzee commented on #167
@gareevroman Would you care to share your real name so I can acknowledge your contribution in our upcoming 0.3.1 release announcement? No worries if you'd rather stay anonymous.

PS: I assume this issue was resolved? If you're still having trouble, please let us know.

[2018-04-04 23:01] #184 closed

[2018-04-04 23:01] #169 closed

[2018-04-04 23:02] fgvanzee commented on #172
@loveshack Closing. Please let us know if there's anything left unresolved of this issue.

[2018-04-04 23:02] #172 closed

[2018-04-05 07:33] mrader1248 commented on #180
It's Michael Rader, but in the end you did the job, I just found a bug.

[2018-04-05 10:01] loveshack commented on #183
You wrote:

Thanks.  However, when I configure for x86_64 and run make check on KNL
it fails with an illegal instruction error.  I'll try to debug it later.

[2018-04-05 13:18] loveshack commented on #183
Annoyingly, and oddly, the crash I found goes away with --enable-debug
but happens with --enable-debug opt.  As I assumed, it's trying to
execute an SKX instruction that KNL doesn't have.  The backtrace from
test_libblis.x is:

[code]

and the relevant line from disassembly is

[code]

This is with Red Hat's GCC 6.3 on RHEL7, in case that matters.  Is that
enough of a clue?  Otherwise I can poke s

[2018-04-05 17:36] fgvanzee commented on #180
@mrader1248 Thanks Michael. Nevertheless, we like to acknowledge such contributions. (The ability to fix a bug does us no good if we don't know the bug exists.)

[2018-04-05 17:39] fgvanzee commented on #183
@loveshack Thanks Dave. I'll look into it. Just to be clear, is `--enable-debug` / `--enable-debug opt` the only option you are passing to `configure` (aside from the `x86_64` configuration target)?

[2018-04-05 17:40] #180 closed

[2018-04-05 21:02] loveshack commented on #183
You wrote:

I was using --enable-cblas --enable-static in that case, but it fails
with plain ./configure too.

[2018-04-05 21:58] jeffhammond commented on #183
VMOVDQA64 is AVX512F (Xeon and Xeon Phi) with zmm registers but AVX512VL (Xeon only) with xmm/ymm.  If Devin didn't write this in assembly, I assume it is a toolchain bug.  I seem to recall seeing or hearing about such issues in the past.  I'm sure somebody else will sort it out soon enough.

[2018-04-05 22:24] fgvanzee opened #185 "Segfault on skx when running gemm_ukr testsuite module"
I observe a segmentation fault, perhaps due to overwriting of internal data, when running the testsuite on Skylake server (skx). I configured as:
[code]
though I'm not sure if any of this made a difference yet. (I assume that targeting `skx` instead results in the same error.)

Disabling the microkernel modules allows the testsuite to finish without error. Same result if I only request column stor

[2018-04-05 22:53] devinamatthews commented on #185
They should. @dnparikh the sgemm kernels were all kinds of messed up at one point. Can you double-check what is currently in BLIS with the develop branch of TBLIS? @fgvanzee I suggest valgrind for further probing if that doesn't yield anything.

[2018-04-05 23:03] fgvanzee commented on #183
I can reproduce this bug. Investigating.

[2018-04-05 23:13] devinamatthews commented on #183
If `config/skx/bli_cntx_init_skx.c` gets built with the SKX flags, then that would explain it. Any code that may get run before the corresponding configuration is definitively selected should use the generic flags.

[2018-04-05 23:14] devinamatthews opened #186 "Assembler checks needed"
Compiler version checking is necessary, but not sufficient, to blacklist configurations such as skx, knl, etc. You also have to make sure that the assembler is up to snuff. icc makes this impossible to do properly with inline assembly because it sometimes does and sometimes doesn't use its built-in assembler. So, the only way to do it is to generate short assembly files (e.g. here) and see if they

[2018-04-05 23:15] fgvanzee commented on #183
@devinamatthews Yes. I'm thinking through the appropriate `Makefile` patch.

[2018-04-05 23:40] jeffhammond commented on #183
Note also that you should probably use AVX2 compiler flags for SKX everywhere.  Using 512b SIMD only pays off if the SIMD efficiency is very good and doesn't make sense for code that isn't compute-bound (e.g. BLAS1).  The code in BLIS that clearly benefits from 512b SIMD is written in assembly and thus is unaffected by compiler flags.

[2018-04-05 23:43] fgvanzee commented on #183
@jeffhammond Thanks for this suggestion. So you're saying that we can compile reference kernel code with AVX2 on skx, no questions asked, and the outcome will always be better than with AVX512?

[2018-04-05 23:51] jeffhammond commented on #186
`./configure intel` works on MacOS Sierra right now.  `make check` fails here:
[code]

The system linker on my laptop does not understand AVX-512:
[code]

However, the Intel compiler is smart enough to work around this.
[code]

Given that Apple is shipping work stations with AVX-512 support (Xeon W or Skylake X), I expect their toolchain to support AVX-512 soon, if not already (in High Sierra).

[2018-04-06 00:02] jeffhammond commented on #183
@fgvanzee Yeah, reference/unoptimized code should be compiled to AVX2, because that code is not going to achieve high enough SIMD utilization to overcome the AVX512 frequency drop.  Note that this doesn't mean AVX-512 isn't useful - it is certainly useful in BLAS3*, but I assume you are not using reference code there.

* This isn't necessarily true in the parts with only one VPU, but those parts a

[2018-04-06 00:24] fgvanzee opened #187 "Track CFLAGS for reference kernels separately from those of optimized kernels"
Referencing this discussion on issue #183:

@jeffhammond So you're saying that we can compile reference kernel code with AVX2 on skx, no questions asked, and the outcome will always be better than with AVX512?

@fgvanzee Yeah, reference/unoptimized code should be compiled to AVX2, because that code is not going to achieve high enough SIMD utilization to overcome the AVX512 frequency drop. Note tha

[2018-04-06 00:42] fgvanzee commented on #183
@loveshack Try d39fa1c0. It hopefully fixes the issue with KNL executing the illegal AVX512VL instruction, but haven't had time to try it. I'll continue working on this tomorrow if needed.

[2018-04-06 08:49] loveshack commented on #183
Yes, it's now OK on make check in default mode, but with
--enable-cblas -b 64 --enable-debug x86_64
I get a segv from ./obj/x86_64/blastest/cblat1.x during make check:

[code]

With make -k I get segvs from other tests and also errors like

[code]

[2018-04-06 12:42] jeffhammond opened #188 "do not enable KNL support on Mac"
MacOS does not support KNL so we should disable it in `intel64`  build.  I figure this is an easy fix given you all are working on closely related issues right now.  I am not yet familiar with the new build system and it will take longer to implement myself, hence the lack of PR.

There may be value in building KNL objects for Mac (e.g. SDE works on Mac) so we shouldn't prohibit it, but it should

[2018-04-06 12:43] jeffhammond opened #189 "fix memkind detection on Mac"
I guess I should debug and fix this myself.
[code]

[2018-04-06 13:27] devinamatthews commented on #188
This should be accomplished by a resolution to #186.

[2018-04-06 19:25] fgvanzee commented on #183
@loveshack Thanks Dave. The segfault is simply due to the fact that we currently fail to account for non-32-bit integers in the BLAS test drivers. I'll see if I can come up with a fix.

[2018-04-06 21:36] fgvanzee commented on #183
@loveshack I think I've fixed this now in b549b91. The BLAS test drivers now define its `integer` type based on how BLIS was configured. I tested this on our KNL system via
[code]
and it seems to work.

[2018-04-06 22:57] fgvanzee commented on #189
@jeffhammond This is weird. Makes me think that something is going wrong with the `has_libmemkind()` function in `configure`. Maybe `$?` isn't getting set properly with the return code from the compiler?

[2018-04-06 23:01] fgvanzee commented on #186
@devinamatthews Do you have an example I can build off of vis-a-vis assembler checking? You referenced "(e.g. here)" which feels like maybe it wanted to be a link to something. :)

[2018-04-07 00:00] fgvanzee commented on #187
This has been addressed in commit bd02767.

@jeffhammond I set the reference kernel vectorization flags to AVX2 for `knl` as well as `skx` sub-configurations. I probably should have checked with you first before making that call, but I can always fix it if you think the step-down to AVX2 for `knl` is not appropriate.

[2018-04-07 00:04] devinamatthews commented on #187
AVX2 is probably fine for KNL, unless the level 1/2 kernels are bounded by instruction bandwidth (unlikely).

[2018-04-07 00:08] devinamatthews commented on #187
Note that `-march=knl` implies `-mavx512f`... maybe `-march=knl -mno-avx512f` (order might matter, icc might be different, etc.)?

[2018-04-07 00:10] devinamatthews commented on #189
Maybe this (`config/knl/make_defs.mk:100ish`):

[code]

[2018-04-07 00:56] jeffhammond commented on #187
Using KNL flags also ensures the right uarch optimizations. AVX2 implies
Core/Xeon, which isn’t optimal for KNL. The KNL-AVX512 flags might work.
But ICC should use MIC-AVX512 flags.
--
Jeff Hammond
jeff.science@gmail.com
http://jeffhammond.github.io/

[2018-04-07 01:05] jeffhammond commented on #187
Some versions of ICC support these flags. The lack of universal support is
why I recommend MIC-AVX512 flags. KNL is tuned for ZMM usage...
--
Jeff Hammond
jeff.science@gmail.com
http://jeffhammond.github.io/

[2018-04-07 08:16] gareevroman commented on #167
Sorry for the late reply. My real name is Roman Gareev. Please use it.

I managed to fix it in case of the BLIS 0.2.2. To do it, I changed the compiler from gcc 4.9.3 to icc 17.0.4 and commented out the following lines of BLIS/frame/base/bli_gks.c:

    --- a/frame/base/bli_gks.c
    +++ b/frame/base/bli_gks.c
    @@ -360,9 +360,9 @@ void bli_gks_register_cntx
            blksz_t* restrict nr = bl

[2018-04-09 02:43] dnparikh commented on #185
ca982148b3b419db063cad2fa74376ec383a5c80 should fix this issue.

[2018-04-09 02:48] dnparikh opened #190 "Configure not taking compiler override through the options"
$ ./configure CC=icc skx
configure: using 'gcc' compiler.
configure: found gcc version 5.4.0 (maj: 5, min: 4, rev: 0).
configure: checking for blacklisted configurations for gcc 5.4.0.
configure: warning: gcc 5.4.0 does not support 'skx'; adding to blacklist.
configure: configuration blacklist:
configure:   skx
configure: reading configuration registry...done.
configure: checking whether we need t

[2018-04-09 15:12] loveshack opened #191 "tests on x86_64 link against memkind when it's not present"
Running make check after configuring for x86_64 fails on a system without libmemkind because it's added to LDFLAGS in config/knl/make_defs.mk without an appropriate guard.

[2018-04-09 17:10] fgvanzee commented on #187
I just realized that I forgot to break out the setting of reference kernel vectorization flags (`CRVECFLAGS`) by compiler in bd02767. Will fix.

[2018-04-09 17:35] fgvanzee commented on #167
@gareevroman Sorry you are still having trouble. I'd like to look into this, but first could you tell me that in the case of 0.3.1, are you using a downloaded release, or a git clone? If you are using a clone, the exact commit hash number would be helpful. Also, please copypaste how you are executing `configure`.

[2018-04-09 17:49] fgvanzee commented on #187
As a separate question, does anyone know the behavior of including the following `gcc` flags in the following order:
[code]
Is the net result the same as `-march-skylake-avx512`, or does the compiler start with all of the options implied by `-march=skylake-avx512` but then dial back the instruction set to AVX2? I hope it is the latter, but I wouldn't be surprised if they got interpreted differentl

[2018-04-09 17:49] devinamatthews commented on #187
The latter.

[2018-04-09 17:50] fgvanzee commented on #187
Great. Thanks Devin.

[2018-04-09 17:52] devinamatthews commented on #187
But of course `-mavx2` is redundant in this case`.

[2018-04-09 17:54] fgvanzee commented on #187
Wait, why? The whole point of my hypothetical was to ask how including `-mavx2` affects `-march-skylake-avx512` You seemed to indicate that the latter possibility was what would happen.

[2018-04-09 17:55] devinamatthews commented on #187
s/latter/former/, your phrasing confused me.

[2018-04-09 17:57] devinamatthews commented on #187
Basically `-march=<whatever> == -mtune=<whatever> -m<lots of stuff> -mno-<lots of other stuff>`, and you can tweak this with more `-m<this>` and `-mno-<that>` flags. AFAICT `-mno-x` overrides `-mx`.

[2018-04-09 18:02] fgvanzee commented on #187
@devinamatthews Okay, that's what I was afraid of. Thanks.

[2018-04-09 18:03] devinamatthews commented on #187
If you want to disable AVX512 on SKX, just use `-march=skylake`. They are basically the same chip apart from the cache and AVX512.

[2018-04-09 18:06] fgvanzee commented on #187
That probably works fine in the case of disabling avx512 on skx, but as a general rule I should probably get in the habit of manually disabling instruction subsets. (For example, this trick would not work with KNL, correct? Since there is no non-512 analogue of KNL?)

[2018-04-09 18:08] devinamatthews commented on #187
Correct.

[2018-04-09 18:11] devinamatthews commented on #187
Yes. In the vast majority of cases (basically all x86_64) all you need is `-march`.

[2018-04-09 18:13] devinamatthews commented on #187
`-xMIC-AVX512` won't work. What I think @jeffhammond was suggesting was that for KNL with icc you can leave it as-is (i.e. `-xCORE-AVX512`).

[2018-04-09 18:14] fgvanzee commented on #187
@devinamatthews Thanks.

Here's what I have for knl (the setting of vectorization flags for reference kernels):
[code]
And skx:
[code]

[2018-04-09 18:14] devinamatthews commented on #187
Nevermind, I was thinking that `-xMIC-AVX512` was KNC.

[2018-04-09 18:18] fgvanzee commented on #191
@loveshack Thanks Dave. I saw that code recently but misread it as an `$ifeq ($(DEBUG_TYPE),sde)`, hence why I previously thought it was okay. I'll fix.

[2018-04-09 18:25] devinamatthews commented on #187
I can't seem to find an equivalent of `-mno-avx...` for icc. You could use `-xCORE-AVX2` for Skylake.

[2018-04-09 18:28] fgvanzee commented on #187
Was that a suggestion or an affirmation? (I already am.)

[2018-04-09 18:29] devinamatthews commented on #187
Sorry, reading comprehension fail. All looks good.

[2018-04-09 18:30] fgvanzee commented on #187
@devinamatthews Thanks for your help.

[2018-04-09 18:31] fgvanzee commented on #187
@devinamatthews lol, I had an extra `m` in the `-mno-` options. Oops.

[2018-04-09 19:18] fgvanzee commented on #191
@loveshack This should be fixed in 45fbe66.

[2018-04-09 19:22] #187 closed, assigned to nobody

[2018-04-09 19:25] fgvanzee commented on #186
Thanks Devin. Can you confirm my interpretation of how the assembler checks fit in with the overall blacklisting?

My best guess is that for any given configuration `fooconfig` that wants to use kernels that need instruction set `barset`, we check if the assembler can assemble instructions from `barset`; if the test fails, then we must blacklist `fooconfig`.

Did I get that right?

[2018-04-09 19:27] fgvanzee commented on #185
@devinamatthews @dnparikh Devangi has fixed this issue in ca98214, so I think we can close it now.

[2018-04-09 19:35] fgvanzee opened #192 "Broken x86_64 build on Arch Linux"
@stefanhusmann is using a very recent version of gcc (on Arch Linux) and getting an error when compiling the knl `packm` kernels via the `x86_64` configuration family:
[code]
His configure log is [here](https://github.com/flame/blis/files/1887253/buildlog.txt).

[2018-04-09 19:36] #185 closed

[2018-04-09 19:41] devinamatthews commented on #186
Yes. I do it in TBLIS by just checking all instruction set extensions and disabling all configurations that use a given instruction set extensions when it is not supported.

[2018-04-09 19:45] devinamatthews commented on #192
c.f. the version of blis_avx512_macros.h [here](https://github.com/devinamatthews/tblis/blob/develop/src/configs/knl/bli_avx512_macros.h). Various spaces need to be removed.

[2018-04-09 20:00] jeffhammond commented on #187
Intel 18 supports “-xCORE-AVX512 -qopt-zmm-usage=low” that should be better
but this hasn’t always been true in practice.
--
Jeff Hammond
jeff.science@gmail.com
http://jeffhammond.github.io/

[2018-04-09 20:38] fgvanzee commented on #190
Thanks for the bug report. This should be fixed in 388f64d.

[2018-04-09 20:52] fgvanzee commented on #187
@jeffhammond Good to know. Thanks Jeff.

[2018-04-09 20:56] #190 closed

[2018-04-09 22:06] fgvanzee commented on #186
BTW, I didn't notice that the original comment you made directly on commit 786d15c had the link for "[here](https://github.com/devinamatthews/tblis/blob/1258e346b64f628a4c61851bb84956585c6b82e0/configure.ac#L305)", which didn't transfer during the opening of the issue. Mystery solved.

[2018-04-09 22:09] fgvanzee commented on #192
@stefanhusmann Please try 78a24e7d and let us know how it goes.

[2018-04-09 22:10] #191 closed

[2018-04-09 22:11] #183 closed

[2018-04-10 05:59] stefanhusmann commented on #192
https://github.com/flame/blis/commit/78a24e7dada52a3582f8488795bd1a44993989d9
does not make a big difference.

Compiling obj/x86_64/kernels/knl/1m/bli_packm_knl_asm_24x8.o ('knl' CFLAGS for kernels)
kernels/knl/1m/bli_packm_knl_asm_24x8.c: Assembler messages:
kernels/knl/1m/bli_packm_knl_asm_24x8.c:244: Error: missing `}' in `{% k1 } {z}'
kernels/knl/1m/bli_packm_knl_asm_24x8.c:245: Error: missing

[2018-04-10 16:31] loveshack commented on #167
[I should have spotted this before as I'd been pushing KNL.]
The broken tests in 0.3.1 for both KNL and the general x86_64 configuration are fixed in the git dev branch as far as I can tell. They work for me on KNL and Haswell, anyhow.

I think GCC 5 should work, but GCC 6 definitely will (using the devtoolset-6-gcc package if you happen to be on RHEL or a clone).

[2018-04-10 16:34] fgvanzee commented on #167
@loveshack Thanks for chiming in. Is that to say that you were previously observing the same error that Roman reported on Feb 19?

[2018-04-10 18:21] loveshack commented on #167
I don't think so, but I was previously trying with KNL before it was in
a release, and I think I was using gcc 6.

I just wanted to note that you need post-release code, which works to
the extent I've tested it, specifically on KNL.

[2018-04-10 18:27] fgvanzee commented on #167
@gareevroman As Dave suggests, you should try out the latest commits if you haven't already. If you still have issues, please describe them here and we can work towards a resolution.

[2018-04-10 23:10] fgvanzee commented on #186
Commit 088c474e now implements this feature. (Though further tweaks may be necessary.)

[2018-04-10 23:12] fgvanzee commented on #188
@jeffhammond Please try 088c474e and let us know if it resolves this issue. If it works, `knl` will be added to the configuration blacklist echoed to `stdout` early in the `configure` output.

[2018-04-11 00:02] fgvanzee commented on #186
And f56481e fixes the version-challengedness on OS X, as well as redundant blacklisting.

[2018-04-11 00:04] fgvanzee commented on #188
Note: f56481e fixes a few non-critical issues in 088c474. Both appear to do The Right Thing&trade; on the one semi-updated OS X system I have access to.

[2018-04-11 08:02] gareevroman commented on #167
I used a git clone with bd0276752ccdd56ff897b1a5ae022f2ffe6e0b38 hash number.

Yes, I'm configuring the same as above.

I also get a segmentation fault during the execution of the bli_dgemm in case of the 388f64d6ade14caa4a6c286845ad2d565378b2bb and gcc 6. For some reason, the BLIS 0.2.2 doesn't cause it. I'll try to bisect the bug on weekend.

Thanks,
Roman Gareev

[2018-04-11 11:32] ClementPernet commented on #182
Well, we are developping the fflas-ffpack library https://github.com/linbox-team/fflas-ffpack , providing a set of routines for linear algebra over a finite field. The idea is to stick as close as possible to the standard BLAS and LAPACK API's whenever it makes sense (some notions carry over from R or C to a finite field, some don't).
So all use cases are possible in terms of problem dimensions.
O

[2018-04-11 16:38] fgvanzee commented on #167
@gareevroman It's probably not related, but I want to point out that `-path` is not a valid argument to `configure`. It should be `-p <path>` or `--prefix=<path>`. When I try using `-path`:
[code]
I get `configure` output that includes:
[code]
which granted is not the ideal response. (Ideally, configure would exit with a fatal error message.)

[2018-04-11 17:01] fgvanzee commented on #167
@gareevroman A few comments:
1. I don't have access to gcc 4.x, but I do have gcc 5.4, gcc 7.1, and icc 17.0.4. I cannot reproduce the "conflicting types" compilation error with any of them. Are you still getting this error with the most recent commits?
2. It sounds like you got past that error, because you more recently mentioned a segmentation fault when calling `bli_dgemm()`. Can you elaborate

[2018-04-11 19:41] fgvanzee commented on #192
@stefanhusmann I've spoken to @devinamatthews, and we can't account for where the spaces are coming from in the expressions such as `{% k1 }`. The most recent commits appear to fix this problem on our end.

Out of curiosity, what are your versions of `gcc` and `binutils` (`as`, `objdump`, etc.)?

[2018-04-11 19:43] fgvanzee commented on #188
@jeffhammond Since it would seem that this issue has been fixed, I'm closing. Re-open if needed.

[2018-04-11 19:43] #188 closed

[2018-04-11 19:43] #186 closed

[2018-04-12 16:05] loveshack commented on #167
I wouldn't expect gcc 4.9 to be a good compiler to use as it's the first
version with any support for avx512.  Perhaps configure should blacklist
it if the failure is with current source and a properly cleaned-out
directory.  (I've fallen foul of not cleaning up the test code after an
update that apparently didn't fix errors; there's probably a missing
make dependency I'd forgotten to look at.)

[2018-04-12 17:54] stefanhusmann commented on #192
I am sorry, it indeed works also for me now, after building from a fresh build directory tree. I missed to delete it before my first retry.

I you are still interested: I use the official Arch Linux packages of gcc (7.3.1+20180312) and binutils (2.29.1).

[2018-04-13 17:00] fgvanzee commented on #192
@stefanhusmann Very glad your builds are working now. Thanks for the update.

[2018-04-13 17:00] #192 closed

[2018-04-13 18:07] SudoNohup commented on #182
@ClementPernet Thanks for sharing your application!

You mentioned Strassen's subcubic algorithm. Actually, we also did some recent work related to the practical implementation of Strassen and other fast matrix multiplication algorithms based on BLIS, which shows better performance over BLAS gemm on matrices of moderate dimensions and requires no additional workspace. In case that you might be int

[2018-04-13 23:47] fgvanzee commented on #182
@ClementPernet @SudoNohup I'm going to close this issue, but please feel free to continue your discussion here if you like.

[2018-04-13 23:47] #182 closed

[2018-04-19 09:34] loveshack commented on #175
I hadn't noticed this before.I don't know how much effect caching would have, but there's a reason to make doing it configurable -- checkpoint/restart in the common case of a heterogeneous cluster.

[2018-04-19 15:50] jeffhammond commented on #175
You mean like VM migration between incompatible hardware? I think that’s a
rather exceptional corner case. Checkpoint-restart in HPC means restarting
the program and reading in state. That will initialize shared libraries
from scratch and doesn’t break with caching the config.
--
Jeff Hammond
jeff.science@gmail.com
http://jeffhammond.github.io/

[2018-04-19 17:10] loveshack commented on #175
No, I mean like using BLCR or, these days, probably DMTCP [unless you use PSM :-(].  It's a known problem with things like openblas that you need to restart on a compatible micro-architecture, though I'd be happy to know how to avoid that if the scheduler doesn't support it directly -- never added to SGE, for instance. I thought dumping the memory of HPC applications was what things like SCR are f

[2018-04-19 17:13] fgvanzee commented on #175
@loveshack I'm afraid I'm unfamiliar with any of the acronyms you mention above. Could you elaborate?

I also was unaware of the need to "restart" OpenBLAS in certain situations. Could you say a few words about this as well?

[2018-04-19 20:42] jeffhammond commented on #175
@fgvanzee Did you google these first?  In any case:
* [BLCR](http://crd.lbl.gov/departments/computer-science/CLaSS/research/BLCR/) is Berkeley Labs Checkpoint Restart.
* [DMTCP](http://dmtcp.sourceforge.net/)
* [PSM](https://github.com/intel/psm) and [PSM2](https://github.com/intel/opa-psm2) are Performance Scaled Messaging, which are the low-level APIs for Intel True Scale and Omni Path interconn

[2018-04-19 20:48] fgvanzee commented on #175
@jeffhammond I made no attempt to google any of them under concern for acronym collisions. :)

The links were marginally helpful, but I still don't see the application to the topic at hand. I don't understand why this isn't an issue of simply storing the result of a "deep" hardware query and using it to define future "shallow" queries.

[2018-04-19 20:50] loveshack commented on #175
Sorry for causing confusion talking to Jeff, but as I said it's not a big deal, and definitely not worth supporting if there's significant overhead, but:
This is about dumping the entire state of a running program to be able to restart it from that point after an error or running out of time for the job (as opposed to the application writing state itself and picking that up if re-run from scratch;

[2018-04-19 20:56] fgvanzee commented on #175
@loveshack Thanks for that explanation. I now understand how we got from CPUID selection to checkpointing. (It was not at all clear, even if it should have been. Sorry.)

Anyhow, my response to this is that people who do this kind of checkpointing will simply need to make sure they configure BLIS in the appropriate way--that is, that they enable the more frequent CPUID method, rather than once-and

[2018-04-19 21:31] rvdg commented on #175
Talking about algorithmic fault tolerance.  There is this delightful paper https://experts.illinois.edu/en/publications/fault-tolerant-high-performance-matrix-multiplication-theory-and- <https://experts.illinois.edu/en/publications/fault-tolerant-high-performance-matrix-multiplication-theory-and->
that was revisited with BLIS a few years ago, and then promptly rejected by IPDPS (or was it SCXX)?

[2018-04-25 11:39] loveshack commented on #167
For what it's worth, I noticed libxsmm disabled gcc 4.9 for avx512 <https://github.com/hfp/libxsmm/commit/47f5a382f39ed340ea8cc20239aaa38cda742eb3>.  Perhaps BLIS should do the same if avx512 isn't excluded by the binutils version anyhow.

[2018-04-30 12:55] loveshack opened #193 "rpm packaging available"
I noticed 0.3.2 is released, and I've built rpms of it for RHEL(-alike)/Fedora under https://copr.fedorainfracloud.org/coprs/loveshack/blis/

I don't know if it's appropriate to include the spec file (http://copr-dist-git.fedorainfracloud.org/cgit/loveshack/blis/blis.git/plain/blis.spec) in the distribution, but you're welcome. You might like to mention the repo, at least. I could try to get BLIS

[2018-04-30 17:53] fgvanzee commented on #167
@gareevroman I cannot reproduce any issues when targeting `knl` on Knights Landing hardware. If you are still having trouble, please let us know. Otherwise, I'll assume the issue has been fixed.

[2018-04-30 18:03] fgvanzee commented on #193
@loveshack This is great, Dave. Thank you for all of the effort you put into this.

1. I would most definitely love to mention your repository. In fact, I would like to link your packages homepage [1] from the `README.md` so that they are visible via the front/landing page of https://github.com/flame/blis/ . I assume you don't object to this, but let me know if you have any issues.

2. I also thin

[2018-04-30 18:12] fgvanzee commented on #189
@jeffhammond Just checking in. Let me know if it still needs attention and/or if you're still working on it. (It may have also been resolved somewhere along the way without anyone.)

[2018-05-01 12:46] loveshack commented on #193
You wrote:

Sure; it's all public stuff "in the hope that it will be useful".
That's the appropriate URL.  (No guarantees of how it will be
maintained, of course, and it's unofficial, but the packaging should be
roughly OK to be reviewed for inclusion in Fedora.)  I should have said
comments welcome, and to see README.Fedora from the installed package or
embedded in the spec
<http://copr-dist-git.

[2018-05-01 18:48] fgvanzee commented on #193
@loveshack Could you point us to the confusing linear algebra policy? As someone with zero expertise in contributing binary packages, I find it strange that they would have a policy specific to LA. (Getting into Ubuntu would be a huge coup for us, but we understand if it doesn't make sense for you at the moment.)

I've added a link to your Copr to the BLIS homepage. Thanks again.

[2018-05-02 15:07] loveshack commented on #193
You wrote:

My confusion is that I thought there actually was a clear policy on what
BLAS packaging should do, but the reference I made in
https://loveshack.fedorapeople.org/blas-subversion.html to
https://wiki.debian.org/DebianScience/LinearAlgebraLibraries doesn't
actually specify that.

The basic idea, as I understand it, is that anything providing a BLAS
interface should provide a shared libra

[2018-05-02 21:07] fgvanzee commented on #193
Thanks for the policy discussion. Yes, that makes sense. No worries about Ubuntu. You raise a good point that RHEL probably targets our core audience better anyway.

And yes, if the user is interested in more than just BLAS APIs, BLIS does indeed provide added value over OpenBLAS. :)

[2018-05-04 12:08] nschloe opened #195 "config: --libdir"
I was just looking into creating a Debian package for BLIS and found that `configure` is a little non-standard (read: not line autotools ./configure).  In particular, the libdir needs to be set to `--libdir=/usr/lib/x86_64-linux-gnu` which I think is not possible right now.

[2018-05-04 13:12] fgvanzee commented on #195
Thanks for this feedback, @nschloe . You're right that BLIS's `configure` is somewhat non-standard (at least in the sense that it does not closely conform to `autoconf`-created scripts).

Adding a `--libdir` option is certainly something I can work on, especially if it facilitates the creation of additional packages.

Because I've never used `--libdir` (though I've used `--prefix` many times), I j

[2018-05-04 13:34] nschloe commented on #195
Indeed, overriding whatever is specified via `--prefix`.

Alright, yeah. For future reference, the full default autotools config line is
[code]

[2018-05-04 13:37] fgvanzee commented on #195
Thanks @nschloe . I'll work on this later today.

Thanks again for your comments, and for expressing interest in Debian packages! Please let us know if there is anything else that would be needed to facilitate your work.

[2018-05-04 13:41] nschloe opened #196 "library filenames"
Right now, BLIS inserts versions into file names à la
[code]
However, the generic versioned filenames for Unix libraries _append_ the version to shared library files like
[code]
The intermediate `libblas.so.3` is for ABI-stable changes. Check your own `/usr/lib` for more examples.

Moreover, as you can see, static libraries are _never_ versioned. And why should they? The entire library is built in

[2018-05-04 13:52] devinamatthews commented on #196
Just a quick nit: the x.y.z in libfoo.so.x.y.z is *not* quite the same as the library version. I understand the exact meaning of these numbers to be OS-dependent (see e.g. https://autotools.io/libtool/version.html). *BUT*, I think that since BLIS does not (yet) have multiple ABI versions that libblis.so -> libblis.so.0 -> libblis.so.0.0.0 would work.

libfoo-x.y.z.so is not unprecedented either, t

[2018-05-04 13:58] nschloe opened #197 "`make clean` fails before `./configure`"
Another one in preparation of a Debian package: `make clean` and friends (`distclean` etc) bail out with
[code]
They should run without having run configure.

[2018-05-04 13:59] fgvanzee commented on #196
I know you meant the question as more rhetorical, but there is actually an answer, and it is related to the inclusion of the architecture in the filename of the libraries. Sometimes, developers will be working on multiple hardware systems that all share the same home directory. If the developer is installing the libraries to his home directory, either out of preference (maybe he doesn't want to mu

[2018-05-04 14:03] devinamatthews commented on #197
For a "normal" autotools project, what is the desired outcome? Without running `configure` I would expect something like

[code]

[2018-05-04 14:08] nschloe commented on #196
This really sounds like a development thing to be then. Perhaps there could be `--devel` config flag that turns on this kind of stuff?

[2018-05-04 14:11] nschloe commented on #197
Indeed. At some points in the Debian build process, the helpers check if there already is a Makefile and if yes, run `clean` on it. The most autotoolsy approach would probably be to rename `Makefile` to `Makefile.in` and just copy it over at configure time, but perhaps making the `clean` target run before configure is easier and more useful here.

[2018-05-04 14:13] devinamatthews commented on #197
Ah, that makes sense. I agree that if `Makefile` exists it should probably work.

[2018-05-04 18:57] fgvanzee commented on #196
@nschloe Yes, I think I can come up with a `configure` option that enables inclusion of architecture in the library names, and perhaps a separate option that enables inclusion of the version number. Thanks for the suggestion.

[2018-05-07 19:41] fgvanzee commented on #197
@nschloe This is hopefully fixed now in b09e4e8. I'll likely move on to issue #195 next.

[2018-05-08 00:01] fgvanzee commented on #195
@nschloe I've pushed a commit (7e5648ca) to address this issue. Give it a try and let me know if you need further tweaks vis-a-vis `--libdir` and `--includedir`.

[2018-05-08 07:13] nschloe commented on #195
Cool, let's close this.

[2018-05-08 07:13] #195 closed

[2018-05-09 23:36] fgvanzee commented on #196
@nschloe Okay, here's where I am. We now have a switch that toggles the build system between a "user" mode:
[code]
And a "developer" mode:
[code]
with the above being the output of `ls -l` on `LIBDIR` after installation, if it wasn't intuitively clear. Under this proposal, the build system would default to "user" mode.

Does this appear acceptable?

[2018-05-10 01:03] devinamatthews commented on #196
Canonically `libblis.so` and `libblis.so.0` would be symlinks to `libblis.so.0.0.0`. Of course macOS is different, with either `libblis.dylib -> `libblis.0.dylib` and `libblis.0.dylib -> libblis.0.0.0.dylib` or with the former being `libblis.dylib -> libblis.0.0.0.dylib` as well. I don't think the numbers mean the same thing on macOS either but we don't actual have a version ABI so it doesn't matt

[2018-05-10 16:05] nschloe commented on #196
[code]
I would have expected `libblis.so.0.3.2` but looks good to me otherwise.

[2018-05-10 17:10] fgvanzee commented on #196
@devinamatthews Sorry about the symlinking fail. I hadn't taken a close enough look at what was conventional (or even what @nschloe used in his example) before deciding what to do. I'll fix it.

@nschloe Did you expect `libblis.so.0.3.2` because (a) it exactly matches the BLIS version number, or (b) you expected us to append the `3.2` of the BLIS version to the current `.so` major version number `

[2018-05-10 18:50] fgvanzee commented on #196
Updated output (developer mode):
[code]
User mode would omit the version/configuration symlinks.

[2018-05-10 20:07] fgvanzee commented on #196
I'm now leaning towards the following naming for user mode:
[code]
and developer mode:
[code]

[2018-05-10 20:11] devinamatthews commented on #196
I still don't quite see the utility of "developer mode" (over different out-of-tree builds/install prefixes), but I imagine you can do what you want with it since you/our group will probably be the only ones to use it.

[2018-05-10 20:35] fgvanzee commented on #196
@devinamatthews I suppose you're right: the utility is limited to those who need to be able to *install* different configurations of BLIS to the same libdir, and now that I think about it, as I developer I rarely run `install` targets because the test infrastructure in BLIS is currently set up to link against the local (pre-installed) copy.

So I'll nix the developer mode. Less is more.

[2018-05-10 20:57] fgvanzee commented on #196
@nschloe Look at commit b699bb1 and let me know if this will work for your needs.

[2018-05-10 21:16] devinamatthews commented on #122
Just a quick update: I just hacked up a custom CPUID definition file for SKX with a proper brand string so that 2 VPUs are detected, and it works (in TBLIS, but should work the same in BLIS). So, with a full set of CPUID files (which are pretty easy to generate/change) we can test at least the level 1v, 1f, and 3m ukernels for all non-FMA4 architectures on Travis. This is all Intel and AMD archite

[2018-05-10 21:29] fgvanzee commented on #122
Thanks for the update, Devin. Being able to test all architectures (except poor Bulldozer) in Travis would be quite appealing. Please point me to some code in TBLIS when you're done and settled so I can look into duplicating the setup in BLIS. (Or you can do a PR :) but I know you're busy these days.)

[2018-05-10 21:55] devinamatthews commented on #122
I'll make up CPUID files for all archs and make a PR. Jeff's PR (#124) has the Travis-side stuff. QEMU is the other option -- I've tested it for ARM32/64 and I think it should do Bulldozer too. It doesn't do AVX512 so we'll need SDE in any case.

[2018-05-10 22:03] devinamatthews commented on #122
@jeffhammond problem: the CPUID definition files in SDE have a restrictive copyright notice, do we need to clean-room them to distribute with BLIS?

[2018-05-10 22:19] fgvanzee opened #199 "Enable shared library build by default?"
Can you think of any reasons we *shouldn't* enable building shared libraries by default?

On a related topic, to support shared libraries on OS X, do I need to do anything aside from using the appropriate flag (`-dynamiclib`) and file suffix (`.dylib`)?

[2018-05-10 22:27] devinamatthews commented on #199
No.

Re macOS, technically there are more things to tweak like the install name, but if it links and runs a test program then go with it.

[2018-05-10 22:41] devinamatthews commented on #122
NVM: http://instlatx64.atw.hu/ has SKX dumps now.

[2018-05-10 23:37] fgvanzee commented on #199
Thank Devin.

Commit 4b72a46 should take care of this now.

[2018-05-10 23:37] #199 closed

[2018-05-10 23:49] fgvanzee opened #200 "Better handling of shared libraries on OS X"
Changes:
- Use the `.dylib` suffix on OS X (instead of `.so`).
- Link with the `-dynamiclib` and `-install_name` options on OS X (instead of `-shared` and `-soname`).

I'll try to finish working on this tomorrow. (Thanks for the tips, @devinamatthews .)

[2018-05-11 00:33] ararslan commented on #200
Note that this was previously reported in #153. :slightly_smiling_face:

[2018-05-11 01:01] ararslan opened #201 "Default compiler is misidentified on OpenBSD"
In the `configure` script, having GCC on the user's `PATH` takes precedence over Clang or `cc`. This ends up picking up OpenBSD's default GCC 4.2.1 installation, which is too old to build BLIS. GCC is actually no longer the default compiler on OpenBSD; `cc` now points to `clang` as of OpenBSD 6.2.

This poses a subtly different problem on FreeBSD, where Clang is the default compiler as of FreeBSD

[2018-05-11 01:36] ararslan opened #202 "Bus error while running tests on OpenBSD"
First I should note that I had to install Bash (it isn't installed by default) and make the following change in order to build on OpenBSD:
[code]
Now, to configure, build, and test BLIS on OpenBSD 6.2, I ran
[code]
which produced the following error:
[code]
I read the core dump file with GDB. Here's the backtrace:
[code]
The full configuration and build log is here: https://gist.github.com/ararsla

[2018-05-11 01:40] fgvanzee commented on #200
Apologies, @ararslan (and @gaming-hacker) and thank you kindly for pointing this out. (Sometimes I am bad about sifting through open issues.) I will cross-post to #153 until this is resolved.

[2018-05-11 01:46] devinamatthews commented on #201
One possible problem is that using `cc` will pick up the system compiler on macOS (which is a problem for homebrew users who would prefer `gcc` or non-Apple `clang`) and on Linux (where a user-built or -loaded compiler will be skipped). I see three options:

1. Pick the "least bad" ordering and stick with it.
2. Use different ordering for different operating systems.
3. Detect all compilers and pi

[2018-05-11 01:48] devinamatthews commented on #202
2 Qs:

1. Does `python` -> `python2` work instead of `python2.7`?
2. What is the problem that led to needing bash? We try to be POSIX-compliant. `gmake` is another issue...

[2018-05-11 01:49] devinamatthews commented on #202
Also, can you please share your HW details and specific git commit used.

[2018-05-11 09:24] kali opened #203 "haswell/bli_sgemm_zen_asm_6x16 segfaults on small unpadded matrix"
On a recent macbook pro, blis configure picks haswell as expected, but segfault on 1x1 unpadded inputs.

My intuition is this is a case where the packing is bypassed (because useless), so in the end, the kernel accesses the unpadded input

I've reduced the issue to the following `main.c`:

[code]

Here is the output, and a backtrace on the segfault obtained with lldb.

[code]

If I switch  (`#if 0

[2018-05-11 12:38] jeffhammond commented on #201
On Mac, BLIS is doing the right thing, because the system compiler is crippled (e.g. has no OpenMP).  For OpenBSD, we should prioritize `cc` over compilers `PATH`.

[2018-05-11 18:13] fgvanzee commented on #196
@nschloe Fabulous. Thanks so much for your contributions, Nico.

Would you mind if I linked to your packages from the main BLIS github page (`README.md`)?

[2018-05-11 18:17] nschloe commented on #196
Not at all. I'll update the package once in a while.

[2018-05-11 18:19] fgvanzee commented on #196
Great. We hope you stay involved in the future. :) Thanks again for helping make BLIS better and more usable.

[2018-05-11 19:53] ararslan commented on #202
Answers to your question:
1. For some reason OpenBSD doesn't symlink `python2` like other platforms, so `/usr/bin/env python2` similarly doesn't work. Your guess is as good as mine as to why they chose to do this.
2. The shell scripts here are written as `/usr/bin/env bash`, which tries to use `bash`. If the scripts are POSIX-compliant, perhaps the shebang lines should just be `/bin/sh`?

Git comm

[2018-05-11 19:56] ararslan commented on #202
Regarding `gmake`, that's no problem, that's just how BSDs refer to GNU Make, since `make` points to the incompatible BSD Make. As long as the Makefiles here are written to use `$(MAKE)` when calling Make from a Makefile, all is well.

[2018-05-11 20:58] jeffhammond commented on #122
@devinamatthews Send me email at my Intel address to discuss.  I will try to figure it out.

[2018-05-11 20:59] ararslan opened #204 "Segfault during tests on FreeBSD"
FreeBSD 11.1-RELEASE-p10 amd64 (x86-64), `cc` is Clang 4.0.0. Running on Intel Core i5-2520M @ 2.50GHz. BLIS commit 4b72a462d7467cf815422aafac7b05037d2e3b13. No changes made to any code.

Steps:
[code]
Error:
[code]
Backtrace from LLDB:
[code]
The full configuration, build, and test log, as well as more thorough output from LLDB, is here: https://gist.github.com/ararslan/aeab688c2eb2a7432d64c6e2f5

[2018-05-11 22:30] devinamatthews commented on #204
@fgvanzee if you want to spin an OpenBSD VM feel free to debug or I can take a look next week.

[2018-05-11 22:41] ararslan commented on #204
Just to clarify, this issue is about FreeBSD, whereas #201 and #202 are about OpenBSD. I've been trying BLIS out on both. :slightly_smiling_face:

[2018-05-11 23:29] fgvanzee commented on #203
Thanks for this report, @kali . I will begin looking into it.

FWIW, it shouldn't matter if the input buffers are padded or not. AMD has contributed some special "small matrix" handling code that is activated only for their configurations (e.g. `zen`), and in that case perhaps it might matter since, as you suggest, packing is skipped. But you already indicated that `configure` chose `haswell` as e

[2018-05-11 23:30] fgvanzee commented on #203
BTW, what happens if you run the BLAS test drivers? (After running `configure` and `make`, just run `make checkblas`.)

[2018-05-11 23:48] fgvanzee commented on #203
I also tried using 89acd9e, which is I think the version you were using (0.3.2-9). Same result. :-\

Any suggestions, @devinamatthews ?

[2018-05-12 00:59] fgvanzee commented on #153
@gaming-hacker This issue has been addressed in af1d847. Thanks for your patience, and sorry it took us so long to get around to this.

Please give it a try and let us know if the changes are satisfactory.

[2018-05-12 01:00] fgvanzee commented on #200
@ararslan This issue has been fixed (hopefully) by af1d847. Please let us know if you encounter any problems or find that it needs further attention.

[2018-05-12 02:07] fgvanzee commented on #193
@loveshack I'm going to close this issue now that your packages are linked from the homepage (`README.md`). Many thanks.

[2018-05-12 02:07] #193 closed

[2018-05-12 02:09] fgvanzee commented on #142
Not sure if I ever got to the bottom of this, but it's hopefully moot now. Closing.

[2018-05-12 02:09] #142 closed

[2018-05-12 02:13] ararslan commented on #200
Looks good to me! Probably safe to close this and #153 now, I'd think.

[2018-05-12 02:14] fgvanzee commented on #200
Great, thanks. Will do.

[2018-05-12 02:14] #200 closed

[2018-05-12 02:15] #153 closed

[2018-05-12 05:44] kali commented on #203
Mmm... I'm afraid I have wasted your time. Looking closer at things, trying to reproduce on a linux docker container, I realise that I only observe the segfault if I link my main.c against lib/libblis-0.3.2-9-haswell.a . Not when linking against lib/haswell/libblis.a . So I'm afraid I may have mixed two builds for two different versions of the code, crossing over the recent changes around librarie

[2018-05-13 22:41] fgvanzee commented on #203
Thanks for the update, @kali . No worries--these things happen.

[2018-05-13 22:41] #203 closed

[2018-05-13 22:47] fgvanzee commented on #201
Thanks for breaking it down for us, Devin. Also, thanks for your suggestion, Jeff.

I've never used OpenBSD, nor do I have access to a system with it installed. Can someone tell me if we can rely on `uname` to detect OpenBSD, and if so, what is the expected output of `uname -s`? Is it simply `OpenBSD`?

[2018-05-14 15:39] ararslan commented on #201
Yes, `uname -s` is OpenBSD on OpenBSD.

[2018-05-14 16:24] nschloe opened #205 "configs for which arch?"
In https://github.com/flame/blis/tree/master/config, one finds configs for different CPU architectures. It's not always entire clear when to use which config. For examples, there's `x86_64` _and_ `amd64` and `intel64`. What's the difference between them? A small clarifying `README.md` in each directory would help out.

[2018-05-14 21:26] fgvanzee commented on #201
@ararslan Okay, give 55ebf24d a shot. The normal search list/order is now `gcc clang cc`, except on OpenBSD, where it is `cc gcc clang`. (And if `CC` is set, it is added to the beginning of the search list automatically.)

[2018-05-14 21:32] ararslan commented on #201
Any chance it could be `cc clang gcc` (Clang before GCC) on both OpenBSD and FreeBSD?

[2018-05-14 21:35] ararslan commented on #201
Looks like 55ebf24 fixes this on OpenBSD. Thanks!

[2018-05-14 21:35] #201 closed

[2018-05-14 21:47] sandwichmaker opened #207 "Unable to build using Android NDK + CLANG"
I am interested in building BLIS on android and comparing its performance with OpenBLAS and Eigen.

Even though current versions of the android-ndk ship with the GCC compiler as an option, the use of GCC in the NDK is deprecated:

[https://android.googlesource.com/platform/ndk.git/+/master/CHANGELOG.md](https://android.googlesource.com/platform/ndk.git/+/master/CHANGELOG.md)

Currently the BUILD b

[2018-05-14 22:01] fgvanzee commented on #201
@ararslan Yes, I will change it to `cc clang gcc` for OpenBSD and FreeBSD.

[2018-05-14 22:04] sandwichmaker commented on #207
Passing -fno-integrated-as as recommended by [Clang Migration Notes](https://android.googlesource.com/platform/ndk.git/+/master/docs/ClangMigration.md) does not help either.

[2018-05-14 22:07] fgvanzee commented on #201
Okay, try 9dbce16.

[2018-05-14 22:15] gaming-hacker commented on #200
No worries, nice clean up.

[2018-05-14 22:48] fgvanzee commented on #205
@nschloe The key to understanding the sub-configurations in the `config` directory begins with the configuration registry in `config_registry`, which is explained in detail by the rather long [ConfigurationHowTo](https://github.com/flame/blis/wiki/ConfigurationHowTo) wiki.

Even if you just peek inside `config_registry`, you'll probably get a better feeling for how configuration families work in B

[2018-05-14 22:48] #205 closed

[2018-05-14 23:01] fgvanzee commented on #202
@ararslan What configuration are you targeting?

I just realized that the compiler selected by `configure` isn't actually being communicated to `make`. This sounds like a totally bone-headed mistake, but it is only half as bone-headed as it seems since there is some history behind this relating to why `configure` is querying the compiler at all.

The point is, currently, even if `configure` choose

[2018-05-14 23:04] fgvanzee opened #208 "CC in config.mk not being set by configure"
The compiler selected by `configure` isn't actually being communicated to `make` via substitution into `config.mk.in` unless `CC` was set.

EDIT: Same issue with compiler vendor.

I propose that the compiler and compiler vendor discovered by `configure` be honored and the compiler detection code in the various `make_defs.mk` be removed.

[2018-05-14 23:30] ararslan commented on #202
That's quite bizarre. In my configuration step I'm explicitly specifying `CC=cc`, which I assumed was safe, because:
[code]
Interestingly, if I specify `CC=clang`, I also get `configure` telling me that it found version 4.2.1.

`auto`

[2018-05-14 23:32] ararslan commented on #202
The plot thickens... based on current master,
[code]
Full log: https://gist.github.com/ararslan/af959e918dce3f93844edd069173db19

So just running `gmake` on OpenBSD no longer works...

[2018-05-14 23:33] fgvanzee commented on #202
I've opened #208 . It will hopefully bring us closer to resolution on this.

Not sure what to make of the sudden `gmake` brokenness, though. :-\

[2018-05-14 23:39] fgvanzee commented on #202
Give ad67dc4e a try. This commit should actually compile with the same compiler that was selected by `configure` regardless of whether that compiler was selected because `CC` was set, or because it was found in the compiler search list for the detected OS.

[2018-05-14 23:48] fgvanzee commented on #208
This is hopefully fixed by ad67dc4.

[2018-05-14 23:51] fgvanzee commented on #207
@sandwichmaker Thanks for this report.

Unfortunately we are light on ARM expertise in the core BLIS development group, so I can't speak for why the code was written to clobber the nine extra registers.

We just added a feature that allows us to modify the default compiler search list based on OS (specifically, the result of `uname -s`) and also fixed a related issue with the compiler being miscom

[2018-05-15 00:03] #208 closed

[2018-05-15 00:14] devinamatthews commented on #201
Is `cc` updated when a newer version of `clang` is installed (via ports?)? If *not*, then perhaps `clang gcc cc` would make the most sense on *BSD (or `gcc` last).

[2018-05-15 00:18] sandwichmaker commented on #207
@fgvanzee this is not a compiler search issue. I am cross compiling for android on linux using the [android-ndk](https://developer.android.com/ndk/downloads/). It is using the right compiler toolchain.

The settings I had to mess with in make_defs.mk are compiler flags that are GCC specific and are not recognized by CLANG. Thats a minor thing.

The big issue is that the inline assembly compiles wi

[2018-05-15 01:46] fgvanzee commented on #207
@sandwichmaker I see. Sorry for the misunderstanding. Yes, Francisco (@figual) would be the person to ask. Hopefully he has his github notifications turned on. :) (If he doesn't respond in a day or two, I can send him an email.)

[2018-05-15 08:49] nschloe commented on #205
Perfect, thank you.

[2018-05-15 17:07] #167 closed

[2018-05-15 17:29] figual commented on #207
@sandwichmaker Thanks for your report. I'm looking at it and will come back to you if I need more details, especially with CLANG-related details.

[2018-05-16 20:32] ararslan commented on #204
Here's one way to do it:
* Get a hypervisor, e.g. https://www.virtualbox.org/
* Download a FreeBSD 11.1 virtual machine image from https://download.freebsd.org/ftp/releases/VM-IMAGES/11.1-RELEASE/amd64/Latest/
* Import the virtual machine image into VirtualBox
* Once you have the VM set up, log in as root and do:
[code]
* As a user, do:
[code]
* This will likely segfault, and you can inspect the c

[2018-05-16 21:11] fgvanzee commented on #204
@ararslan We found some integer-related bugs in various microkernels, one of them being sandybridge. Ideally, this segfault would be related to those bugs. I'll let you know when it's fixed.

[2018-05-16 22:30] fgvanzee commented on #204
@ararslan Would you mind trying the latest commit, 2e31dd7? We may have fixed your issue after stumbling upon it in a different context.

[2018-05-16 22:36] fgvanzee commented on #202
@ararslan As mentioned in #204, recent commits 12dfa95 and 2e31dd7 may further increase the odds that this issue is resolved. Let us know how it goes.

[2018-05-16 22:55] ararslan commented on #202
This has indeed been fixed! All tests pass without errors on OpenBSD. Thanks!

[2018-05-16 22:55] #202 closed

[2018-05-16 22:56] ararslan commented on #204
That seems to have done the trick! All tests pass on FreeBSD now with no segfaults. Thanks!

[2018-05-16 22:56] #204 closed

[2018-05-16 23:01] fgvanzee commented on #202
Great to hear. Thanks for the update, Alex.

[2018-05-16 23:02] fgvanzee commented on #204
More good news! :)

[2018-05-16 23:03] fgvanzee commented on #207
@sandwichmaker We've fixed some runtime microkernel bugs in 12dfa95 and 2e31dd7 unrelated to the `clang` vs. `gcc` issue (though they would have needed to get fixed anyway). But @figual may still yet have insights to share regarding the compilation via `clang`.

[2018-05-16 23:25] devinamatthews commented on #204
@ararslan how big is `long int` on FreeBSD amd64? I only think a plain `./configure` would cause problems before 2e31dd7 if `inc_t == long int` was smaller than 64 bits.

[2018-05-16 23:31] ararslan commented on #204
`sizeof(long int)` says 8 on my system, so I guess 64 bits.

[2018-05-16 23:39] devinamatthews commented on #204
@fgvanzee I can't see why this would fix any problems on x86_64 BSD or Linux, as `inc_t` is already 64-bit. Ideas?

[2018-05-16 23:42] fgvanzee commented on #137
@lujnan Sorry we were not able to address your issue last year. We've fixed some bugs recently that may or may not help you get further along. If you have time and interest, please give our latest `master` branch a try.

[2018-05-16 23:45] fgvanzee commented on #204
@devinamatthews Did you see 12dfa95, which was committed just before 2e31dd7? The details of the commit log will hopefully explain the answer to your question.

[2018-05-16 23:47] ararslan commented on #204
Yes, it seems more likely that https://github.com/flame/blis/commit/12dfa9516428b4092554f0ce70b07571d35de222 was indeed the one that fixed it, but I can bisect if it's important.

[2018-05-16 23:58] devinamatthews commented on #204
Ah, that explains it. Good changes to the ukrs for possible Windows support though.

[2018-05-17 18:36] sandwichmaker commented on #207
Thanks for the update @fgvanzee. I appreciate you and @figual looking into it.

[2018-05-17 20:25] fgvanzee commented on #175
@devinamatthews This should be addressed now in 10c9e8f.

[2018-05-17 20:55] tonyskjellum commented on #175
Field, do you have a specialized kernel family for specific xeons such as the embedded xeons— just curious .  Thanks Tony

Anthony Skjellum, PhD
205-807-4968

[2018-05-17 21:15] fgvanzee commented on #175
@tonyskjellum We target by instruction sets; product names and models are mostly meaningless to us. For example: Sandy Bridge and Ivy Bridge both used AVX, so they use the same level-3 microkernel. Haswell and Broadwell added FMA instructions, and so they get a different microkernel.

[2018-05-17 21:20] devinamatthews commented on #175
@tonyskjellum are there any differences w.r.t. server Xeon in pipelines or the L1 and L2 caches? We probably should do something at runtime to detect how much L3 cache is present but that is a fairly weak effect on performance anyways.

[2018-05-17 22:41] tonyskjellum commented on #175
Hi, Got it ; will look at those variants ; thank you
Tony

Anthony Skjellum, PhD
205-807-4968

[2018-05-18 19:00] #175 closed

[2018-05-22 20:07] fgvanzee opened #210 "Getting BLIS into Ubuntu"
Robert asked me recently, "What would it take for BLIS to be incorporated into Ubuntu?"

Some light Googling lead me to understand that there are [four main repositories](https://help.ubuntu.com/community/Repositories) in Ubuntu: main, restricted, universe, multiverse. It sounds like we would be okay being in universe at least at first, especially if we need more time to prove ourselves suitable f

[2018-05-22 20:13] devinamatthews commented on #210
Regarding having BLIS in a PPA (either Debian or Ubuntu, or does it matter?): on OpenSUSE there are the regular packages in the "official" repos, but there are also "1-Click" install files which prompt the package manager to both add an external package repo (the PPA in our case) and then install the package. Does something like this exist for Debian/Ubuntu? The upside of this would be not needing

[2018-05-22 20:27] devinamatthews commented on #210
The "1-Click" thing is slightly different in that one can just have a link on a webpage that the user clicks on, and then everything is automated from there. Adding a PPA manually to Ubuntu is relatively much more of a PITA.

[2018-05-22 20:44] fgvanzee commented on #210
@devinamatthews Understood, sorry for that nuance being lost on me. (I've never used OpenSuSE.)

[2018-05-23 08:02] nschloe commented on #210
I myself am a Debian Maintainer (DM) so I have a fair idea of how things are working. A package gets into Debian if (a) it's popular enough for people to want it or (b) if another package depends on it. This approach is typically taken somewhat conservatively since if you're volunteering to maintain a package, it's your task _forever_. For example, even though I follow BLIS with great interest, I

[2018-05-23 20:43] devinamatthews opened #211 "Possible bug in Penryn 1f kernels"
GCC reports:

[code]

The same occurs for `dotxaxpyf` and `dotxf`.

[2018-05-23 20:45] fgvanzee commented on #211
This likely became an issue recently, when I converted most of the macros to static functions.

I'll take a look at it and try to make the compiler happy.

[2018-05-23 20:46] devinamatthews commented on #211
I guess it "probably works" on x86_64 but could cause problems elsewhere.

[2018-05-23 21:59] fgvanzee commented on #211
Should be fixed now in 5140ee3.

[2018-05-29 15:13] #211 closed

[2018-05-29 15:15] devinamatthews commented on #122
This is working in ab70a87, so I am going to close.

[2018-05-30 11:42] loveshack opened #213 "include rpm spec file?"
Since there's now Debian packaging included in the repo, it might be appropriate to include the rpm packaging (spec file) too, from http://copr-dist-git.fedorainfracloud.org/cgit/loveshack/blis/blis.git/plain/blis.spec
That should now work on OpenSuSE, but I'm somewhat confused about versions of that, and realize I haven't submitted builds for the blis copr.

[2018-05-30 13:12] loveshack commented on #213
I should have said that if I steel myself to trying to get the package into Fedora/EPEL, I'll have to remove support for SuSE (or any other rpm-based distro) from the spec file, so it would make sense to distribute a more general one. [I think that Fedora policy is unfortunate, but there it is.]

[2018-05-30 14:18] devinamatthews commented on #213
Does that just mean we would just have two (or more) spec files or is it more restrictive than that?

[2018-05-30 18:28] loveshack commented on #213
You wrote:

I'm not sure what you mean by more restrictive, but support for other
rpm-based distributions would have to be maintained separately from the
spec file for a package putatively in Fedora (sigh).  I don't know if
any rpm-based distribution other than SuSE is relevant, or if SuSE has a
similar policy, but if there were packages maintained in Fedora/EPEL and
SuSE, this would probably be m

[2018-05-30 20:04] fgvanzee commented on #213
@loveshack Yes, now that we have Debian/Ubuntu packaging in the BLIS distribution, you are welcome to add a directory for rpm-related files if you like. What are the conventions for naming/locating such directories? (For example, @nschloe explained to me that with Debian, it's expected that it be in a directory named `debian` at the top-level directory.)

[2018-05-30 20:07] fgvanzee commented on #210
@loveshack Curious: Why is the `soname` of the shared library chosen to be 3 (in libblas.so.3)?

[2018-05-31 10:13] loveshack commented on #213
If you put blis.spec at the top level, you can build a binary or source
rpm directly from the distribution tarball (with rpmbuild -tb or
rpmbuild -ts respectively).  Some people put the spec in something like
an "rpm" subdir, but I don't think there's any reason to do that.

[2018-05-31 10:27] loveshack commented on #210
The idea is that it can substitute the netlib library via
LD_LIBRARY_PATH or ld.so.conf.  If README.Fedora isn't clear (it's
inline in the spec file), I'll try to make it so.  [It currently has a
typo, and I need to make it README.SuSE on SuSE.]  Maybe also see
https://loveshack.fedorapeople.org/blas-subversion.html if I haven't
mentioned it, but it needs some updating, and experimental data mostl

[2018-05-31 16:31] fgvanzee commented on #213
@loveshack What would the `rpmbuild -tb` command look like if the `blis.spec` file were in an `rpm` directory? I'll be honest that I'd actually prefer to tuck it away to be consistent with the `debian` package files, and to give the reader/user a more descriptive cue as to what `blis.spec` relates to.

[2018-05-31 16:36] fgvanzee commented on #210
Thanks Dave, but I guess my question is why is it a convention that `libblas.so.3` use an `soname` of 3? Is it because BLAS did not change after the introduction of the level-3 operations? I can't help but notice that all of the other netlib libraries seem to use an `soname` of 3 as well. Maybe it has to do with the current major version number of LAPACK? (It's okay if you don't know the answer.)

[2018-06-01 17:19] loveshack commented on #213
You wrote:

As far as I know, there isn't one that will work.  You have to unpack
the tarball, copy the spec to ~/rpmbuild/SPECS, copy the tarball to
~/rpmbuild/SOURCES and run rpmbuild on the spec.

Up to you, but I reckon it's consistent to put the build recipes (debian
directory and rpm spec file) at the same level.  If people don't
recognize a spec file, I doubt they'll know what to do with it

[2018-06-01 17:23] loveshack commented on #210
You wrote:

The soname major version changes when there's an incompatible ABI
change.  It's nothing specifically to do with BLAS levels.  Explained
somewhere in the autotools doc, at least.

It's related, but not specifically following that.  The Debian changelog
says this.  I don't know what it was initially.

[code]

The libblas soversion is the same as liblpack's in both Debian and
RHEL(/Fedora

[2018-06-01 17:24] fgvanzee commented on #213
@loveshack Thanks for those details, Dave. One last idea: is there any flexibility on what we can name the spec file? Could we name it `blis-rpm.spec`? Or would that not make sense given naming conventions and/or requirements of `rpmbuild`?

[2018-06-01 17:30] fgvanzee commented on #210
@loveshack Okay, sounds like the "3" is just coincidence then.

(A library increasing its `soname` occasionally is not surprising to me. But my question was motivated by the fact that I was under the impression that netlib BLAS, which is what I think of when I see `libblas`, simply did not experience the kinds of changes that would break its ABI, since it was unrolled in a way that did not break o

[2018-06-03 13:56] tonyskjellum opened #214 "Haswell indirectly blacklisted?"
Hi Field, cloned a new copy of BLIS this AM, so this is the latest hash(469727d).

Here is the configuration of this AVX2 capable Intel processor (Haswell E), but I am failing miserably.  Configuration generic works, however.

Trying to configure BLIS; generic works; by specifying either auto and haswell fails...
[code]
Checked the processor type; has AVX and AVX2
[code]
Any advice appreciated.

T

[2018-06-03 15:54] tonyskjellum opened #215 "Some examples don't build"
Field, sorry to bug you, but this is strange; some of the examples build OK (a few have warnings for printf macros, but they compile OK)... However, I don't see an obvious way to fix these errors:

oapi$ make ENABLE_VERBOSE=yes
gcc -O3 -Wall -Wno-unused-function -Wfatal-errors -fPIC -std=c99 -D_POSIX_C_SOURCE=200112L -I../../include/generic -I../../frame/3/ -I../../frame/ind/ukernels/ -I../../fram

[2018-06-03 18:05] fgvanzee commented on #215
@tonyskjellum Thanks for the report. I'll look into this. Also, pardon my reformatting of your post.

[2018-06-03 18:26] fgvanzee commented on #215
@tonyskjellum I've pushed a commit (d7fb326) to fix the syntax errors. They were the result of a rather extensive (and sed-intensive) set of changes I made a month ago in 4b36e85. A couple of my sed commands were malformed, resulting in bad substitutions, which were not caught immediately because they were in the example code, which I don't run often. Thanks for the feedback.

[2018-06-03 18:57] tonyskjellum commented on #215
Field, that's what I figured... upgrades always cause a little pain... I
appreciate the weekend resolution and explanation.

Tony

On Sun, Jun 3, 2018 at 2:26 PM, Field G. Van Zee <notifications@github.com>
wrote:

--
Anthony Skjellum, PhD
skjellum@gmail.com
Cell: +1-205-807-4968

[2018-06-03 20:27] fgvanzee commented on #214
@tonyskjellum While I look into this issue, I thought I would mention that your compiler is quite old and barely supported by BLIS. I recommend upgrading to gcc 5.4 or newer, if you can.

[2018-06-03 20:50] tonyskjellum commented on #214
Will do re gcc

Anthony Skjellum, PhD
205-807-4968

[2018-06-03 21:15] fgvanzee commented on #214
@tonyskjellum I've done some digging, and it appears that `configure` is behaving exactly as designed. The problem is very subtle and nuanced. Let me explain.

First, we have this concept of blacklisting sub-configurations. This is done so that, for example, when you build the multi-configuration `x86_64` target on a system that does not know how to emit SkylakeX (AVX512) object code, it doesn't t

[2018-06-03 21:42] devinamatthews commented on #214
I think it would certainly behoove us to have `haswell` work in this and similar circumstances.

[2018-06-03 22:26] fgvanzee commented on #214
@devinamatthews The simplest option would be to stop supporting gcc 4.x, but I suspect you had something more accommodative in mind.

The next simplest option would be to relocate and rename the level-3 `zen` kernels to the `haswell` kernel set. It's somewhat of a circumstantial fix, but it works for now.

[2018-06-03 22:35] fgvanzee commented on #214
I'm beginning to think that the whole concept of indirect blacklisting was misguided. I may have failed to appreciate some of the implicit assumptions behind sub-configurations sharing kernel sets juuuust long enough to implement an unnecessary feature.

[2018-06-03 22:37] devinamatthews commented on #214
Haswell and zen may share code but I would think they would use their own flags for kernels, thus no need to blacklist.

On June 3, 2018 5:35:25 PM CDT, "Field G. Van Zee" <notifications@github.com> wrote:

[2018-06-03 22:45] fgvanzee commented on #214
@devinamatthews Precisely. BLIS's configuration system already uses the targeted sub-configuration's compilation flags even when borrowing the kernel set of another configuration. If we set up sub-configuration `foo` to use `bar`'s kernels, that implies that we expect that the `bar` kernel set to be compile-able using `foo`'s sub-configuration and its compiler flags. Thus, this doesn't really beg

[2018-06-03 23:11] fgvanzee commented on #214
@tonyskjellum This should be fixed now in 7a207e8, even without a compiler upgrade. In fact, if you haven't upgraded yet, perhaps you could give it a try for us to make sure the fix works as intended.

[2018-06-03 23:33] tonyskjellum commented on #214
Upgrading to GCC/G++ 5.5 solved the problem ; then I saw your memo.   It works fine with GCC 5.5 as I know you know.

Then I reverted to 4.8 (changes of soft links); cleaned, configured; now also works with GCC/G++ 4.8 in haswell config.

Tony

[2018-06-03 23:37] #214 closed

[2018-06-03 23:52] fgvanzee commented on #214
Great, thanks Tony.

[2018-06-04 14:35] wolfv commented on #122
Hey guys,

just a quick question as you might be able to help me out: I am trying to get SDE working on Travis to test our SIMD library (https://github.com/QuantStack/xsimd) as well but have a problem with the following error popping up. Tried to look through your code but I can't really find you configuring SDE much. Any chance you've seen this?

Btw. looking into BLIS as something to potentially

[2018-06-04 14:46] devinamatthews commented on #122
@wolfv I think I managed to work around this with `sudo: required` in the travis.yml file. Thanks for your interest in BLIS and if you are working with tensors then definitely give [TBLIS](https://github.com/devinamatthews/tblis) a try, as it has native tensor contraction etc. (I'm also work on some Tucker/CP factorization stuff currently).

[2018-06-04 15:12] wolfv commented on #122
Ok, actually I also finally got it to work with sudo required and some echo 0 > proc/yama... Thanks for the help!

It's unfortunate that TBLIS has so little documentation. I couldn't find an example of the C++ interface. Do you have a generalized, numpy-style dot in there? That would be very interesting. Maybe you want to come over to gitter.im/QuantStack/Lobby for a quick chat?

[2018-06-04 17:54] loveshack commented on #210
You wrote:

That's what I think, though I haven't checked the BLAS ABI history.  As
I said, I don't think it should be libblas.so.3, but at most .1.
Anyhow, it can't go backwards now.

[2018-06-04 17:59] loveshack commented on #213
You wrote:

You could in principle build blis-0...rpm from blis-rpm.spec (unlike a
dpkg from a "blis-dpkg" directory), but it would be frowned upon and
confusing.

I'm afraid I don't understand what problem you see with the
well-established mechanisms and conventions for packaging, but it isn't
a big problem, and I should probably just maintain the copr for now.

[2018-06-04 18:03] loveshack commented on #210
You wrote:

For what purpose?  It won't work as a dynamic substitute for the
original libblas.so.3 because the ELF soname is wrong.

Never mind.  I'll make an effort to get the packaging into Fedora
eventually -- and possibly try to shake up up the linear algebra
handling in it, but others have failed on that.

[2018-06-04 18:05] fgvanzee commented on #213
My problem--to the extent that it is an actual problem--is limited to the fact that the purpose of the file is not intuitively obvious (unless you have experience building rpms). But I was never going to let that get in the way of accepting the file, provided all other possible alternatives were exhausted, which it seems that they are now. :)

Thanks for fielding my questions. You can submit a pul

[2018-06-04 18:09] fgvanzee commented on #210
Okay, I suppose I hadn't thought of that.

Hope there aren't any hard feelings, Dave, and that you understand that I'm just trying to balance our own project's conventions with how far we bend over backwards to accommodate existing BLAS conventions (beyond the BLAS API itself). We appreciate your involvement. Let us know how the Fedora thing goes.

[2018-06-04 20:37] jeffhammond commented on #122
@wolfv SDE ships as a ready-to-go binary that you unpack and run.  Feel free to send me an email if you need help using SDE.

[2018-06-06 05:15] qnerd0815 opened #217 "Piledriver dependent builds broken"
Hello everybody,

in 0.3.2 and master the build of piledriver dependent kernels
(excavator, steamroller) is broken.

After the build process the library conains an undefined reference to
'bli_cntx_init_piledriver_ref'

This has been checked on Ubuntu 18.04 and Fedora 28.

Kind regards,

qnerd

[2018-06-06 06:27] lujnan commented on #137
@fgvanzee release version 0.3.2 now could build on buildroot.

[2018-06-06 06:27] #137 closed

[2018-06-06 14:20] ShirleyGuo opened #218 "how to change the kernel of haswell from 6x16/6x8 to 16x6/8x6"
I change the configuration from 6x16/6x8 to 16x6/8x6 in the file include/blis/blis.h before make install, but after make install, the file became unchanged, i.e.,  6x16/6x8. I don't know why. And the making the testsuite will throw error as follows:
Linking test_libblis.x against '.././lib/haswell/libblis.a -lm -lpthread -lrt'
.././lib/haswell/libblis.a(bli_cntx_init_haswell.o): In function `bli_c

[2018-06-06 20:41] fgvanzee commented on #217
@qnerd0815 Could you be more specific about the "undefined reference" error you observe? Using the head of master (commit 96d2774) I did the following:
[code]
And observed no errors during the build or the dynamic link of the shared object.

[2018-06-06 20:42] fgvanzee commented on #137
@lujnan Glad to hear the new code works for you. Thanks for the update.

[2018-06-06 20:53] fgvanzee commented on #218
@ShirleyGuo It sounds like you are trying to change the kernels used by the `haswell` subconfiguration. Is this correct?

If so, you should first be aware that in the latest commits on the master branch, the `haswell` subconfiguration actually uses gemm microkernels in the `zen` kernel set. This is intentional and no cause for concern. The Haswell and Zen microarchitectures are similar enough that

[2018-06-07 05:07] qnerd0815 commented on #217
Not the piledriver target itselft, only the dependent targets.
Please try

[code]

and you should see
[code]

Thank you for investigating this issue,

qnerd

[2018-06-07 16:54] fgvanzee commented on #217
@qnerd0815 Yes, you're right. The `steamroller` and `excavator` subconfigurations were broken due to copy-paste bugs. Here is the appropriate fix:
[code]
I'm preparing to commit this change to `master`. Would you care to share your name so I can acknowledge you in our commit log? (If not, I will just reference you by your github handle, unless you would rather I not mention you.)

[2018-06-07 17:03] loveshack commented on #210
Maybe I didn't explain it properly in the "blas-subversion" thing I
wrote.

I was trying to avoid you having to!  I don't particularly expect it to
be in the BLIS distribution, but if it isn't in distributions, it's most
useful there, and I'd think most people's interest will be in BLAS for
existing applications.  Are there applications using BLIS directly which
could be mentioned?

[2018-06-07 17:09] fgvanzee commented on #210
My apologies, I misunderstood. I thought you wanted BLIS to create a `libblas.so.3` as part of its standard `make install`. It sounds like you were instead proposing that this be a feature of the rpm? (If so, we are completely fine with that.)

By using BLIS directly, I take it you mean the "native" (typed- or object-based) BLIS APIs? We're not sure who are users are or what they might be using it

[2018-06-08 17:13] fgvanzee commented on #217
@qnerd0815 You're very welcome. Thank you for taking the time to bring these bugs to our attention, and for your interest in BLIS.

I've committed 262a62e, which contains the modifications shown in the diff patch above.

[2018-06-08 18:40] fgvanzee commented on #218
@ShirleyGuo Since you are trying to make a very specific change, I can offer some additional guidance.

As I point out above, the `haswell` subconfiguration actually uses `zen` microkernels in `kernels/zen/3`.

1. You need to make sure the microkernels you wish to use are prototyped in `kernels/zen/bli_kernels_zen.h`. We use macros for convenience, so it's just a matter of inserting the "base" nam

[2018-06-09 13:13] tonyskjellum opened #219 "Using BLIS matrix/vector objects with a different memory allocator (or with supplied memory/structure)"
Field, is it currently possible to have BLIS objects use memory that I provide?

Here is my use case:

Primitive matrix type: float type, Array, layout(RM/CM)+strides/offsets/LDA  ---> Light BLIS view/object for a Dense matrix  or vector.

Use BLIS as is on these specially allocated objects without any problems.

Deallocation of "view" doesn't touch our memory we provided to view.

In another scen

[2018-06-09 18:53] fgvanzee commented on #219
Primitive matrix type: float type, Array, strides, layout(RM/CM) ---> Light BLIS view/object for a Dense matrix
Use BLIS as is on these specially allocated objects.
Deallocation of view doesn't touch our memory we provided to view.

Yes. The verbiage we use is that we create a "bufferless" object and then "attach" the external buffer. You are responsible for allocating and freeing this external me

[2018-06-09 18:57] tonyskjellum commented on #219
Field, that is 100% perfect as a response.  Will follow up.  Thank you for
checking in an improvement to help me expedite my learning and use of BLIS
as described.
Regards,
Tony

On Sat, Jun 9, 2018 at 2:53 PM, Field G. Van Zee <notifications@github.com>
wrote:

--
Anthony Skjellum, PhD
skjellum@gmail.com
Cell: +1-205-807-4968

[2018-06-09 19:03] tonyskjellum commented on #219
Field, Just fyi:

Compiling 03obj_view.o

03obj_view.c:72:26: fatal error: expected ';' after expression

        init_dobj_by_cols( &a1 )

Fixed by adding the missing ;

Rebuild of all of BLIS was needed to get a clean build of all examples (no
surprise there, you added new capability).

Then clean build of all examples again.

Tony

On Sat, Jun 9, 2018 at 2:57 PM, Anthony Skjellum <skjellum@gmai

[2018-06-09 19:38] fgvanzee commented on #219
@tonyskjellum Thanks Tony. I'm not usually known for such embarrassing typos. It was due to a last-minute code simplification that I clearly forgot to test out. It's been fixed in 712de9b.

[2018-06-14 10:07] ShirleyGuo commented on #218
Thank you very.much. I have made it.
by the way  how haswell borrows zen's kernels?

[2018-06-14 10:07] #218 closed

[2018-06-14 10:07] ShirleyGuo commented on #218
Thank you very.much. I have made it.
by the way  how haswell borrows zen's kernels?

[2018-06-14 10:07] ShirleyGuo commented on #218
Thank you very.much. I have made it.
by the way  how haswell borrows zen's kernels?

[2018-06-14 17:14] fgvanzee commented on #218
@ShirleyGuo Glad you figured it out.

The kernel sets needed by each configuration are specified in the configuration registry, which is encoded in the `config_registry` file. The file has a very specific format. To interpret it properly, please see the [Configuration](https://github.com/flame/blis/wiki/ConfigurationHowTo) wiki.

[2018-06-16 08:39] kali opened #220 "Static linking and -dead_strip on OSX breaks inline asm kernels"
I found this issue while working on a Rust binding for BLIS, as a BLAS provider. Rust will eagerly link everything it can statically, and pass -dead_strip to OSX linker to remove unreachable code.

It turns out this breaks the haswell GEMM kernel, and possibly others.

testcase:
[code]

[code]

blis is 0.3.2, compiled for haswell. As this is on OSX, gcc is actually clang, but as far as I can tell,

[2018-06-16 14:53] devinamatthews commented on #220
Re the long jump issue, can you share the disassembly? Even on OSX I've only seen near jumps being generated (of course most of these have 32B displacements but that is unavoidable due to the code size).

As for 1f/2b jumps, we like to use descriptive label names because it makes writing and maintaining the kernels much easier. I *have* found out, though, that labels beginning with "L" seem to get

[2018-06-16 14:55] devinamatthews commented on #220
FYI I've also switched to a mini-macro-language for new kernels (e.g. the KNL and SKX kernels), so prefixing label names automatically with "L" is dead easy. The older kernels would only take a few minutes anyways, though.

[2018-06-16 16:00] kali commented on #220
My mistake, they are near jump, not far jumps, but they are not resolved and registered as a relocatable address instead.

This is the beginning of _bli_sgemm_zen_asm_6x16 from libblis.a for instance.

[code]

at 0x0099, the address is for SCONSIDKLEFT is left for the linker to compute.

otool -r shows it in the relocation table...

[code]

For comparison, this is the assembly in the final binary:

[2018-06-16 16:06] kali commented on #220
The end of the main loop in libblis.a, if it helps...

[code]

[2018-06-16 17:54] kali commented on #220
So, it appears that the convention for mach-o local symbols is "L" prefixed, without the leading dot. Replacing the dots by L makes the kernel work again. But I'm not sure how we can fix this while preserving compatibility with ELF. Unless we switch to macros as you did for the newest, that is.

[2018-06-16 18:19] devinamatthews commented on #220
Yes indeed it seems the prefix is `.L` for ELF. I had made an effort at one point to port everything over to the macro language, maybe now is the time to finish that.

One way to address the multiple symbol problem as well is to use the `%=` identifier which gives a unique identified per asm block. Can also be automated.

[2018-06-16 22:30] devinamatthews commented on #220
@fgvanzee about the macros of course you could make them lowercase (or have both). I would *not* pull them into blis.h though, because they are not prefixed with `bli_` and it would be super annoying to do so.

[2018-06-16 22:31] devinamatthews commented on #220
The other benefit of the macro approach is that in theory you can support Intel/Microsoft-style asm blocks, which would open up Windows beyond WSL.

[2018-06-16 22:37] fgvanzee commented on #220
Agreed.

Understood. This will likely make some people out there very happy (though I am not among them).

[2018-06-18 11:37] loveshack commented on #210
Sorry for the delay -- been ill.

You wrote:

Yes, it's purely a distribution thing.  Sorry I seem to be
mis-communicating so much.

I'll try to have another look at making the Debian packaging consistent
with openblas' if that would be useful.

Yes, that's what I meant.

[2018-06-18 15:49] robinchrist opened #221 "out.sblat3 and out.dblat3 failing"
Hi,

Compiled using
clang version 6.0.0-svn322567-1~exp1 (branches/release_60)
Target: x86_64-pc-linux-gnu
Thread model: posix
Used config: Zen

Test output:
out.sblat3
[code]

out.dblat3
[code]

Same error occurs with gcc version 7.2.0 (Ubuntu 7.2.0-8ubuntu3.2)!

However, it works with the `generic` and `haswell` configuration, I assume this is an issue with the `zen` configuration!

[2018-06-18 16:48] fgvanzee commented on #221
@robinchrist Thanks for this bug report. It appears to be due to a bug in AMD's small matrix implementation (which is completely optional, but enabled by default). As a temporary workaround, you can comment out the following line in `config/zen/bli_family_zen.h`:
[code]
and then reconfigure/recompile normally. I plan on disabling this macro in `master` shortly until the issue is resolved.

@nisant

[2018-06-18 17:08] fgvanzee commented on #210
I wish I could give you an emphatic "yes," but to be honest we just don't know. We hope there will be plenty of applications in the future that make use of the native interfaces.

Feel free to do so (at your own pace). We welcome your contributions.

No worries. Hope you are feeling better.

[2018-06-19 11:42] chiensh opened #222 "BG/Q support"
may I confirm that  BGQ is no longer supported by BLIS?

I cannot find the announcement of discontinued support of this platform, but no matter how hard I change the configure and all related .mk files, the latest master cannot be compiled by bgxlc anymore.  (I managed to compile version 0.2.2. before, although it did not work correctly)

[2018-06-19 16:52] fgvanzee commented on #222
@chiensh Sorry to hear about your troubles with the `bgq` configuration. As Jeff mentioned, we don't have access to the hardware (and we are short on BG/Q expertise). If you can provide more details, we (mostly Jeff) might be able to help you out.

@jeffhammond Thanks for volunteering to look into this.

[2018-06-20 12:30] loveshack opened #223 "adding extra build flags"
It would be useful if there was a hook in the build system to add extra CFLAGS and LDFLAGS on top of the optimization ones that get chosen.  When I looked before, doubtless without understanding the system properly, as far as I remember there wasn't an obvious place to edit the make fragments other then redefining the compile command; apologies if I missed something.

This came up in the review of

[2018-06-20 16:39] fgvanzee commented on #223
@loveshack I can add support for something like `EXTRA_CFLAGS` and `EXTRA_LDFLAGS`. I think that will be relatively straightforward. The semantics I envision are that you set the variables prior to running `configure`. After that, the values of those variables get embedded into `common.mk`. They will be used when compiling BLIS and linking the shared library. Furthermore, if you build the testsuit

[2018-06-20 20:39] devinamatthews commented on #220
@kali can you check that moving to the assembly macros with `L` or `.L` prefixes fixes your issue with Rust?

[2018-06-21 10:19] loveshack commented on #223
You wrote:

Yes, that's basically what I had in mind.  I guess they should go after
the normal ones in case they need to override anything (at one's own
risk).  Thanks!

[2018-06-21 14:07] kali commented on #220
@devinamatthews Yes, it does :) Thanks :)

[2018-06-21 14:07] #220 closed

[2018-06-21 17:10] fgvanzee commented on #223
@loveshack I just realized we dealt with a similar issue in libflame, [issue 14](https://github.com/flame/libflame/issues/14).

Basically, before that issue, libflame had exactly this `EXTRA_CFLAGS` feature you've requested for BLIS. But the problem for @iotamudelta was that in FreeBSD's ports system, it's assumed that some basic `CFLAGS` can be set prior to building software X, and that those val

[2018-06-22 08:10] kali opened #225 "Fragile compiler detection test"
What is the rationale for using this test (nothing on stderr) for compiler sanity check ?

https://github.com/flame/blis/blob/2000cdff59272974438e88e0e82d8e1a32710325/configure#L846

clang does something weird on macOS. When invoke as "gcc --version", it spews some configuration details on stderr.

[code]

It's not a blocker, I only encountered it because my Rust binding build helpers set CC=gcc,

[2018-06-22 09:38] loveshack commented on #223
You wrote:

That would be fine, and actually preferable, now I wake up and think.
It's what happens for a vanilla build of an autotools-configured
package, and you want the internally-set flags to override
externally-defined ones which include -O2 -mtune=generic in Fedora's
case.  I wouldn't worry about an EXTRA_ variable unless someone needs
it, or it's trivial to add.

I don't know ports, but I

[2018-06-22 10:17] kali commented on #207
For what it's worth, this is also an issue for iOS, where clang is really the only option.

[2018-06-22 20:17] fgvanzee commented on #223
@iotamudelta Yes, sounds like you followed along. Sorry that I was not more clear in catching you up on this issue. (It also occurred to me that if you wanted the new CFLAGS behavior in libflame, per issue 14, you would probably want it in BLIS as well.)

@loveshack Great. Glad this works for your purposes and, as you said, is even preferable to the `EXTRA_CFLAGS` behavior.

It turns out that @dev

[2018-06-22 23:15] fgvanzee commented on #223
@loveshack @iotamudelta I've implemented this feature in 884175d. Notice that it is available for both `CFLAGS` and `LDFLAGS`. (I later made a small update in f986396.)

Please try it out and let me know if anything looks off.

[2018-06-25 18:33] fgvanzee commented on #225
@kali It's not clear to me what problem you are reporting. Perhaps you could rephrase and clarify?

Your question, however, led me to study `select_cc()` more closely. I fixed several bugs (3f387ca) that typically did not manifest but that eventually, given enough time, would bite someone. So, thanks for that. :)

[2018-06-25 20:36] kali commented on #225
Yeah, I could have been more explicit. I apologize. I meant that an empty stderr was not a good enough criteria as clang invoked as gcc is actually printing the `Configured with: --prefix=/Applications/Xcode.app/Contents/Developer/usr --with-gxx-include-dir=/usr/include/c++/4.2.1` line on stderr.

Switching to a return code check is most certainly the right option. (except maybe for windows ?)

I

[2018-06-25 20:36] #225 closed

[2018-07-11 09:06] smavros opened #232 "Undefined references while linking"
Hello,

Following the _Linking against BLIS_ section I am trying to compile a small example with BLIS but I am getting this linker error
[code]

My configure options are ```--enable-cblas --enable-threading=openmp auto``` and my setup is
[code]
with kernels ```haswell``` and ```zen```.

I am using the latest version of _master_ bf10d8624e7b5902c9d9189c7c93f318b8e1b9a5

Any ideas on how I can resol

[2018-07-11 16:51] smavros commented on #232
I resolved the issue. The problem was due to wrong order of blis linking in my Makefile.

[2018-07-11 16:51] #232 closed

[2018-07-11 16:55] fgvanzee commented on #232
@smavros I was about to sit down and look into this, but I'm glad you were able to figure out your problem. Thanks for your interest in BLIS.

[2018-07-11 16:59] fgvanzee commented on #232
@smavros Actually, you brought my attention to the fact that the example `Makefile` in `docs/BuildSystem.md` is slightly out-of-date. Specifically, I need to add `-lpthread` since libpthread is now always required (because we need `pthread_once()`), even for sequential or OpenMP users.

[2018-07-11 17:17] smavros commented on #232
@fgvanzee You are right. I was including ```<omp.h>``` in my source and I was compiling with ```-fopenmp``` so the problem didn't show up. Without those I am getting ```undefined reference to `pthread_once'```.

[2018-07-13 19:14] #223 closed

[2018-07-13 19:15] #219 closed

[2018-07-16 21:46] jacobgorm opened #233 "Developing with BLIS and g++ 8.1 results in compile-time type errors"
I get this error when trying to compile with GCC 8.1.0:

blis/include/blis/blis.h: In function ‘dom_t bli_dt_domain(num_t)’:
blis/include/blis/blis.h:4162:14: error: invalid conversion from ‘int’ to ‘dom_t’ [-fpermissive]
  return ( dt & BLIS_DOMAIN_BIT );

I've trying adding a cast to fix this, but there are many similar functions that all require similar fixing, so in the end I had to give up.

[2018-07-16 21:48] jacobgorm opened #234 "It would be great if BLIS had HGEMM() using half-precision floats."
I am using BLIS for neural networks on embedded platforms (mostly ARMv8a), and I would like to reap the potential memory savings as well as possibly some speedups from running with half-precision floats. Are there any plans to support these in BLIS?

[2018-07-16 21:59] fgvanzee commented on #234
@jacobgorm Thanks for the suggestion. This is something that is in our medium-range plans. Of course, as you probably already know, the complicating factor is that there is no standard C language support for a `float16` datatype, so any solution would necessarily not be portable. (In principle, we can add `float16` operations, but it would take a non-trivial amount of work. Also, we would need to

[2018-07-16 22:01] fgvanzee commented on #233
@jacobgorm Is that the only thing that `gcc` prints as part of its compiler error?

[2018-07-16 22:15] jacobgorm commented on #233
Actually blis itself and its tests written C compile fine, the problem is including blis.h from a C++ program. For instance, a one-line c++ program that just includes <blis/blis.h> gives:

$ c++ bad.cpp -I build-haswell/blis/include/
In file included from bad.cpp:1:
build-haswell/blis/include/blis/blis.h: In function ‘num_t bli_dt_proj_to_real(num_t)’:
build-haswell/blis/include/blis/blis.h:4057:1

[2018-07-16 22:16] jacobgorm commented on #233
Btw, I have tried wrapping in extern "C", but that does not help.

[2018-07-16 22:23] fgvanzee commented on #233
@jacobgorm Yeah, `blis.h` already supplies the `extern "C"`. This is likely a C++ type issue.

@devinamatthews has more experience with C++. In fact, I recall him informing me that C++ treats `enums` as actual types, whereas C99 simply treats them all indistinguishably as "some integer." Devin, can you decipher what's going on here? Is this something I can fix by adding explicit typecasts? In othe

[2018-07-16 22:34] jacobgorm commented on #233
@fgvanzee that is the type of fixes I tried, it seems to work, but I did not get to the end of the compile errors (I am happy to share my 630 lines partial patch if that is helpful.)

[2018-07-16 22:40] fgvanzee commented on #233
@jacobgorm I appreciate the offer. The problem is, if you are editing the `blis.h` in the error message, you are editing the wrong file. That `blis.h` is generated from the smaller files at compile-time.

If you are editing `frame/include/bli_obj_macro_defs.h`, then you are welcome to share your patch so far and I'll take over. But I don't know how to enable the compiler type behavior you're obser

[2018-07-16 22:48] jacobgorm commented on #233
I did the editing in the right places it seems. Ironically, github will not allow me to attach a .patch file created with $ git format-patch, so I have sent the file via email instead.

[2018-07-16 22:49] fgvanzee commented on #233
@jacobgorm I received the patch. And thank you for submitting this bug report. I can't guarantee when this will be fixed, but I'll try to prioritize it relatively high. (Maybe later this week?)

Thanks for your patience.

[2018-07-16 22:52] jacobgorm commented on #233
No rush, but thanks for looking into this @fgvanzee !

[2018-07-17 02:34] devinamatthews commented on #233
@fgvanzee  re:
[code]
That is the right idea, but you should cast after the bitwise operation. C++ actually does allow implicit casting from `enum` to integer types and back, but since you are using `typedef enum ... dom_t` it is treated as an `enum class` (I think?).

[2018-07-17 16:37] fgvanzee commented on #233
@devinamatthews So you're suggesting that something like this
[code]
would be necessary? Would it be sufficient (omitting the operand typecasts)?

[2018-07-17 18:19] devinamatthews commented on #233
Try it 😃 !

[2018-07-17 19:31] fgvanzee commented on #233
@jacobgorm Would you mind confirming that the typecasting above (where we cast only the result and not the operands) is sufficient to placate the compiler? You don't need to try it for every instance represented in the patch you sent--just one or two will suffice.

[2018-07-17 19:42] jeffhammond commented on #234
Some useful information from https://github.com/mpi-forum/mpi-issues/issues/65:
* [Half-precision floating-point format](https://en.wikipedia.org/wiki/Half-precision_floating-point_format) on Wikipedia.
* [ISO/IEC JTC 1/SC 22/WG14 N1945](http://www.open-std.org/jtc1/sc22/wg14/www/docs/n1945.pdf) (ISO C proposal)
* [ISO/IEC JTC1 SC22 WG14 N2017](http://www.open-std.org/jtc1/sc22/wg14/www/docs/n2016

[2018-07-17 19:49] fgvanzee commented on #234
@jeffhammond Thank you for taking the time to rustle up these links, Jeff. This will surely prove very useful.

[2018-07-17 22:42] jacobgorm commented on #233
Yes I can confirm that the typecasts are sufficient to make the compiler
happy.

On 17 July 2018 at 20:19, Devin Matthews <notifications@github.com> wrote:

[2018-07-17 23:00] fgvanzee opened #235 "Fix race condition resulting from thrloop being stored in cntx_t"
Currently there is a race condition in the way that the threading information (ways of parallelism for each loop) is stored into the `cntx_t` via the `thrloop` array field. This is wrong because the `cntx_t` object is shared among threads (since it is supposed to be read-only).

The solution is to relocate the `thrloop` information to another data structure that is thread-local: a `rntm_t` (runtim

[2018-07-17 23:25] fgvanzee commented on #234
@jeffhammond Once again, this was very helpful Jeff. Thank you.

I had never even heard of `bfloat16` before today. I can see why it would be preferable (especially for ML/AI applications) given the trade-off between exponent and mantissa.

[2018-07-18 03:05] jeffhammond commented on #234
int8 and int16 are usually employed for inference although I’m aware of
some efforts to use in training. Not sure if worth the software pain though.
--
Jeff Hammond
jeff.science@gmail.com
http://jeffhammond.github.io/

[2018-07-19 00:00] fgvanzee commented on #233
@devinamatthews In an attempt to try to recreate some of the errors that @jacobgorm reported here (those that have nothing to do with the version and everything to do with the C++), I tried manually switching my compilation of BLIS to `g++` instead of `gcc`. I have managed to get quite far--the `blis.h` header seems fine now--but when compiling the kernels I got the following error:
[code]

1. How

[2018-07-19 00:43] fgvanzee commented on #233
@devinamatthews Nevermind. It occurred to me just now that Jacob's problem is simply including `blis.h` from a C++ application, not building BLIS with C++. So I may be done.

[2018-07-19 16:18] fgvanzee commented on #233
@jacobgorm I've just pushed my first commit of fixes. Try b7db293 (head of `dev` branch) and then inform me of any remaining error messages you experience.

[2018-07-19 18:22] jacobgorm commented on #233
I can confirm that it compiles and that SGEMM() works on my x86_64 with G++
8.1.0.

Thanks a lot!
Jacob

On 19 July 2018 at 18:18, Field G. Van Zee <notifications@github.com> wrote:

[2018-07-19 20:30] fgvanzee commented on #233
Good to hear, Jacob. I'm going to close this issue. Please let us know if you encounter any other problems while developing with BLIS.

[2018-07-19 20:30] #233 closed

[2018-07-25 18:04] fgvanzee opened #236 "BLIS Retreat 2018 request for invitations"
BLIS contributors/users,

Every year since 2013 we have held an invitation-only workshop here at The University of Texas at Austin that brings together various stakeholders in the BLIS community. This year, the workshop, which we call the BLIS Retreat, [will take place September 17-18, 2018](http://www.cs.utexas.edu/users/flame/BLISRetreat2018/).

If you are interested in attending, even if you ha

[2018-08-01 18:29] fgvanzee commented on #152
@gaming-hacker If you are still having issues and would like our help, please provide more information so we can better assist. (I'm going to close this issue for now, but we can reopen it if needed.)

Note that some of the threading API was recently updated and reimplemented, so it may be that whatever issue you originally encountered has been fixed.

[2018-08-01 18:29] #152 closed

[2018-08-01 19:34] fgvanzee commented on #95
On second thought, very few people care about the level-0 operations. Closing.

[2018-08-01 19:34] #95 closed

[2018-08-01 22:07] tonyskjellum commented on #95
What are they ?

Anthony Skjellum, PhD
205-807-4968

[2018-08-01 22:09] fgvanzee commented on #95
The level-0 operations are defined in `frame/0` and have the `sc` suffix--for example, `mulsc`. These are operations on scalars.

[2018-08-06 15:26] devinamatthews opened #237 "Out-of-tree build with read-only source fails"
Attempting to build out-of-tree while the source directory is mounted (or has permissions set to) read-only fails due to trying to generate Makefile fragments:

[code]

If we really have to generate such things, they should go in the build tree.

[2018-08-06 16:25] fgvanzee commented on #237
I agree, Devin. This is on my to-do list, albeit not the highest priority.

[2018-08-14 14:28] s-sajid-ali opened #238 "Build with intel compiler"
I created a [spack build recipe](https://github.com/spack/spack/pull/8925) for BLIS and it works well with gcc but when I try to install it with `intel` compilers, for some reason BLIS doesn't [detect them properly](https://github.com/spack/spack/pull/8925#issuecomment-411974352) and installs using `gcc` instead. What should I do to fix this ?

[2018-08-14 14:47] devinamatthews commented on #238
Did you specify `CC=icc` as an environment variable or on the configure line?

[2018-08-14 14:49] s-sajid-ali commented on #238
I tried both [with](https://github.com/spack/spack/pull/8925#issuecomment-411974352) and [without](https://github.com/spack/spack/pull/8925#issuecomment-412887612).

[2018-08-14 14:51] devinamatthews commented on #238
You may have to explicitly specify the `intel` configuration family as I think the AMD configurations won't accept `icc`.

[2018-08-14 14:53] s-sajid-ali commented on #238
I should have mentioned that `spack` purges and  resets all the environment variables including `CC` before each build.
Does that mean that I should remove the 'auto' as the configure option ?

[2018-08-14 15:00] devinamatthews commented on #238
Actually `auto` should be fine as long as you're actually on an Intel system, although the wider `intel` family is usually bettee in a possibly heterogeneous HPC setting. I think getting the CC env var set or getting it on the configure line is probably the ticket. @fgvanzee is there an easy way to debug why this isn't happening?

[2018-08-14 15:36] s-sajid-ali commented on #238
Build failure with intel compilers.
[code]
[Full log](https://transfer.sh/16bsWK/blis.build.out)

[2018-08-14 15:44] devinamatthews commented on #238
@fgvanzee?

[2018-08-14 15:48] dnparikh commented on #238
My guess is it's because the blas compatibility layer has been disabled
during the configuration.

'./configure'
'--prefix=/home/sajid/packages/spack/opt/spack/linux-centos7-x86_64/intel-18.0.3/blis-0.4.0-ol33ytxgje4qww32ehx4rsdepcyhdlrd'
'--enable-threading=none' '--disable-cblas' '--disable-blas'
'--enable-shared' '--disable-static' 'auto'

On Tue, Aug 14, 2018 at 10:45 AM Devin Matthews <notifi

[2018-08-14 15:53] s-sajid-ali commented on #238
I set `blas` and `cblas` to be `True` by default. Now I get :
[code]

[Full log](https://transfer.sh/sNdXB/blis.build.out)

[2018-08-14 15:54] devinamatthews commented on #238
I think the link command for the test executable needs to include an rpath entry when using the shared lib.

[2018-08-14 16:03] s-sajid-ali commented on #238
Is there a way to do this after installation for now ?
[code]

[2018-08-14 16:56] fgvanzee commented on #238
@devinamatthews By "rpath" do you mean relative path?

[2018-08-14 17:25] fgvanzee commented on #238
@s-sajid-ali Did you realize that you completely changed the configure options from the first two links above to the third? That led to some confusion on our part.

[2018-08-14 17:32] devinamatthews commented on #238
@fgvanzee I mean `-Wl,-rpath,/path/to/blis/lib`, so that the shared lib can be found at runtime.

@s-sajid-ali after linking you can use `LD_LIBRARY_PATH`. You can check if it is set right by running `ldd` on the binary.

[2018-08-14 17:34] fgvanzee commented on #238
@s-sajid-ali I was able to reproduce your link error.
@devinamatthews True or false: I do not need `-Wl,-rpath,/path/to/blis/lib` if the path to the `.so` at link-time is explicit.

[2018-08-14 17:48] devinamatthews commented on #238
False. You still need rpath or LD_LIBRARY_PATH.

[2018-08-14 17:49] fgvanzee commented on #238
@devinamatthews Thanks Devin. I'm working on a fix now.

[2018-08-14 17:54] fgvanzee commented on #238
@devinamatthews Do you see anything wrong with the following? I cut out most of the object files for readability.

[code]

[2018-08-14 18:03] fgvanzee commented on #238
@devinamatthews Devangi just pointed out that maybe `-rpath` just wants a path. Clearly I don't use shared libraries very often.

[2018-08-14 18:10] fgvanzee commented on #238
@devinamatthews Okay, I get further now. The executable links, but when I run it, I get an error.
[code]

[2018-08-14 21:14] s-sajid-ali commented on #238
Yes.

The error stalls the install process and blis isn't installed when using spack. I can always install with no tests and that would work.

Apologies for the inconsistency, do you want the logs from some specific configure?

[2018-08-14 21:53] fgvanzee commented on #238
I think we figured it out, but thanks for offering.

I committed a fix. Please try out 4f6745d (or some child commit). You can also just `git pull` on your `master` branch.

[2018-08-15 21:18] s-sajid-ali commented on #238
It works now. I've added a `develop` version. Do the defaults make sense ? (Here is the build recipe : `https://github.com/spack/spack/pull/8925/files`)

[2018-08-15 21:27] fgvanzee commented on #238
[code]
@s-sajid-ali The above defaults look good. In fact, they are exactly what I would have chosen. (Very few people need CBLAS compatibility enabled, but BLAS compatibility is very popular.)

The right default for threading really depends on the application, but absent that information, I think disabling it by default is appropriate. And rest assured that even when threading is disabled, BLIS u

[2018-08-16 16:57] fgvanzee commented on #238
Understood. Thanks.

If there are no other items outstanding related to this issue, feel free to close it whenever you like. Thanks again for your feedback.

[2018-08-16 16:58] s-sajid-ali commented on #238
Thanks for the help!

[2018-08-16 16:58] #238 closed

[2018-08-16 17:03] s-sajid-ali commented on #238
Also, for reference about `variant`  : https://spack.readthedocs.io/en/latest/spack.html#spack.directives.variant

[2018-08-16 17:07] fgvanzee commented on #238
@s-sajid-ali Thanks, that helps. Can you combine variants? Say, enable cblas and disable shared at the same time?

[2018-08-16 17:17] s-sajid-ali commented on #238
Each variant is set independently, so yes.

For example :

[code]

vs
[code]

[2018-08-16 17:30] fgvanzee commented on #238
@s-sajid-ali Got it. Thanks!

[2018-08-17 13:40] loveshack opened #239 "configure -p fails"
While configure's --prefix option works, -p now doesn't (seen in the 0.4.0 release, but looks the same in git). It seems the "p" case should set install_prefix_user, not install_prefix, but I just changed the rpm build to use --prefix before reading the script.

[2018-08-17 16:46] fgvanzee commented on #239
Thanks for this report, Dave. You were correct in your diagnosis. It should be fixed now in 65c9096.

[2018-08-24 15:28] jeffhammond opened #241 "Support Octave?"
Consistent with the engagements with Julia and Numpy, perhaps it is worth validating BLIS works as desired in Octave (https://octave.org/doc/v4.0.3/External-Packages.html).

[2018-08-24 16:17] fgvanzee commented on #241
Just to be clear, I assume you are referring to using BLIS as a drop-in replacement for whatever BLAS back-end is used for Octave, and **not** referring to the ability of Octave to correctly parse the output of BLIS's various test drivers.

[2018-08-24 17:29] rvdg commented on #241
What we have done in the past is to wait for someone from that universe to take the initiative…

[2018-08-24 18:03] jeffhammond commented on #241
This issue was inspired by https://twitter.com/owainkenway/status/1032986589079588865...

[2018-08-28 18:43] fgvanzee commented on #241
@jeffhammond Could you follow-up tweet to Kenway and tell him that BLIS just merged some thread safety changes that may make a big difference for his purposes?

[2018-09-02 00:04] RoyiAvital commented on #90
I wish for Windows support as well.
Having this with integration to [Eigen](https://github.com/eigenteam/eigen-git-mirror) could be a real treat in Windows.

[2018-09-02 00:46] fgvanzee commented on #90
@RoyiAvital Thanks for your interest in BLIS.

Perhaps you could ask @isuruf if his recent work on providing Windows ABI support via clang/appveyor (via pull request #227) would benefit you?

[2018-09-02 01:08] insertinterestingnamehere commented on #90
Using the binaries from conda-forge via the conda package manager may make things easier as well. See https://anaconda.org/conda-forge/blis. I think those binaries are already MSVC compatible, but you can get clang via conda-forge too if that's necessary.

[2018-09-02 09:48] RoyiAvital commented on #90
@fgvanzee ,
I think Windows should be first class citizen for the BLIS world.
There are many users which would appreciate BLIS as a replacement for OpenBLAS on Windows.

[2018-09-02 13:04] fgvanzee commented on #90
@RoyiAvital I don't disagree with you, and I sympathize with your willingness/desire to migrate away from OpenBLAS for Windows. In an ideal world, we would support all operating systems. Unfortunately, we have limited dollars, time, and expertise, and we must deploy our resources so they have the maximum impact for the HPC community. For now, that means targeting GNU/Linux, BSD, and OS X, which ar

[2018-09-03 12:29] owainkenwayucl commented on #241
Cheers, I'll take a look.

[2018-09-03 16:36] fgvanzee commented on #241
@owainkenwayucl Please let us know if you have any questions.

[2018-09-06 01:39] isuruf opened #243 "Building testsuite fails in OSX with 0.4.1"
Error message is,
[code]

Building the testsuite worked fine in 0.4.0
I'm using an old xcode version (xcode 6.4) and it may be that `pthread_barrier_t` is implemented in newer xcode versions.

Full log: https://travis-ci.org/conda-forge/blis-feedstock/builds/422773407

[2018-09-06 22:02] fgvanzee commented on #243
@isuruf Let us know if @kali's patch fixes your old xcode environment.

[2018-09-07 11:30] tonyskjellum commented on #243
Field, the patch changes the error behavor for me under 'make check' from
failing immediately to building a lot of tests, then failing as follows:

Linking test_libblis.x against 'lib/sandybridge/libblis.a -lm -lpthread'

Running test_libblis.x (fast) with output redirected to 'output.testsuite'

libblis: frame/2/bli_l2_check.c (line 402):

libblis: Unexpected vector dimension.

libblis: Aborting.

[2018-09-07 13:17] isuruf commented on #243
I checked 0.4.1 with patch from #244 applied. Tests pass on osx, linux and windows.

[2018-09-07 16:54] fgvanzee commented on #243
@tonyskjellum It's not clear to me what is going awry in your case.

Would you mind doing an experiment for us? I'd like to know if the problem is the pthread barrier. Could you comment out every line in `src/test_libblis.c` that contains the string `pthread_barrier`? You'll also need to comment out any reference to the `.barrier` field of `thread_data_t` and the freeing of `barrier` on line 174.

[2018-09-08 10:47] honnibal opened #247 "Remove requirement for pthreads if single-threaded?"
Currently even with `--disable-threading`, the library won't build without `pthreads.h`. This is quite a hassle on Windows, since all the options for getting a library like this are pretty inconvenient.

It also seems the pthreads for Windows library is LGPL, which means Blis can't be a dependency for an MIT/BSD/Apache-licensed library that supports Windows.

I think this problem shouldn't be too

[2018-09-08 16:27] tonyskjellum commented on #243
Here is the latest

./configure auto; make
 make clean -- remove previous check builds
make
make check 2>&1 |tee latest-macos-warnings-08sep18.txt

Example
---------
warning: unknown warning option '-Wno-maybe-uninitialized'; did you mean '-Wno-uninitialized'? [-Wunknown-warning-option]
In file included from blastest/src/cblat1.c:13:
In file included from ./blastest/f2c/f2c.h:39:
./blastest/f2c/f2

[2018-09-08 16:33] tonyskjellum commented on #243
@fgvanzee   --- I missed your request for me to comment out code; I did the fresh pull and test above... with much better results, only those warnings which are not a big deal.  But it closes the previous issue too from a day ago.

[2018-09-08 16:51] fgvanzee commented on #247
@honnibal Matthew, it sounds like you are suggesting removing pthreads altogether when building BLIS for Windows. This is setting off all sorts of alarms in my head.

BLIS depends on pthreads unconditionally. It doesn't matter whether the `configure` threading option is set to pthreads, openmp, or disabled--BLIS needs pthreads. (Or to be more precise, BLIS needs *something*, and I have chosen that

[2018-09-08 16:57] isuruf commented on #243
This issue is fixed in master

[2018-09-08 16:57] #243 closed

[2018-09-08 23:15] honnibal commented on #247
Hm, I hadn't appreciated that. Thanks. So if I'm understanding this correctly: even if Blis isn't creating threads, it doesn't know how many threads its callers are creating.

I should've qualified this properly --- I was confusing something that's specific to what I'm trying to do with a much more general claim.

I'm trying to provide a Python package that provides Blis self-contained, so if you

[2018-09-09 00:00] fgvanzee commented on #247
Don't worry, it's easy to lose sight of when everyone usually obsesses about multithreading *within* libraries. But yes: we need to provide thread-safety for threads spawned by the application (which I call application threads) since sometimes people want to handle some or all threading outside of the BLAS (or, in this case, BLIS).

Ah, now I understand. My previous comment was predicated on the i

[2018-09-09 04:56] jeffhammond commented on #247
Just implement the Windows threads equivalent of Pthreads on Windows. MPICH
should have a BSD-license wrapped for this.
--
Jeff Hammond
jeff.science@gmail.com
http://jeffhammond.github.io/

[2018-09-09 05:03] isuruf commented on #247
Here's a BSD3 implementation, https://github.com/Bakhazard/winpthreads-msvc

[2018-09-09 05:07] jeffhammond commented on #247
I just don’t see the need for a third-party dependence. Just use Windows
threads directly and wrap in BLIS.
--
Jeff Hammond
jeff.science@gmail.com
http://jeffhammond.github.io/

[2018-09-09 16:02] tonyskjellum commented on #247
I hope this additional point is relevant: even in the case that you compile
BLIS with one thread, we want to be sure that it can be thread safe form
multiple independent user threads calling it.
In that sense, your use of pthread_once() or other exclusions that preserve
thread safety are still important.  An even weaker state is you don't
bother even with that.  So, I want to be sure
that if I com

[2018-09-09 19:35] fgvanzee commented on #247
@tonyskjellum Thanks for your comment, Tony. Yes, I brought up this very point [in my initial response](https://github.com/flame/blis/issues/247#issuecomment-419657103) to Matthew. (What you call "user threads" I call "application threads.")

[2018-09-09 19:39] fgvanzee commented on #247
Currently, BLIS unconditionally relies on `pthread_once()`, `pthread_mutex_lock()`/`_unlock()`, and structures/definitions related to those functions. That's it for now.

[2018-09-09 20:14] fgvanzee commented on #247
I agree that ideally we would have a generally-abstracted threading API in BLIS for things like mutexes, and then conditionally define those functions depending on whether we were using pthreads or something else. As recently as weeks ago we sort of had that and I ripped it out and replaced it with direct usage of pthreads because (a) pthreads was everywhere I wanted BLIS to run, and (b) I thought

[2018-09-09 21:08] fgvanzee commented on #247
@jeffhammond @devinamatthews I just remembered that the thread-safety components of BLIS discussed in this issue lean in part on the ability to statically initialize a `pthread_once_t` or a `pthread_mutex_t`.

Example 1 (from `bli_init.c`):
[code]
Example 2 (from `bli_gks.c`):
[code]
It's not immediately clear to me whether you could implement static initialization on top of a threading system (e.

[2018-09-09 21:11] tonyskjellum commented on #247
Sorry I missed that — thank you

Anthony Skjellum, PhD
205-807-4968

[2018-09-09 21:40] devinamatthews commented on #247
[code]

I haven't looked up how to do a memory/compiler fence in MSVC yet.

[2018-09-09 21:41] devinamatthews commented on #247
Oh, and `#define PTHREAD_ONCE_INIT BLIS_UNITIALIZED`.

[2018-09-09 21:53] devinamatthews commented on #247
[code]

[2018-09-09 21:54] fgvanzee commented on #247
@devinamatthews Thanks. That's quite helpful.

[2018-09-09 21:57] devinamatthews commented on #247
Memory fence looks like `_ReadWriteBarrier(); MemoryBarrier();`.

[2018-09-09 22:07] devinamatthews commented on #247
Or, one could replace everything after `init();` with `InterlockedExchange(*once, BLIS_INITIALIZED);`, as that is supposed to produce a full memory barrier.

[2018-09-09 22:08] fgvanzee opened #248 "Use -fvisibility=hidden and explicitly mark symbols for shared object export"
Picking up on the discussion that developed in pull request #37, it would probably be best for BLIS to *not* automatically export all symbols in its shared libraries, but rather only export the ones that correspond to "public" APIs.

In summary, this means:
- compiling with `-fvisibility=hidden`, which sets the default symbol visibility to hidden;
- marking all BLAS/CBLAS functions as public;
- ma

[2018-09-09 22:34] devinamatthews commented on #247
After, i.e. the memory barrier and store.

[2018-09-10 18:47] fgvanzee opened #249 "Testsuite broken due to redundant pthread_barrier"
The testsuite is broken in Linux (and probably elsewhere) due to the testsuite's local pthread barrier definition (added during #243 #244) being activated even though the environment (apparently) already supports pthread barriers.
[code]
This is almost surely due to the cpp guard:
[code]
not working properly. I tried replacing it with:
[code]
but to no avail. (This change was made in tandem with t

[2018-09-10 18:49] devinamatthews commented on #249
For expediency's sake, I would go back to using `__APPLE__`.

[2018-09-10 18:52] fgvanzee commented on #249
No objection here.

[2018-09-10 18:52] fgvanzee commented on #249
Also: how the hell did this not get caught by Travis?

[2018-09-10 18:57] kali commented on #249
LOL

[2018-09-10 19:00] kali commented on #249
@fgvanzee could it be a distro thing ? what are you using ?

[2018-09-10 19:02] kali commented on #249
@fgvanzee The _POSIX_BARRIER is defined by unistd.h. Is there any way you could get to the test without including unistd.h before ?

[2018-09-10 19:04] fgvanzee commented on #249
@kali I was mucking around with other things when this happened. Let me make sure this wasn't all my own damn fault.

[2018-09-10 20:00] fgvanzee commented on #249
Yep, false alarm. I removed `#include "unistd.h"` because I thought it was only needed for something else that I was moving.

[2018-09-10 20:00] #249 closed

[2018-09-17 13:49] tonyskjellum opened #251 "Configure issues --ARMv8a -- Sandia system (mayer)"
Field, please see attached outcome of configure.  I may be doing something strange, but it isn't finding the definition of FILE or popen().

Command given after fresh clone of blis (working from master):

(./configure auto; make ) 2>&1 | tee build.17sep18-1537.txt

This is my first try, so please bear with me.  I am wanting to get this working so I can start testing and tweaking kernels as we've b

[2018-09-17 16:18] dnparikh commented on #251
@tonyskjellum The auto configure may not work for ARM processors. Try ./configure cortexa57 instead.

[2018-09-17 16:20] kali commented on #251
Hey,

First beware, the cpuid detection on arm (both armv7 and armv8) is not great. It forks grep several times to parse /proc/cpuid, and I'm not sure it is even correct on linux aarch64.

Anyway, you may want to try adding "#include <stdio.h>" in frame/base/bli_cpuid.c, around line 54, after stdlib.h.

[2018-09-17 16:21] tonyskjellum commented on #251
yes, that worked fine and I forgot to annotate the issue. You can close the
issue IMHO :-)

On Mon, Sep 17, 2018 at 6:19 PM dnparikh <notifications@github.com> wrote:

--
Anthony Skjellum, PhD
skjellum@gmail.com
Cell: +1-205-807-4968

[2018-09-17 16:52] tonyskjellum commented on #251
ok with regard to quick patch, will try that.

I am building kernels, so I will not bug you for a while :-)

On Mon, Sep 17, 2018 at 6:21 PM Mathieu Poumeyrol <notifications@github.com>
wrote:

--
Anthony Skjellum, PhD
skjellum@gmail.com
Cell: +1-205-807-4968

[2018-09-17 17:04] tonyskjellum commented on #251
Even with the additon of stdio.h ... done this way:

#ifndef BLIS_CONFIGURETIME_CPUID

  #include "blis.h"

  #include <stdio.h> // added by Tony 9/17/18 for ARM -- tried this second

#else

  #include <stdio.h> // added by Tony 9/17/18 for ARM  --didn't help much

  #include <stdlib.h>

  #include <string.h>

  #include <stdint.h>

  #include <pthread.h>

  #include "bli_type_defs.h"

  #include

[2018-09-17 17:12] tonyskjellum commented on #251
FYI, with manual config, all BLIS and BLAS tests fail; this is the only
warning that comes up:

Compiling obj/arm64/blastest/open.o

blastest/f2c/open.c: In function ‘fk_open’:

blastest/f2c/open.c:248:28: warning: ‘%ld’ directive writing between 1 and
11 bytes into a region of size 5 [-Wformat-overflow=]

  (void) sprintf(nbuf,"fort.%ld",(long)n);

                            ^~~

blastest/f2c/op

[2018-09-17 17:12] tonyskjellum commented on #251
Oops, it should say "all tests succeed"... sorry.

On Mon, Sep 17, 2018 at 7:11 PM Anthony Skjellum <skjellum@gmail.com> wrote:

--
Anthony Skjellum, PhD
skjellum@gmail.com
Cell: +1-205-807-4968

[2018-09-17 17:21] jeffhammond commented on #251
Obviously, I don't know much about ARM but why doesn't BLIS use [CPUID](http://infocenter.arm.com/help/topic/com.arm.doc.ddi0432c/Bhccjgga.html)?

[2018-09-17 17:41] kali commented on #251
The cpuid register in only accessible in kernel mode. So you need to go through the operating system to get the info, and it's a mess. Sometimes, the answer is indeed parsing /proc/cpuinfo, sometimes you can use  auxval and hwcaps.

[2018-09-17 17:51] dnparikh commented on #251
@jeffhammond BLIS does use CPUID, but we have not implemented the auto detection for the ARM cores yet, mostly because we don't have the expertise to parse the CPUID. @fgvanzee can chime in more.

[2018-09-17 17:58] dnparikh commented on #251
@jeffhammond Nevermind apparently there is no CPUID on ARM.

[2018-09-17 18:02] kali commented on #251
@dnparikh there is a cpuid :) it's a register, not an op, and it's unusable, but it's there.

[2018-09-17 18:04] kali commented on #251
There is a good "cpuid" for arm32 here, by the way. They need a bit more details than blis does, but it would be a good starting point to improve the current cpu detection on arm. There is a separate file for arm64, but the situation is a bit less crazy.

[2018-09-17 18:10] dnparikh commented on #251
@kali @fgvanzee here: According to @Maratyszcza, who is here at the BLIS Retreat, ARM has a cpuid-like instruction, but it is only executable from kernel mode, and therefore not usable by userspace applications. PS: thank you @dnparikh for letting me hijack her laptop.

He just presented on a new tool, cpuinfo: https://github.com/pytorch/cpuinfo

[2018-09-17 18:18] tonyskjellum commented on #251
Just for fun, this is the first core's worth of /proc/cpuinfo:

processor       : 0

BogoMIPS        : 400.00

Features        : fp asimd evtstrm aes pmull sha1 sha2 crc32 atomics cpuid
asimdrdm

CPU implementer : 0x43

CPU architecture: 8

CPU variant     : 0x1

CPU part        : 0x0af

CPU revision    : 0

On Mon, Sep 17, 2018 at 7:58 PM dnparikh <notifications@github.com> wrote:

--
Anthony Skj

[2018-09-17 23:36] Maratyszcza commented on #251
@tonyskjellum You can build https://github.com/pytorch/cpuinfo/ and then run e.g. `cpu-info` binary

[2018-09-17 23:37] Maratyszcza commented on #251
[code]

[2018-09-17 23:43] Maratyszcza commented on #234
ARMv8.2 defined instructions for FP16 (IEEE format) computations. These are natively supported in Cortex-A55 and Cortex-A75 cores, e.g. Snapdragon 845, with the same per-instruction throughput and 2x FLOPS of FP32 computations.

[2018-09-18 09:54] tonyskjellum commented on #251
thank you. I definitely needed that bit of guidance.

produces:

        0: Unknown

Cores:

        0: 1 processor (0), Cavium ThunderX2

        1: 1 processor (1), Cavium ThunderX2

        2: 1 processor (2), Cavium ThunderX2

        3: 1 processor (3), Cavium ThunderX2

        4: 1 processor (4), Cavium ThunderX2

        5: 1 processor (5), Cavium ThunderX2

        6: 1 processor (6), Cav

[2018-09-18 10:33] tonyskjellum commented on #251
Actually I did arm64

Anthony Skjellum, PhD
205-807-4968

[2018-09-18 14:02] Maratyszcza commented on #251
@tonyskjellum: seems to work as expected, so should be suitable for BLIS

[2018-09-18 19:23] epifanovsky opened #252 "Build fails on Windows with cygwin when some symbols are missing"
On Windows in the Cygwin environment, `configure auto` completes successfully, however the build subsequently fails at the library linking stage with errors that look like this:
[code]
This is because at the linking stage the linker is asked to export symbols from file `windows/build/libblis-symbols.def`, however it contains symbols that are not necessarily in the library. For example, the cblas s

[2018-09-18 20:39] isuruf commented on #252
Yes, that's an issue with having just one def file.
There are several options.

1. We can have multiple def files and combine them together depending on the configure options. (This is beneficial for all windows compilers.)
2. fix https://github.com/flame/blis/issues/248 so that .def files are not needed.

Short term option is to changing https://github.com/flame/blis/blob/d7537fb51dac0636591fc7c6

[2018-09-18 23:08] tonyskjellum commented on #251
Here's what a new NVIDIA Xavier produces:

./cpu-info
Packages:
	0: Unknown
Cores:
	0: 1 processor (0), Nvidia unknown
	1: 1 processor (1), Nvidia unknown
	2: 1 processor (2), Nvidia unknown
	3: 1 processor (3), Nvidia unknown
	4: 1 processor (4), Nvidia unknown
	5: 1 processor (5), Nvidia unknown
	6: 1 processor (6), Nvidia unknown
	7: 1 processor (7), Nvidia unknown
Logical processors:
	0
	1
	2

[2018-09-18 23:10] tonyskjellum commented on #251
Last thought: BLIS ran perfectly fine for configure/build/test in arm64 mode on the Xavier too.

[2018-09-19 01:51] Maratyszcza commented on #251
@tonyskjellum: could you post `/proc/cpuinfo` dump? I never tested on Xavier, so cpuinfo may not recognize the MIDR values

[2018-09-19 02:06] Maratyszcza commented on #251
Actually, nevermind. I found the MIDR and added detection for Carmel (uarch in Xavier) in pytorch/cpuinfo@8101c50ef9bfc820c5c140c329567965c4ac3e47

[2018-09-19 06:01] tonyskjellum commented on #251
Based on your update:

Packages:

        0: Unknown

Cores:

        0: 1 processor (0), Nvidia Carmel

        1: 1 processor (1), Nvidia Carmel

        2: 1 processor (2), Nvidia Carmel

        3: 1 processor (3), Nvidia Carmel

        4: 1 processor (4), Nvidia Carmel

        5: 1 processor (5), Nvidia Carmel

        6: 1 processor (6), Nvidia Carmel

        7: 1 processor (7), Nvidia Ca

[2018-09-19 09:28] VirtualEarth opened #253 "why kernel size is d6x8 in zen"
why kernel size is d6x8 in zen？ According to the paper [when](http://www.cs.utexas.edu/~flame/pubs/GotoTOMS_revision.pdf) the micro kernel is GEBP, GEMM will attain best performance, so the kernel size should be d8x6？

[2018-09-19 13:57] devinamatthews commented on #253
In that paper, the GEBP part refers to the shape of the algorithm w.r.t. the L2 cache (e.g. the "macrokernel" in BLIS parlance). The part that corresponds to the microkernel in BLIS (a term not explicitly used in that paper) is sections 6.1-6.2. [This paper](http://www.cs.utexas.edu/users/flame/pubs/TOMS-BLIS-Analytical.pdf) presents a more detailed analysis of the block sizes as used in BLIS.

[2018-09-19 18:31] fgvanzee commented on #252
@isuruf Thanks for these comments and recommendations. I think the best long-term solution is for me to move forward with #248. (@epifanovsky and I were thinking of composing the final `.def` file together from components based on the `configure` options given, but, as you point out, that won't be necessary at all if we add configurable symbol export statements.)

Forgive this basic question, but

[2018-09-19 18:32] isuruf commented on #252
It's this one. Any symbol that a user of blis or the testsuite use.

[2018-09-19 18:33] fgvanzee commented on #239
@loveshack Closing this issue on assumption that this has been fixed. Let us know if we need to reopen.

[2018-09-19 18:33] #239 closed

[2018-09-19 18:33] #236 closed

[2018-09-19 20:26] epifanovsky commented on #248
One must be mindful about how much of that is GNU extensions that might potentially introduce incompatibilities with either some compilers (e.g. IBM XL, PGI) or non-Linux operating systems (macOS, Windows).

[2018-09-19 21:27] fgvanzee commented on #248
@epifanovsky Totally agree. It will probably take some time to iron out the differences for all operating systems and compilers that we support. In the worst case, we undefine the envisioned export macro so that it has no effect, and we revert to something similar to current behavior.

[2018-09-20 07:26] VirtualEarth commented on #253
thx, but i'm not understand it 。the latency and throughput of FMA  is 5 , 0.5 in haswell Nvec is 4

so mr is 4 and nr is 4?

[2018-09-20 23:47] fgvanzee commented on #253
@VirtualEarth Turn your attention to [Eq. 1](http://www.cs.utexas.edu/users/flame/pubs/TOMS-BLIS-Analytical.pdf):
[code]
On Intel Haswell/Broadwell/Skylake/Kabylake, `Nvec` is 4, `Lvfma` is 5, and `Nvfma` is 2. Thus, the register blocksize product `mr nr` must be at least 40 in order to overcome the floating-point latency. 6 x 8 = 48 more than satisfies this, but 8 x 6 would also be fine. The form

[2018-09-21 01:27] VirtualEarth commented on #253
thx，i got it.

[2018-09-21 13:43] devinamatthews commented on #253
@VirtualEarth thanks for your interest in BLIS and I hope all of your questions got answered. I'll close the issue now--if you do have more questions then this would make a great thread on the [blis-discuss](http://groups.google.com/group/blis-discuss) group.

[2018-09-21 13:43] #253 closed

[2018-09-23 05:47] cdluminate opened #254 "Question about Debian packaging"
I see Nico is working on BLIS packaging. I'm interested in packaging BLIS for Debian based on Nico's work. However I have some questions before doing the actual work:

1. Is BLIS mature enough to be used as a drop-in replacement of libblas.so.3 ?
2. Is there any benchmark of which compares BLIS with other BLAS implementations such as OpenBLAS?

[2018-09-23 18:38] fgvanzee commented on #254
@cdluminate Thank you for your interest in BLIS. We have been eagerly waiting for the right person from the Debian community to come along and "sponsor" our project in the Debian/Ubuntu universe. :)

My first instinct is to answer with an emphatic "yes." However, the framing of your question is ultimately subjective, and also dependent on the actual implementation referred to by `libblas.so.3`, as

[2018-09-23 18:47] nschloe commented on #254
I got to BLIS because I was looking for BLAS operations on C-ordered arrays for NumPy. BLIS has that, but even better is the fact that it's developed in the open using a more modern language than Fortran.

Plots about that should definitely go into the main README.

[2018-09-23 18:51] fgvanzee commented on #254
@nschloe Thanks for your comments, Nico. I agree that the time has come for us to include some basic plots in the source distribution.
@dnparikh Perhaps we should skip straight to Nico's idea instead, and then @cdluminate can view them through github or a `git` clone.

[2018-09-23 18:59] rvdg commented on #254
Comments:

- We just had our "BLIS Retreat" (http://www.cs.utexas.edu/users/flame/BLISRetreat2018/).  If you click on "program" and then scroll down to Devangi's talk, you will find http://www.cs.utexas.edu/users/flame/BLISRetreat2018/Slides/Devangi_BLIS_Retreat_2018_poster.pdf.

- Field probably should have pointed out that BLIS is what AMD now distributes as part of its "ACL" replacement of the

[2018-09-24 06:55] cdluminate commented on #254
@fgvanzee This is the background for my first question:

Debian/Ubuntu have an alternatives system, by which the user can switch the BLAS implementation smoothly without recompiling any software, e.g.
[code]
All the alternative candidates for the `libblas.so.3` shared object provides at least the standard set of BLAS API/ABI. In my question, my term `libblas.so.3` means "standard BLAS ABI/API".

I

[2018-09-24 07:26] cdluminate opened #255 "Benchmarking and Performance"
It would be better to provide some script for users to compare the performance between different BLAS implementations.

I wrote one with Julia 1.0, but interestingly BLIS's performance is not as good as I thought...
[code]

Result:
[code]

System information
[code]

[2018-09-24 14:48] jeffhammond commented on #255
Are you sure that BLIS is compiled for threaded execution?
* 1-core peak is approximately 1 * 2.80 * 16 = 44.8 but is likely higher due to turbo.
* 4-core peak is approximately 4 * 2.80 * 16 = 179.2.
* BLIS runs at 48.6 GF/s while MKL runs at 141.3 GF/s.
Thus, I wonder if BLIS is running on only one core (with turbo).

[2018-09-24 15:00] cdluminate commented on #255
@jeffhammond Thanks for the hint. Initially I thought threading is enabled by default however the actual default is `--enable-threading=no`. I'll recompile and test again.

[2018-09-24 15:20] cdluminate commented on #255
Result for pthread with `BLIS_NUM_THREADS=4`.

`./configure --enable-verbose-make --enable-cblas --enable-threading=pthreads  haswell`

[code]
Now BLIS looks comparative to OpenBLAS, and the overhead of thread creation for small matrices is obvious.

Result for openmp.

`./configure --enable-verbose-make --enable-cblas --enable-threading=openmp  haswell`

[code]

The openmp threading model has les

[2018-09-24 15:33] cdluminate commented on #210
@nschloe If you have enough time to continue working on BLIS packaging, I can sponsor it for you. This is the initial checklist for you.

- [ ] create packaging repo on salsa.debian.org and push your commits.
- [ ] register libblis.so as an candidate of libblas.so.3 via the alternatives system.
- [ ] ...

[2018-09-24 15:36] jeffhammond commented on #255
This looks right to me.  OpenMP should have lower overhead than Pthreads because the former uses a thread pool whereas the latter cannot (unless BLIS implements its own thread pool).

BLIS uses hand-written assembly so compiler flags related to code generation should have no effect on functions like DGEMM.  You may find that flags related to inlining or link-time optimization help, but I would not

[2018-09-24 15:50] cdluminate commented on #254
One more question about packaging:

As shown in https://github.com/flame/blis/issues/255, BLIS has the best performance with openmp threading, as long as `BLIS_NUM_THREADS` is properly configured. This means the default configuration for the package should be
[code]
Is this correct?

And does it make sense to provide another `--disable-threading` to avoid threading library clash under some certain

[2018-09-24 15:54] fgvanzee commented on #254
[code]
Seems right, yes. You may want to do a thorough review of all configure options. For example, the BLAS integer size options is important to some people.

Could you clarify this question?

[2018-09-24 16:04] cdluminate commented on #254
@fgvanzee I spotted significant performance drop when the program used iomp and gomp at the same time.

Besides, Intel MKL provides the sequential threading (single thread) module.
https://software.intel.com/en-us/mkl-linux-developer-guide-calling-intel-mkl-functions-from-multi-threaded-applications

[code]

[2018-09-24 16:08] fgvanzee commented on #254
@cdluminate Sounds like you are trying to link your `gcc`-compiled/linked `libblis.so` to your application with Intel's `icc`?

@devinamatthews @jeffhammond You guys have more experience with using `icc`. Could you comment here? I don't quite understand the issue.

[2018-09-24 19:07] devinamatthews commented on #254
@cdluminate I would guess that when using both iomp5 and gomp at the same time that you are ending up with N^2 threads. What happens when you run with OMP_NUM_THREADS=N and BLIS_NUM_THREADS=1 (assuming there is meaningful multithreading in the calling program)?

But, even if it "works" right now, mixing two different OpenMP runtimes is a recipe for disaster. In the context of a Debian package, I w

[2018-09-25 06:06] nschloe commented on #210
That could take a while. If you want quick progress, you just go ahead, take the debian folder from this repo and upload it yourself.

[2018-09-25 06:57] cdluminate commented on #210
@nschloe I've already got MKL into Debian official repo and I have many other packages to care. So I expect somebody else other than me to finish this package.

[2018-09-25 20:33] jeffhammond commented on #254
Intel OpenMP runtime defines the GOMP API so if you link it into a GCC program, you should not end up linking against `libgomp.so`.  Please run `ldd` on your binary to see what libraries are being linked.

[2018-09-25 20:40] fgvanzee commented on #253
@VirtualEarth One more thing: I realized that your issue asks "why kernel size is d6x8 in zen?" A microkernel for Intel Haswell-like architectures happens to work on AMD Zen-based architectures, though not the other way around. (Zen can only execute one 256-bit FMA per cycle, whereas Haswell can execute two, and therefore the microtile size for Zen can be smaller.) I plan to eventually rename the

[2018-09-27 06:57] cdluminate commented on #254
@fgvanzee @devinamatthews @jeffhammond Thanks for the pointers. But I'm sorry that observation was found in one of my old cxx code that doesn't use BLIS ... and using different threading libraries at the same time resulted in creation of too many threads. GCC uses gomp by default but clang doesn't ...

Anyway I think the debian package should ship with openmp version first.

[2018-09-27 07:26] cdluminate commented on #254
Just a NOTE: I registered libblis as an alternative candidate to libblas.so.3 and libblas.so, and assigned blis with priority 37. I would be happy to increase the priority of BLIS to higher value if there are strong proof that suggests BLIS is better than OpenBLAS, in terms of cblas_* performance.

The default priority chain for Debian and Ubuntu will look like this:
[code]

[code]
Please ignore t

[2018-09-27 07:35] cdluminate opened #257 "Please remove the debian directory"
Superseded by https://salsa.debian.org/science-team/blis

[2018-09-27 07:38] cdluminate commented on #210
@nschloe Hmm..... I've almost finished the package. Please have a look at https://salsa.debian.org/science-team/blis .

[2018-09-27 07:50] cdluminate opened #258 "[ppc64el] Build failure on ppc64el (power 8)"
https://launchpadlibrarian.net/390523995/buildlog_ubuntu-cosmic-ppc64el.blis_0.4.1-1~u2_BUILDING.txt.gz

The `power7` config seems not working. Or should I use `generic` for powerpc64el architecture instead?

[2018-09-27 10:06] loveshack commented on #210
I don't have time to much with this immediately, but could we try to
coordinate between distributions before packages actually go in?

I'm currently going through the review process with Fedora
<https://bugzilla.redhat.com/show_bug.cgi?id=1591910> aiming for BLAS
compatibility based on
<https://loveshack.fedorapeople.org/blas-subversion.html>.  (I'd rather
use Debian, but basically no-one does for

[2018-09-27 11:29] cdluminate commented on #210
@loveshack We have created subdirectories for different BLAS implementation so that one could use `LD_*` to override the default blas/lapack library. I forgot to add such a subdirectory for BLIS though.

[code]

With some additional work producing three versions of libraries is possible, i.e. `libblis-serial`, `libblis-pthread`, and `libblis-openmp`.

I'm not sure what you mean exactly by `I'd exp

[2018-09-27 11:34] cdluminate commented on #210
@loveshack This page is not a "policy" https://wiki.debian.org/DebianScience/LinearAlgebraLibraries

[2018-09-27 19:58] fgvanzee commented on #254
@cdluminate That's great news. We appreciate your willingness to include BLIS in the Debian universe. I'm sure many of our users will be pleased to be able to enable BLIS via the distribution's internal package management tools.

It all depends on you hardware, operation, datatype, problem size, and how much threading you need, and maybe other factors as well. That said, Robert has pointed you [to

[2018-09-27 22:39] jeffhammond commented on #254
@cdluminate Clang uses the LLVM OpenMP runtime, which is the Intel OpenMP runtime and thus contains the GOMP symbols so it too should not lead to O(n^2) threads when layered with GCC.  Pthreads+OpenMP can definitely hit this, however, and it is the expected behavior.

[2018-09-27 22:42] jeffhammond commented on #254
For interested parties, the GOMP symbols in KMP (Intel/LLVM OpenMP runtime) can be observed here: https://github.com/llvm-mirror/openmp/blob/master/runtime/src/kmp_gsupport.cpp

[2018-09-27 23:06] fgvanzee commented on #258
@cdluminate That sounds fine. We don't have power7 hardware to test on, and that configuration has probably not been tested in years.

[2018-09-27 23:07] jeffhammond commented on #258
`generic` doesn't work either.

# GCC
[code]

# Clang
[code]

[2018-09-27 23:09] jeffhammond commented on #258
If you have a Python version dependency, you need to implement a check for it.
[code]

[2018-09-27 23:11] jeffhammond commented on #258
Yep, BLIS assumes Python 2.7.  Once I use it, BLIS compiles fine.

[2018-09-27 23:14] rvdg commented on #258
I am negotiating with IBM to provide kernels for the Power architectures.  However, management there seems to want to support ATLAS instead...

[2018-09-27 23:14] fgvanzee commented on #258
@jeffhammond Re python: I agree. I'll add it to the pile. (python 2.7+ is required.)
Re gcc: BLIS currently requires gcc 4.7+.
Re clang: see python comment.

[2018-09-27 23:18] fgvanzee commented on #257
@cdluminate I can remove it. Or I can move it out of the way into `build/old`.
@nschloe Any preference/comment on this matter?

[2018-09-28 00:40] cdluminate commented on #258
I have root access to a ppc64el machine and I'll try to debug.

[2018-09-28 00:42] cdluminate commented on #258
@rvdg
https://github.com/opencv/opencv/issues/7207#issuecomment-249863582

[2018-09-28 01:00] rvdg commented on #258
@cdluminate Thanks for the pointer.  I prefer working my contacts, in this case the person who for decades has written the dgemm implementation for benchmarking large IBM systems.  His implementations, surprisingly, often then did not make it into IBM's ESSL library, even though they were faster.  There is weird politics at work.  Past experience showed that beating IBM's ESSL library is easy with

[2018-09-28 05:34] nschloe commented on #257
Drop it.

[2018-09-28 14:51] loveshack opened #259 "slow generic implementation"
I was assuming that BLIS is generally better than reference BLAS, so substituting the latter with BLIS OS packages I'm working on would always be sensible.  However, I found BLIS is more than two times slower for medium-sized  dgemm on x86_64/RHEL7 for a "generic" build compared with the system reference blas package (which should be built with -O2 -mtune=generic, not -O3). I can't usefully test a

[2018-09-28 15:02] devinamatthews commented on #259
The `generic` implementation will have better cache behavior than netlib BLAS, but will also do packing which will slow things down for small and medium-sized matrices. It's not totally clear from your comment whether or not this is the configuration that BLIS is using, please correct me if I am mistaken.

[2018-09-28 16:28] fgvanzee commented on #257
@cdluminate @nschloe The `debian` directory has been removed in `master` as of 5fdddf6.

[2018-09-28 16:28] #257 closed

[2018-09-28 17:10] loveshack commented on #259
You wrote:

That's what I thought.

but not about that.  At what sort of size would that stop hurting (and I
wonder if it could usefully be adaptive)?  I tried 2000×2000 to run a
few goes in a reasonable time.  I've just tried 4000 square, which looks
about the same.

I built a BLIS dynamic library with default flags and the generic
target.  I took the openblas dgemm benchmark (which actually link

[2018-09-28 17:11] loveshack commented on #259
You wrote:

Of course, but a sometime GNU Fortran maintainer knows how :-/.

[2018-09-28 17:13] devinamatthews commented on #259
OK, I guess I'm not really clear why you care about the performance of the BLIS `generic` configuration. Even with cache blocking it will never be "high performance".

[2018-09-29 01:47] cdluminate commented on #259
At least it is true that the builds on non-x86_64 architectures are slow due to the slow tests.
https://launchpad.net/~lumin0/+archive/ubuntu/ppa/+sourcepub/9451410/+listing-archive-extra
Click on the builds and there is time elapsed for the whole compiling+testing process.

[2018-09-29 19:27] fgvanzee opened #260 "Update README.md to mention Debian presence"
Update the [External Linux packages](https://github.com/flame/blis#external-linux-packages) section of the README.md file to properly credit/acknowledge our sponsor within the Debian universe, as well as mention any information that Debian users may find useful or helpful in learning about how to use BLIS "natively" within the Debian distribution.

@cdluminate I invite you to suggest some language

[2018-09-29 21:27] fgvanzee commented on #259
@cdluminate I took a look at some of the build times, as you suggest. It is true that the build time is excessive for your `s390x` build, for example (50 minutes, if I'm reading the output correctly). Much of that can be attributed to the fact that we do not have optimized kernels for every architecture. s390x is one of them. Still, this does feel a bit slow.

(Digression: If you would like to red

[2018-09-30 00:50] cdluminate commented on #260
Official debian binary package is still not available though.

IHMO there is no need to point out the packaging repo URL to users, because most of them don't even know how to create `.deb` packages from such repo. Instead of the packaging repo URL, the tracker page, e.g. [1], should be the most useful link to both upstream and users to track official debian package status. And the link pointing to

[2018-09-30 01:01] cdluminate commented on #259
Debian tries to help upstream spot problems, not to build software as fast as possible. In order to build a reliable linux distribution it's not a good idea to skip too much tests. Hence the full testsuite is preferred for packaging.

As for `amd64` build, my Intel I5-7440HQ runs the full test quite fast too. It's possible that Ubuntu uses old x86-64 machine in their buildfarm, but I'm not sure "o

[2018-09-30 01:02] fgvanzee commented on #260
Sorry for the misunderstanding. I'll leave this issue open as a reminder to update the `README.md` once BLIS has been uploaded to the Debian archive.

Thanks for this suggestion. Just out of curiosity, what is the significance of the "1" in the `libblis1` package name?

[2018-09-30 01:07] fgvanzee commented on #259
That's fine. I often prefer the full testsuite in my own development, too, but I thought I would offer the faster alternative since many people in the past have been happy with avoiding many tests that are nearly identical to each other if it saves them 5-10x time.

I'm glad you also see more normal build times. I see no need to worry, then, about the 20 minute build time on the Debian build hardw

[2018-09-30 01:14] cdluminate commented on #260
Appending SOVERSION such as `1` to library package names helps keep upgrading safty in terms of API/ABI change. For example:

[code]
Careless partial upgrade on some linux distributions (a.g. Archlinux) might result in a disaster. However Debian is relatively safer in such case.

[2018-09-30 01:29] fgvanzee commented on #259
Unlike most people, I will almost never be bothered by nitpicking! I like and appreciate nuance. :) Thanks for those details.

[2018-09-30 01:31] fgvanzee commented on #259
BTW, since I don't use Debian, I have to rely on people like you and @nschloe for your expertise on these topics (understanding how we fit into the Debian/Ubuntu universes). Thanks again.

[2018-09-30 01:32] cdluminate commented on #260
Citing Debian Policy In case anyone is interested in the detail: https://www.debian.org/doc/debian-policy/ch-sharedlibs.html

[2018-09-30 01:54] jeffhammond commented on #259
Field:

Next time a vendor offers to donate hardware, you might ask for a big SSD
so you can setup a virtual machine for every Linux distro. Just a thought.
--
Jeff Hammond
jeff.science@gmail.com
http://jeffhammond.github.io/

[2018-09-30 19:27] fgvanzee commented on #259
@jeffhammond In principle, I agree with you. However, this is the sort of thing that is not as practical now that our group is so small. (It also doesn't help that maintaining machines in our department comes with a non-trivial amount of cost and of red tape.) Instead, I'm going to channel you circa 2010 and say, "we look forward to your patch." And by that I mean, "someone doing it for us."

[2018-10-01 12:08] honnibal commented on #247
@devinamatthews Putting things together, does something like this look right?

[code]

[2018-10-01 14:32] devinamatthews commented on #247
Thanks for putting it together. Comments:

1. I don't think we need the `COND`, `RWLOCK`, and `SPINLOCK` macros as we don't provide those interfaces (although `pthread_mutex` is implemented as a spinlock here...I guess this may technically violate the spec in some way).

2. In the same vein, the extra initialializers for `pthread_mutex` are not supported here and so should probably be dropped. The

[2018-10-01 14:32] devinamatthews commented on #247
And of course someone should test this in practice.

[2018-10-01 14:48] devinamatthews commented on #259
@loveshack Returning to the original question: I think one way to make the "generic" implementation faster would be to add a fully-unrolled branch and temporary storage of C to the kernel, e.g.:

[code]

**and** arrange for the reference kernel to be compiled with architecture-appropriate flags. The second issue means that e.g. a configuration without an optimized kernel would possibly run faster

[2018-10-01 15:08] loveshack commented on #259
You wrote:

For what it's worth, that's not what's normally done for Fedora.  On the
slower build platforms it would likely time out, and can perturb mass
rebuilds considerably.  I consider the "check" step in rpm builds
basically as a sanity check, especially as in cases like this you can't
test a relevant range of micro-architectures.  [The make check target
was added for that, but I also test t

[2018-10-01 15:09] loveshack commented on #210
You wrote:

I mean basically what you've done, as I understand it without having
looked at the current version.  You can't currently use the alternatives
system in Fedora as the other BLASes don't support it.  Also Fedora's
alternatives is different from Debian's, though it don't remember how,
and that may not be relevant.  [I probably wouldn't bother with
alternatives in the stateless setup of th

[2018-10-01 15:09] loveshack commented on #210
You wrote:

Indeed, but my incorrect memory was that there was such a thing written
down for what linear algebra packaging should do.  When I last looked,
that page was different anyhow.  [I also needed to subvertg R and GSL, at
least.]

[2018-10-01 15:10] loveshack commented on #259
You wrote:

This is for OS packaging purposes.  I assumed I could say that using
BLIS would be strictly better than reference BLAS, i.e. the reference
blas package is redundant for any platforms not supported by the blis or
openblas packages (apart from compatibility tests).

[2018-10-01 15:11] loveshack commented on #259
You wrote:

For what it's worth, I frequently spin up VMs with vagrant, which is
mostly practical at least up to a cluster of three or so, on an 8GB/HDD
laptop.

However, it's reasonable to leave specific distribution work to
packagers, as long as the basic build system doesn't put obstacles in
the way, and I think we've already got the relevant hooks like xFLAGS.
thanks.

Also for what it's worth

[2018-10-01 18:53] fgvanzee commented on #247
@honnibal @devinamatthews Thanks for continuing to work on this.

[2018-10-02 08:03] cdluminate commented on #260
Preliminary Debian package (targeted at Debian unstable) is available here: http://debomatic-amd64.debian.net/distribution#unstable/blis/0.4.1-1/buildlog

There is still one thing to be done before uploading to the official archive: check every file for copyright. This may take a long time.

[2018-10-02 09:17] honnibal commented on #247
@fgvanzee No problem. I'm very keen to see this patch land, so that I can get the `cython-blis` package released. Currently the Windows build is the only thing holding it up.

Is it best to put this code in a header file like this, and then include it from elsewhere in the project instead of `pthread.h`? Or should the conditional be at the include sites?

[2018-10-02 16:52] fgvanzee commented on #260
@cdluminate Thanks for the update. Can you explain the purpose of this copyright review you need to perform? What are you looking for? Or what condition are you trying to ensure?

[2018-10-02 17:09] fgvanzee commented on #247
BLIS almost exclusively uses the first technique, so let's continue with that convention.

A couple questions:
1. It appears that you and Devin are proposing the contents of a header file, but this header contains function definitions (not static functions; regular functions). This seems weird. Can you comment?

2. Recently we were bitten by this idea that OS X does not implement `pthread_barrier(

[2018-10-02 17:11] devinamatthews commented on #247
@fgvanzee hold comments for a bit, I'm putting together a PR.

[2018-10-02 17:12] devinamatthews commented on #247
@fgvanzee but since we're on the topic, why does the testsuite need any pthreads functions at all?

[2018-10-02 17:19] fgvanzee commented on #247
I don't think it *needs* them, but when running the testsuite with application-level threading simulation enabled, it's nice to use a barrier to synchronize the output of related tests. Otherwise, you might, for example, get `hemm` results mixed in with one or more slow `gemm` threads. (When run sequentially, all the `hemm` results would come after all the `gemm` results.)

[2018-10-02 17:21] devinamatthews commented on #247
I didn't realize it did this. I'll update the PR to wrap `pthread_create` etc. in a bit. And yes, the barrier will need to be updated as well, but Windows "has an app for that".

[2018-10-02 23:33] cdluminate commented on #260
@fgvanzee Copyright checj is simply required by Debian. FTP master will definitely reject the package if the copyright info is not complete. Nothing for upstream to do

[2018-10-02 23:38] fgvanzee commented on #260
Understood. Virtually all of the source code and header files should have copyright comment blocks. Some build system files and documentation files do not contain them, however.

[2018-10-02 23:58] fgvanzee opened #262 "compiler version query can result misleading full version number"
`configure` contains a function, `get_compiler_version()`, which uses `-dumpversion` to query the version number if the `cc_vendor` is determined to be `icc`, `gcc`, or `clang`. However, on Ubuntu 18.04, version 7.3.0 of `gcc` returns only `7` when given `-dumpversion`. This leads to confusing output based on the way the version string is parsed:
[code]
`configure` reports that 7.7.7 is found, whe

[2018-10-03 00:27] devinamatthews commented on #262
I always use `--version` so I don't know.

[2018-10-03 00:29] devinamatthews commented on #262
Also, note that while the system compiler on macOS is clang, Apple uses their own snowflake versioning scheme.

[2018-10-03 14:20] tks2004 opened #263 "Link error"
During link phase, we get the following error:
/bin/ld:  amd-blis-1.0/lib/libblis-amd-1.0-zen.a(bli_util_tapi.o): unrecognized relocation (0x2a) in section `.text'
/bin/ld: final link failed: Bad value
collect2: error: ld returned 1 exit status

[2018-10-03 14:27] devinamatthews commented on #263
What version (git commit or tag) of BLIS and what version of binutils and compiler are you using? OS information might help too.

[2018-10-03 14:36] devinamatthews commented on #259
@loveshack What architectures in particular are you having a problem with?

[2018-10-03 14:53] tks2004 commented on #263
blis-amd1.0, OS is RHEL7.4 with GNU 4.8.5 compiler. Any specific version of binutil to be used?

[2018-10-03 14:57] devinamatthews commented on #263
This type of error is usually associated with a linker that is too old for the compiler, but it looks like both are the default for your OS, right? What does `as --version` give?

[2018-10-03 15:05] devinamatthews commented on #263
I would still think it is some type of version incompatibility/bug. Does https://bugs.debian.org/cgi-bin/bugreport.cgi?bug=808181 help? Can you compile a simple "Hello World" program?

[2018-10-03 15:10] tks2004 commented on #263
Yes. Hello world and other application works.

[2018-10-03 15:18] devinamatthews commented on #263
Interesting, can you send the output of `configure` and `make V=1`?

[2018-10-03 17:36] devinamatthews commented on #263
@tks2004 I didn't see the second half of your comment. If you consider this "fixed" we'll go ahead and close the issue.

[2018-10-03 17:57] fgvanzee commented on #259
@devinamatthews It's not clear from context if you were under the impression that reference kernels *were not already* compiled with architecture-specific flags, but indeed they are. (Or maybe you are referring to a different variety of flags than I am.) Either way, `make V=1` would confirm.

Or did you mention architecture-specific flags because you knew that @loveshack could not use `-march=nati

[2018-10-03 18:00] fgvanzee commented on #262
@devinamatthews Hmm, I asked because I figured I learned about `-dumpversion` from you. I guess I stumbled upon it myself.

[2018-10-03 18:06] devinamatthews commented on #259
@fgvanzee I was mostly talking about the actual `generic` configuration vs. the reference kernel being used in a particular configuration.

[2018-10-03 18:09] fgvanzee commented on #259
@devinamatthews Ah, makes sense. Thanks for clarifying. Yeah, `generic` doesn't do jack except use `-O3`, which I'm guessing in our world doesn't do much either.

[2018-10-03 19:43] fgvanzee commented on #262
Fixed in 743a1a6. Closing.

[2018-10-03 19:43] #262 closed

[2018-10-05 02:37] jeffhammond commented on #259
It might be interesting to see if simd pragmas cause anything better to
happen with the reference kernel. I’ve got a list of all of those, in
addition to the obvious OpenMP one.
--
Jeff Hammond
jeff.science@gmail.com
http://jeffhammond.github.io/

[2018-10-05 14:19] loveshack commented on #259
You wrote:

The Fedora architectures that BLIS doesn't support I think are i686,
ppc64, ppc64le, and s390x; there will be more in Debian.  (OpenBLAS does
those apart from ppc64, so we can at least use a free BLAS on most
Fedora architectures.)

[2018-10-05 14:20] loveshack commented on #259
You wrote:

Yes, it doesn't make much difference experimentally (on x86_64), but you
might expect it to help by including vectorization.

[2018-10-05 17:43] devinamatthews commented on #259
@loveshack For which of those architectures can we assume vectorization with the default flags?

[2018-10-06 18:50] fgvanzee commented on #259
I might be willing to add such a flag or flags if you can recommend some that are relatively portable. And ideally, you would tell me the analogues of such flags on clang and icc, if applicable.

[2018-10-06 22:53] devinamatthews commented on #259
@fgvanzee I would suggest:

1. Changing the default MR and NR to 4x16, 4x8, 4x8, 4x4 (sdcz).
2. Rewriting the reference gemm kernel to:
    a. be row-major,
    b. be fully unrolled in the k loop (this means you wouldn't be able to change MR/NR without writing a custom kernel but that seems reasonable),
    c. use temporary variables for C, and
    d. use restrict.
3. Adding configurations for wha

[2018-10-06 23:13] devinamatthews commented on #259
FYI, even with a *super* obvious kernel (to a human), clang and gcc both fail miserably at auto-vectorization. Still better than not unrolled though.

[code]

[2018-10-06 23:55] fgvanzee commented on #259
@devinamatthews Is this the code that gave you a 6x improvement over status quo reference microkernels?

[2018-10-07 00:37] devinamatthews commented on #259
`gcc` actually does a bit better with it *not* unrolled but with constant loop bounds. `icc` is the only one that can get halfway close to a nice vectorized ukernel.

[2018-10-07 00:53] fgvanzee commented on #259
Was the 6x improvement observed from code compiled by `gcc`?

`gcc` does better with not-unrolled code with constant loop bounds, vs...
1. the code you provided above?
2. status quo reference microkernels?

[2018-10-07 01:27] hominhquan commented on #259
@devinamatthews I just look by your code and see that we could use GNU vector-extension to write thing shorter. In my experience, this even allows gcc to dump efficiently SIMD instructions given by backend (with -ffast-math to get fma).

I just have no idea whether icc supports natively this kind of code, if not I think is always manageable with an intrinsic header.

PS: operating load/store with

[2018-10-07 02:09] devinamatthews commented on #259
@fgvanzee `clang(unroll) > gcc(fixed-loop) > gcc(unroll) > clang(fixed-loop) >> ref` for AVX2 at least

@hominhquan Is this extension portable to any architecture that gcc supports? Do you know if clang supports it?

[2018-10-07 12:46] loveshack commented on #259
You wrote:

I _think_ the icc default optimization level includes unrollig and
vectorization.

[2018-10-07 12:50] loveshack commented on #259
You wrote:

GCC -O3 turns on vectorization independent of target.  I don't know what
SIMD looks like on them or what other compilers do.  You may need (one
of the components of) -ffast-math to make it effective, but I forget the
details.  Some other options affect it apart from the possibility of
-fprofile-use; -fopt-info-... provides reports on what it did.

  $ gcc --version|head -1
  gcc (Debia

[2018-10-07 12:51] loveshack commented on #259
Regarding a re-write, what was wrong with kernels/old/c99?

[2018-10-07 12:52] loveshack commented on #259
You wrote:

Note that icc does incorrect/unsafe optimizations by default (at least
something like -ffast-math).  If gcc fails on this sort of thing, and
it's not clear why from -fopt-info, it deserves a bug report; I guess I
can look when I have time.  (DGEMM drove at least one improvement in
loop optimization long ago.)

[2018-10-07 12:54] loveshack commented on #259
You wrote:

__vectore_size__ is a generic attribute in GCC, but presumably you need
to know the width to use per-micro-architecture.  See
<https://gcc.gnu.org/onlinedocs/gcc-6.4.0/gcc/Vector-Extensions.html#Vector-Extensions>.

[2018-10-07 13:56] hominhquan commented on #259
@devinamatthews  I am not familiar to all x86 SIMD versions and their gcc backend, but I'm quite surprised that gcc performs poorly on this kind of extension. Just wonder if you put  `-O3 -ffast-math` to unlock gcc optimizations ?

`clang` should be better, since LLVM was designed with SIMD in mind.

Hmmm, how you know that the kernel spills things to memory ? Recent CPU's register file should be

[2018-10-07 14:10] devinamatthews commented on #259
@hominhquan Apparently that syntax isn't legal, but I wouldn't think it would make a difference given that the optimization is done in SSA form. Here is a snippet of the assembly generated by gcc (this part does `a[0]*b[0..7]`; `-0x170..-0x80(%rbp)` is the `ab` accumulator, `%rsi` is `a`, and `%rdx` is `b`):

[code]

vs. clang (this is the full `a[0..3]*b[0..7]` product):
[code]

[2018-10-07 19:49] jeffhammond commented on #259
@rvdg The Intel compiler has an option `-qopt-matmul` that pattern recognizes triple-loop matrix matrix multiplication and replaces it with a call to MKL GEMM.  It doesn't get much better than that 😆

[2018-10-07 20:58] rvdg commented on #259
That is a trick that Fred Gustavson introduced in the 1980s for IBM...  The original linpack benchmark had to be the linpack code, compiled.  So he came up with the idea of a "code recognizer" that would replace the linpack code with an optimized assembly kernel.

[2018-10-08 09:33] loveshack commented on #259
I realized that building generic gives these warnings (with gcc 8):

[code]

[2018-10-08 09:50] loveshack commented on #259
It deserves a bug report if gcc is failing to DTRT with the latest gcc
and appropriate options, but I doubt it's something for Intel
specifically.  (I assume you don't mean just a reference to this thread,
though; it's not yet clear to me exactly what's failing in which
conditions, and potentially why.)

[2018-10-08 10:12] loveshack commented on #259
[I'd have guessed that was for replacing Fortran matmul calls with BLAS.
I think it would be better to work on making the compiler more reliable,
rather than tricks like that.]

Probably more relevant is what I just noticed the top of the news at
<https://polly.llvm.org/index.html>.  I didn't realize it was now
working that well, which looks like a good reason to work on gcc
implementation.  It ha

[2018-10-08 19:02] fgvanzee commented on #259
I loathe such tricks. That they are even in the space of possible behaviors that one might stumble upon from a compiler is not only unhelpful but actively harmful to carrying out good science.

(As for non-scientific applications: I have no objections. But I worry about such "smarts" being activated accidentally.)

[2018-10-08 19:09] jeffhammond commented on #259
First, `qopt-matmul` was not a serious comment in the context of BLIS.  It is a feature to application developers - possibly physicists who cannot be troubled to learn anything about computers or software from documentation or tutorials - who do not know that BLAS exists.  You may not believe me, but such individuals apparently exist at an elite <unspecified continent> research laboratory.

Second

[2018-10-08 19:14] devinamatthews commented on #259
Well, I think that expecting a compiler to do a decent job of compiling the BLIS *microkernel*, especially when one has taken some pains to write it in a compiler-friendly way is not unreasonable. If gcc and clang could compile a kernel like the one above properly, and especially if they could do a reasonable job of prefetching data (I'd even tell the compiler what cache it should be in!), it woul

[2018-10-08 19:41] fgvanzee commented on #259
I very much believe you that these individuals exist. (I have worked with such people.)

[2018-10-08 19:42] rvdg commented on #259
Yes.  Fortunately, we are working on a MOOC that uses MMM to illustrate issues with parallization at multiple levels.  If we can get compiler people to take it, then this problem will eventually be solved!

[2018-10-08 19:46] fgvanzee commented on #259
FYI: @rvdg closed this issue on accident.

[2018-10-09 12:59] jkd2016 opened #264 "Fortran underscores"
I'm currently adding BLIS to our electronic structure code Elk (elk.sourceforge.net).

There is an issue with calling the BLIS API subroutines, namely they don't have leading underscores as required by Fortran.

For example, to set the number of threads at run-time, I can use

[code]

with MKL and OpenBLAS, but

[code]
doesn't work because bli_thread_set_num_threads_ is not the name in the library

[2018-10-09 13:59] devinamatthews commented on #264
Not really a bug since we haven't made any effort to make anything other than regular BLAS functions available in Fortran. F2003 is one option, or you could:

1. Either set the BLIS_NUM_THREADS (or OMP_NUM_THREADS) environment variable before program start or during the program but *before the first BLAS call*.
2. Write a super simple wrapper in C that exports a Fortran interface.

[2018-10-09 14:36] loveshack commented on #259
I used to quote matmul as the example of optimizers not being good
enough in an apparently-simple case, but after seeing the Polly results
I won't unless I find there's something wrong with them.  That said, I
don't understand the dips in MKL performance where Polly beats it, and
there's no information on the datasets (or BLAS versions) to reproduce
the tests.

[2018-10-09 14:43] devinamatthews commented on #259
Looking at the Polly website, isn't what they're doing exactly the same as MKL: replacing a triple-nested loop with a (relatively) hard-coded implementation?

[2018-10-09 14:57] hominhquan commented on #259
Haha I hope they didn't. Unless it will not be science, as said @fgvanzee.

[2018-10-09 15:33] jkd2016 commented on #264
Actually Elk controls how many threads each nesting level gets. When it reaches the deepest nesting levels and there are still idle threads, then it assigns them to BLAS or LAPACK routines.

Hence it has to have access to the MKL, OpenBLAS or BLIS threading routines during runtime.

I would like to request that these and other BLIS routines be made Fortran-compatible. The other libraries appear to

[2018-10-09 15:36] rvdg commented on #264
Interesting.  We have always viewed the BLIS native APIs as being for C and C++ users.  It is good to see that Fortran users are open to more flexible interfaces as well.

I'm not sure where on the priority list this should fall...  We'll huddle.

[2018-10-09 16:48] jeffhammond opened #265 "implement Fortran 2003 interface module for BLIS C API"
Modern Fortran provides an elegant way to wrap C.  Implementing an interface module for BLIS would make it much more appealing to Fortran applications that do not want to use legacy APIs like BLAS, which are based on "ancient" Fortran.

Related https://github.com/flame/blis/issues/264

[2018-10-09 20:48] fgvanzee commented on #264
Thanks for your comments, everyone.

@jkd2016 As much as I would like, in principle, to provide you with a ready-to-use solution that suits your needs, we have taken many steps to keep BLIS completely divorced of Fortran dependencies. That is why we shy away from anything that causes BLIS to rely on a Fortran compiler. And while it would be *possible* to create Fortran-compatible API wrappers *in

[2018-10-09 21:18] fgvanzee opened #266 "Disable automatic parallelism in the JR loop?"
When setting parallelism the "automatic way" as described in the [Multithreading](https://github.com/flame/blis/blob/master/docs/Multithreading.md) documentation, the caller defers to BLIS to factorize the total number of threads into the number of ways of parallelism for each loop. For example, if the user sets `BLIS_NUM_THREADS` to 8, internal logic encoded in `bli_rntm_set_ways_from_rntm()` (lo

[2018-10-09 21:30] fgvanzee commented on #266
Can you elaborate on the savings you're referring to here? The regime I envision would still involve `ic_nt` threads sharing each panel of B.

[2018-10-09 21:32] devinamatthews commented on #266
You always get `IC_NT` independent panels of B...right?

[2018-10-09 21:32] devinamatthews commented on #266
Er, I mean 'JC_NT'. But the amount of sharing is less.

[2018-10-09 21:33] fgvanzee commented on #266
Let's assume `ic_nt` = 4 and `jc_nt` = 2. This results in two packed panels of B being created. Each panel of B would be shared across 4 threads.

[2018-10-09 21:34] devinamatthews commented on #266
Right, instead of one panel shared across 8 threads if we had `jr_nt = 2`.

[2018-10-09 21:34] fgvanzee commented on #266
I guess what I don't quite follow is this perceived benefit of threads "sharing" B.

[2018-10-09 21:36] devinamatthews commented on #266
I am badly explaining what was told to me by @tlrmchlsmth some time ago. But the benchmark is the ultimate authority.

[2018-10-09 21:42] fgvanzee commented on #266
FWIW, @dnparikh already has performance data for `trsm` on ThunderX2 (which has a private L2 cache) that shows a *big* difference between pushing all parallelism to the jr loop vs. splitting it between the jc and jr loops. (BLIS does not yet support ic parallelism in `trsm`, so we haven't been able to look at fiddling with `ic_nt` yet.)

I'll see if I can see any difference on my four-core Haswell

[2018-10-09 22:03] devinamatthews commented on #266
Yes I imagine relying on cache coherency performance on ARM is a problem.

[2018-10-09 23:45] fgvanzee commented on #264
Sorry, I was sloppily arguing multiple points simultaneously. I agree that adding a `bli_thread_set_num_threads_()` wrapper would not be all that difficult. Somehow, I missed that part and thought you were asking for Fortran-compatible wrappers for *all* computational functions in BLIS. Also, I completely understand your point about the nuance between Fortran dependency and Fortran compatibility.

[2018-10-10 10:01] loveshack commented on #259
You wrote:

I don't know what MKL does.  Polly appears to be doing particularly
effective loop-nest optimization, yes; isn't that what you'd want
generally?  I assume you can dump the results of the transformations
somehow to see what it does.  Otherwise,
http://pluto-compiler.sourceforge.net/ does something similar, but
apparently less effective, as C-to-C; it's some time since I looked at
it, an

[2018-10-10 14:59] jeffhammond commented on #264
I will discuss the Fortran API for BLIS on https://github.com/flame/blis/issues/265...

[2018-10-10 15:05] jeffhammond commented on #265
@fgvanzee This should be completely independent of BLIS in its implementation.  Whether it lives in the BLIS repo or not is your decision.  For now, I will create a separate repo since we may want to keep Travis CI independent to avoid having to debug Fortran issues in the main BLIS Travis CI setup.

The way Fortran-to-C works is there is a Fortran interface module that knows the C signatures of e

[2018-10-10 15:30] jkd2016 commented on #264
This would be great: I just need bli_thread_set_num_threads_ for Elk at the moment, but I'll leave it to your judgment to add other routines (Elk uses mkl_set_dynamic(.false.) to switch off dynamic thread allocation).

In future it would be interesting to try some of the non-BLAS vector operations in BLIS. Elk relies heavily on complex vector operations some of which are not available in BLAS. One

[2018-10-10 17:06] loveshack commented on #265
Yes, for modern Fortran interfaces.  They really should be modern Fortran though, rather than an f77-ish thin interface to C. Is there any overlap with what libxsmm has, which I've not looked at? This should ideally go with interfaces for BLAS; MKL has defined interfaces, but they're non-free (assuming they're really copyrightable). Is there any chance of freeing them as a de facto standard, perha

[2018-10-10 17:13] fgvanzee commented on #264
Could you fill me in on the implications of this? I am not a regular user of non-BLAS MKL functions.

Which operations are you referring to here? Things like `dotxv` and `xpbyv`?

Are all of these dot products the same length? Are any of the vectors reused across dot products? If yes to both, you can cast the collection of operations as one or more matrix multiplications.

Thanks for sharing these

[2018-10-10 17:16] loveshack commented on #264
I haven't kept up with the situation in current compilers, but after many years' experience of that sort of thing, I'd definitely recommend the f2003-ish features. They may not apply here, but there are potential gotchas to assuming you can just use names with different case/underscoring in general.

[Glad to see the packaging I'm getting into Fedora will have a consumer for the BLIS interface in

[2018-10-10 17:27] fgvanzee commented on #266
Can you elaborate?

[2018-10-10 17:29] devinamatthews commented on #266
Intel has very fast communication between private caches through the ring buffer (mesh network on newer chips). I highly doubt ARM can hold a candle to it.

[2018-10-10 17:38] fgvanzee commented on #266
I couldn't gather any meaningful inferences from the data I collected on my Haswell workstation. (Not enough cores to play with.) Maybe I'm willing to punt on this issue for now.

@dnparikh I think we can achieve what we discussed for `trsm` (splitting parallelism between jc and jr loops) without this issue moving forward. Instead, we can build that logic directly into `bli_rntm_set_ways_for_op()`

[2018-10-10 17:39] devinamatthews commented on #266
Also note that these settings are (or are supposed to be) per-configuration.

[2018-10-10 17:41] fgvanzee commented on #266
I understand. This issue was always about changing the default values to values that would work as the best starting point.

[2018-10-10 17:58] loveshack commented on #258
In case you don't know, and it helps, IBM seem to have sponsored OpenBLAS work.
I guess #259 is relevant in the meantime.

[2018-10-10 18:07] jeffhammond commented on #264
I don't know why memory would have anything to do with DGEMM performance.  DGEMM is not bandwidth-limited for 15000x15000 matrices.

The likely explanation here is that Xeon v3 processors aka Haswell uarch support dual-ported 256-bit FMAs whereas Zen appears to have dual-ported 128-bit FMAs.

### References

* https://stackoverflow.com/questions/15655835/flops-per-cycle-for-sandy-bridge-and-haswel

[2018-10-10 18:13] rvdg commented on #258
I am in communication with "people"  (good people) at IBM.  They have requested permission to contribute to BLIS.  This is working its way through IBM's bureaucracy.  For a few months now...  It is worth waiting for this to play out, since it would ensure very good microkernel.  It appears that IBM's strategy so far has been to support OpenBLAS and ATLAS.

[2018-10-10 19:14] fgvanzee commented on #264
100% agree with this.

[2018-10-10 19:15] jkd2016 commented on #264
This tells MKL not to dynamically adjust the number of threads. Elk chooses the number of threads based on how many are idle at the time of the call to MKL.

For example, there is a heavily used routine in which a complex constant times a real vector is accumulated in a complex vector. Currently this is done by two calls to daxpy but it would be more efficient to have a BLAS-like routine to do thi

[2018-10-10 19:52] jkd2016 commented on #264
I think you're right (the calculation used zgemm not dgemm). I tried several smaller sizes and the results were the same: the Xeon cores are about 30% faster even with the lower clock speed.

Our Ryzen machine also has a nVidia Titan V graphics card. Using CUDA NVBLAS the same 15000x15000 zgemm matrix multiplication takes 6.6 seconds, which includes the copying between CPU and GPU memory; this is

[2018-10-10 20:05] fgvanzee commented on #264
Got it, thanks.

That looks like BLIS's `zger` to me (or `zgerc`, as BLAS calls it). Am I missing something? Or are some of the operands real?

Related to this: We just presented mixed-domain/mixed-precision (mixed-datatype) functionality, albeit only for `gemm`, at the BLIS Retreat in September. I'm currently making final preparations to commit this new code to github. You can find slides of my p

[2018-10-10 20:45] jkd2016 commented on #264
We specifically needed `A := x^* y^t + A` and not `A:= x y^H +A which represents an inner product not an outer product. This was some years ago now but I recall that first conjugating x and y and then using zgerc was slower than rolling our own. I should probably try again with BLIS...

That could be useful. There is a little bit of mixed precision in Elk where memory is an issue, but we're usuall