[2014-01-24 05:09] cartazio opened #1 "add an AVX1 / Sandy Bridge DGEMM kernel"
I may have a go exploring that if i find some time, but if someone else beats me to it, that'd be great too!

[2014-01-24 07:05] #1 closed, assigned to nobody

[2014-03-31 22:04] jeffhammond opened #4 "use generic paths for toolchain in POWER7"
[code]

[2014-03-31 22:25] jeffhammond opened #5 "uninitialized variable warnings in frame/util/norm1m/bli_norm1m_unb_var1.c"
While perhaps innocuous, such compiler warnings are not ideal...

[code]

[2014-04-01 18:00] #4 closed, assigned to nobody

[2014-04-03 20:33] jeffhammond opened #6 "Assignment between restrict pointers "alpha" and "alpha_in" is not allowed. Only outer-to-inner scope assignments between restrict pointers are allowed."
XLC is the only compiler I've ever seen that gives these warnings, but I think they are formally legit.  On the other hand, they may be false positives in practice.

[code]

[2014-04-03 20:34] #5 closed, assigned to nobody

[2014-04-26 04:48] poulson opened #7 "bli_obj_create_with_attached_buffer mishandling empty matrices"
The BLAS interface does not appear to work for dtrsm when one of the input matrices has a zero dimension. It appears to be the result of bli_trsm calling bli_obj_create_with_attached_buffer on the input matrices, which leads to a check that improperly aborts if the corresponding buffer is null, even if the matrix dimensions were zero. I would assume that this bug affects a large number of routines

[2014-04-28 21:57] #7 closed, assigned to nobody

[2014-04-29 14:44] #6 closed, assigned to nobody

[2014-07-03 02:17] tkelman opened #12 "Intermittent NaNs appearing in results from calling shared-library blis from Julia"
CPU: Core2 Duo E8400 (old machine)
OS: Ubuntu 14.04, x86-64

Compiled BLIS reference configuration, setting `BLIS_ENABLE_DYNAMIC_BUILD := yes`. By itself, BLIS passes its own `make test`.

I'm calling into BLIS from [Julia](https://github.com/julialang/julia) by the following steps:

[code]

This gives me a different failure each time I repeat `make testall`. Here are some examples, from the first

[2014-07-05 17:22] tkelman opened #13 "Kernel symlinks cause build failure in msys2"
Another one for you, following up on https://github.com/flame/blis/pull/9

When I try to build the Sandy Bridge configuration on Windows in MSYS2 with MinGW compiler (on an i7-2630QM), I get a failure to link the test executable:

[code]

If I try in Cygwin, setting `CC := x86_64-w64-mingw32-gcc` and `AR := x86_64-w64-mingw32-ar` in `config/sandybridge/make_defs.mk` to use the MinGW cross-compiler

[2014-07-08 22:44] #12 closed, assigned to nobody

[2014-07-09 07:05] Maratyszcza opened #15 "Test suite always exits with code 0"
As testsuite always exits with code 0 (success), it is hard to use it as a unit test. The test suite should return non-zero if any of the tests failed.

[2014-07-17 22:28] tkelman opened #17 "Document / detect required compiler versions per configuration"
Title was: Build failure on piledriver

BLIS commit a41e68e09e73b999fab0bb430a43dccfc63aab45
OS: Ubuntu 12.04 (on Travis CI)
CPU: AMD Opteron 6376
Compiler: GCC 4.6.3

Short version of the error message is:

[code]

(repeated several times for other files in `frame/0`)

Full log is at https://travis-ci.org/tkelman/BLIS.jl/jobs/30217818

[2014-07-25 16:10] fgvanzee opened #18 "packm breaks with 1x1 micro-kernels"
packm implicitly assumes that the register blocksizes are both non-unit. While this is not a bad assumption in practice, it would be nice to lift this constraint so that the right thing happens even if MR or NR (or both) happen to be 1. The problem boils down to the definition of the `bli_is_row_stored_f()` and `bli_is_col_stored_f()` macros, which only look at the row and column strides [of the p

[2014-07-31 17:20] #18 closed, assigned to nobody

[2014-12-17 08:21] poulson opened #22 "Fused gemvs and trmvs?"
BLIS often refers to fused level 1 BLAS-like operations, but I have not seen any fused level 2 operations (e.g., a single-sweep y := A x and u := A^T v). Is there a plan to support such kernels?

[2015-05-21 17:46] poulson opened #24 "Shared library versions of BLIS?"
Is there a simple means of modifying BLIS to build a shared library instead of a static library? It seems to be missing from the `configure` script.

[2015-05-21 17:47] poulson opened #25 "``configure`` should default to the ``auto`` configuration"
It seems strange for `configure` not to default to the `auto` configuration. It took a bit of digging for me to find that this was supported. Why not attempt the auto-detection instead of failing?

[2015-05-21 18:09] fgvanzee commented on #24
It's not accessible via the configure script itself, but it is supported. Take a look at the `make_defs.mk` file in the configuration of interest:
[code]

[2015-05-21 18:18] fgvanzee commented on #25
A few comments:
* In the beginning, the `reference` configuration was the default when `configure` was run with no unparsed arguments. This was later changed so that the developer had firm knowledge of which configuration he was using
* The `auto` option to `configure` is very new.
* I am in the early planning stages of an effort to retrofit runtime kernel and blocksize selection via auto-detected

[2015-05-21 18:52] poulson opened #26 "Undefined references to ``GOMP_parallel``"
When I try to test for BLIS's support for dgemm_, I see the following link error, which does not seem to be covered by your build system wiki:

"""
/usr/bin/gcc-4.9   -DCHECK_FUNCTION_EXISTS=dgemm_    CMakeFiles/cmTryCompileExec3961259244.dir/CheckFunctionExists.c.o  -o cmTryCompileExec3961259244 -rdynamic /home/poulson/Install/lib/libblis.a -lpthread -lm
/home/poulson/Install/lib/libblis.a(bli_in

[2015-05-21 18:57] poulson commented on #24
Thanks Field; I grep'd for "shared" but did not try "dynamic". But I wouldn't necessarily close this yet, as the current approach seems to require manual editing of files and would prevent the usage of BLIS from other projects (i.e., Elemental) via CMake's ``ExternalProject_Add`` unless I add a patch script when attempting to build a shared library:
https://github.com/elemental/Elemental/blob/96f9

[2015-05-21 18:58] poulson commented on #25
Thanks Field. It no longer effects me since I will have Elemental specify ``auto`` by default, but it might make potential users' life easier.

[2015-05-21 19:50] fgvanzee commented on #24
That's fine. We can leave it open until the functionality is satisfactory.

[2015-05-21 19:59] fgvanzee commented on #25
I agree that it would make an end-user's life easier. But until recently, we were really only targeting developers who usually were in the business of tightly controlling their configuration parameters, not end-users who wanted to configure, build, and then walk away (until a new version was needed).

As far as I am concerned, the current build system is just a temporary hack. There may not be muc

[2015-05-21 20:02] fgvanzee commented on #26
Are you linking with `-fopenmp`?

[2015-05-21 20:41] poulson commented on #26
Nope, should I? (https://code.google.com/p/blis/wiki/BuildSystem#Linking_to_BLIS)

[2015-05-21 20:51] fgvanzee commented on #26
If you are building BLIS with `gcc` and OpenMP is enabled, then yes.

[2015-05-21 21:04] poulson commented on #26
In that case, it might be worth updating the build instructions (as they currently seem to imply that this is not needed). After looking through ``config/sandybridge/make_defs.mk``, I see that OpenMP is being linked. For now, I will have my build system try to link with BLIS without specifying the OpenMP LD_FLAGS, and, if that fails, try with the OpenMP LD_FLAGS.

[2015-05-21 21:07] fgvanzee commented on #26
I agree, the build instructions should be updated to provide guidance for OpenMP. Also with regards to POSIX threads.

[2015-05-21 22:55] poulson commented on #26
While OpenMP isn't always used by BLIS, I would recommend linking to it in your example and mentioning that it isn't strictly required for some configurations (I have Elemental link to OpenMP when building BLIS since I can't easily determine the results of the 'auto' configuration).

[2015-05-22 08:11] poulson opened #27 "Sandybridge configuration incorrect for recent Mac OS X"
Because of the fact that Apple chose to alias `gcc` to `clang` and `g++` to `clang++`, the current Sandybridge configuration, https://github.com/flame/blis/blob/ec25807b26da943868f0d0517c3720e50181b8f9/config/sandybridge/make_defs.mk#L79, will fail since Clang does not (yet) support OpenMP.

[2015-05-22 08:18] Maratyszcza commented on #26
OpenMP isn't available on all platforms, and default linking to it will confuse users. OS X, Android, iOS, and Native Client don't have it.

[2015-05-22 17:47] poulson commented on #26
@Maratyszcza Good point; I was mentally translating what I do in CMake, which is effectively
``find_package(OpenMP)`` followed by adding in the link flags ``${OpenMP_C_FLAGS}` (which is an empty string if OpenMP is not supported by the compiler)`. But I would disagree with saying OpenMP isn't supported by OSX, as it is only clang that does not support OpenMP (I use OpenMP via GCC in OS X fairly fr

[2015-05-23 06:40] jedbrown commented on #27
While I think it is despicable behavior on Apple's part, why does anyone rely on executable name to identify the compiler? `$(CC) --version` is more reliable.

[2015-05-24 03:54] poulson commented on #27
I've worked around this issue in the following PR: https://github.com/flame/blis/pull/28

[2015-05-27 04:01] poulson commented on #27
It seems that either ``libtool`` or ``install_name_tool`` still needs to be used so that the proper paths are searched. At the moment, ``otool -L`` on the installed blis library is clearly insufficient:

    $ otool -L ~/Install/clang-3.6/mpich-3.1.4/lib/libblis.dylib
    /Users/poulson/Install/clang-3.6/mpich-3.1.4/lib/libblis.dylib:
	    lib/sandybridge_osx_clang/libblis.dylib (compatibility ver

[2015-05-27 04:44] poulson commented on #27
This changeset appears to have fixed the issue: https://github.com/poulson/blis/commit/2d7d5bf675f34109ad34847fbc2e1648c383e023

[2015-06-22 15:49] ianfhunter opened #29 "Illegal Instruction in bli_init()"
I've just set up my first blis program, but calling bli_init() causes the program to trigger a SIGILL. I'm using Ubuntu 14.04 GNU/Linux using the Sandymount configuration for BLIS. It also breaks here when I run the test_gemm_blis.x test in blis/test/ or the test suite with the given makefiles.

I've traced it down to inside of bli_const_init() using gdb.

`bli_obj_create_const(2.0, &BLIS_TWO);`

[2015-06-22 17:07] fgvanzee commented on #29
Hi Ian, thanks for your feedback. I can't immediately reproduce any issues with `test/test_gemm_blis.x`. I assume you mean you were using the `sandybridge` configuration? Have you tried the `reference` configuration? Also, what kind of hardware are you on? First thing to check is that this is not a 32/64-bit integer issue. The new default is 64, unless the configuration's `bli_config.h` file overr

[2015-06-23 07:56] ianfhunter commented on #29
Hi fgvanzee.

Yes, you're correct - I hope my edits have clarified what I was asking.
As suggested using `reference` has fixed my issue (hooray),

For what it's worth, my processor is an Intel® Core™ i7-4770.
Thanks for the help

[2015-06-23 15:40] fgvanzee commented on #29
Don't take this the wrong way, but I am having trouble believing that the problem truly is with the invocation of `bli_obj_create_const(2.0, &BLIS_TWO);` in `bli_const_init()`. That code should be completely portable, and does not change as a function of the chosen configuration. My gut tells me fingers should be pointed at your compiler. Which are you using, and what version?

Also, would you be

[2015-06-23 15:46] ianfhunter commented on #29
I reckon it's also related to the first non-empty list.
I'm using I'm using gcc version: (Ubuntu 4.8.2-19ubuntu1) 4.8.2
during my gdb session earlier it was occuring when the function was being called, rather than inside it.

I can try build it with an override of 32bit on the sandybridge configuration to test

[2015-06-23 17:18] fgvanzee commented on #29
The only thing you can adjust in `bli_config.h` is the size of an int, via:

[code]

If it's a pointer size issue, that will require adjusting compiler flags in `config/.../make_defs.mk`. I don't recall the flags for doing that in `gcc` off hand. Try Googling the issue and see what comes up.

[2015-07-04 05:48] jeffhammond commented on #26
@Maratyszcza Given that the LLVM posing as GCC that you note doesn't support OpenMP also doesn't support Fortran, it seems irrelevant in this case, because the issue arises in the BLAS Fortran interface.

Personally, I think anyone who uses the native compiler on Mac, which is GCC 4.2.1 on top of LLVM, deserves what incompatibilities they get, because they've chosen to use the foul toolchain that

[2015-07-15 03:54] njsmith opened #30 "Fork safety"
The combination of thread pools + fork is unfortunate: it tends to lead to random freezes. Unfortunately, the best way to achieve high-level parallelism in Python is to use fork (via the [multiprocessing](https://docs.python.org/2/library/multiprocessing.html) module).

Fundamentally the problem is that if you spawn a thread pool, and then fork, then the child ends up thinking that it has a thread

[2015-08-07 00:47] poulson opened #31 "BLAS-like kernel for symmetric updates in LDL factorization without pivoting"
There is a long history of proposals to include simple modifications of ``?syrk`` and ``?herk`` to support ``C += alpha A (D A)^T``, where D is diagonal. This kernel turns out to be important for Interior Point Methods, which often make use of LDL factorizations (without pivoting) of modified saddle-point systems.

Does such a routine already exist in BLIS? If not, is there a good place to start f

[2015-08-20 14:52] VictorEijkhout opened #32 "OMP problem with Intel compiler"
[code]

I know that earlier Intel compilers did not support the full OMP 3.1 standard, but this is Intel 15.

[2015-08-20 15:40] jeffhammond commented on #32
Below is my attempt at an [MCVE](http://stackoverflow.com/help/mcve).  It compiles cleanly with `icc -std=c11 -O3 -qopenmp -qopt-report capture.c -o capture.x`.

Can you evolve my code into a valid MCVE?

[code]

[2015-08-20 15:42] jeffhammond commented on #32
Here's a better attempt:
[code]

[2015-08-20 15:43] tlrmchlsmth commented on #32
BLIS is compiling for me with icc 15.0.1.

Victor, can you attach the make_defs.mk file that you're using?

On Thu, Aug 20, 2015 at 7:52 AM, VictorEijkhout <notifications@github.com>
wrote:

[2015-08-21 13:46] VictorEijkhout commented on #32
On Aug 20, 2015, at 10:43 AM, Tyler Michael Smith <notifications@github.com<mailto:notifications@github.com>> wrote:

BLIS is compiling for me with icc 15.0.1.

Victor, can you attach the make_defs.mk file that you're using?

I’m not using anything custom. Here’s my whole installation:

./configure -p $RPM_BUILD_ROOT/%{INSTALL_DIR} sandybridge
make
make install

I think this means I’m using the st

[2015-08-21 15:30] fgvanzee commented on #32
If you are using the sandybridge configuration unmodified, then you're not using icc, you're using gcc.

[2015-08-21 15:34] VictorEijkhout commented on #32
On Aug 21, 2015, at 10:30 AM, Field G. Van Zee <notifications@github.com<mailto:notifications@github.com>> wrote:

If you are using the sandybridge configuration unmodified, then you're not using icc, you're using gcc.

Override with configure option?

Victor.

[2015-08-21 15:35] VictorEijkhout commented on #32
On Aug 21, 2015, at 10:30 AM, Field G. Van Zee <notifications@github.com<mailto:notifications@github.com>> wrote:

If you are using the sandybridge configuration unmodified, then you're not using icc, you're using gcc.

PS I didn’t know the compiler was a property of the processor architecture…..

[2015-08-21 15:48] fgvanzee commented on #32
Someday, yes. But for now, the compiler shall be specified in the configuration.

It's not, it's a property of the configuration, which specifies the build environment as well as the kernels and their associated parameters (such as blocksizes).

[2015-08-31 08:07] chiensh opened #34 "BLIS Test Failure in BlueGene/Q"
Hi,

I compiled BLIS 0.1.8 on our BG/Q system without any modification, but I got the following failures when I
run the test. The complete test log is given here: https://goo.gl/vGXz6S . (libblis.a binary： https://goo.gl/8lQ999 )

Note: The version of our software stack is V1R2M0, job a submitted interactively through SLURM scheduler.

e.g.
...
blis_cgemm4mh_ct_ccc               200   200   200

[2015-08-31 13:56] fgvanzee commented on #34
I checked the `bgq` micro-kernels, and they do in fact honor both row and column strides. However, they do not implement the "beta == 0" case in a nan/inf-safe manner. The "beta == 0" case is used by the operations you quote, so my best guess is that this is the problem.

[2015-08-31 14:06] tlrmchlsmth commented on #34
Dominic: Is it just the complex cases that are broken?

Field: Yeah, I never went back and fixed the 'beta == 0' case when that
became a requirement. I should do that, but since the single-precision
kernels are just the reference ones, that isn't the only problem that we're
seeing here.

What are the tests named like blis_*4mh_* ? Are they the only ones that
fail?

-Tyler

On Mon, Aug 31, 2015 at

[2015-08-31 22:48] fgvanzee commented on #34
Tyler: Hmm, now that I think about it, my theory about "beta == 0" would not explain why the cgemm4mh is failing. I would be willing to debug this, but unless/until we reproduce it on an Intel architecture, I can't really justify making it a priority. (I don't have access to, much less experience with, bgq hardware.)

[2015-08-31 22:50] jeffhammond commented on #34
@fgvanzee I can get you access easily.  You just have to say you want it :-)

[2015-09-01 08:29] chiensh commented on #34
Here is the complete list of the failure cases, apparently all of them are complex cases:
Thanks!
====================================================================
blis_cgemm4mh_nn_ccc               100   100   100    0.520   3.70e-04   FAILURE
blis_cgemm4mh_nn_ccc               200   200   200    0.587   1.37e-04   FAILURE
blis_cgemm4mh_nc_ccc               100   100   100    0.520   3.73e-04

[2015-10-20 08:33] chiensh commented on #34
Hi is there any update on this thread?

[2016-02-16 02:51] tkelman commented on #13
The segfault appears to have been fixed some over the past 18 months. The MSYS2 symlink build issue can either be documented, or the symlinks could be created at configure time rather than being checked in to git. The handling of symlinks in git is not very portable.

[2016-02-20 07:32] tkelman opened #38 "Should cblas files be using same includes as Fortran blas compat files?"
Compare:
https://github.com/flame/blis/blob/0b126de1342c11c65623bcb38e258e21e9244e3d/frame/compat/bla_gemm.c#L35

vs
https://github.com/flame/blis/blob/0b126de1342c11c65623bcb38e258e21e9244e3d/frame/compat/cblas/src/cblas_dgemm.c#L1-L4

[2016-02-20 07:37] tkelman commented on #38
Sorry wrong button, posted this before it was complete, here's the rest:

`blis.h` does include `bli_config_macro_defs.h`, but the cblas files currently do not. `bli_type_defs.h` defaults to `typedef long int f77_int` if `BLIS_BLAS2BLIS_INT_TYPE_SIZE` is not defined yet, whereas `bli_config_macro_defs.h` always sets `BLIS_BLAS2BLIS_INT_TYPE_SIZE` to 64. On 64 bit Windows, `long int` is 32 bits, le

[2016-02-23 19:30] fgvanzee commented on #38
@tkelman, it seems there are two ways to fix this. Please confirm whether you agree or not.
1. Add `#include "bli_config_macro_defs.h"` (after `#include "bli_config"`) to each `cblas_*.c` file. This would allow `bli_config.h` the opportunity to define `BLIS_BLAS2BLIS_INT_TYPE_SIZE`, and, if it is not defined, it would be defined with the default value.
2. Replace the outer four `#include` statemen

[2016-02-23 19:46] tkelman commented on #38
I believe either of those would fix this issue, yes. Option 2 would be cleaner.

[2016-02-24 00:19] fgvanzee commented on #38
@tkelman, I tried option 2 and realized why I had not gone that route to begin with. It has to do with the differing definitions (prototypes) for `xerbla_()` in CBLAS versus the BLAS compatibility layer. This is one of those issues that makes me want to throw something. Anyhow, I ended up going with option 1 and it seems to compile okay. Please test it out (commit f86b94f) and let me know how it w

[2016-02-24 02:12] tkelman commented on #38
At the risk of elevating your blood pressure, what's the xerbla issue? That commit is sufficient to close this issue as far as I'm concerned. You might expect a patch regarding the defaults for integer sizes from some of the numpy maintainers soonish.

[2016-02-24 02:12] #38 closed

[2016-02-24 14:26] fgvanzee commented on #38
The function prototype for `xerbla_()` that the BLAS compatibility layer provides (in `compat/f2c/bla_xerbla.h`):
[code]
as well as its corresponding definition (in `compat/f2c/bla_xerbla.c`) differs from the prototype that the CBLAS provides (in `compat/cblas/src/cblas_f77.h`):
[code]

[2016-03-01 06:53] njsmith commented on #13
@tkelman: the simplest change would probably be to change it so that instead of knowing that the kernel directory is always `config/<name>/kernels`, instead have the kernel directory specified as a variable in `config/<name>/make_defs.mk`. Then we could remove the symlinks in general.

[2016-03-01 07:07] njsmith opened #43 "BLIS should allow simultaneously exporting both 32- and 64-bit variants of BLAS/CBLAS"
The de facto standard is that the standard BLAS/CBLAS functions take 32-bit integers in their API. Julia experimented with changing this so that they could use 64-bit integers in their main BLAS wrappers, and this worked great for a little while until they discovered that when people started trying to link in other existing BLAS-using code, this code was assuming that BLAS uses 32-bit integers and

[2016-03-01 07:22] tkelman commented on #43
Has also been an issue in Matlab where they use the ILP64 MKL, if you try to link a mex file against system LP64 BLAS, for many years before Julia ever existed. ILP64 BLAS only ever worked in Julia if you didn't try to load any other binary applications compiled against system LP64 BLAS. It was fragile until we implemented the renaming. Lots of context in https://github.com/JuliaLang/julia/issues/

[2016-03-01 07:23] jeffhammond commented on #43
Is it possible to support dynamic dispatch, wherein both `dgemm32` and `dgemm64` are in the library, but at runtime `dgemm` is mapped to `dgemm32`, unless the user does e.g. `export BLIS_64B_MAGIC`?  That would be cool.

[2016-03-01 07:25] jeffhammond commented on #43
@tkelman Why doesn't Julia just call CBLAS?  I thought support for that was pretty broad, at least in contexts where Julia is used.

[2016-03-01 07:26] tkelman commented on #43
We do in a handful of places where the Fortran calling convention differs between gfortran and MKL/Accelerate. I don't think cblas typically supports 64 bit indices - I could be wrong though.

[2016-03-01 07:29] njsmith commented on #43
@jeffhammond: That would indeed be cool, but unfortunately I don't think there's any way to make that happen given the vagaries of different platforms' linking models...

[2016-03-01 15:27] jeffhammond commented on #43
@tkelman Does CBLAS need to support 64b integers to meet Julia's needs?  For BLAS1 operations, it is trivial to chunk if there are more than 2B elements in a vector.  Given the memory constrains, if one has a matrix dimension larger than 2B, the BLAS2/3 operations are going to perform like BLAS1 operations and thus chunking shouldn't be a big issue.

@njsmith How many different conventions need to

[2016-03-01 15:49] tkelman commented on #43
It was easier for us to rename the symbols than add chunking around every single blas and lapack call. When openblas is built with ILP64 indices, its cblas also gets built with 64 bit integers afaict, but that's a non default setting and will cause segfaults if you're not careful about symbol names and loading other blas libraries in the same process.

[2016-03-01 15:53] jeffhammond commented on #43
@tkelman Eww, that's terrible of OpenBLAS.  They should always use C `int`.  Someone should file that bug.

[2016-03-01 15:57] tkelman commented on #43
They should also always use 32 bit ints for the fortran interface by that reasoning. The problems in practice are identical.

[2016-03-01 16:44] tkelman commented on #13
I like that idea, and it sounds like it would work. I'm not the one who would be hitting merge though.

[2016-03-01 22:30] njsmith commented on #43
I think that the use cases that matter in practice are:
* For systems with 32-bit address spaces: BLIS/BLAS/CBLAS with 32-bit integers.
* For systems with 64-bit address spaces: BLIS internally using 64-bit integers, with one of the following options for the BLAS/CBLAS layer:
  * `dgemm_` exists and uses 32-bit integers (what Debian and others want)
  * `dgemm_64_` exists and uses 64-bit integers

[2016-03-01 23:11] njsmith commented on #43
@jeffhammond: The above list does assume that for your "modern fortran codes" use case, you don't actually care about `dgemm_32` and really just want `dgemm_64`. Is that correct?

[2016-03-01 23:12] tkelman commented on #43
I completely agree with @njsmith's summary there.

There's the question of what to do on CBLAS as well. In the OpenBLAS scenario as used by Julia, we have a handful of CBLAS symbols that we use (just `cblas_[cz]dot[uc]_sub`), but we use them with 64 bit integers and renamed with a `64_` suffix accordingly. `cblas_cdotu_sub64_` looks a little funny but the suffix is handled by a macro anyway. I bel

[2016-03-01 23:21] njsmith commented on #43
Edited my comment to speak more explicitly about CBLAS -- specifically, I think `cblas_dgemm_64` and friends should obviously be supported for all the same reasons we want `dgemm_64_`, and a look at the MKL docs suggests that their IPL64 builds do provide 64-bit `cblas_dgemm` and friends.

[2016-03-01 23:22] njsmith commented on #43
Oh, ugh, except I missed that Julia's 64-bit cblas functions are named like `cblas_dgemm64_` instead of `cblas_dgemm_64`, which is obviously wrong. @tkelman, does fixing this seem at all likely? :-)

[2016-03-01 23:31] tkelman commented on #43
It's not wrong, just a consequence of how we implemented it. We apply a suffix uniformly to all symbols in the library, after the gfortran manglong rather than before. Looks funny, but just easier to deal with.

[2016-03-01 23:31] tkelman commented on #43
It's not wrong, just a consequence of how we implemented it. We apply a suffix uniformly to all symbols in the library, after the gfortran manglong rather than before. Looks funny, but just easier to deal with.

[2016-03-01 23:31] tkelman commented on #43
It's not wrong, just a consequence of how we implemented it. We apply a suffix uniformly to all symbols in the library, after the gfortran manglong rather than before. Looks funny, but just easier to deal with.

[2016-03-01 23:31] tkelman commented on #43
It's not wrong, just a consequence of how we implemented it. We apply a suffix uniformly to all symbols in the library, after the gfortran manglong rather than before. Looks funny, but just easier to deal with.

[2016-03-01 23:31] tkelman commented on #43
It's not wrong, just a consequence of how we implemented it. We apply a suffix uniformly to all symbols in the library, after the gfortran manglong rather than before. Looks funny, but just easier to deal with.

[2016-03-01 23:31] tkelman commented on #43
It's not wrong, just a consequence of how we implemented it. We apply a suffix uniformly to all symbols in the library, after the gfortran manglong rather than before. Looks funny, but just easier to deal with.

[2016-03-01 23:32] tkelman commented on #43
It's not "wrong" per se, just a consequence of how we implemented it. We apply a suffix uniformly to all symbols in the library, after the gfortran manglong rather than before. Looks funny, but just easier to deal with.

[2016-03-01 23:32] tkelman commented on #43
It's not "wrong" per se, just a consequence of how we implemented it. We apply a suffix uniformly to all symbols in the library, after the gfortran manglong rather than before. Looks funny, but just easier to deal with.

[2016-03-01 23:32] tkelman commented on #43
It's not "wrong" per se, just a consequence of how we implemented it. We apply a suffix uniformly to all symbols in the library, after the gfortran manglong rather than before. Looks funny, but just easier to deal with.

[2016-03-01 23:32] tkelman commented on #43
It's not "wrong" per se, just a consequence of how we implemented it. We apply a suffix uniformly to all symbols in the library, after the gfortran manglong rather than before. Looks funny, but just easier to deal with.

[2016-03-01 23:32] tkelman commented on #43
It's not "wrong" per se, just a consequence of how we implemented it. We apply a suffix uniformly to all symbols in the library, after the gfortran manglong rather than before. Looks funny, but just easier to deal with.

[2016-03-01 23:32] tkelman commented on #43
It's not "wrong" per se, just a consequence of how we implemented it. We apply a suffix uniformly to all symbols in the library, after the gfortran manglong rather than before. Looks funny, but just easier to deal with.

[2016-03-01 23:32] tkelman commented on #43
It's not "wrong" per se, just a consequence of how we implemented it. We apply a suffix uniformly to all symbols in the library, after the gfortran manglong rather than before. Looks funny, but just easier to deal with.

[2016-03-01 23:32] tkelman commented on #43
It's not "wrong" per se, just a consequence of how we implemented it. We apply a suffix uniformly to all symbols in the library, after the gfortran manglong rather than before. Looks funny, but just easier to deal with.

[2016-03-01 23:34] tkelman commented on #43
Jeez, sorry about the spam, my phone is stupid

[2016-03-02 00:38] njsmith commented on #43
@tkelman: I guess by "wrong" i mean "if we were writing a standard from scratch this is obviously not what we would do". Since now we are talking about making a standard and BLIS implementing it, there's a question about whether we should follow the dorky existing thing, or fix the existing thing and then implement that :-). I guess you're voting for following the existing thing?

[2016-03-02 01:45] tkelman commented on #43
"add a suffix, but before the trailing underscore for symbols that are pretending to be from fortran" (or "add `64_` for f-blas symbols and `_64` for c-blas symbols") is a more fiddly rule to implement than "add the same suffix to all symbols." ILP64 is generally a situation where you should know what you are doing, or leave the linking and renaming to someone who does, so I don't care too much wh

[2016-03-08 12:00] EnigmaHuang opened #47 "Problems about specifying compiler with configure"
Hi, I'm trying to compile BLIS on my server, it has a Xeon E5-2620v2 core and I want to use my ICC 2016. I used the following command to configure:
`./configure CC=icc sandybridge`
But when I tried to make it, it shows that:
_config/sandybridge/make_defs.mk:84: *** gcc is required for this configuration..  Stop._
It seems that the file in configure/sandybridge did not change.
Is there anything wro

[2016-03-08 14:54] SudoNohup commented on #47
You can edit the file:
*config/sandybridge/make_defs.mk <http://make_defs.mk>*
and replace "CC             := gcc" with "CC             := icc".

More details are here:
https://github.com/flame/blis/wiki/ConfigurationHowTo

On Tue, Mar 8, 2016 at 6:00 AM, 黄归一 <notifications@github.com> wrote:

[2016-03-08 15:54] devinamatthews commented on #47
I am currently working on extending the CC=... option to alternate
compilers, but for now it can only be used to select a particular
version or path of the expected compiler (in this case gcc). However, as
Jianyu mentions, you can manually edit the compiler and flags in the
make_defs.mk file.

Devin Matthews

On 3/8/16 6:00 AM, 黄归一 wrote:

[2016-03-08 15:55] devinamatthews commented on #47
@fgvanzee why don't you leave the issue open until I actually get around to implementing this feature.

[2016-03-25 12:00] bluss opened #49 "sandybridge: Does not compile with -dnoopt"
The sandybridge configuration does not compile with -dnoopt, it requires avx.

The following would fix it:

[code]

Sample error, using gcc (gcc version 5.3.1 20160316 (Debian 5.3.1-12))

[code]

[2016-03-25 17:44] bluss commented on #47
You can work around it for the time being using `CC_VENDOR`.

For example `make CC="ccache gcc" CC_VENDOR=gcc`. The error check is against the vendor variable.

[2016-03-26 01:41] devinamatthews opened #51 "4mh failures with icc"
The following operations fail with the dunnington and sandybridge configurations (and probably haswell too, but not tested) using icc 16.0.1 and compiling with CVECOPTS = '-xSSE4.2' and '-xAVX' respectively:

cgemm4mh
chemm4mh
csymm4mh
csyrk4mh
csyr2k4mh
ctrmm34mh

[2016-03-26 02:22] EnigmaHuang opened #52 "Sandybridge OpenMP Failure"
Hi,

I compiled BLIS on my server(CentOS 7.1, gcc 4.8.5, 2*Xeon E5-2620v2), but it seems that BLIS can just use single thread. I used the command

[code]

to compile and install. I didn't change any file in config/sandybridge. I checked that

[code]

is uncommented in bli_config.h, so it should be able to use OpenMP. Then I used the makefile in wiki/BuildSystem#linking-against-blis section and add

[2016-03-26 02:35] Maratyszcza commented on #52
You should set `BLIS_JC_NT`, `BLIS_IC_NT`, `BLIS_JR_NT`, `BLIS_IR_NT` environment variables to specify multi-threading along each internal blocking dimension. See [BLIS wiki:multithreading](https://github.com/flame/blis/wiki/Multithreading)

[2016-03-26 03:05] EnigmaHuang commented on #52
I thought it has a default setting so I did not set it, now it works. Thanks!

[2016-03-26 05:53] jeffhammond commented on #51
Does this only appear with Intel 16.0.1 compilers?  I'm trying to figure out if this is a real compiler bug or something else.

[2016-03-26 13:55] devinamatthews commented on #51
I'm going to try 14, 15, and different flags today.

On March 26, 2016 12:53:36 AM CDT, Jeff Hammond <notifications@github.com> wrote:

[2016-03-26 19:34] devinamatthews commented on #51
It happens with 14.0.3 and 15.0.3 too, with either -xAVX or -mavx. What *does* fix it is changing -O3 to -O0 or -O1 (-O2 is still broken). Note that you can reproduce this directly from devinamatthews/blis@e6e566426ac3ded7ef87cd8ff9be98accfdc4acc by configuring with `./configure CC=icc sandybridge`.

[2016-03-27 00:28] jeffhammond commented on #51
Can we manually mix flags to narrow down where the bad codegen happens? Is micro kernel assembly or intrinsics?

Sent from my iPhone

[2016-03-27 00:35] devinamatthews commented on #51
Changing flags for ukernel vs. everything else is easy, just tell me what to try. Sandybridge kernels are asm (as are dunnington I think). @fgvanzee would know better what specific code for 4mh might be the problem.

[2016-03-27 00:37] devinamatthews commented on #51
Although this makes me wonder, does anybody know if cgemm4mh et al. pass on KNC?

[2016-03-27 00:40] jeffhammond commented on #51
Just get the matrix of {O0,O1,O2,O3}^2 or a 2x2 subset thereof for ukernel and non-ukernel. That should tell us what we need to know.

Sent from my iPhone

[2016-03-27 15:10] devinamatthews commented on #51
Looks like -O2 and above in the framework, regardless of optimization in the ukernel triggers it. I suspect the 4mh packing code, but I do not know how to isolate that. @fgvanzee?

[2016-03-27 17:59] jeffhammond commented on #51
I assume we can manually recompile specific object code with different
flags.

This situation motivates the creation of unit tests associated with
pack/unpack routines.

It is surprising that three major releases of Intel compilers have the same
issue. Are we sure that the code is strict ISO C?

I'll work on this next week.

On Sunday, March 27, 2016, Devin Matthews <notifications@github.com> wrot

[2016-03-27 19:51] devinamatthews commented on #51
clang scan-build comes up empty, but cranking up the warning with icc and clang shows lots of shadowing of `i` and `j` in `packm_struc_cxk_*`. Mostly looks harmless but icc could theoretically be using the wrong variable somewhere.

[2016-03-28 17:29] fgvanzee commented on #51
@devinamatthews, @jeffhammond: Thanks for your efforts in looking into this. Currently, the default induced method for complex gemm is 4m1, so thankfully there is little risk in this issue biting anyone. (You would have to be calling one of the 4mh interfaces explicitly, or change the default at runtime.) And of course, this only applies when a complex gemm micro-kernel is not optimized. But still

[2016-03-28 19:14] devinamatthews opened #55 "Intel Skylake is not autodetected."
On my i5-6500, the configuration is auto-detected as 'reference'. Since there is no skylake ukernel, the config should be set to haswell.

[2016-03-28 19:30] devinamatthews commented on #51
My motivation was mostly to get this figured out before putting in PR #54, but since 4mh is not the default (nor is icc for that matter), I went ahead. Should get fixed at some point, though.

[2016-03-28 19:47] jeffhammond commented on #55
How does autodetect work (yes, I am too lazy to look at the code)?  Shouldn't it just look at `/proc/cpuinfo` by default?  Frankly, I do not think using Intel architecture code names for ukernels is the best method.  For reference, the Intel compiler describes platforms by ISA as shown below.  I wonder if it might be better to use AVX, AVX2, MIC-AVX512 (shorthand KNL if necessary), etc. for ukerne

[2016-03-28 19:53] devinamatthews commented on #55
I think on x86 it looks at cpuid, so the family bits have to be checked
explicitly. This should(?) be an easy fix for whomever is familiar with
that code. As for naming configs, as it is now the config determines
both the ukernel AND the cache blocking parameters. Thus, more than one
config may be needed even for the same ISA (e.g. Carrizo and
Piledriver). BTW does desktop Skylake (which does not

[2016-03-28 20:02] jeffhammond commented on #55
`cpuid` is at least as useful as `/proc/cpuinfo` (which is based upon `cpuid` AFAIK), so that should be fine.

It would be nice to separate ukernel and cache parameters in the config detection, because e.g. your Skylake i5-6500 and my Haswell E5-2699v3 server are going to use the same AVX2 ukernel but have very different cache configurations.

[2016-03-28 23:08] jeffhammond opened #56 "support LLVM OpenMP"
`OpenMP is not supported with Clang` in the build system has been false [http://blog.llvm.org/2015/05/openmp-support_22.html](for almost a year now).  While Mac does not appear to support it in the default toolchain, I've been using Homebrew's `clang-omp` just fine.

I think that the BLIS build system should test for OpenMP support "the old fashioned way" (i.e. like `configure` does) and use OpenM

[2016-03-28 23:11] devinamatthews commented on #56
Yeah, it totally should, but I'm going in baby steps.

On March 28, 2016 6:08:35 PM CDT, Jeff Hammond <notifications@github.com> wrote:

[2016-03-28 23:13] jeffhammond commented on #56
I only added this issue because having children broke my photographic memory skills and I use Github for out-of-core storage - don't feel any pressure to address it soon.

[2016-03-28 23:15] bluss commented on #49
This was fixed. Thanks a lot!

[2016-03-28 23:15] #49 closed

[2016-03-29 15:50] xianyi commented on #55
@devinamatthews , I will submit a patch for auto detecting skylake.

[2016-03-29 19:08] devinamatthews commented on #24
PR #54 adds support for --enable-shared in configure, so this could be closed now.

[2016-03-29 20:19] #47 closed

[2016-03-30 05:32] insertinterestingnamehere opened #57 "Support for building with CMake"
Having a CMake build system available makes it a lot easier to build with a variety of compilers in a variety of environments. In particular, it makes it a lot easier to build things on Windows.
Is there interest in this?
I'm considering implementing this myself, though it'll probably take a while since I have several side projects going at the moment.

[2016-03-30 13:15] jeffhammond commented on #57
Speaking only for myself, and perhaps in violent disagreement with others, I think CMake is terrible and a huge waste of time.  Windows is not used in high-performance computing anywhere, so that is a poor motivation for CMake.  Other than colorized output and a litany of usability problems, what else does CMake bring to the table?

I prefer Autotools in general, but in the case of BLIS, I think "

[2016-03-30 17:44] insertinterestingnamehere commented on #57
Reading through the links, the main issues that people seem to have are that CMake has a difficult syntax and is tricky for beginners to pick up. I can't say that's wrong, but there really isn't any cross-platform build system that doesn't have those issues. Speaking as someone who maintains the build system for a fairly large C++ library and mixed C++/Python library myself, CMake has made it vast

[2016-03-30 18:08] jeffhammond commented on #57
Name one machine on the top 500 list of supercomputers than runs Windows. I don't know a single serious scientific computing user that does so on Windows. Sure, there's Matlab, but Matlab doesn't need a build system. Major HPC projects like MPICH and Open-MPI no longer support Windows.

The best way to do HPC on Windows is to run a Linux VM. The performance isn't going to be bad, because the first

[2016-03-30 20:12] insertinterestingnamehere commented on #57
I'm surprised that the value of Windows support is even a question. Python, R, and Julia all have many users that run scientific code on Windows. MKL, OpenBLAS, and Eigen all support Windows to one extent or another. It's functionality that's valuable to a lot of people. Even Matlab has to get high performance linear algebra routines from somewhere.

I use Windows as my primary development environ

[2016-03-30 20:16] poulson commented on #57
As a happy resolution to this, it was just announced that Windows 10 will support bash, so there is a good chance that this will include autotools et al.

[2016-03-30 20:20] insertinterestingnamehere commented on #57
Yes, hopefully that'll help with stuff like this. Thanks for pointing that out!

[2016-03-30 20:21] devinamatthews commented on #57
As far as cmake goes, we don't really have the experience nor the
interest here to implement it for BLIS. Even autoconf, for which we (I?)
have the experience and at least a little bit of interest, is not likely
to get any forward momentum since what we have works for everything
except Windows. If you wanted to go through the trouble to put something
together, perhaps it could be included in some

[2016-03-30 20:34] insertinterestingnamehere commented on #57
@devinamatthews great, thanks for clarifying. That makes sense.
I'm hoping clang on Windows could provide the needed ABI compatibility along with better support for inline assembly, but getting that all to work is a long way off. I figured it would be good to start somewhere.

[2016-04-06 20:16] poulson opened #61 "Configuring maximum number of threads at runtime"
A user of Elemental has been running into strange performance issues when building on top of BLIS that seem to be due to the environment variable `OMP_NUM_THREADS` being set to one still leading to a large performance degradation when the number of independent uses of BLIS times the number of configured threads is larger than the number of cores on the machine.

While they have configured BLIS to

[2016-04-06 20:22] devinamatthews commented on #61
The list of environment variables is given in the [Wiki](https://github.com/flame/blis/wiki/Multithreading). These are read by BLIS at runtime, although I do not know if changing them during execution has any effect.

[2016-04-06 20:27] poulson commented on #61
Thanks! In hindsight, that seems much more clear. So, to verify, a user needs to run:

    export BLIS_JC_NT=1
    export BLIS_IC_NT=1
    export BLIS_JR_NT=1
    export BLIS_IR_NT=1

to have the same effect as what `export OMP_NUM_THREADS=1` might otherwise imply? It might save a lot of user time if, when a user has defined `OMP_NUM_THREADS`, a check that the product of these environment variable

[2016-04-06 20:28] devinamatthews commented on #61
One day...

On 4/6/16 3:27 PM, Jack Poulson wrote:

[2016-04-06 20:29] poulson commented on #61
In the mean time, should I recommend that users set `BLIS_JC_NT`, `BLIS_IC_NT`, `BLIS_JR_NT`, and `BLIS_IR_NT` to one?

[2016-04-06 20:29] jeffhammond commented on #61
BLIS really shouldn't ignore `OMP_NUM_THREADS`.  That's evil.

In any case, I recommend supporting `BLI(S)_NUM_THREADS`, to align with e.g. `MKL_NUM_THREADS` and `MAD_NUM_THREADS` (in MADNESS).

[2016-04-06 20:30] devinamatthews commented on #61
Yes.

On 4/6/16 3:29 PM, Jack Poulson wrote:

[2016-04-07 16:27] fgvanzee commented on #61
@poulson, @jeffhammond: I'm not convinced why BLIS should continue this `BLAH_NUM_THREADS` insanity. BLIS explicitly forces the user/developer to think about parallelism more deeply, and I think that is a good thing. Personally, I don't really care for using environment variables at all; instead, I prefer a runtime function call, but that is a minor quibble since the infrastructure for doing so is

[2016-04-07 16:29] poulson commented on #61
@fgvanzee Yes, the ability to easily disable parallelism was exactly the point. But, more generally, the ability to cleanly scale back the number of available cores would be of use.

[2016-04-07 16:32] fgvanzee commented on #61
@poulson: I think there is an NSF grant proposal in there: How to better specify and control parallelism in libraries, and communicate and parameterize parallelism back and forth between library and application (or library-caller).

In fact, I think we may have put it into our pending NSF grant. I'll have to check with Robert.

[2016-04-07 16:35] devinamatthews commented on #61
One thing you could do is to tabulate for #threads = 1...$MAX_THREADS
what the optimal strategy is and then just look it up. For #threads >
$MAX_THREADS you can just do whatever because it will suck anyways.
However, you might also want to adjust for the shape of the matrices at
runtime.

On 4/7/16 11:32 AM, Field G. Van Zee wrote:

[2016-04-07 16:35] poulson commented on #61
I honestly think this is just five lines of code in a `bli_init` function (assuming it exists). I will just submit a PR.

[2016-04-07 16:59] poulson commented on #61
It seems that, without a bit of refactoring, this needs to be done in several files, but this PR handles Gemm: https://github.com/flame/blis/pull/62

[2016-04-07 17:46] jeffhammond commented on #61
@fgvanzee Sorry, but Berkeley already did this with [Lithe](http://lithe.eecs.berkeley.edu/).

In any case, `BLAH_NUM_THREADS` is how application developers expect to be able to do things.  They are also accustomed to runtime calls like `{omp,mkl}_set_num_threads(int n)`.  And there is use beyond just `BLAH_NUM_THREADS=1`, because some of us like to call GEMM from Pthreads and not oversubscribe.

[2016-04-07 17:48] jeffhammond commented on #61
@poulson If the only way to disable parallelism is `bli_init`, then all of us Fortran application users who want to use BLIS are hosed.  I'm not saying it's your job to implement other methods, but I'm not sure we should close this issue just because your PR is merged...

[2016-04-07 18:01] poulson commented on #61
@jeffhammond The changeset that I linked above directly modifies the Gemm threading routine and does not involve an init function. But an equivalent approach would need to be manually propagated to several other routines.

[2016-04-07 18:41] fgvanzee commented on #61
@jeffhammond I am congnizant of the "application-level `gemm()`" use case, however, I don't see how `BLAH_NUM_THREADS=n` specifically addresses that case better than a runtime function call. Could you elaborate?

[2016-04-07 20:28] jeffhammond commented on #61
@fgvanzee I can put environment variables in a run script.  A runtime function call requires source changes.  Do you expect me to change the source code and build system of NWChem in order to allow users to link against BLIS compiled with thread support?  No other BLAS library requires that.

[2016-04-07 22:00] fgvanzee commented on #61
@jeffhammond I understand what you are referring to now. However, this has nothing to do with `BLAH_NUM_THREADS=n` since I've already made the case that a single variable is generally not sufficient to communicate an effective threading strategy to BLIS.

[2016-04-07 22:05] jeffhammond commented on #61
@fgvanzee Do you think that it is impossible to prescribe the four different thread variables from the total thread count for each platform?  As I recall, there are pretty simple rules based upon the cache structure for reducing the places where threading should be used.

In any case, my prior comment was addressing the question of environment variable versus runtime call _for providing the same i

[2016-04-07 22:30] fgvanzee commented on #61
@jeffhammond That *might* be reasonable for a single value of `_NUM_THREADS`, such as the maximum that would make sense on a given hardware configuration. But you just gave the example of using a value that is less than that maximum. Enumerating the strategy for every value from 1 to n_max seems excessive. Plus, this doesn't even account for the fact that you may have different numbers of cores on

[2016-04-07 22:39] jeffhammond commented on #61
@fgvanzee Sure, but I expect the user to set `BLIS_NUM_THREADS` to the number of cores in their system, or perhaps 2x that number, so you need only worry about the values of the four thread levels that can be obtained from the prime factors of that value.

Anyways, I think this is further evidence that a BLAS _product_ derived from BLIS needs some additional infrastructure to align the knobs to th

[2016-04-12 18:29] magania commented on #61
I think the following heuristic is good enough: Translate _NUM_THREADS=N  to BLIS_JC_NT=P, BLIS_IC_NT=Q, BLIS_JR_NT=1, BLIS_IR_NT=1  where N = P*Q  and Q > P,  If more than one factorization exist chose the one that makes Q - P smaller.

[2016-04-12 18:35] tlrmchlsmth commented on #61
This could work OK, except I would rather set BLIS_JR_NT to P rather than the JC loop in order to avoid having multiple blocks of B in the L3 cache

[2016-04-13 07:57] chiensh opened #63 "bli_gemm_8x8.h?"
1) I attempted to build BLIS version 0.2.0 on bgq, but I found this error
"./config/bgq/bli_kernel.h", line 174.10: 1506-296 (S) #include file "bli_gemm_8x8.h" not found.

and I check the file "bli_kernel.h" for bgq, line 174 contains
#include "bli_gemm_8x8.h"

but I cannot locate this header file anywhere in the package.

2) For my previous ticket "BLIS Test Failure in BlueGene/Q #34", is there a

[2016-04-13 15:26] fgvanzee commented on #63
Thanks for this bug report. I'll try to address this later today. (It should be a straightforward fix.)

[2016-04-13 16:30] fgvanzee commented on #63
This should be fixed now in f756dbf. Let me know if anything else appears broken.

[2016-04-13 16:30] #63 closed

[2016-04-13 16:33] fgvanzee commented on #51
@devinamatthews Perhaps when you get a chance, you can verify that these test failures still manifest with icc post-"big commit". It's low very priority, though.

[2016-04-13 16:47] chiensh commented on #34
Anyone is trying to fix this problem?

[2016-04-13 18:29] tlrmchlsmth commented on #34
@fgvanzee  Is this the same thing as issue number #51 ?

[2016-04-14 15:43] fgvanzee commented on #34
@tlrmchlsmth Probably. However, the vulnerability to nan's/inf's due to not handling "beta == 0" still needs to get fixed eventually, even if it is not causing the symptoms originally reported by Dominic, so I figured we should keep the issue open.

[2016-04-15 02:38] chiensh opened #64 "More compilation error on BG/Q"
I got another error when I attempt to compile the latest version (0.2) for BG/Q

(1) Undeclared identifier bli_daxpyf_fusefac
_Compiling ../config/bgq/kernels/1f/bli_axpyf_opt_var1.c (NOTE: using flags for kernels)
"../config/bgq/kernels/1f/bli_axpyf_opt_var1.c", line 57.20: 1506-045 (S) Undeclared identifier bli_daxpyf_fusefac.
"../config/bgq/kernels/1f/bli_axpyf_opt_var1.c", line 64.39: 1506-098

[2016-04-15 16:20] fgvanzee commented on #64
@chiensh I've fixed the axpyf issue. However, I don't know what is causing the other issue inside the gemm ukernel file. This *may* have something to do with some changes that @devinamatthews made to the build system recently. We'll have to look into it further.

[2016-04-17 11:37] bluss opened #65 "pthreads does not compile on gcc/linux"
Commands:

[code]

First error is:

[code]

versions:

+ gcc version 5.3.1 20160409 (Debian 5.3.1-14)
+ blis dd62080cea78f3a23616200d6640e52c102b2bb9

[2016-04-18 00:15] tlrmchlsmth commented on #65
I got an ifndef wrong for the pthreads implementation on OS/X, but I just pushed a fix, so it should work now.

[2016-04-18 07:46] bluss commented on #65
thanks. It works!

[2016-04-18 09:28] chiensh commented on #64
**Thank you, I got another error in "../config/bgq/kernels/1f/bli_axpyf_opt_var1.c", which is caused by missing an "(" in the statement in line 59**

_[chiensh@cumulus tmp]$ make
...
"../config/bgq/kernels/1f/bli_axpyf_opt_var1.c", line 59.29: 1506-275 (S) Unexpected text '||' encountered.
..._

**After I fixed this problem, I still hit the problem in "../config/bgq/kernels/3/bli_gemm_int_8x8.c"

[2016-04-18 16:21] fgvanzee commented on #65
@tlrmchlsmth Thanks for taking care of this so quickly.

[2016-04-18 16:28] devinamatthews commented on #51
The failures have disappeared as mysteriously as the appeared. Closing.

[2016-04-18 16:35] fgvanzee commented on #51
Spooky. There are very few bugs I've never gotten to the bottom of. This is one I am happy to let go.

[2016-04-18 17:30] fgvanzee commented on #64
@chiensh Okay, I fixed a big chunk of the errors, I think. Please let me know what is left.

[2016-04-18 18:23] #65 closed

[2016-04-19 09:45] chiensh commented on #64
**I think there are still some problem left to be fixed:**

_configure: creating makefile fragment in ../frame/ind/ukernels/trsm
configure: creating makefile fragment in ../frame/util
configure: creating symbolic link to Makefile.
configure: creating symbolic link to common.mk.
configure: configured to build outside of source distribution.
[chiensh@cumulus tmp]$ make
Compiling ../config/bgq/kernel

[2016-04-19 15:20] chiensh commented on #34
**@tlrmchlsmth, according to #51,  setting compiler flag to -O0 should fix its problem, but it does not work for the problem on BGQ. **
_blis_cgemm3m1_hh_ccc               400   400   400    0.000   4.31e-07   PASS
blis_cgemm4mh_nn_ccc               100   100   100    0.000   4.21e-04   FAILURE
blis_cgemm4mh_nn_ccc               200   200   200    0.000   1.34e-04   FAILURE
blis_cgemm4mh_nn_ccc

[2016-04-19 17:39] jeffhammond commented on #56
I don't know why the github hook did not close this issue automatically, but it should have happened.

[2016-04-19 17:39] #56 closed

[2016-04-19 17:52] fgvanzee commented on #64
@chiensh Thanks for your feedback. I've integrated your fixes into eb2f18e. Please give it a try and confirm that it works for you.

[2016-04-19 18:14] chiensh commented on #64
@fgvanzee, Thank You!

I think we can consider this issue closed; now it falls back to the problem reported in #34:
excepted many complex test cases, e.g cgemm4,  zgemm4, are fail, other tests are passed.

However, I build the BLAS to BLIS interface, but it is failure in most of the cases in the netlib BLAS test suite that comes with LAPACK. I will further investigate and report this as another is

[2016-04-19 18:14] #64 closed

[2016-04-19 18:33] devinamatthews commented on #56
The PR has to be accepted first.

On 4/19/16 12:39 PM, Jeff Hammond wrote:

[2016-04-22 07:53] songmaotian opened #68 "multi thread crash"
Hello,
      It seems libblis is not thread safe, I have a gemm invocation

[code]

and we have several thread will invoke the matmul, then it will crash as follow, the parameter p get changed to 0, if I change the program to run only one thread to invoke the matmul, it will be all right.
# 0  0x0000000000545abc in bli_spackm_6xk_ref (conja=BLIS_NO_CONJUGATE, n=25, kappa=0x7fffec000dc0, a=0x7fffb8

[2016-04-22 08:34] songmaotian commented on #68
the problem is in bli_gemm_blk_var1f, for init the b_pack_s
        bli_packm_init( b, &b_pack_s,
                        cntx, cntl_sub_packm_b( cntl ) );

after init the buffer is 0, the following patch seems to work for me

diff --git a/frame/base/bli_mem.c b/frame/base/bli_mem.c
index a199130..ead98dc 100644
--- a/frame/base/bli_mem.c
+++ b/frame/base/bli_mem.c
@@ -58,7 +58,8 @@ void bli_mem_a

[2016-04-23 15:44] fgvanzee commented on #68
@songmaotian Thanks for this bug report. It appears that your patch disables use of the internal memory allocator in favor of a regular `malloc()`-style allocation.

I noticed that in the code snippet you gave in your first post, you did not show any call to `bli_init()`. Are you calling this function prior to using any other BLIS functions?

[2016-04-25 15:48] devinamatthews opened #69 "Incorrect result in axpys (theoretically)"
The `???axpys` family of macros could give the incorrect result for `alpha` and `x` complex and `y` real. For example, `zzdaxpys` calls `daxpyris` which computes `yr += ar * xr` instead of the correct result `yr += ar * xr - ai * xi`.

One way to fix this is to drop all of the scalar macros and just use C99 complex operators like normal people.

[2016-04-25 16:50] fgvanzee commented on #69
@devinamatthews Thanks for bringing this to my attention.

As for why I don't use the built-in C99 complex operators, I investigated this a while back and ran into a snag. There was a reason I didn't switch whole hog to `complex` and `double complex`, but I can't remember now. It may take a while for me to rediscover the reason (or maybe I wrote a comment somewhere).

[2016-04-25 20:50] jeffhammond commented on #69
@fgvanzee Just a guess, but perhaps Fortran ABI compatibility is not guaranteed by C99 complex?  My understanding is that C++ interoperability is fine though.

[2016-04-26 00:00] songmaotian commented on #68
that's true, I disabled the mempool case. I have compare the result, it's right, so I didn't dig the problem deeper, sorry for that.
yes, I have called bli_init.

[2016-04-26 17:50] fgvanzee commented on #68
@songmaotian I'll have to look at this more closely to figure out why the memory allocator is not thread-safe. (It is supposed to be thread-safe.)

[2016-04-26 17:56] tlrmchlsmth commented on #68
BLIS isonly threadsafe right now if you compile BLIS with the same threading model you use to multithread.
So if I compile BLIS with openmp, and then call multiple BLIS dgemms with multiple openmp threads, everything will be fine.
But if I compile BLIS with openmp, and then call multiple BLIS dgemms with multiple ptheads, things will break

@songmaotian <https://github.com/songmaotian> What thread

[2016-04-27 00:11] songmaotian commented on #68
right now I am using version a30ccbc4c6a6e6460e78af6b5c530ee0d06f98fb
in the top dir, there's a bli_config.h, it says,

 38 #if 0
 39 #define BLIS_ENABLE_PTHREADS
 40 #endif
 41
 42 #if 0
 43 #define BLIS_ENABLE_OPENMP
 44 #endif

it seems I haven't enable multi threading in the lib (it's same for x86(auto) and armv8)

[2016-04-27 00:15] devinamatthews commented on #68
Use something like './configure -t pthreads <config>'

On April 26, 2016 7:11:22 PM CDT, songmaotian <notifications@github.com> wrote:

[2016-04-27 00:17] songmaotian commented on #68
@fgvanzee thanks for that, thanks for all your great work, I have been so busy that I have no time to dig deeper, sorry for that

[2016-04-27 16:17] fgvanzee commented on #68
@tlrmchlsmth Thanks for chiming in, Tyler.
@songmaotian Glad Tyler was able to guide you to the problem.

[2016-04-29 05:28] kvaragan opened #71 "Issue with the new blis library"
I am running libflame benchmark test routine (test_libflame.x in test folder). the test gets aborted because FLA_Hemv_check() called from FLA_Hemv_external() reports "Detecting unequal object datatypes". Prior to this call the data is getting corrupted and culprit could be Trsm from the blis library.
Note: With older version of blis, the test suite works just fine.

Test Parameters are: single pre

[2016-04-29 19:05] devinamatthews commented on #69
@jeffhammond: I talked to @fgvanzee, and apparently the primary issue is/was doing updates to just the real or imaginary part which is not simple in pure C99. But, the standard apparently specifies the binary layout such that something like this would work:

[code]

except where `z` is an expression, but the current `bli_?real/imag` macros don't support that anyways. Funny story: apparently both g

[2016-05-01 20:19] fgvanzee commented on #71
@kvaragan
1. What BLIS configuration are you using, and on what kind of hardware?
2. What happens if you go through the same motions except with a reference build of BLIS?

[2016-05-02 06:53] kvaragan commented on #71
@fgvanzee
1. Kind of Hardware tried was haswell, carrizo & piledriver. BLIS Configuration _( --disable-threading --enable-cblas  <auto/carizzo/piledriver> )_
2. With older version of BLIS, the code just runs fine. No crashes/aborts. I notice some problem could be in the function **bli_trsm_lu_ker_var2()** of the **new blis**

[2016-05-03 22:31] fgvanzee commented on #71
@kvaragan
1. Are you saying that you tried each of those three configurations?
2. It would be helpful if you could give commit numbers instead of "old" versus "new". I know you are probably talking about before and after the big commit, but testing a specific commit before, and a specific commit after, and knowing for sure that that was the turning point would be good.
3. What leads you to believe

[2016-05-04 05:23] kvaragan commented on #71
1.) Yes - on each of those hardwares.
2.) The commit number it was working fine was : **commit 0b126de1342c11c65623bcb38e258e21e9244e3d** I haven't tried the later versions before the big commit.
3.) When debugging I actually set the watch point for the variable _x datatype_. This value is getting changed in this function bli_trsm_lu_ker_var2(). Since its datatype is getting changed from what is c

[2016-05-04 16:12] fgvanzee commented on #71
@kvaragan
Okay, I will begin by trying to reproduce this behavior. Let me get back to you. But just to clarify, this manifested when linking the libflame test suite to a BLIS library built from any of the three configurations you named, and running the Cholesky factorization test? Were you using default input parameters for the libflame test suite?

[2016-05-04 16:51] kvaragan commented on #71
I noticed this problem in LU with pivot and QR_UT also. This problem occurs at the verification of the results. I used default parameters (input.global.general file) But I tried with different matrix sizes as well.

[2016-05-04 22:25] maganavi opened #72 "problem using only cblas interface"
If I only want to use the cblas interface so I only include cblas.h,  I get the error: ‘f77_int’ was not declared.

[2016-05-06 15:31] fgvanzee commented on #72
@maganavi I think I fixed this in 97b512e. Please give it a try.
@devinamatthews If you have time, please review my changes in `frame/compat/cblas/src/cblas.h` and make sure I didn't do anything stupid. Note I left out the `#undef` for `F77_INT` and `F77_CHAR`, which appear in `bli_cblas.h`, since those macros do not appear in `cblas.h`.

[2016-05-06 16:29] devinamatthews commented on #72
@fgvanzee That looks fine to me. The F77_INT and F77_CHAR macros will probably still have some effect (the CBLAS code may make internal copies of ints etc.), but I don't think that really matters.

[2016-05-06 16:36] fgvanzee commented on #72
@devinamatthews Are you sure the `F77_INT` and `F77_CHAR` macros would have an effect? It appears that @maganavi wants to build BLIS with CBLAS support, install the library, and then compile his application code with `#include "cblas.h"` (and no `#include` for any BLIS-specific headers). Since BLIS will have already been built, I don't think the macros have any effect on the application code (sinc

[2016-05-06 16:44] devinamatthews commented on #72
Leaving them not #define'd or explicitly #undef'ed is fine, but if the
user including cblas.h were to define these macros (for whatever reason)
then it would affect the interface. For example,

#define F77_INT int

could potentially break if the internal BLAS interface is 64-bit.
#undef'ing them makes CBLAS use f77_int and char always. So, either
cblas.h could #undef them itself or the user could

[2016-05-06 16:47] fgvanzee commented on #72
@devinamatthews Let's revisit this next week in-person.

[2016-05-06 20:43] fgvanzee commented on #71
@kvaragan I've been able to reproduce **a** problem, but I'm not sure if it's the same one that you are observing. I'll keep you informed.

[2016-05-09 20:53] devinamatthews opened #73 "Constants in bli_const.c "undefined" on OSX"
It seems that the linker on OSX is not able to find any of the constants defined in `bli_const.c`, such as BLIS_ONE etc. The problem, according to [this page](http://stackoverflow.com/questions/19398742/os-x-linker-unable-to-find-symbols-from-a-c-file-which-only-contains-variables) is that undefined constants end up as "common" symbols which are ignored by the OSX linker. The two available solutio

[2016-05-09 20:59] devinamatthews commented on #73
Two updates:

1. Both methods mentioned above seem to fix the problem.
2. The `gemm_cntl*` and `trsm_[lr]_cntl*` constants and possibly others are also affected.

[2016-05-09 21:06] devinamatthews commented on #72
Here is a summary of what I'm trying to say:

`F77_INT` defined to: | Outcome *without* `#undef F77_INT` | Outcome *with* `#undef F77_INT`
---------------------------- | ---------------------------------------------------- | -----------------------------------------------
Not defined | OK, no internal conversion | OK, no internal conversion
Defined to the same type as f77_int | OK, but internal co

[2016-05-09 21:28] fgvanzee commented on #73
1. This is super annoying. I wonder if it runs afoul of any standards.
2. I suppose the most maintainable way of addressing this is solution 1. But you are right, it would affect the control tree as well. Can we `#define` an  initializer expression in the spirit of `PTHREAD_MUTEX_INITIALIZER`?

[2016-05-09 21:33] devinamatthews commented on #73
1. Not a standards issue, just a Mach limitation.
2. I am actually leaning towards 1. since it is a global change. If you do want to initialize, though, default-initialization with `{}` will just fill it with zeros instead of random data which should be fine.

[2016-05-09 21:37] fgvanzee commented on #73
Sure, `{}` is fine for now. I may go back and replace them with `_INITIALIZER` macros in the future.

[2016-05-09 21:47] devinamatthews commented on #73
I'll set up a PR.

On May 9, 2016 4:37:39 PM CDT, "Field G. Van Zee" <notifications@github.com> wrote:

[2016-05-10 15:55] maganavi commented on #72
@fgvanzee Yes, That is what I want, the application shouldn't need to know anything about blis if it is using the cblas interface. @devinamatthews I think the building process can create a different cblas.h file with the correct f77_int definition according how the library was built.

[2016-05-10 16:48] #73 closed

[2016-05-10 16:52] fgvanzee commented on #72
@maganavi I spoke with @devinamatthews and he now agrees with me: the `F77_INT` definition (as well as that of `F77_CHAR`) should not matter at all for an application that wants to simply `#include "cblas.h"`, because by that time, all of the code that uses those macros has already been compiled (they do not occur in `cblas.h`).

Have you been able to try out 97b512e (or one of its descendants? Pl

[2016-05-10 17:05] devinamatthews opened #75 "configure does not obviously fail if non-existent configuration is used"
For example, if one does `configure knc` instead of `configure mic`, the results is:

[code]

Without looking carefully this seems to indicate a successful configuration. Failure in this case should be quick and obvious.

[2016-05-11 20:23] devinamatthews commented on #51
`cher2k3m1` and `cher2k4m1a` are giving residuals of `NaN` on KNL, so the underlying cause may be resurfacing (everything else passes).

[2016-05-11 21:43] fgvanzee opened #77 "BLIS test suite uses aligned ldims for column storage cases, but not row (or general) cases"
Due to the current implementation of `libblis_test_mobj_create()`, tests with column-stored matrix operands cause those operands to be created with aligned leading dimensions. However, when row storage is tested, matrix operands are created with leading dimensions that are NOT aligned. This is because `bli_obj_create()` applies alignment to the default storage case (when "0, 0" is passed in for rs

[2016-05-11 21:47] fgvanzee commented on #71
@kvaragan I found the source of the problem and corrected it in 4bcf1b3. The bug was consistent with your observation that the commits prior to the big commit (537a1f4) did not exhibit the problem. (However, I can't be sure that this was the *only* bug you were observing.) Please give it a try now and let me know how it goes.

[2016-05-12 21:07] devinamatthews opened #78 "Edge cases for row-major ukernels not handled quite right"
For `gemm` ukernels which prefer contiguous rows, the temporary buffer for edge cases (when `m != mr` or `n != nr`) is treated as column-major (i.e. `rs_c = 1` and `cs_c = mr`). If the general-stride pathway in the ukernel is very slow then this might have a performance impact for small to medium size matrices.

The ukernel wrapper should treat the temporary buffer as row-major (`rs_c = nr` and `c

[2016-05-12 21:10] fgvanzee commented on #78
Thanks for catching this, @devinamatthews. I agree that there is room for performance improvement in those cases.

[2016-05-13 20:26] fgvanzee commented on #68
@songmaotian I would like to close this issue. Could you confirm that enabling multithreading in BLIS solved your problem?

[2016-05-14 02:19] songmaotian commented on #68
I am using it on android, "./configure -t pthreads" can't be built since the pthread barrier isn't implemented on android.

[2016-05-16 08:16] kvaragan commented on #71
@fgvanzee It worked, I checked it on haswell & piledriver. The test cases are passing now. Thank You

[2016-05-16 20:18] fgvanzee opened #79 "Allow BLIS developer to specify arbitrary malloc()-style allocation functions"
As part of the configuration, BLIS should allow the developer to specify the function to call for allocating memory for the following three use cases that occur in BLIS:
* blocks that are allocated within the BLIS memory pools, which get used for packing buffers.
* internally-invoked allocation for things such as control tree nodes.
* user-invoked allocation, primarily exemplified by `bli_obj_crea

[2016-05-16 22:26] maganavi commented on #72
I  tried it today and It works fine.

[2016-05-16 22:26] #72 closed

[2016-05-18 18:41] #71 closed

[2016-05-18 20:15] fgvanzee commented on #77
This should be addressed now in d309f20.

[2016-05-18 20:15] #77 closed

[2016-05-19 18:35] fgvanzee opened #80 "Add configure option to enable profiling at compile time"
For GNU gcc, this takes the form of the `-pg` option. Should be disabled by default.

[2016-05-19 18:40] devinamatthews commented on #80
Although, on Linux `perf` is a much better tool.

[2016-05-24 18:41] fgvanzee commented on #79
This feature is now provided by 9dcd6f0.

[2016-05-24 18:41] #79 closed

[2016-05-26 17:50] jeffhammond commented on #68
@songmaotian [Pthread barrier is an extension](http://pubs.opengroup.org/onlinepubs/009695399/functions/pthread_barrier_wait.html) that isn't supported on Mac either.

[This](http://yyshen.github.io/2015/01/18/pthread_barrier_osx.html) is one workaround.  You might try it.  Since copying random code from the Internet is a licensing risk, someone should write a clean-sheet implementation for BLIS.

[2016-05-26 17:52] devinamatthews commented on #68
We have a non-pthread barrier for OpenMP, the right #ifdef's just need
to get inserted. We should probably just use our own barrier all of the
time since I would not be surprised if the pthread one sucks.

[2016-05-27 17:30] jeffhammond commented on #68
@devinamatthews

@jedbrown has asserted that Pthread barrier sucks many times, and I believe him, at least in the presence of general purpose operating systems.

One part of [the definition](http://pubs.opengroup.org/onlinepubs/009695399/functions/pthread_barrier_wait.html) that may interfere with performance is the following:

*A thread that has blocked on a barrier shall not prevent any unblocke

[2016-05-27 17:49] devinamatthews commented on #68
We use a spin-barrier. We can't use #omp barrier because we need to
block on sub-communicators.

On 5/27/16 12:30 PM, Jeff Hammond wrote:

[2016-05-27 19:22] jedbrown commented on #68
@jeffhammond Beyond oversubscription, pthread barrier's problem is that threads don't have identity; the barrier completes after *any* `count` threads call `pthread_barrier_wait`. In practice, this results in an O(p) algorithm instead of O(log p). With a thread communicator, you can use a scalable barrier algorithm because you have identity. ConcurrencyKit offers scalable barriers by having a "sub

[2016-05-30 07:44] tlrmchlsmth commented on #68
OK it sounds like we should just change it so that BLIS never uses pthread barriers unless (maybe) someone requests them specifically at configure time. Any objections? @fgvanzee?

[2016-05-30 15:00] fgvanzee commented on #68
@tlrmchlsmth Without objection. On matters such as these, I defer to those with more expertise.

[2016-05-30 15:50] jeffhammond commented on #68
+1 to no pthread barriers by default. They might be useful for functional
testing in the oversubscribed case, although other pthread constructs may
also be able to solve that case.

--
Jeff Hammond
jeff.science@gmail.com
http://jeffhammond.github.io/

[2016-06-01 12:16] tlrmchlsmth commented on #68
OK there are no pthread barriers by default anymore.

I merged in #81 while I was at it.

[2016-07-13 19:38] devinamatthews opened #83 "sandybridge segfault with 32-bit dim_t"
The culprit seems to be the load of `k` in the micro-kernel which is explicitly a `movq`. Changing type of `k_iter` and `k_next` to [u?]int64_t should fix it.

[2016-07-14 15:43] fgvanzee commented on #83
@devinamatthews I assume that you are trying to configure with `-i 32`? May I ask why you are forcing the use of internal 32-bit integers on Sandy Bridge?

[2016-07-14 15:49] devinamatthews commented on #83
This came about in a very roundabout way which is not really relevant.
In any case it is probably best to either prohibit this configuration or
copy to a 64-bit variable to not segfault.

On 7/14/16 10:43 AM, Field G. Van Zee wrote:

[2016-07-14 15:54] fgvanzee commented on #83
I favor the copy-to-`uint64_t` option. I'll leave this issue open until someone (maybe me) applies a comprehensive fix to all x86_64 microkernels.

[2016-07-18 11:22] lejeczek opened #84 "reg-BLAS.R test fails"
being not a programmer I'd like to ask - what might the problem?

Type 'q()' to quit R.

[2016-07-19 03:07] devinamatthews commented on #84
Is BLIS being used for the `tcrossprod(x, y)` calculation or for `x %*% t(y)`?

[2016-07-19 09:18] lejeczek commented on #84
I'd guess only BLIS is being used there, I build BLIS:
'./configure --prefix=/local.CPUnative --enable-shared --enable-threading=omp --enable-cblas piledriver'
then I try to substitute R's blas with BLIS and during R build it fails above test.

[2016-07-22 17:28] fgvanzee opened #87 "License/copyright headers in need of update"
The license/copyright headers at the top of each source file need to be updated. The copyright year needs to be changed to "2016". (I never got around to updating it in 2015 and so it still reads "2014".)

Unfortunately, this change is going to touch virtually every file in the repository. If you have any objections, or this will disrupt your work, please speak up.

[2016-07-22 17:31] devinamatthews commented on #87
What is the benefit of per-file copyright licenses vs. a single
top-level LICENSE file? Do any of the files actually say anything different?

On 7/22/16 12:28 PM, Field G. Van Zee wrote:

[2016-07-22 18:06] fgvanzee commented on #87
For most files, no, there is no difference. However, we are about to integrate some changes submitted by an industry partner, and they asked us to include them as a separate copyright line in the BSD license header.

At one time, I think OTC preferred having the full license on each file, though I'm not sure if that is strictly required. (In libflame's source headers, we simply state the license a

[2016-07-22 19:40] jeffhammond commented on #87
Why do you need to change year? Copyright expiration is a long time. Seems
like you only need to change filed touched by the vendor contribution.

--
Jeff Hammond
jeff.science@gmail.com
http://jeffhammond.github.io/

[2016-07-22 19:48] #83 closed

[2016-07-22 19:53] fgvanzee commented on #87
Well I guess I don't **need** to update the year, like I need to stay hydrated, but as an agent of the UT I continue to make new changes to BLIS all the time, and those changes are done today, not in 2014. And rather than update the header of each file I change, it's easier to just update all files annually.

Also, I would be lying if I claimed there wasn't an obsessive-compulsive element in here

[2016-08-18 21:27] tlrmchlsmth opened #89 "Issue with pthreads and memory broker abstraction"
When compiling with pthreads now, I  get a bunch of warnings and errors like the below. If I back up to the commit ce59f81, these go away.

                 from ./frame/thread/bli_thread.h:56,
                 from ./frame/include/blis.h:74,
                 from frame/base/bli_membrk.c:36:
frame/base/bli_membrk.c: In function ‘bli_membrk_init’:
./frame/base/bli_membrk.h:56:2: warning: passing ar

[2016-08-19 16:19] fgvanzee commented on #89
Thanks for reporting this, Tyler. I'm looking into it now.

[2016-08-19 16:29] tlrmchlsmth commented on #89
Is Travis CI configured to test BLIS with pthreads and openmp turned on?

[2016-08-19 16:31] fgvanzee commented on #89
Clearly not. I'll have a fix in soon.

[2016-09-14 14:29] musm opened #90 "How to cross compile for use on windows?"
Hi, I would like to try blis. Is there a guide on how to cross compile on linux so that I can use blis on windows?

[2016-09-14 15:13] ShadenSmith opened #91 "Broken link in README.md"
The "new BLAS-like API" link in the README is empty and leads to a 404.

Should it instead point to [https://github.com/flame/blis/wiki/BLISAPIQuickReference](https://github.com/flame/blis/wiki/BLISAPIQuickReference)?

[2016-09-15 20:47] fgvanzee commented on #90
@musm, Unfortunately, we don't have a working Windows build system for BLIS (as is the case with libflame), nor do we have any documentation on cross-compiling for Windows. (Most of our users build and execute on GNU/Linux, and virtually all of those that don't use OS X.)

[2016-09-15 20:47] #90 closed

[2016-09-15 21:03] musm commented on #90
Alright. Well there's a simple answer as to why you don't have any windows users. If there is no windows support you will not have any windows users.

I was looking into exploring replacing blas and lapack with your libraries, however if there is no windows support it's impossible. Think about the millions of windows users that use matlab.

[2016-09-15 21:08] musm commented on #90
I just saw: https://github.com/flame/blis/issues/57  so clearly there is  interest in Windows support if a Continuum Analytics dev was interested in using these libraries. Looks like he too could not since it's simply unacceptable to not support windows for Python.

[2016-09-15 21:26] fgvanzee commented on #90
It's not that we would not like to have Windows support. It's that we don't have the resources to make it happen, especially given that we have many other competing priorities.

If you would like to take this on as a pet project, we would happily accept your contributions.

[2016-09-16 13:46] jeffhammond commented on #91
I support you converting this issue to a pull request ;-)

--
Jeff Hammond
jeff.science@gmail.com
http://jeffhammond.github.io/

[2016-09-16 16:16] #91 closed

[2016-09-17 18:02] jeffhammond commented on #89
Should this issue be closed?  Field's last commit indicates that it is resolved.

[2016-09-17 18:03] #52 closed

[2016-09-17 18:15] fgvanzee commented on #89
Yes, thanks for reminding me Jeff. I kept in open in case by chance my fix was not successful.

[2016-09-17 18:15] #89 closed

[2016-09-17 18:18] jeffhammond commented on #32
Is there any further action required on this specific issue or can it be closed?

[2016-09-17 18:35] fgvanzee commented on #32
I think it can be closed. I suspect the issue was born largely from confusion over the build system. Devin's recent upgrades to the configure script, supporting icc and gcc explicitly, certainly helps as well.

[2016-09-17 18:35] #32 closed

[2016-10-04 18:03] fgvanzee opened #95 "Document level-0 operations in BLASAPIQuickReference wiki"
To clarify, I'm referring to the level-0 object-based APIs in `frame/0`, not the level-0 scalar macros in `frame/include/level0`.

[2016-10-06 19:03] devinamatthews opened #96 "bli_free_align fails with NULL pointer"
`bli_free_align` segfaults if passed a NULL pointer. Instead it should do nothing. Note that `bli_malloc_align` returns a NULL pointer for `size=0`.

[2016-10-06 19:51] fgvanzee commented on #96
Thanks Devin. This should now be fixed in 0b571cd.

[2016-10-06 19:51] #96 closed

[2016-10-10 11:09] elmar-peise opened #97 "Level3 segfaults for dimension = 0"
I observe that BLIS segfaults for dgemm and other level 3 kernels when one of the dimensions is 0.  This can be replicated with the test suite on both the master and compose branch and on both Haswell and SandyBridge without threading.

[2016-10-10 13:29] jeffhammond commented on #97
Hopefully we can implement the check for this only in the BLAS interface, while merely documenting that the BLIS interface requires sane arguments.

[2016-10-10 13:39] devinamatthews commented on #97
I vote for fixing BLIS too.

On October 10, 2016 8:29:14 AM CDT, Jeff Hammond <notifications@github.com> wrote:

[2016-10-10 14:09] elmar-peise commented on #97
Checks for empty matrices with corresponding code branches are already implemented in BLIS: e.g., https://github.com/flame/blis/blob/master/frame/3/gemm/bli_gemm_int.c#L59 and the following lines.

As the following stack trace shows, the segfault actually happens after the invocation of `bli_gemm_int` in the attempt to free the control tree:

[code]

[2016-10-10 18:56] fgvanzee commented on #97
@elmar-peise Just to be clear, this segfault has nothing to do with the level-3 kernels. But thank you for the report nonetheless.
Everyone else: This issue, which is squarely in the level-3 implementation, should be fixed in 22377ab. The fix is inherited across all user-level interfaces (BLIS, BLAS, CBLAS).

[2016-10-10 20:51] elmar-peise commented on #97
Yes, that's what I thought but I did not have the problem for some level-1 and -2 kernels that I tried.
Thanks for the quick fix!

[2016-10-10 20:51] #97 closed

[2016-10-11 17:04] tlrmchlsmth opened #98 "Duplicate mem_manager_mutex"
When I try to link with BLIS with pthreads turned on, I get the following:

Changing
`pthread_mutex_t mem_manager_mutex = PTHREAD_MUTEX_INITIALIZER;`
to
`extern pthread_mutex_t mem_manager_mutex;`
in either bli_mem.c or bli_memsys.c allows me to link, but I don't know if this is the right thing to do

[2016-10-11 18:25] fgvanzee commented on #98
Tyler, this should be fixed now in 9cda605. Thanks for this report.

[2016-10-11 18:25] #98 closed

[2016-10-19 17:16] tlrmchlsmth opened #99 "double typedef membrk_t"
membrk_s is typedeffed to membrk_t both in frame/base/bli_membrk.h and in frame/include/typedefs.h

This is apparently not legal in C99

[2016-10-19 18:07] ShadenSmith commented on #99
It is however valid C11, and in practice most C99 compilers will compile it. For example, GCC allows it unless `-std=c99 -pedantic` is used.

Unrelated, but the `_t` naming convention for types is [reserved](https://www.gnu.org/software/libc/manual/html_node/Reserved-Names.html) for POSIX.

[2016-10-19 21:17] fgvanzee commented on #99
@tlrmchlsmth Thanks for the report, Tyler. This has been fixed in 970745a.
@ShadenSmith Thanks for your comments. I was unaware that _t was claimed as "reserved" by POSIX. Perhaps I'll fix this in future libraries, and/or if there is an actual type collision. :)

[2016-10-19 21:17] #99 closed

[2016-10-19 22:26] jeffhammond commented on #99
Indeed, @ShadenSmith, I'm pretty sure that every C project of more than 1KLOC violates the `_t` rule 😱

[2016-10-20 00:52] ShadenSmith commented on #99
Heh, including [my own](https://github.com/ShadenSmith/splatt/blob/master/src/base.h#L25) :-).

[2016-10-21 17:40] krzysz00 opened #100 "OpenMP build broken on GCC 5.4..0 on Ubuntu 16.04"
Steps to reproduce:
1. `./configure -p /usr --enable-shared --enable-cblas -t openmp sandybridge`
2. `make`

What should happen:
- BLIS is compiled

What happens instead:
[code]

Using `git bisect` reveals that the error was introduced in commit 970745a5fc7c29de3e202988e5eb104fabca4fdc

[2016-10-21 17:57] devinamatthews opened #101 "Threading should be tested in Travis CI."
It seems that commit 970745a introduced a bug which only manifests when threading is enabled (see #100). Build configurations for openmp and pthreads threading should be added to Travis CI to catch these kinds of bugs.

[2016-10-21 19:40] fgvanzee commented on #100
@krzysz00 Thanks for reporting this issue. Commit 936d5fd should fix it.
@devinamatthews I ended up choosing a different solution. I moved only the definition of `BLIS_ENABLE_MULTITHREADING` (and the associated sanity check) to `bli_config_macro_defs.h`, which is `#included` before `bli_type_defs.h`.

[2016-10-21 19:40] #100 closed

[2016-10-21 22:40] jeffhammond commented on #101
And it's easy to test many versions of GCC in Travis CI Mac instances using Homebrew.  Obviously, one can install RPMs in Linux instances with sudo enabled, but that's not ideal for other reasons.

[2016-10-21 23:29] jeffhammond opened #102 "KNL"
This issue is for https://github.com/devinamatthews/blis/tree/knl but @devinamatthews has issues disabled there.

It seems that threading (OpenMP and POSIX) is not support for KNL.  Why?  Can't you reuse the threading code for other Intel targets?

[code]

[2016-10-24 21:02] chipbuster commented on #102
I've found that using `--enable-threading=omp` instead of `--enable-threading=openmp` seems to convince it to work, not sure if that's intended behavior or not.

[2016-10-24 21:06] devinamatthews commented on #102
@jeffhammond if you know how to enable issues on a fork I'll turn it on, but here is OK I guess.

[2016-10-24 21:08] devinamatthews commented on #102
Ah, I haven't merged whatever commit in BLIS changed "omp" to "openmp". Note that there is a comment in the configure output: `Unsupported threading model: openmp.`. The current appropriate option should be documented by `configure --help`.

[2016-10-24 21:45] fgvanzee commented on #102
Yes, apologies for this inconvenience, folks. I made the change not because it "needed" to be done, but I thought that stylistically "openmp" (versus "omp") was the textual analogue to "pthreads".

[2016-10-24 22:43] jeffhammond commented on #102
@devinamatthews Unnecessarily pedantic answer to question below 😉

![help-devin](https://cloud.githubusercontent.com/assets/406118/19666625/85754204-9a00-11e6-9901-05c52bb6247d.png)

[2016-10-24 22:46] jeffhammond commented on #102
@devinamatthews @fgvanzee Is there any reason not to support `{openmp,omp}` and `{pthread,pthreads,posix}` case-insensitively, to minimize the possibility of failure?

IBM Blue Gene MPI parsed `{DCMF_INTERRUPT,DCMF_INTERRUPTS,DCMF_INTERUPT,DCMF_INTERUPTS}` and similar wherever spelling might be an issue, which I always felt was a particularly wise decision.  It prevented many instances of "WTF was

[2016-10-24 22:51] fgvanzee commented on #102
@jeffhammond While we're at it, why not just overload every standard C library function with every possible misspelling of the function name? Oh, because then we would have no more use for man pages! Can't let that happen. :)

I think it's reasonable for a user to not know about a feature unless/until they read about it, and when they read about it (via `--help`, for example) they will see the exp

[2016-10-25 18:12] jeffhammond commented on #102
Note that this ticket exists because I did exactly as you suggested but the
implementation didn't match the documentation.

The standards to which we hold developers is different than that of users.
I don't expect you to think like a user, but that's why I'm here :wink:

--
Jeff Hammond
jeff.science@gmail.com
http://jeffhammond.github.io/

[2016-10-25 18:15] devinamatthews commented on #102
KNL isn't in the main tree yet. Try the 'knl' branch of devinamatthews/blis.

On October 21, 2016 6:29:26 PM CDT, Jeff Hammond <notifications@github.com> wrote:

[2016-10-25 18:26] devinamatthews commented on #102
I'm actually with Jeff on this one. I'll submit a PR tomorrow. Also, it
might be better if threading were the default (thoughts?)

On 10/24/16 5:51 PM, Field G. Van Zee wrote:

[2016-10-25 18:38] devinamatthews commented on #102
To be pedantic, the documentation (./configure --help) for the knl
branch in devinamatthews/blis *does* say "omp", not "openmp", but I am
working on merging that into flame:master so that problem will go away.

[2016-10-25 18:43] fgvanzee commented on #102
I think I only followed about 70% of this thread. (Still don't understand Jeff's screenshot.) But I'm going to assume everything is taken care of now or will be soon.

[2016-10-25 19:00] devinamatthews commented on #100
OK, any thoughts on #101?

On 10/21/16 2:40 PM, Field G. Van Zee wrote:

[2016-10-25 19:01] jeffhammond commented on #102
Field: screenshot was because Devin didn't know how to enable issues on his
fork.

--
Jeff Hammond
jeff.science@gmail.com
http://jeffhammond.github.io/

[2016-10-25 19:06] devinamatthews commented on #102
KNL PR (#105) is submitted, so I think we can close this.

[2016-10-25 19:10] fgvanzee commented on #102
@jeffhammond Ah, thanks, I couldn't connect the dots. Or, red boxes.

[2016-10-25 19:15] fgvanzee commented on #101
Once, at a conference in Boston I think, Jeff taught me me the phrase, "We look forward to your patch." :)

I'm open to this, but I see it as a relatively low priority given how infrequently I dork with the multithreading functionality, and how I am usually quite thorough about testing those changes. (Granted, 970745a was an exception.)

[2016-10-25 20:11] jeffhammond commented on #101
@fgvanzee You may look forward to my patch 😉

I don't always compute, but when I do, it's in parallel 😆

[2016-10-25 22:15] #102 closed

[2016-10-29 21:27] fgvanzee commented on #78
@devinamatthews Towards this fix, do you agree with the following patch to each of the macro-kernels?

[code]
(Turns out this is actually *necessary* for some of the complex domain stuff I'm doing now.)

[2016-10-29 22:45] devinamatthews commented on #78
Is there a reason not to query the kernel row major property directly?

On October 29, 2016 4:27:37 PM CDT, "Field G. Van Zee" <notifications@github.com> wrote:

[2016-10-29 23:37] fgvanzee commented on #78
@devinamatthews I suppose that would be more direct. The fix I proposed above assumes that the higher-level code has already oriented the strides of C to match the storage preference of the microkernel, as accomplished by the following snippet from `bli_gemm_front.c`:

[code]

[2016-10-29 23:48] devinamatthews commented on #78
I guess either works.

On October 29, 2016 6:37:31 PM CDT, "Field G. Van Zee" <notifications@github.com> wrote:

[2016-10-31 19:49] fgvanzee commented on #78
This issue should now be fixed in 618f433.

[2016-10-31 19:49] #78 closed

[2016-11-02 18:03] #27 closed

[2016-11-02 18:09] devinamatthews commented on #101
Fixed by #108.

[2016-11-02 18:09] #101 closed

[2016-11-02 18:10] devinamatthews commented on #55
Fixed by #108.

[2016-11-02 18:10] #55 closed

[2016-11-02 18:26] devinamatthews commented on #75
I guess this is fixed now.

[2016-11-02 18:26] #75 closed

[2016-11-02 18:32] devinamatthews commented on #68
AFAICT this is "fixed" now.

[2016-11-02 18:32] #68 closed

[2016-11-02 18:34] devinamatthews commented on #30
BLIS doesn't have it's own thread pool implementation at this point, so this isn't an issue. If we ever get around to implementing one we will take this into consideration, though.

[2016-11-02 18:34] #30 closed

[2016-11-02 18:34] #24 closed

[2016-11-02 19:31] njsmith commented on #30
Huh, interesting. Do you only support omp now, or how does that work?

On Nov 2, 2016 11:34 AM, "Devin Matthews" <notifications@github.com> wrote:

[2016-11-02 19:40] devinamatthews commented on #30
We also support pthreads, but spawn new ones each time (yuck, I know).

On 11/2/16 2:31 PM, Nathaniel J. Smith wrote:

[2016-11-02 19:43] jeffhammond commented on #30
@njsmith `git grep pthread_` is your friend 😉
[code]

[2016-11-02 19:55] njsmith commented on #30
I promise that my notebook is covered in little "njs + git grep" doodles
with hearts around them, but in this case Devin's answer was more helpful
:-)

On Nov 2, 2016 12:43 PM, "Jeff Hammond" <notifications@github.com> wrote:

[2016-11-02 20:26] fgvanzee commented on #30
Wait, there's a `git-grep` command? Where have I been?

[2016-11-02 21:23] jeffhammond commented on #30
@fgvanzee I initialize git repos in directories from tarballs for no other reason than the speedup associated with `git grep`.

[2016-11-02 21:48] njsmith commented on #30
@jeffhammond: getting off-topic, but you might want to check out [ripgrep](http://blog.burntsushi.net/ripgrep/)

[2016-11-02 21:56] jeffhammond commented on #30
@njsmith I think it's fine to digress on a closed ticket, because sitting four inches to the right of this box is a magically button that allows the uninterested to terminate notifications related to this thread 😃

I read about `ripgrep` but I am satisfied with the performance of the default version, at least with the `git` prefix, since `git` magically elides a lot of the filesystem overhead (or

[2016-11-22 22:12] fgvanzee opened #110 "Implement use of pthread affinity functions"
Read an environment variable, say, `BLIS_CPU_AFFINITY`, and use its contents to call `pthread_setaffinity_np()` to set the threads' affinity masks.

Ideally, the same environment variable would control OpenMP thread affinity, in the event that BLIS is configured with OpenMP instead of pthreads, but there may be implementation realities that make this infeasible. Reader: please consider this issue

[2016-11-22 22:16] devinamatthews commented on #110
sched_setaffinity is probably the way to go on Linux. Although, you
really also need HW topology information, which is probably best gotten
from hwloc.

[2016-11-22 22:16] devinamatthews commented on #110
And FYI you can't set affinity at all on OSX so Linux-only is fine.

[2017-01-04 21:14] devinamatthews opened #112 "icc with -ipo doesn't work (in theory)"
**NOTE: this issue really only applies to a hypothetical future version of BLIS**

When using the `-ipo` option with icc on [TBLIS](https://github.com/devinamatthews/tblis), the assembler complains that symbols like `.SDONE` are redefined. While labels beginning with a dot are indeed "local" symbols and not included in the symbol table, it seems that icc is smashing a whole bunch of stuff together

[2017-01-27 20:34] devinamatthews commented on #61
This has been fixed by #109.

[2017-01-27 20:34] #61 closed

[2017-02-07 03:24] baozich commented on #110
I'm looking for the similar features too and considering implementing it with hwloc.

However, I found the performance drop severely when multithread is enabled (on ARMv8). I used perf to analysis the issue and found most of time it consumed happens at the while loop in bli_thrcomm_barrier(). Need to fix this first.

[2017-02-07 17:40] jeffhammond commented on #110
@baozich What happens if you use the OpenMP build of BLIS and set affinity via `OMP_PLACES` and `OMP_PROC_BIND`?

[2017-02-08 13:07] heroxbd opened #114 "Consistency of `configure --enable-threading=openmp`"
From fd04869ae4d4a3, both --enable-threading=openmp and --enable-threading=omp are accepted.

But from 11eed3f683d09, although `configure --enable-threading=omp` is valid, common.mk will not append -fopenmp to CTHREADFLAGS and LDFLAGS, resulting in under-linking.

In addition, wiki page

  https://github.com/flame/blis/wiki/Multithreading

Should use 'openmp' instead of 'omp' in `configure --enabl

[2017-02-08 17:25] fgvanzee commented on #114
I've pushed a commit, 018180c9, to fix the `configure` bug. Thanks for reporting this issue! I've also fixed the wiki page. Please let me know if you encounter any further problems.

[2017-02-09 00:51] heroxbd commented on #114
Thanks, Field!

[2017-02-09 01:12] #114 closed

[2017-02-09 01:37] heroxbd opened #115 "Completeness of BLAS compatibility layer (like dcabs1_)"
I have compiled blis on Intel MIC Knight Landing, with the following options:

`./configure --enable-threading=openmp --enable-blas --enable-cblas knl`

But when I link [R](https://www.r-project.org/) to it, the BLAS compatibility layer cannot pass the completeness test of R configuration,

The related part of config.log is:

The similar issue is found when I build numpy and scipy against the BLAS

[2017-02-09 17:04] fgvanzee commented on #115
@heroxbd Thanks for pointing this out. (I wasn't aware that the BLAS compatibility layer was missing any functionality.) I'll work on a fix.

[2017-02-09 17:59] fgvanzee commented on #115
@heroxbd I've committed a fix in c362afc5. Please give it a try. (There may be other BLAS functionality that is still missing from the compatibility layer.)

[2017-02-11 07:34] heroxbd commented on #115
It works! Thanks Field.

[2017-02-11 07:34] #115 closed

[2017-02-20 00:54] heroxbd opened #116 "test segment fault on Intel Knight Landing"
I configured blis by

[code]
and run tests by `make test`.

On Intel broadwell it works, but fails by segment fault on Intel Knight Landing:

The log file is attached.  My system is Gentoo with gcc-5.4.

[build.log.gz](https://github.com/flame/blis/files/786333/build.log.gz)

[2017-02-20 02:16] devinamatthews commented on #116
This is fixed by #117, which I will merge as soon as the tests pass. Note that you can also use icc for KNL (and other Intel archs) with `./configure CC=icc ...`.

[2017-02-20 05:26] gaming-hacker commented on #57
i agree cmake is the biggest piece of bloated #!@#$$ since microsoft windows.  if you can't write a makefile from scratch and compile this small lib, maybe you shouldn't be using this lib.

[2017-02-20 09:38] heroxbd commented on #116
Hi Devin, thank you for your work.  But unfortunately you commit 7d42fc0796ef0c010 did not fix this bug.
The segment fault persists.

CI failed for KNL, too.

https://travis-ci.org/flame/blis/builds/203300388

[2017-02-20 12:38] devinamatthews commented on #116
The KNL CI failure is a red herring, it fails always for other technical reasons at the moment (not the least of which is that Travis doesn't have KNL nodes). I was able to compile and run the testsuite successfully using your configure line with gcc 6.2 and CentOS 7.2 on a Xeon Phi 7210. Could you please send a gdb backtrace of the failure as well as a disassembly of the region where it fails?

[2017-02-20 13:43] heroxbd commented on #116
Sure.  I am installing gcc-6.3 to give it another shot.

[2017-02-20 15:06] devinamatthews commented on #116
Oops, I had the `trsm` tests turned off, my bad. However, I did reproduce a different segfault which #117 fixed. This new one is fixed by #118, and I remembered to run the full testsuite this time. I'll keep the issue open until you confirm.

[2017-02-20 18:44] jeffhammond commented on #116
@devinamatthews I am not suggesting that it is a practical solution, but you can make Travis CI execute code for a wide range of Intel processors using [SDE](https://software.intel.com/en-us/articles/intel-software-development-emulator).

The public version of SDE supports most if not all of the publicly documented Intel instructions  (Intel [ISA extensions](https://software.intel.com/en-us/isa-ex

[2017-02-20 19:12] jeffhammond commented on #57
As @poulson noted already, [WSL](https://msdn.microsoft.com/en-us/commandline/wsl/about) provides a native Bash environment in Windows.  Unfortunately, their networking stack is undebuggable rubbish and I wasted many days trying to get it working from behind a firewall, but many people seem to be able to use it when they have a direct connection to the internet.

[2017-02-20 21:51] devinamatthews commented on #57
I can also confirm at this point that BLIS **does** compile and the testsuite runs successfully under Cygwin. However, I don't know how hard it would be to generate a "proper" Windows DLL with a manifest and whatever. Also, BLIS will most certainly not work on 32-bit Windows probably ever.

[2017-02-20 21:54] jeffhammond commented on #116
Yeah, my understanding is that SDE emulation overhead is proportional to the percentage of instructions that need to be emulated and thus something like BLIS is going to run quite a bit slower when emulating AVX-512.

I don't really know how Travis works on the back-end, but perhaps some day we will be able to request [AWS C5 instances](https://aws.amazon.com/about-aws/whats-new/2016/11/coming-soo

[2017-02-21 01:28] heroxbd commented on #116
Thanks Devin!  it has all the tests passed, and R is built against BLIS successfully.

[2017-02-21 01:28] #116 closed

[2017-02-21 01:33] fgvanzee commented on #116
Thanks for working on this, Devin.
@heroxbd I'm glad we were able to help you out, and I hope you continue to stay involved in BLIS.

[2017-02-21 02:07] heroxbd commented on #116
Sure, Field.  I don't think MKL suites my scientific needs to be able to share results with colleagues and the public.

I was introduced by Jeff from the OpenBLAS discussion.  BLIS provided the only viable option on KNL, whose ecosystem is at present dominated by blackbox toolchains.

Thanks again. Keep on this great work.  I will give flame a try the other day for it is able to use the advanced A

[2017-02-21 05:32] jeffhammond commented on #116
@heroxbd I assume your concern with MKL is that, because it is closed-source, it isn't fully reproducible and/or verifiable?  I'm not in any way trying to talk you out of your principles, which I admire - I merely want to make sure I understand the concern precisely.

BLIS is - as far as I know - the only open-source BLAS implementation that supports AVX-512 and I'm very happy that you are using i

[2017-03-06 22:37] gaming-hacker opened #119 "cross compile from OSX to iOS (sim and device) ?"
i'm looking to benchmark this lib against apple's default framework.

anyone successfully built a static lib for these targets?

if so, did you use the arm7a kernel, arm8a? for compatability with older devices?

thanks

[2017-03-07 03:50] insertinterestingnamehere commented on #57
FWIW, my current best guess on Windows compatibility would be to build BLIS using clang on Windows. Clang, when configured properly, can be used to produce MSVC compatible binaries (no issues with mixed C runtimes) and I believe it still supports the gnu assembler format when doing that. That would make the resulting binary usable in places where full binary compatibility with MSVC is important (e

[2017-03-07 03:50] #57 closed

[2017-05-02 23:24] jeffhammond opened #120 "Intel compiler test failures"
All failures are for complex numbers.

[code]

[code]

# Details
[icc-test.txt](https://github.com/flame/blis/files/972193/icc-test.txt)
[gcc-test.txt](https://github.com/flame/blis/files/972197/gcc-test.txt)

[2017-05-02 23:35] devinamatthews commented on #120
@fgvanzee we have Intel compilers locally (ask me how) or you can of course use them on TACC resources. Shame we can't automate it with Travis.

[2017-05-03 00:26] fgvanzee commented on #120
Thanks for this report, Jeff. I will look into this.\

On a related note, I can't access Travis CI from my workstation on campus for some reason. The page just comes up as blank, which makes it difficult to investigate the errors it's reporting.

[2017-05-03 04:12] jeffhammond commented on #120
@devinamatthews You can use the recipe provided by https://github.com/nemequ/icc-travis.  I have tried it and it works, although it is quite brittle if you want something that works for forks, due to how Travis encrypted environmental variables work.

@fgvanzee You can get Intel 18 beta for free.  See https://software.intel.com/en-us/articles/intel-parallel-studio-xe-2018-beta for details.  You sh

[2017-05-03 04:24] jeffhammond opened #122 "Test all Intel CPUs in Travis CI via SDE"
@devinamatthews You will probably like this...

Intel [SDE](http://www.intel.com/software/sde) supports no less than the following list of architectures:
[code]

This means that one can run native binaries for these processors on other processors, e.g. whatever Travis CI happens to be using.

I use it on a daily basis to emulate KNL on HSW.  It will allow us to set `RUN_TEST=1` for SNB, HSW, KNL,

[2017-05-03 15:03] devinamatthews commented on #122
Yes, I've used SDE for testing KNL and that other one. My concern would be build time of course as it is quite slow. Maybe only testing a subset of operations?

[2017-05-03 15:31] jeffhammond commented on #122
@devinamatthews Compilation is unaffected, because cross-compiler works fine.  We should probably have an option to test only 100x100 but I was running KNL binaries on HSW yesterday and it seemed pretty fast.  I'll time it today.  The only unknown is whether something SDE uses is perturbed by the AWS environment.  But I can time SDE inside of a Debian VM locally if necessary.

[2017-05-03 15:41] devinamatthews commented on #122
I tend to get in the O(0.1 GFLOP) range, which takes a while with all
the tests that are run by default. But the proof is in the pudding.

On 5/3/17 10:31 AM, Jeff Hammond wrote:

[2017-05-03 17:08] tlrmchlsmth opened #123 "Should BLIS_X_NT override OMP_NUM_THREADS?"

[2017-05-03 21:06] fgvanzee commented on #120
@jeffhammond All of the failures appear to be of 4mh implementations, which are never used by default. (I feel like this issue has been reported before, and it went away for a while, maybe with an icc version change.) Also, I disabled the testing of all 3m and 4m implementations in dd58c95. So I'm going to take the easy way out and let this particular sleeping dog lie.

[2017-05-04 00:03] jeffhammond commented on #122
@devinamatthews Yeah, I killed the SDE timing I was running after 5+ hours so yeah, my memory is less reliable than DRAM in the vicinity of a brick of plutonium.

However, the bigger issue is that Travis CI does not allow me to run a 32-bit binary ([details](https://github.com/travis-ci/travis-ci/issues/986)) without forcing the entire BLIS project to enable sudo, which has a well-known performanc

[2017-05-04 00:06] jeffhammond commented on #120
@fgvanzee Thanks.  That works.  I am curious though if the bug is in ICC or BLIS.  If the bug is in ICC, I can't imagine BLIS is the only project that will encounter.

[2017-05-04 02:48] jeffhammond commented on #122
The good news is the 32-bit binary issue was because **I AM A COMPLETE MORON**.  So yeah, I think I'll have this working tonight.

[2017-05-04 15:17] devinamatthews opened #126 "Need explicit tests for packing kernels"
The packing kernels are currently tested by running full gemms. But, it would be nice if we also had isolated tests such as for the gemm/trsm ukernels, as noted in #124. Also, testing the kernels in isolation might illuminate issues such as #51/#120.

For testing architecture-specific kernels it would be enough to compare against the reference kernel, but of course a more in-depth test would be ni

[2017-05-04 17:45] jeffhammond commented on #69
@devinamatthews I would probably just write that in intrinsics if I wanted it to perform...

[2017-05-04 18:04] fgvanzee commented on #120
@jeffhammond I can come back to this at some point to satisfy that curiosity, but since `icc` is never just "there" when I need it, except on TACC systems, which are not exactly set up for people who need to go through an intense debugging cycle, I hardly ever use it.

[2017-05-04 18:06] fgvanzee commented on #122
Man, I *knew* I should have upgraded from the standard plutonium when my house was being built. :)

Thanks for your efforts, Jeff.

[2017-05-04 18:14] devinamatthews commented on #120
@fgvanzee Is your workstation on the csres subnet?

[2017-05-04 18:24] fgvanzee commented on #120
No, it is not. Why do you ask?

[2017-05-04 18:26] devinamatthews commented on #120
We have a license server on <redacted>.csres.utexas.edu, but I think it is firewalled outside that subnet.

[2017-05-04 19:19] devinamatthews commented on #120
@jeffhammond you will be happy to know that @fgvanzee is now a card-carrying Intel compiler user.

[2017-05-04 19:21] fgvanzee commented on #120
@jeffhammond Devin held my hand. Otherwise there's no way it would have happened. :)

[2017-05-04 20:36] jeffhammond commented on #120
@fgvanzee

It is my mission in life to solve all such issues.  If you ever find yourself unable to use ICC with impunity, please let me know.  You don't know what powers I have 😉

[2017-05-04 20:38] fgvanzee commented on #120
@jeffhammond Okay, good news and bad news.

Good news: your curiosity on this issue proved infectious, and I began to look into it with my newly minted install of `icc`.

Bad news: I can't seem to reproduce the problem with the version of the Intel parallel studio that I installed (2017 update 3). Everything passes. So my best guess for now is that the problem is with your beta software. :)

[2017-05-04 20:48] jeffhammond commented on #120
@fgvanzee Thanks.  I was too lazy to try Intel 17 before, but it seems that Intel 18 _beta_ has lived up to its name 😉

[2017-05-04 21:38] jeffhammond commented on #120
@fgvanzee Prepare to roll your eyes, but exhaustive testing reveals that GCC 7.1 and Intel 17 fail for 1x1 matrices (but not larger ones).  Is this a shortcoming in the test driver, the implementation, or just an artifact of floating-point arithmetic?
[code]

[code]
https://github.com/jeffhammond/blis/tree/intel-18-beta-complex-bug has the testsuite input files that reproduce this.

[2017-05-04 21:50] fgvanzee commented on #120
Thanks Jeff. I was able to reproduce easily with gcc 4.8.4. I'll look into it.

[2017-05-05 20:13] fgvanzee commented on #120
@jeffhammond I finally got to the bottom of this issue.

To answer your question, it was kind of everything: a shortcoming of both the implementation for norm1v/norm1m, which affected normalization within the testsuite, and dumb luck numerics. There was nothing wrong with the computations being performed by the level-3 operations, nor was there anything wrong with the code that checks the result.

[2017-05-08 16:21] #123 closed

[2017-05-09 14:38] jeffhammond commented on #120
@fgvanzee This fixes most of the errors reported earlier but not the 4m ones.  That may be intentional, but since it wasn't obvious to me until I tested it, I wanted to log it here for posterity.
[code]

[2017-05-09 18:15] fgvanzee commented on #120
@jeffhammond Thanks for the update. I have always thought that these 4mh failures are specific to `icc`. I just did another test using my version 17 update 3 (with your problem sizes) and I saw no failures.

[2017-05-17 17:02] fgvanzee opened #129 "Runtime kernel management"
BLIS currently only allows building support for one architecture (configuration) at a time. In the future, it should allow the user to build support for multiple architectures into the same library. The "correct" architecture will then be selected at runtime according to some method. That method could be CPUID or an equivalent, or it could be set to a default in some other way and then later manua

[2017-05-20 23:21] ShadenSmith commented on #129
When the architecture is decided automatically (e.g., CPUID), will that be done on a per-kernel level, or only the first time a BLIS function is invoked?

I love the idea of this, and my software currently uses BLIS for its BLAS interface when `--download-blas-lapack` is provided during configuration. My concern is that in many of my use cases, I call BLAS functions for small-ish kernels quite reg

[2017-05-21 00:22] iotamudelta commented on #129
@ShadenSmith good point! It seems OpenBLAS DTRT, so it may be worthwhile to check their solution?

[2017-05-21 00:31] fgvanzee commented on #129
@ShadenSmith Thanks for your question. Even after runtime kernel management is implemented (with a CPUID-based heuristic for choosing the kernels at runtime on `x86_64`-based systems), we will still maintain the ability to choose your configuration (architecture) at configure-time, as BLIS currently allows, which is also done via CPUID.

Could you clarify which application of CPUID you are referri

[2017-05-21 01:23] devinamatthews commented on #129
@fgvanzee I believe the question is "will BLIS check cpuid every time dgemm is called?", and from previous discussions I believe the answer is No. The only time you'd want to check more than once is heterogeneous systems like big.LITTLE, and that requires a more streamlined solution than checking cpuid each and every time anyways.

The implementation in TBLIS uses (local) static initialization to

[2017-05-21 19:18] fgvanzee commented on #129
@devinamatthews You are correct. The value would be queried once, probably at library initialization, and then cached. However, this behavior could become configurable in the future to accommodate heterogeneous architectures.

[2017-05-23 05:58] ShadenSmith commented on #129
Yes, this is what I meant. Thanks for the clarification and the quick response.

@fgvanzee calling just once is great. A very exciting feature!

[2017-05-25 22:03] fgvanzee opened #131 "Migrate parallel partitioning of data in JR/IR loops from cyclic to block"
Currently, multithreading is extracted from the JR and IR loops by assigning data to threads in a cyclic manner, with the fundamental unit being one micro-panel. This method of partitioning the data for parallelism can have drawbacks. Take the JR loop for example. If the microkernel is row-preferential and NR (PACKNR, actually) is not equal to a multiple of a cache line--or if the matrix is not al

[2017-05-26 16:38] devinamatthews opened #132 "False sharing in Haswell packing kernel."
This is an extension of #131. I was originally worried about false sharing of C due to cyclic work distribution in the macro-kernel, but little did I realize that work is distributed cyclically in the packing kernels as well! For Haswell we have `mc = mc_packdim = 6` (double precision) and so there *will* be false sharing when parallelizing the JR loop.

As a band-aid patch I will increase `mc_pac

[2017-05-26 18:53] devinamatthews commented on #132
Setting packdim to 8, even with lowering kc to 224 and fixing the prefetching is still 5% slower... Apparently I just don't understand how computers work.

[2017-05-26 18:53] #132 closed

[2017-06-07 22:51] fgvanzee opened #134 "Insert timing infrastructure into BLIS"
The control tree can (in principle) be retrofitted with fields that can be used by threads to track timing information (within each loop and within packing functions) that can be used later on for performance analysis. Thanks to Devangi Parikh for suggesting this.

[2017-06-07 22:54] fgvanzee opened #135 "Support full pre-packing of matrices A and/or B"
Provide functionality to pre-pack entire matrices (A or B), which can then be passed into the framework and computed upon while bypassing the traditional matrix packing stages. This will require changes to the packing code, and perhaps the `obj_t` to support the more complicated indexing needed to store a fully-packed matrix, as well as the internal back-ends to ensure that the packing nodes of th

[2017-06-26 14:34] hominhquan commented on #135
Hi FIeld,
I find this a good optimization idea, with two considerations :

1. If we pack out-of-place, i.e malloc new buffer and pack the entire matrix to it,
we can do it under-the-hood but it will consume more memory and may turns out
impossible on some platforms.

2. If we pack in-place, we should give user the choice to allow BLIS overiding
his/her input matrices, because (s)he may need them a

[2017-06-26 14:45] hominhquan opened #136 "When bli_malloc_align fails, may print an error message before aborting ?"
Hi all,

I know this mostly never arrives. But when it arrives, I find it a little
unpleasant to see the execution aborted without any information
about the cause. (in fact I get something similar to "libblis : aborted")

Quan

[2017-06-26 17:20] devinamatthews commented on #135
If I understand @fgvanzee's intentions correctly, the idea is to have a separate prepack function(s) so that one could do something like:

[code]

and so avoid the repeated cost of packing `A`. @hominhquan: of course, prepacking the entire matrix during a single operation may also be useful, as it also avoids some packing cost (except when the matrix is too large for the LLC), but due to the inter

[2017-06-26 17:28] tlrmchlsmth commented on #135
FYI Intel MKL has this functionality already.
You can call xgemm_pack(...) to pack matrices and then xgemm_compute(...) to compute with them.

It might be nice to export the same interface that MKL does.

Documentation below:
https://software.intel.com/en-us/mkl-developer-reference-fortran-gemm-compute
https://software.intel.com/en-us/mkl-developer-reference-fortran-gemm-pack

[2017-06-26 19:32] hominhquan commented on #135
OK, I didn't understand it as a separate function in API. When it is a separate function like on MKL, I agree that it will be useful to user.

And I do not have special need of the second use-case with *_TRANSPOSE_*, for the moment.

[2017-06-30 09:09] lujnan opened #137 "build error (0.2.1 & 0.2.0) on buildroot but 0.1.8 version is ok"
[code]

[2017-06-30 09:29] figual commented on #137
Hi,

I cannot reproduce this issue on a Juno board with GCC 4.9.1 and BLIS 0.2.1-128.

Is this happening with an unmodified BLIS code?

Fran

[2017-06-30 09:32] lujnan commented on #137
No, I don't modify can codes.
my configure cmd is:

(cd /home/lujnan/works/linux_amlogic_a1xx/output/nana_l_a112/build/blis-0.2.1 && mkdir -p output && ./configure -p output --enable-static armv8a)

[2017-06-30 09:37] lujnan commented on #137
umask 0022 && make -C /home/lujnan/works/linux_amlogic_a1xx/buildroot O=/home/lujnan/works/linux_amlogic_a1xx/output/nana_l_a112 blis
WARNING: no hash file for blis-0.2.1.tar.gz

gzip -d -c /home/lujnan/works/linux_amlogic_a1xx/buildroot/dl/blis-0.2.1.tar.gz | tar --strip-components=1 -C /home/lujnan/works/linux_amlogic_a1xx/output/nana_l_a112/build/blis-0.2.1   -xf -

(cd /home/lujnan/works/linux

[2017-06-30 10:56] lujnan commented on #137
@figual

My toolchain is 4.9.2
[code]

[2017-07-12 19:54] fgvanzee commented on #135
Thanks for your comments, folks. I don't have any objections to including the MKL-based API in the BLAS compatibility layer, but we should definitely have native interfaces that they build upon, as is already the case with all of the other computational routines in BLIS.

(BTW, sorry for my delayed response.)

[2017-07-17 21:20] fgvanzee opened #140 "Add API to set multithreading environment variables"
In principle, there are two broad ways one could specify multithreading in BLIS:
 1. Set one or more of the environment variables `BLIS_JC_NT`, `BLIS_IC_NT`, `BLIS_JR_NT`, etc.
 2. Allow BLIS to automatically guess at a reasonable parallelization strategy by setting `BLIS_NUM_THREADS`.

Furthermore, we arrive at a total of four methods by considering that either of the above strategies can be unde

[2017-07-18 13:33] hominhquan opened #141 "Separating code per-precision ?"
Firstly, I think that this request can make a long debate, and if feasible,
will involve big change in code.

The current BLIS control trees and execution flow for the four precisions (sdcz)
are generalized into one obj_t API and only gets dispatched at
the bottom leaf by static array of function pointers depending on `dt`.
If I understand, the reason of this structuration is because we can not wr

[2017-07-18 14:21] devinamatthews commented on #141
Perhaps the same effect could be more easily achieved by allowing selective disabling of data types/operations?

On July 18, 2017 8:33:51 AM CDT, Minh Quan HO <notifications@github.com> wrote:

[2017-07-18 14:30] hominhquan commented on #141
This could be a solution, but partially. If I compile BLIS only for S+D, a Sgemm "helloworld" binary still contains all Dgemm operations.

Or compiling one library per datatype could also be a solution (lib[s|d|c|z]blis.a) ?

[2017-07-18 14:46] devinamatthews commented on #141
One could always just compile a "local" version of BLIS with just the required operations for programs that really need to squeeze down, although I see what you mean about having the linker do it being easier.

Technically, I think your suggestion is possible but not likely to be pursued. This would have several ramifications:

1) It would be a lot of work (duh). Specifically it would mean making

[2017-07-18 15:10] jeffhammond commented on #141
This seems like a perfectly reasonable thing to implement in a fork of the main project.  Embedded hardware creates lots of constraints that don't apply elsewhere, so software contortions to support this setting should not be implemented in packages that target broad use.

[2017-07-18 19:35] fgvanzee commented on #140
Wiki page has now been updated to discuss the new APIs.

[2017-07-18 19:35] #140 closed

[2017-07-19 00:19] fgvanzee opened #142 "Tag "0.2.2" disappeared at some point after initial tagging?"
It seems that the 0.2.2 tag was missing from the master branch. I checked out the commit referenced in the `CHANGELOG`, re-tagged it, and pushed that tag to github and everything seems to be fine now. Any ideas how this might have happened?

[2017-07-19 00:33] devinamatthews commented on #142
If you still had the tag locally you could just re-push it. Did you do a forced update at some point?

On July 18, 2017 7:19:21 PM CDT, "Field G. Van Zee" <notifications@github.com> wrote:

[2017-07-19 00:50] fgvanzee commented on #142
I didn't have the tag locally anymore, either. It's as if someone deleted it and that deletion silently trickled down to my clones. Really weird.

Could you elaborate on what you mean by a forced update?

[2017-07-19 01:22] devinamatthews commented on #142
git push --force, e.g. for amending a commit you've already pushed. This can change the hash so the old tag would point to oblivion.

On July 18, 2017 7:50:03 PM CDT, "Field G. Van Zee" <notifications@github.com> wrote:

[2017-07-19 08:51] hominhquan commented on #141
@devinamatthews  I'm working on a full port of BLIS on the [Kalray MPPA](http://www.kalrayinc.com/IMG/pdf/FLYER_MPPA_MANYCORE.pdf), on which
BLIS would run on a single cluster (a 16-core CPU-like) with 2MB of
on-chip memory (SMEM) to store the binary code and L2 data cache.
An Sgemm example takes 1.3 MB in size, so not much space left for
data.

@jeffhammond I will consider this. Thanks.

[2017-07-19 22:10] fgvanzee commented on #141
@hominhquan Thanks for your comments. You make a good point by implying that a netlib-style solution would allow the linker to weed out the object files whose symbols aren't referenced, thus helping reduce your executable code size. This sort of all goes back to the tradeoff spectrum where you have "collection of routines" on one end and "integrated framework" on the other. BLIS happens to fall cl

[2017-07-20 06:42] chiensh opened #143 "Support of BlueGene/Q"
I would like to confirm that if BlueGene is no longer supported:  the latest version of BLIS cannot be compiled
Compiling ../frame/thread/bli_thrcomm.c
[code]
and the failure in the test cases reported previously have not been addressed for nearly a year.

[2017-07-20 15:10] devinamatthews commented on #143
PR #144 should fix this issue. As for the previous problems (#34), I think the failures should not affect the results unless you go out of your way to make use of the 4mh induced method. @fgvanzee can you comment on whether 4mh failures will affect results using default settings?

[2017-07-20 17:49] fgvanzee commented on #143
@chiensh: @devinamatthews is correct. You can ignore the failures in 4mh. This has been a long-standing issue that seems to crop up occasionally, go away for a while, and then come back. It may actually be a compiler bug, though if it were it would be consistent with a similar bug in `icc` :)

[2017-07-21 14:49] #143 closed

[2017-07-21 22:37] fgvanzee commented on #129
Just a quick update. I haven't made much progress on this issue since early June, but I have recently resumed working on it. Thanks for your patience.

[2017-07-22 21:54] hominhquan commented on #141
From what I see from how "templating" was done in BLIS by macros, I think that the rest of BLIS can be templated with the same technique, without particular difficulty (in my eyes), despite certain work.
Anyway, I know that this is a big decision that changes a lot of things, while the issue only affects embedded platforms, so I understand that the answer would be "no".

PS Out-of-topic : I find C

[2017-07-25 13:28] jeffhammond commented on #141
@hominhquan https://github.com/devinamatthews/tblis is the closets approximation to "BLIS in C++" if you are interested in C++ polymorphism.  Obviously, @devinamatthews will be able to comment on whether or not this has the potential to meet your needs.  However, if your goal is a minimal binary, I'm not sure that C++ is actually going to help, given that the runtime library is not small.

[2017-07-25 13:36] devinamatthews commented on #141
**TBLIS** as it is currently implemented does not help with this, because all of the functionality is hidden behind a unified C interface which uses function pointers internally. @hominhquan please look at https://github.com/devinamatthews/molssi-sss-2017/blob/master/optimizing_gemm/my_dgemm_8.cxx for an example of high-performance `dgemm` (Haswell) in a single file (<400 lines).

If this looks do

[2017-07-25 13:37] devinamatthews commented on #141
BTW, "Hello World" with the above `dgemm` is about 16K.

[2017-07-25 19:32] fgvanzee commented on #141
@devinamatthews Just to clarify, does your hello world actually call `dgemm()`, or were you illustrating the "base" code size with no outside library function calls?

[2017-07-25 19:36] devinamatthews commented on #141
This is the DLA "hello world" where you time dgemm for some range of m=n=k.

On 7/25/17 2:32 PM, Field G. Van Zee wrote:

[2017-07-25 19:46] fgvanzee commented on #141
@devinamatthews Understood, thanks. I'm actually impressed that you manage to get it down to 16K.
@hominhquan 16 kilobytes seems quite small. Would this work for your purposes?

[2017-07-25 20:45] hominhquan commented on #141
@jeffhammond Thank you for the reference.
@devinamatthews Thanks, your C++ implementation and its size is very interesting. @fgvanzee The point is that I need at least the level-3 in sd (ideally sdcz and mixed half-float in the future). I just don't know how far we can go to implement them separately one-by-one, parameter-by-parameter, without falling back to the same process as Netlib. And I coul

[2017-07-25 20:50] devinamatthews commented on #141
Just one minor note: the sort of implementation I referenced can also be templated (except for the microkernel) to get around the sdcz issue.

[2017-07-25 21:51] hominhquan commented on #141
For the micro-kernel, I think that solution is somewhere out there, with C++ function overloading or _Generic type macro in C99 (gcc >= 4.9)
http://en.cppreference.com/w/c/language/generic

[2017-07-26 14:22] jeffhammond commented on #141
@hominhquan `_Generic` is C11, not C99, and is thus untenable until there is broad support for this standard, although I think it is already supported by every compiler vendor of interest (GCC, Clang, Intel, ...), just only in recent versions.  The only library where this feature is used today (AFAIK) is OpenSHMEM.  In that context, we've found some aspects of it more complicated that what one con

[2017-07-28 10:13] hominhquan opened #145 "Conflict type lsame_ when include blis.h and lapacke.h in a same file"
I don't know if this is expected, but blis.h redifines the `lsame_` auxilary routine of Lapacke :

$ cat test_blis_lapacke.c
#include <stdio.h>
#include <lapacke/lapacke.h>
#include <blis.h>

int main()
{
	printf("Hello world\n");
	return 0;
}

$ gcc -std=c99 -I<BLIS_DIR_HERE>/include/blis  test_blis_lapacke.c -o test_blis_lapacke
In file included from /work1/mqho/blis/build/x86/include/blis/blis.

[2017-07-28 23:06] fgvanzee commented on #145
@hominhquan BLIS includes `lsame_()` because it is part of the BLAS. For the time being, I suppose this means that BLIS is not compatible with LAPACKe out of the box. But it begs the question: should `lsame_()` be renamed to be specific to the BLIS namespace so that such symbol conflicts with other link-time object files are avoided? Any thoughts, @devinamatthews ?

[2017-07-28 23:15] devinamatthews commented on #145
Yes

[2017-07-28 23:41] fgvanzee commented on #145
There is a problem with renaming `lsame_()` in BLIS. Namely, LAPACK depends on `lsame_()`. I scoured the source code of LAPACK 3.5.0 and could not find any evidence that LAPACK provides `lsame_()` internally. (It does provide a sister function, `lsamen_()`.) This seems to suggest that renaming BLIS's `lsame_()` would break things for LAPACK users.

[2017-07-28 23:45] devinamatthews commented on #145
@hominhquan what is the error if you change the order of lapacke.h and blis.h includes?

[2017-07-29 05:41] hominhquan commented on #145
When I place lapacke.h after blis.h, the conflict occurs on the lapacke.h,
as lsame is now declared in blis.h

On 29 Jul 2017 01:45, "Devin Matthews" <notifications@github.com> wrote:

@hominhquan <https://github.com/hominhquan> what is the error if you change
the order of lapacke.h and blis.h includes?

—
You are receiving this because you were mentioned.
Reply to this email directly, view it on

[2017-07-29 11:35] devinamatthews commented on #145
It looks like LAPACKe doesn't actually define `lsame_()` (how could it, then it would interfere with other BLAS right?). So, we would just need to harmonize the prototype to avoid the compiler error.

[2017-07-29 18:41] devinamatthews commented on #145
@hominhquan if you delete the `const`s in the BLIS prototype (bla_lsame.h:37), does it work?

[2017-07-31 08:17] hominhquan commented on #145
@devinamatthews I tried removing `const`s but it doesn't work either. Because it is a symbol conflict, not function signature.

The two following fixups work :

1. Either rename lsame in bla_lsame :
`- bla_logical PASTEF770(lsame)(const bla_character *ca, const bla_character *cb, ftnlen ca_len, ftnlen cb_len);`
`+ bla_logical PASTEF770(bli_lsame)(const bla_character *ca, const bla_character *cb, f

[2017-07-31 08:19] hominhquan commented on #145
@fgvanzee The Lapacke header file can be found here http://www.netlib.org/lapack/lapacke.h

[2017-07-31 19:15] fgvanzee commented on #145
@hominhquan Your initial message indicated that the problem was a prototype conflict, but you now are indicating that it is a symbol (linker) error. I, too, have now found evidence that `lsame_()` is bundled with LAPACK. (I missed it initially because it was in the `INSTALL` directory rather than with the main source code.) And to make doubly sure, I recompiled the library, capturing the output to

[2017-07-31 19:28] hominhquan commented on #145
@fgvanzee Yes, sorry if I was not so clear in my initial message. I should write "Conflict declaration was here ... "; instead of the dummy gcc error message about conflicting type but in fact is not.

[2017-07-31 19:40] devinamatthews commented on #145
@fgvanzee there might also be a problem with `xerbla` when CBLAS is enabled. Also, re LAPACK having it's own `lsame`, here is a counterpoint (Apple Accelerate):

[code]

[2017-07-31 19:41] devinamatthews commented on #145
@jeffhammond is there some linker trick to mark that the BLIS `lsame` should be ignored if there is another definition?

[2017-07-31 19:44] hominhquan commented on #145
Just to be clear, I see that this is a compilation issue, not linkage. Its precisely the `gcc -c  ... -o test_blis_lapacke.o` command which reports the problem.

[2017-07-31 19:49] devinamatthews commented on #145
A bit OT, but I found this snippet hilarious:
[code]
Apparently Windows doesn't exist...

[2017-07-31 20:07] fgvanzee commented on #145
@hominhquan I'm not sure I follow. It seems, actually, that this is both a compilation and a linking issue. First, it is a matter of resolving the prototype conflict between BLIS and LAPACK for `lsame_()` and then, secondly, it is a matter of making sure the aforementioned fix in the first part does not introduce problems with linking with LAPACK. If you call all of that a "compilation issue," the

[2017-07-31 20:08] devinamatthews commented on #145
@fgvanzee hold off a minute, I have the prototype problem fixed and I'm checking on possible linker errors.

[2017-07-31 20:23] devinamatthews commented on #145
Should be fixed by #146. I could not create a linker conflict no matter how hard I tried, even with OpenBLAS which does define `lsame` itself. Linux might be a different story.

[2017-08-01 08:38] hominhquan commented on #145
@fgvanzee Well, I got it now. The main reason of this issue is that both BLIS and Lapacke want to define the `lsame_` function in their header files, but each with a different prototype, BLIS with f77_char and Lapacke with char. At compilation, gcc is not happy because it sees a second function declaration (fine), but with another prototype (not fine).

I confirm that the commit of Devin fix the i

[2017-08-01 19:15] fgvanzee commented on #145
Thanks Devin. Glad we found a solution to your problem, @hominhquan .

[2017-08-04 13:14] hominhquan opened #147 "Mismatch between logic and code in frame/3/bli_l3_packm.c:123"
I noticed a mismatch between algorithmic comments and the if condition in frame/3/bli_l3_packm.c:123 :

      // If the mem_t entry in the control tree does NOT contain a NULL
      // buffer, then a block has already been acquired from the memory
      // broker and cached in the control tree.

      // BUT, we need to make sure that the mem_t object is not associated
      // with a block that i

[2017-08-04 15:25] hominhquan opened #148 "Possible missing sanity check in bli_determine_blocksize_b_sub()"
In `bli_determine_blocksize_b_sub()`  -  from frame/base/bli_blksz.c:285, I think a sanity check should be added for the case `dim_left_now == 0`. The reason is as follow :

dim_t bli_determine_blocksize_b_sub(....)
{

	// Compute how much of the matrix dimension is left, including the
	// chunk that will correspond to the blocksize we are computing now.
	dim_left_now = dim - i;

	// Sanity check

[2017-08-04 19:11] fgvanzee commented on #147
@hominhquan Thank you for pointing this out. This does appear to be a bug--one that would manifest in the form of unnecessary memory release and re-allocation from the memory broker. Thankfully, it is only a performance bug and does not appear to affect the computational output.

I can understand why you might be concerned about backwards-moving trsm. There, the bottom-right edge case is handled f

[2017-08-04 20:06] fgvanzee commented on #147
This should be fixed in b01c8082. Thanks again, Minh.

[2017-08-04 20:06] #147 closed

[2017-08-04 20:12] fgvanzee commented on #148
@hominhquan Can you give an example of when this sanity check would be needed? The only case I can think of in which it would apply is if computation is performed on a matrix where the dimension being partitioned is equal to zero. (But this situation should actually be handled by higher-level code, so the sanity check would never be used there either.)

[2017-08-04 20:16] hominhquan commented on #147
@fgvanzee OK, I get it now why is is just a performance-bug. Also, I understand that the if-condition is simply a sanity check of the "recycling" mechanism through internal pool. Thus, for me, it is of course necessary to be here.

[2017-08-04 20:17] devinamatthews commented on #148
@fgvanzee it depends what the assumptions and invariants of the function are. For example, it would seem reasonable to assume that `i+(return value) <= dim` which is currently violated. A different use of this function without the higher-level checking would then fail.

I would suggest (as a longer-term robustness plan) to document these assumptions and invariants through assertions (a la what @ho

[2017-08-04 20:18] devinamatthews commented on #147
@hominhquan also note that it *would* be a bug if the memory pool blocks were allocated dynamically based on requested size. For example, this is what I do in TBLIS and this code would definitely fail there.

[2017-08-04 20:22] fgvanzee commented on #147
@devinamatthews Agreed. Kind of ironic that the sanity check is the thing that would have caused the error. #sanityfail

[2017-08-04 20:24] hominhquan commented on #147
@devinamatthews Do you mean that this is also the hidden bug in TBLIS which always gives false results ? If this is the case, it is a good news, because, effectively, I identified this bug by doing dynamic allocation with GEN_USE buffers.

[2017-08-04 20:26] fgvanzee commented on #147
@hominhquan I think that by "this is what I do in TBLIS," Devin was referring to dynamic allocation based on the requested size.

[2017-08-04 20:29] devinamatthews commented on #147
Correct, not the bug part.

On August 4, 2017 1:26:45 PM PDT, "Field G. Van Zee" <notifications@github.com> wrote:

[2017-08-04 20:29] hominhquan commented on #147
OK, so it means that this bug only pop-up when one is doing dynamic allocation on requested size.

[2017-08-04 20:33] fgvanzee commented on #148
@devinamatthews Could you elaborate on why one would assume `i+(return value) <= dim` to be a reasonable invariant for this blocksize-returning function?

[2017-08-04 20:36] fgvanzee commented on #147
@hominhquan Correct. And so that would only affect people who had hacked out the internal memory pools and replaced them with `malloc()` or some equivalent.

[2017-08-04 20:47] hominhquan commented on #148
@fgvanzee Devin pointed out the problem. In fact,  I'm using this function to determine the block size for the iteration n+1 while computing iteration n :

     next_b_alg = bli_determine_blocksize( direct, i+b_alg, my_end, a,
                                       bli_cntl_bszid( cntl ), cntx );
     if ( next_b_alg > 0 ) { do some stuff here, like prefetch next block ... }

And in this case, the

[2017-08-04 20:55] devinamatthews commented on #148
@fgvanzee common sense. But common sense isn't common which is why behavior should be documented and tested.

On August 4, 2017 1:33:54 PM PDT, "Field G. Van Zee" <notifications@github.com> wrote:

[2017-08-04 20:57] devinamatthews commented on #148
Re edit: it's trivially violated for `i == ndim`.

On August 4, 2017 1:33:54 PM PDT, "Field G. Van Zee" <notifications@github.com> wrote:

[2017-08-04 23:46] fgvanzee commented on #148
@devinamatthews @hominhquan For some reason, I completely missed that you wanted the function to return 0 when `i == dim`. If so, I see how it is violated now: the function continues to return `b_alg`.

@hominhquan I agree that your proposed special case handling is beneficial.

[2017-08-05 18:09] fgvanzee commented on #148
@hominhquan I've applied your suggested patch in 60a1eeb2. Thanks for your feedback.

[2017-08-06 19:38] hominhquan commented on #148
@fgvanzee  With pleasure.

[2017-08-06 19:38] #148 closed

[2017-08-12 19:00] devinamatthews opened #149 "VZEROUPPER before return?"
Intel processors (except Xeon Phi) have a transition penalty when going from AVX to non-VEX-encoded SSE code. This can be avoided by issuing a `vzeroupper` instruction before returning from the AVX-using function. See e.g. [here](https://software.intel.com/en-us/forums/intel-isa-extensions/topic/704023) for some interesting discussion. Some potential issues re BLIS:

1. If we should call `vzeroupp

[2017-08-12 20:41] jeffhammond commented on #149
Don't put register zero in ukernel. Put it in library entry/exit. Not sure
why you'd need it in ukernel. Dynamic config should assume AVX on x86 for
sanity. What relevant professor doesn't support it?
--
Jeff Hammond
jeff.science@gmail.com
http://jeffhammond.github.io/

[2017-08-12 22:27] devinamatthews commented on #149
@jeffhammond true, perhaps at the end of the macrokernel would be a good compromise (but isn't `vzeroupper` just one cycle anyways?). The appeal of putting it somewhat deeper is that the framework, if compiled for SSE only, could trigger a transition before exiting the ABI.

Re assuming AVX (and/or `vzeroupper`) for x86, we still support Dunnington, and of course on AMD `vzeroupper` is actively ha

[2017-08-12 23:56] devinamatthews commented on #149
OK, so [this](http://support.amd.com/TechDocs/47414_15h_sw_opt_guide.pdf) *does* advise using `vzeroupper` on AMD, for both directions of the transition. Since it is 1 cycle on Intel and only 6 cycles on AMD, putting one at the beginning and end of the macrokernel should be inconsequential. We could also use the `__AVX__` macro for detection (assuming the macrokernel is compiled with proper flags

[2017-08-13 01:49] jeffhammond commented on #149
But you don't have to support Dunnington in a library compiled for multiple
dispatch. That's my point. Have an x86 library for pre-AVX that supports
whatever SSE you use and a post-AVX library that dispatches as appropriate.
Do you really think it makes sense to invest in code for pre-AVX processors
for years to come?
--
Jeff Hammond
jeff.science@gmail.com
http://jeffhammond.github.io/

[2017-08-13 20:54] devinamatthews commented on #149
So, I did an experiment (with TBLIS) where I timed:

1. Interleaved `sandybridge`- and `dunnington`-based DGEMMs, and
2. And equal number of `sandybridge`-only DGEMMs

I then added a single `vzeroupper` at the end of the `sandybridge` ukernel and timed again. The [results](https://github.com/flame/blis/files/1220949/compare.pdf) are quite surprising. The effect is uniformly positive for both, but

[2017-08-14 02:12] jeffhammond commented on #149
Intel compiler assumes SSE2 baseline. So "generic" code will use SSE
instructions and xmm registers for floating point.
--
Jeff Hammond
jeff.science@gmail.com
http://jeffhammond.github.io/

[2017-08-14 02:47] jeffhammond commented on #149
It would be interesting to run the same test with the rest of the framework compiled for AVX.

[2017-08-14 02:47] jeffhammond commented on #149
[SDE](https://software.intel.com/en-us/articles/intel-software-development-emulator) has options specifically for measuring SSE/AVX transition, by the way:
[code]

[2017-08-14 14:46] devinamatthews commented on #149
With the framework compiled for AVX ([here](https://github.com/flame/blis/files/1222519/compare2.pdf) and [here](https://github.com/flame/blis/files/1222548/compare3.pdf)), the speedup for the AVX-only DGEMM almost goes away as expected (still some repeatable effect for very small matrices). Speedup for mixed AVX+SSE is still significant though.

[2017-08-14 14:47] devinamatthews commented on #149
I think a `vzeroupper` at the end of the `sandybridge` and `haswell` ukernels is probably the best move at this point. I can also test Skylake and maybe an AMD machine as well.

[2017-08-14 17:33] jeffhammond commented on #149
"AVX only no VZEROUPPER" seems to be a big upside.  I will still be able to build that way, right?

[2017-08-14 17:35] devinamatthews commented on #149
No point: "AVX only no VZEROUPPER" (when built with AVX in the framework) == "AVX only with VZEROUPPER" (with or without AVX in the framework). The second plot shows speedup due to compiling the framework with AVX and is not a global comparison.

In fact, adding `vzeroupper` still improves performance for m,n,k < 100.

[2017-08-15 01:51] devinamatthews commented on #149
Interestingly there is no effect from either `vzeroupper` or compiling the framework with AVX on Skylake.

[2017-08-15 20:17] #149 closed

[2017-09-04 11:54] civodul commented on #129
Systems using the GNU libc support *indirect functions*, notably via the GCC [ifunc function attribute](https://gcc.gnu.org/onlinedocs/gcc-7.2.0/gcc/Common-Function-Attributes.html#index-ifunc-function-attribute).  This allows `ld.so` to select the right variant at load time according to an application-provided *resolver*, which typically checks for cpuid.

@fgvanzee, is this what you had in mind?

[2017-09-06 18:50] fgvanzee commented on #129
@civodul Thanks for chiming in. It's good to know that GNU libc supports this way of selecting functions at runtime (I was unaware). My plans do not depend on this sort of feature, however. I am planning what is hopefully a more portable solution (one that does not rely on GNU libc) that builds all of the necessary object files and symbols into the same library with all the necessary name-mangling

[2017-09-06 18:58] devinamatthews commented on #129
Please pull the CPUID code from TBLIS, as that should be close to a ready-made solution.

[2017-09-06 19:20] fgvanzee commented on #129
@devinamatthews Thanks, Devin. I'll definitely take a look when the time comes.

[2017-10-18 18:37] fgvanzee commented on #129
Quick update.

I've recently pushed a new commit (453deb2) and branch (named 'rt') that finally implements the feature mentioned in this issue. The only thing(s) missing are the heuristics (e.g. CPUID-based code) that allow us to choose an architecture at run-time when multiple configurations (microarchitectures) are included in the build. I'll be working on that next, along with updating the wiki

[2017-10-31 20:23] hanyunfan opened #151 "Any make template for Epyc available?"
Or can you help to provide the steps to create it?

[2017-10-31 20:25] devinamatthews commented on #151
AMD EPYC/Ryzen support is available in the `amd` branch as well as at AMD's fork of BLIS for their ACL libraries: https://github.com/amd/blis (the former may or may not be up to date with the latter).

[2017-10-31 20:26] fgvanzee commented on #151
@hanyunfan Thanks for your interest in BLIS.

We expect to have explicit support for Zen architectures soon.

[2017-10-31 20:39] hanyunfan commented on #151
thanks a lot. found it at: https://github.com/flame/blis/commit/0b19029342ffc530fa22ef20398a26221cb8f6ec

[2017-10-31 20:43] devinamatthews commented on #151
@hanyunfan That commit is a ways back on the `amd` branch...

[2017-10-31 20:43] #151 closed

[2017-11-01 22:44] fgvanzee commented on #129
Additional update.

Commit 2c51356 implements the remainder of the work I had planned for this issue. There will inevitably be cleanup and tweaks going forward, but the core of the effort--support for runtime kernel management as well as the multi-architecture builds + runtime hardware detection feature that many have asked for--has been implemented. If you are inclined, feel free to give it a try

[2017-11-02 21:34] iotamudelta commented on #129
@fgvanzee thanks so much for your work on this! Excited to test. What's the best way to compile a BLIS now that contains all possible kernels for a given architecture (i.e., i386 or arm64 or x86_64)? Tried to go through your commits but I am not sure there is a configure_registry selector that would do that out of the box.

[2017-11-02 22:35] fgvanzee commented on #129
@iotamudelta You're welcome! I'm excited to provide this feature to the community.

Some of your questions may be answered once I write documentation on the new configuration system. (Several of the wikis need to be updated.) I'll get the new documentation set up first, and then merge the `rt` branch into `master`.

The short answer is that you need to define a configuration family in the configur

[2017-11-03 02:17] iotamudelta commented on #129
@fgvanzee for the FreeBSD port, it'd be great if we could have repositories that include all applicable configurations for x86, x86_64, power, arm64, respectively. I'm happy to help out. Will first need to get the current state to work for FreeBSD. Either way: this is very nice.

Unrelated but you may be interested: on FreeBSD-HEAD and an AMD Carrizo, BLIS is competitive to / slightly faster than

[2017-11-03 19:32] fgvanzee commented on #129
@iotamudelta I'm not that surprised that BLIS is highly competitive on an AMD Excavator core, as I vaguely remember observing this myself when I was first writing that microkernel. But, good to know that others are seeing the same thing.

[2017-11-07 02:43] gaming-hacker opened #152 "OSX: any issues with building openmp+pthread libs?"
All,

Has anyone API problems  for haswell and using openmp and pthread libs?  or is it either one lib or the other?

[2017-11-07 03:58] jeffhammond commented on #152
No. Please report an issue or discuss on mailing list. This is not a proper
issue report, since it contains no useful information.
--
Jeff Hammond
jeff.science@gmail.com
http://jeffhammond.github.io/

[2017-11-07 06:11] gaming-hacker opened #153 "OSX: use *.dylib for lib extension not *.so"
All,

OSX uses *.dylib for shared libraries not *.so.  Please fix your makefile.
currently

BLIS_DLL_NAME      := $(BLIS_LIB_BASE_NAME).so

easy fix
OSX := $(shell uname)
ifeq ($(OSX),Darwin)
BLIS_DLL_NAME      := $(BLIS_LIB_BASE_NAME).dylib
else
BLIS_DLL_NAME      := $(BLIS_LIB_BASE_NAME).so
endif

Thanks.

[2017-11-07 06:17] gaming-hacker commented on #152
Why don't you configure the build bot to run the configuration and do regression test.

[2017-11-07 15:26] devinamatthews commented on #153
.so files (at least the ways BLIS builds them) work fine on OSX on all versions that I have tested. True this would probably be an easy fix but nothing is actually broken at the moment. As an example I linked the testsuite with libblis.so no problem:

[code]

[2017-11-07 15:30] devinamatthews commented on #152
If you are encountering a specific problem please provide the details (platform, compiler, configuration, error output, etc.).

[2017-11-23 16:05] gshamov opened #155 "support for older Intel64 arhictectures?"
The documentation mentions Penryn; but it is not in the config anymore?
We still run Nehalem/Wesmeres and would be glad to have BLIS on pre-AVX machines.

[2017-11-23 16:33] jeffhammond commented on #155
Dunnington is the target for SSE4 chips.
--
Jeff Hammond
jeff.science@gmail.com
http://jeffhammond.github.io/

[2017-11-25 05:50] iotamudelta opened #156 "families are not enabled in rt branch?"
in bli_arch.c, bli_cpuid_query_id(); is only enabled if BLIS_FAMILY_INTEL64 or BLIS_FAMILY_AMD64 are defined. However, these macros are not defined elsewhere?

More importantly, the x86_64 family also needs this logic (and the correct macro).

[2017-11-25 14:35] devinamatthews commented on #156
This should probably use standard predefined macros (something like `
#if defined(__x86_64__) || defined(_M_X64) || defined(__i386) || defined(_M_IX86)` for x86/x64 or `#if defined(__aarch64__) || defined(__arm__) || defined(_M_ARM)` for ARM).

[2017-11-25 22:23] fgvanzee commented on #155
@gshamov Sorry for the confusion. The wiki documentation is temporarily inconsistent with the `master` branch. I'm preparing to merge the `rt` branch, which will be the new basis for `master` going forward.

Don't worry: Your pre-AVX systems will remain supported in BLIS. In `rt`, I've renamed the `dunnington` configuration to `penryn`. But that is simply a microarchitectural approximation; the `p

[2017-11-25 22:31] fgvanzee commented on #156
@iotamudelta The `BLIS_FAMILY_` macro is defined by the build system in `bli_config.h` for whichever family was targeted by `configure`.

You are right that I forgot to add support for the `x86_64` family. I'll commit a fix.

[2017-11-26 01:30] jeffhammond commented on #155
I’d just use SSE-whatever since that’s the first-order hardware requirement.

Jeff Hammond
jeff.science@gmail.com
http://jeffhammond.github.io/

[2017-11-28 22:34] #156 closed

[2017-11-29 23:26] fgvanzee opened #158 "BLIS should automatically self-initialize"
Users of the BLAS-like and object-based APIs in BLIS are probably familiar with the fact that the application/user is expected to call `bli_init()` prior to any other BLIS function, and is expected to call `bli_finalize()` after BLIS is no longer needed (or, if it coincides with the end of your program, `bli_finalize()` is not needed and therefore optional, though historically we have always encou

[2017-11-30 05:47] jeffhammond commented on #158
C11 has call_once, C++11 has std::call_once, and Windows has something
similar. Only Solaris lacks an equivalent of pthread_once. Just FYI.
--
Jeff Hammond
jeff.science@gmail.com
http://jeffhammond.github.io/

[2017-12-01 10:13] ikochanz opened #159 "undefined reference to 'omp_get_thread-num' and 'omp_get_num_threads'"
(#) include <stdlib.h>
(#) include <stdio.h>
(#) include <time.h>
(#) include <omp.h>

(#) define NV 6

int main ( int argc, char **argv );
int *dijkstra_distance ( int ohd[NV][NV] );
void find_nearest ( int s, int e, int mind[NV], int connected[NV], int *d,int *v );
void init ( int ohd[NV][NV] );
void timestamp ( void );
void update_mind ( int s, int e, int mv, int connected[NV], int ohd[NV][NV],

[2017-12-01 15:01] gshamov commented on #155
Thanks!

[2017-12-01 15:01] #155 closed

[2017-12-01 18:21] fgvanzee commented on #158
@jeffhammond Thanks for pointing that out. If BLIS assumed C11, I would much rather use an in-language feature to implement self-initialization. However, we're probably several years out from where I would be comfortable requiring C11 support.

Also, are you asserting that Solaris does not include a pthreads implementation?

[2017-12-01 18:49] jeffhammond commented on #158
@fgvanzee I was referring to the Oracle documentation that the Solaris threads API does not contain an equivalent to `pthread_once`.  I don't know if Solaris supports Pthreads or C11.

* https://docs.oracle.com/cd/E19455-01/806-5257/6je9h033p/index.html

[2017-12-01 18:50] fgvanzee commented on #158
@jeffhammond Understood. Thanks for the clarification.

[2017-12-01 18:55] devinamatthews commented on #158
@jeffhammond looks like it does: https://docs.oracle.com/cd/E19120-01/open.solaris/816-5137/tlib-43636/index.html.

C11 is probably a no-go since support is seriously lacking and you can't even count on things like complex numbers.

[2017-12-01 19:14] jeffhammond commented on #158
@devinamatthews The key issue for C11 threads is the library, not the compiler.  [MUSL](musl-libc.org) supports C11 threads and is well-maintained.  However, you'll run into trouble if you use non-standard, glibc-specific features in BLIS.

[2017-12-08 09:20] nisanthmpamd opened #160 "Building BLIS with new ICC compiler is failing"
Hi,

Compiling BLIS with ICC (icc version 17.0.3) is failing with the error pasted below.

I checked out a quite old BLIS, and that was also failing compilation with this version of ICC (for a different file though). So probably the issue is with this version of the compiler. When some of the compiler options are manually modified for compiling the failed file, it is compiling (like removing -O3 a

[2017-12-08 19:35] fgvanzee commented on #160
@nisanthmpamd Thanks for your feedback.

@jeffhammond @devinamatthews Any ideas about Nisanth's error? This sure *looks* like a compiler bug.

[2017-12-08 20:47] fgvanzee commented on #160
@nisanthmpamd I spoke with @devinamatthews and he is quite confident that this is a bug in the Intel compiler. As a possible workaround, he suggested that you try the latest version of `icc`, which is 18.

[2017-12-09 01:45] jeffhammond commented on #160
I thought I tested BLIS with ICC fairly often but I don't think I used 17.0.3 that much.  I've been on Intel 18 for a while now.  I guess I'll report this, but if it doesn't occur with 17.0.4 or later, the response from ICC support is almost certainly going to be "please upgrade".

[2017-12-11 07:12] nisanthmpamd commented on #160
Thank you all for the responses. I will use version 18 instead.

[2017-12-11 16:33] devinamatthews opened #161 "Out of tree build broken"
Configuring and building from a directory other than the root source dir fails:

[code]

[2017-12-11 16:35] devinamatthews commented on #159
This looks like spam.

[2017-12-11 16:35] #159 closed

[2017-12-11 16:36] devinamatthews commented on #129
AFAIK this is done now; closing.

[2017-12-11 16:36] #129 closed

[2017-12-11 16:46] devinamatthews commented on #160
I can build successfully with 17.0.1 and 17.0.4 so this must be highly version- or environment-specific. There is also probably nothing we could do to fix it on our end, so I'll close the issue for now.

[2017-12-11 16:46] #160 closed

[2017-12-11 18:35] jeffhammond commented on #160
__INTEL_COMPILER Version (Format: VRP, where V = Version, R = Revision, P =
Patch)

If you don’t trust users to read docs, you can use the above to make sure
the library isn’t built with a bad compiler. Or you can check that during
configure but there’s a small chance someone will (re)built with different
compiler than used to configure.
--
Jeff Hammond
jeff.science@gmail.com
http://jeffhammond.gi

[2017-12-11 18:51] fgvanzee commented on #161
Thanks Devin. This should be fixed now in 87978f6.

[2017-12-11 18:53] fgvanzee commented on #159
Lol. Yeah, nothing to do with BLIS.

[2017-12-11 18:54] fgvanzee commented on #129
Agreed, this is done.

[2017-12-11 21:46] jeffhammond commented on #159
@ikochanz Next time, please try https://stackoverflow.com/.  I didn't report you this time, but please try to be considerate of others' time in the future.

[2017-12-11 23:31] fgvanzee commented on #158
Quick update: This feature is now implemented on the `selfinit` branch, starting with commit 70640a3.

I didn't insert `bli_init_once()` calls into **every** function that I could have, in order to avoid unnecessary overhead. It made me realize that I was only inserting the initialization calls into functions that I considered to be "user" functions--that is, those that a user would be reasonably

[2017-12-12 01:11] hominhquan commented on #158
Thanks Field for the post. I agree with the idea to make `bli_init` thread-safe. I would like to share my some thinking about it:

- AFAI understand, we want to allow user to create N threads, each one is calling some individual work (e.g `bli_gemm`)}. Each of these `bli_gemm` can also create their own sub-threads (if enabled). I would call this config the N-group situation. Only threads within a

[2017-12-12 01:52] devinamatthews commented on #158
@hominhquan is right, but perhaps I can clarify a bit:

1. `bli_is_init` currently serves the purpose of preventing recursive calls to `pthread_once`, and must be set (as it is currently) before initialization begins in order to work correctly.
2. This does *not* guarantee the correct behavior when `bli_init_once` is called concurrently from two threads, since the second thread may see `bli_is_ini

[2017-12-12 03:39] hominhquan commented on #158
In my head, `pthread_once` would be as simple as an atomic compare-and-swap on the "started", with one branch launching the init_routine and another branch polling on the "done" status.

But, yes, avoiding excessive (or recursive) `pthread_once` would be preferable.

[2017-12-12 16:29] devinamatthews commented on #161
Still broken:

[code]

[2017-12-12 17:44] fgvanzee commented on #161
@devinamatthews I can't immediately reproduce your error on Linux (as I could the first time). I'll try on OS X.

[2017-12-12 17:47] fgvanzee commented on #161
@devinamatthews I couldn't reproduce on OS X either. What commit are you using?

[2017-12-12 17:49] devinamatthews commented on #161
70a64432ee5a7adbee10fb7ff6d7b608c1940a7a

[2017-12-12 17:49] ShadenSmith commented on #161
I just reproduced this using the latest commit on master (generic arch compiling on Arch Linux).

[2017-12-12 17:51] fgvanzee commented on #161
I just noticed you are targeting `intel64`. Let me try that instead of `haswell`.

[2017-12-12 17:52] devinamatthews commented on #161
@fgvanzee are you building out-of-tree *and* using a source dir that has not been also built in-tree?

[2017-12-12 17:54] fgvanzee commented on #161
The key variable was your configure target. (You left out the configure line that you were executing, so it didn't occur to me at first that the way you were configuring could be affecting whether the error manifested.)

I'll dig into it.

[2017-12-12 17:58] ShadenSmith commented on #161
On Linux and a fresh checkout of 70a64432, out-of-tree builds are failing for generic, intel64, and haswell configurations. I assume that it will fail for others.

[2017-12-12 18:00] fgvanzee commented on #161
@ShadenSmith For some reason, I can't get it to fail for `haswell`.

Sigh. One thing at a time, I guess. I'll need to remind myself how out-of-tree builds are supported in the build system. (I never use them.)

[2017-12-12 18:02] devinamatthews commented on #161
@fgvanzee I'm guessing you had already built `haswell` in-tree...

[2017-12-12 18:02] ShadenSmith commented on #161
@fgvanzee Is it possible you're compiling with a source tree that has been built previously as @devinamatthews suggested? I'm working from a completely fresh checkout (never built in-tree before). Since it's failing for all of the configuration targets I try, I do not think it's a target-specific issue.

[2017-12-12 18:05] fgvanzee commented on #161
Yes, I am building with a previously-built source tree. I misread Devin's original comment as having to do with a previously-built out-of-tree directory. Thanks for pointing this out.

[2017-12-12 18:05] ShadenSmith commented on #161
Confirmed...I was able to build `haswell` out-of-tree only after first building it in-tree.

[2017-12-12 18:06] fgvanzee commented on #161
BTW, can either of you remind me why out-of-tree builds are useful?

[2017-12-12 18:07] devinamatthews commented on #161
Anytime you want to build more than one configuration or build with different flags (debug etc.), configure options, etc.

[2017-12-12 18:09] fgvanzee commented on #161
Building more than one configuration is supported in-tree. But, only one configuration is "active" at any given time. So is it the switching between them without re-running `configure` that you're after?

[2017-12-12 18:13] devinamatthews commented on #161
No.

[2017-12-12 18:14] devinamatthews commented on #161
We should add an out-of-tree CI build while we're at it. (And an install test but that is another issue)

[2017-12-12 18:36] fgvanzee commented on #161
I think 8d8ff74 completes the fix.

[2017-12-12 18:42] devinamatthews commented on #161
Yes it seems to work now. The -n thing is still there on OSX but that is just cosmetic.

[2017-12-12 18:42] #161 closed

[2017-12-12 18:52] devinamatthews opened #162 "Add CI builds for out-of-tree and installation"
Two CI builds should be added to test:
- Out-of-tree builds, and
- Installation

The first is easy to do. The second needs a bit of care that the entire installation is actually tested. I think that using the installed headers and libs to build the testsuite would be sufficient. Neither of these probably need to run the testsuite.

Some good additional tests include:
- [x] Out-of-tree
    - [ ] Co

[2017-12-12 19:07] devinamatthews commented on #162
I made it into a checklist and update to reflect.

[2017-12-12 19:30] fgvanzee commented on #162
Oh, very nice. I didn't realize you could insert checkboxes with github markdown!

[2017-12-12 20:48] fgvanzee commented on #158
@hominhquan Thanks for pointing this out. The **only** reason I used the `bli_is_init` flag was to prevent the recursive behavior (which apparently results in execution hanging with the GNU implementation of pthreads). I would rather not use any such flags at all and solely rely on `pthread_once()`.

I've spoken to Devin, and we think we can get around this by statically initializing the scalar co

[2018-01-07 15:06] mmrmo opened #163 "Problems with Skylake support: missing hbwmalloc.h header"
Thanks for the beautiful work. I have have however a problem in compiling it, if I try to specifically enable Intel Skylake optimizations, in attempt to replicate the comparison against MKL from: [Intel simple SGEMM/DGEMM benchmark](https://software.intel.com/en-us/articles/benchmarking-gemm-with-intel-mkl-and-blis-on-intel-processors)

`./configure --enable-threading=openmp skx`

`./configure skx

[2018-01-07 15:41] devinamatthews commented on #163
This should be fixed in f7df64d when it is merged. Note that this configuration is tuned for parts with 2 VPUs.

[2018-01-07 16:03] #163 closed

[2018-01-07 17:14] mmrmo commented on #163
Thank you very much, indeed now compilation works.

However I've realized that 'skx: skx' from the list 'config_registry'
refers in this project to an extended version of Skylake, i.e. the one that
GCC ver. 6.3.0 manpage would target as '-march=skylake-avx512'. The machine
I've been trying the library on is instead a plain 'Skylake', which does
not support in fact the AVX512?? new instructions / d

[2018-01-07 17:34] jeffhammond commented on #163
BLIS relies on  the Intel acronyms SKX, which may not be obvious to the
uninitiated.

SKX = Skylake Xeon, which supports AVX-512.
SKL = Skylake, which supports AVX2.

For BLIS purposes, treat SKL like HSW (Haswell).

Sorry these distinctions are not clear. It is an unfortunate situation.

Jeff Hammond
jeff.science@gmail.com
http://jeffhammond.github.io/

[2018-01-07 18:17] devinamatthews commented on #163
@fgvanzee maybe we could add aliases for missing architectures that don't have their own kernels: `ivybridge`, `broadwell`, `skylake` etc. Maybe also add `skylake-x : skx`...

[2018-01-08 03:02] fgvanzee commented on #163
@devinamatthews Creating these aliases wouldn't be too much work. That said, I can't help but notice that the only people the missing aliases *might* confuse are those who are configuring with explicit configuration targets. (Running `./configure auto` will automatically select `haswell` on Broadwell system, for example.) I thought we were the only ones who spelled out our configurations? :) But p

[2018-01-09 19:17] fgvanzee commented on #158
This feature has been implemented; I'm ready to close.

[2018-01-09 19:17] #158 closed

[2018-02-19 04:14] gaming-hacker opened #166 "Is the amd branch going to be merged?"
all,
it this going to eventually be merged back into the master?

[2018-02-19 06:37] gareevroman opened #167 "Compiling BLIS on Intel Xeon Phi 7210 knl is failing with the error pasted below."
Hi,

Compiling BLIS on Intel Xeon Phi 7210 knl is failing with the error pasted below.

I am doing the following:
./configure --enable-threading=openmp -path=/users/rgareev/roman/Frameworks/build/BLIS knl
make

Generating monolithic blis.h.................................................................................................................................................................

[2018-02-19 17:25] fgvanzee commented on #166
@gaming-hacker Yes, I am working on the merge of `amd` back into `master` now, along with other improvements that will be included in the merge. I could be done later this week. Thanks for your patience.

[2018-02-19 17:37] devinamatthews commented on #167
Hi Roman,

This should be fixed with 5d03b6e. Please let us know how the performance is, especially if you run in both cache and flat memory modes. I have had mixed experiences with cache mode...

Devin

[2018-02-19 17:38] fgvanzee commented on #167
Thanks Devin. I haven't looked closely at `bli_avx512_macros.h`, but if it ends up being used for future microarchitectures, another solution would be to move it into `frame/include`, or somewhere else outside of `kernels/skx`. That would result in it being pulled into the monolithic/flattened `blis.h` prior to complication.

[2018-02-19 19:16] gareevroman commented on #167
Hi Devin,

5d03b6e fixes this. However, it produces a new error:
./configure --enable-threading=openmp -path=/users/rgareev/roman/Frameworks/build/BLIS knl
…
make
Generating monolithic blis.h.................................................................................................................................................................................................................

[2018-02-19 19:18] devinamatthews commented on #167
Why is `-Wfatal-errors` enabled? Just turn that flag off, as the compiler is only complaining about `restrict` consistency in the prototype which has no binary impact.

[2018-02-19 20:11] fgvanzee commented on #167
I enabled `-Wfatal-errors` for all configurations in `common.mk` so that compilation stops after the first compiler error. This is useful when lots of errors are reported; it lets you focus on the first error, since that is usually the most important one.

It's not clear to me how `-Wfatal-errors` can pose a nuisance since it would appear to only limit the reported errors to one when there are non

[2018-02-19 20:13] devinamatthews commented on #167
Ah, I was thinking of `-Werror`. I only get a warning on my system. I will fix this at some point, but it should just be a matter of fiddling with the `restrict`s.

[2018-03-03 11:47] loveshack opened #168 "building x86_64 shared library fails"
After configuring version 0.3.0 with "--enable-shared x86_64" on GNU/Linux with gcc, linking the shared library fails with many errors due to objects not being built with -fPIC. I think they're all built with -march=core2 under frame, starting with

gcc -O3 -mssse3 -mfpmath=sse -march=core2 -I./include/x86_64 -I./frame/3/ -I./frame/ind/ukernels/ -I./frame/1m/ -I./frame/1f/ -I./frame/1/ -I./frame/i

[2018-03-03 11:58] loveshack opened #169 "knl build fails"
After configuring 0.3.0 for knl with GCC 7 on CentOS7, the build fails:
[code]
`-Wfatal-errors` seems unhelpful as it stops the trace of macro definitions being shown.

[2018-03-03 12:00] loveshack commented on #169
I meant to add: why are knl and skx not included in x86_64?

[2018-03-03 19:16] fgvanzee commented on #169
@loveshack Thanks for reporting this. I've committed c09fffa8 to the `master` branch, which should fix the issue. If not, we can iterate until we figure it out.

[2018-03-03 19:19] fgvanzee commented on #169
@loveshack As for `knl` and `skx` being omitted from the `x86_64` configuration family: I was under the impression that Xeon Phi (`knl`) was not considered x86_64. As for Skylake server (`skx`), I don't have a good answer. Let me get back to you on that.

Notice that these omissions only affect situations where you are building multi-configuration libraries. It does not affect situations where you

[2018-03-03 19:23] devinamatthews commented on #169
KNL is technically x86_64.

[2018-03-03 19:26] fgvanzee commented on #168
@loveshack Thanks for this bug report. I think I see what's going on, but the fix is not immediately obvious. I'll take a harder look at it when I get back into the office on Monday.

[2018-03-03 19:29] fgvanzee commented on #169
Thanks Devin. I learned something new!

@loveshack I'll need to put the build system through some more testing to make sure that it does the right thing if I include `knl` in the `x86_64` family. I'll post back to this issue when I have an update.

[2018-03-03 19:34] devinamatthews commented on #169
@fgvanzee be warned: not all compilers/systems can compile KNL and SXK (and Zen for that matter). I had to implement compiler version and assembler capability tests in `configure` for TBLIS...

[2018-03-03 20:20] jeffhammond commented on #169
There are plenty of machines out there that don't support Haswell's AVX2 in the default toolchain, so you might as well write those tests for everything since SSE2, unless you commit to a minimum version of binutils (e.g. 2.25, which supports AVX2) and then you can just test for that.

[2018-03-03 20:27] devinamatthews commented on #169
[Here](https://github.com/devinamatthews/tblis/blob/9566855d60714d5bdd395f62f0bf16b05b7c9072/configure.ac#L241) for compiler version checks and [here](https://github.com/devinamatthews/tblis/blob/9566855d60714d5bdd395f62f0bf16b05b7c9072/configure.ac#L291) for assembly checks in TBLIS.

[2018-03-05 12:46] loveshack commented on #169
You wrote:

It now builds, thanks, but make test fails (after adding the required
linking to -lmemkind) with the current head:

...
% --- BLIS default implementations ---
%
% level-3 implementations        s       d       c       z

libblis: frame/base/bli_gks.c (line 363):
libblis:
libblis: Aborting.
make: *** [testsuite-run] Aborted (core dumped)

with this backtrace which I may be able to make

[2018-03-05 12:50] loveshack commented on #169
You wrote:

I doubt you need to go too far back, though.  I guess all plausible
currently-supported GNU/Linux systems on x86_64 will build AVX; OpenBLAS
can disable AVX, but that was for RHEL5.

Perhaps it's worth noting that on RHEL6 and clones, you can get the
toolchain support up to knl, skx, and zen (if actually needs -march=zen)
from the devtoolset-6 or 7 SCLs.  You need support in both gcc a

[2018-03-05 18:44] fgvanzee commented on #169
@loveshack Concerning python 2.7: I was under the impression that this was pretty much ubiquitous, but perhaps I was wrong. I may be able to insert a python version test into the build system; if python 2.7 or greater is not available, the (much slower) bash version of `flatten-headers.sh` can be used.

[2018-03-05 19:36] fgvanzee commented on #169
@loveshack Concerning your stacktrace: thank you, that was very helpful. There were actually two bugs manifesting. One was the missing error message! (The error string itself wasn't being initialized properly.) The second was the more pressing issue of what was triggering the `abort()`. It turned out to be a typo in the `knl` sub-configuration that caused some internal safeguards to kick in. Commi

[2018-03-06 00:08] fgvanzee commented on #168
@loveshack I think I've fixed this issue in 8912e688. Please give it a try. And thanks again for taking the time to provide us with this valuable feedback.

[2018-03-06 10:15] loveshack commented on #169
You wrote:

Now I get this:

[code]

[code]

I can try to investigate if it's not obvious from that, but I don't know
my way round.

[2018-03-06 10:17] loveshack commented on #169
You wrote:

I wouldn't worry too much about it.  I'd just note the need for the
python27 package on RHEL6.

[2018-03-06 10:46] loveshack commented on #168
Confirmed fixed, thanks.

[2018-03-06 12:48] fgvanzee commented on #169
@loveshack Apologies regarding the still-aborting commit. My commit to fix the typo... contained another typo. (I didn't test the change the first time because I didn't have ready access to a KNL system... something I need to work on.) Commit 8b0475a8 should work now. Thank you for your patience.

Regarding the python requirement, I've added it to the [BuildSystem](https://github.com/flame/blis/wi

[2018-03-06 13:10] #168 closed

[2018-03-07 16:29] loveshack commented on #169
You wrote:

Is that meant to be just on the dev branch?  If I add the patch to the
master branch KNL passes the test suite, so this is basically fixed,
thanks.

A couple of things, though:  It's confusing that "make test" for knl
sends the output to a file, unlike for x86_64, and takes forever -- I
thought it was stuck initially.  Also, could -lmemkind be added to
LDFLAGS for the knl test target,

[2018-03-07 17:11] jeffhammond commented on #169
How are you determining peak?  You need to use the sustained AVX-512 frequency to compute peak in KNL and SKX.  If you multiple cores x base (non-AVX2) frequency x FMA/cycle, you'll get a peak value that isn't actually achievable.

[2018-03-07 18:59] fgvanzee commented on #169
@loveshack Regarding your branch question: I forgot to bring `master` up-to-date after committing it to `dev`, but I also was going to keep it on `dev` if (embarrassingly) further tweaks were needed. (For now, `dev` and `master` are basically tracking the same development, though this will not always be the case. ) Glad to hear it works now.

Regarding `make test`: I found the redirection commente

[2018-03-07 19:01] loveshack commented on #169
You wrote:

I should have said that more carefully.  I meant that BLIS achieved ~83%
of the performance of MKL for large square serial DGEMM, i.e. 30100
Mflops for BLIS on a 7290 with the "performance-latency" tuned profile.

[2018-03-07 20:06] loveshack commented on #169
You wrote:

Ah; I must have been confused by using V=1 in one case, and not the
other.  Running the tests takes a long time generally.

I was about to say that I realized the shared library isn't linked
memkind.  The addition in the knl config is clearly being over-ridden.
This change makes it work, but perhaps you want to include the fragments
in the other order.

[code]

I wasn't expecting the l

[2018-03-07 20:27] jeffhammond commented on #169
`BLIS_MALLOC_POOL` uses `hbw_malloc` on KNL.  `git grep` will lead you to details.

I don't know that it is necessary for users to know about the internal malloc behavior.  However, we could document that this is only required for flat mode.  Cache mode makes MCDRAM transparent and thus MEMKIND isn't necessary.

Every properly configured KNL system should have MEMKIND in a reasonable location.

Th

[2018-03-08 12:14] loveshack commented on #169
You wrote:

[Actually thinking, it obviously makes sense to use it for large
temporaries if you can.]

Without reading source, it's unclear what hbw_malloc does (once you've
found a the man page, lacking hbw_malloc(3)).  Without separate MCDRAM
nodes (snc-4 non-hybrid?), you might expect it to fail on the basis of
the man page, but I assume it doesn't.  If it's taking a significant
amount of HBW m

[2018-03-09 17:24] jeffhammond commented on #169
While MEMKIND supports any Linux platform (as far as I remember), it likely won't be installed on non-KNL systems, so it may be impractical to include KNL in the x64_64 fat library.  However, we can test for MEMKIND and include KNL if it is found.  Alternatively, we can make MEMKIND optional in the KNL build.  We can either fall back on `malloc` or use `libnuma` memory allocation directly.

[2018-03-09 17:27] jeffhammond commented on #169
In my experience, MEMKIND does not fail, but falls back on DDR gracefully when MCDRAM is not present (e.g. in cache mode).  This is actually why I wrote https://github.com/jeffhammond/myhbwmalloc, which fails aggressively to ensure that the user never runs in a suboptimal configuration ("run fast or not at all").

[2018-03-09 18:57] fgvanzee commented on #169
Here's the approach you'd want to take: you define configuration families with and without `knl`. Then, insert some checks in `configure` that fire if "x86_64-with-knl" is chosen. If any checks fail, you silently (or verbosely) override the user's choice with the "x86_64-without-knl" family.

If we can handle the memkind weirdness (which I admit I have only been half paying attention to), I'd be o

[2018-03-09 19:59] jeffhammond commented on #169
@fgvanzee MEMKIND has always been present on machines where I needed it and I did a manual check once and cached the result in my head.  I'll look to see what NWChem does, if anything.  Because Intel Fortran compiler uses MEMKIND for KNL, I believe it is shipped with that, but I'm not certain of that.  I'll see if I can write a test for it.

[2018-03-12 09:45] loveshack commented on #169
Sorry, I obviously should have opened a separate issue for this.

I don't think you need be anxious about KNL, or treat it differently
from other x86_64.  (The x86_64 target already won't build with the
RHEL7 system compiler, let alone RHEL6's.)  Presumably other targets
with HBM will be relevant, and while using it may be convenient and
useful, it can't actually be necessary.

So, can't memkind c

[2018-03-12 21:40] fgvanzee commented on #169
@loveshack Apologies Dave, I'm having trouble following exactly what it is that you would like. What do you mean when you inquire about making libmemkind "optional"? I'm used to thinking about standalone (singleton) configurations, but I'm guessing that you are only interested in a multi-configuration build such as `x86_64` (which you would prefer to include `knl`). Currently, `hbw_malloc()` and `

[2018-03-12 21:51] devinamatthews commented on #169
@fgvanzee I think the fix is pretty simple:

1. `configure` checks if `hbwmalloc` is available.
2. If so, BLIS uses it for pools.
3. If not, it doesn't.

You could in addition have an option to force disable it.

[2018-03-12 21:53] fgvanzee commented on #169
@devinamatthews Thanks for clearing that up for me, Devin. That helps.

Any suggestions for how we would implement the check for availability of `hbwmalloc()` for a non-autotools `configure` script?

[2018-03-12 22:01] devinamatthews commented on #169
Something like this:

[code]

[2018-03-12 22:03] fgvanzee commented on #169
@devinamatthews Thanks Devin.

@loveshack Please comment at your convenience, Dave.

[2018-03-13 11:09] loveshack commented on #169
You wrote:

I'm happy with a solution that will support all x86_64 in a single
library (adding skx as well as knl, but that should be uncontroversial).
Thanks, and apologies for being confusing;.  (In case the motivation
isn't clear, it makes it much easier to manage a heterogeneous system;
even with a new cluster, if you have KNL you're likely to have another
micro-architecture with a faster cloc

[2018-03-13 16:45] jeffhammond commented on #169
Debian and Fedora support would be great.  Homebrew support would be cool, too, but is less important, because Mac Accelerate does a pretty good job on Mac hardware.  Since neither ATLAS nor OpenBLAS supports AVX-512, it would be really nice to have an open-source library that supports AVX-512 in Linux package managers.

[2018-03-13 21:11] fgvanzee opened #170 "ARM builds fail"
On 03/12/18 09:27, Jacob Gorm Hansen wrote:

Jacob: I've committed 1a303174, which hopefully addresses some of the issues. Please try it out and let me know the outcome.

[2018-03-13 21:36] fgvanzee commented on #169
@devinamatthews @loveshack Just to clarify: in the case that `hbw_malloc()` is enabled (because libmemkind was found by `configure`), do you want `hbw_malloc()` to be used **just** for `knl`, or for all configurations in the multi-configuration build (e.g. `x86_64`)?

[2018-03-14 12:28] loveshack opened #171 "simple sanity test"
I think it would be useful to have a make target that does a quick sanity check of the build, presumably a small subset of the "test" target.  Looking at packaging, I think the full test suite is too time-consuming to be reasonable for building distribution packages, but it's generally a good to have a %check stanza in rpm, for instance.

[2018-03-14 12:46] loveshack opened #172 "query about arm64 support"
It would be useful to have a note on the scope of arm64 support for people who aren't familiar with the instruction sets. Will cortexa57 work on any aarch64 (in Fedora architecture-labelling terms, or Debian arm64)?  If not, it would be useful to have a target like "arm64" which includes "generic", like arm32, to avoid using generic for aarch64 packages.

[2018-03-14 12:52] jacobgorm commented on #170
Thank you!
it seems to be working for cortexa57 now. However, for cortexa15 (or a9) I am still getting misnamed kernel errors, and I had to apply this Makefile fix:

diff --git a/config/cortexa9/make_defs.mk b/config/cortexa9/make_defs.mk
index 684879da..8989dbd2 100644
--- a/config/cortexa9/make_defs.mk
+++ b/config/cortexa9/make_defs.mk
@@ -67,10 +67,10 @@ endif

 CKOPTFLAGS     := $(COPTFLAGS)

[2018-03-14 16:18] devinamatthews commented on #170
@fgvanzee Turns out it is really easy to test ARM on Linux/x86:

[code]

We could probably put this in Travis as well. I don't know what happens with the "arm32" family since it will try to read /proc/cpuinfo... I guess we could fake up a cpuinfo file and use chroot for testing.

[2018-03-14 16:27] devinamatthews commented on #172
The cortex-a57 config should for for any aarch64 target, although it won't be optimal for other chips (better than generic, though). I believe it has also been tested (real-world) on A53.

@fgvanzee's commit 1a30317 should fix the missing "arm64" family problem, but I'll leave this open until it is better tested (incl. arm32) and merged to master.

[2018-03-14 17:32] fgvanzee commented on #171
@loveshack Could you elaborate? For example:

1. What things would you like to see affirmatively tested in such a sanity test?
2. What kinds of situations you would the sanity test to rule out?

(Notice that the testsuite is designed to test a cross section of numerical correctness of most operations in BLIS; it doesn't test the build system, per se.)

[2018-03-14 17:39] fgvanzee commented on #170
@jacobgorm Thanks for the feedback. Just to clarify, it sounds to me like you are claiming that your inlined patch fixes both `cortexa15` and `cortexa9`? Is my interpretation correct?

I'll apply the fix shortly.

[2018-03-14 17:40] devinamatthews commented on #170
@fgvanzee I'm working on a9 and a15 now. I'll pust a PR soon.

[2018-03-14 18:28] devinamatthews commented on #170
I guess we can leave this open until the fix is confirmed and merged to master.

[2018-03-14 19:00] devinamatthews opened #174 "Testsuite should print which config is selected at runtime"

[2018-03-14 19:02] devinamatthews opened #175 "Runtime config selection is executed many times"
IIRC the runtime config selection is supposed to just run once and be "remembered", but in debugging arm32 runtime selection with `printf`s, I get:

[code]

[2018-03-14 19:02] fgvanzee commented on #174
Thanks for suggesting this, Devin. I'll work on it.

[2018-03-14 19:08] fgvanzee commented on #175
Glad to see my leaving those `printf()` calls in there was useful. :)

Ideally, yes, the value would be cached somewhere. (The current design calls CPUID or equivalent each time `bli_cpuid_query_id()` is called. But this only happens for multi-configuration builds. If you configure via `configure haswell` or `configure auto`, only one configuration is selected and that selection is hard-coded into

[2018-03-14 19:28] fgvanzee commented on #170
@jacobgorm I assume we can close this now? Let us know if not.

[2018-03-14 20:34] fgvanzee commented on #174
@devinamatthews fc6a1842 addresses this issue.

[2018-03-14 20:34] loveshack commented on #169
You wrote:

I thought it was only used by the knl configuration; I think it's only
relevant when HBM is present, anyhow.  I vaguely recall a suggestion
that skx would get HBM, but I don't know if that exists.  If it does, I
guess skx should use hbw_malloc too.  Otherwise it should just be used
for knl.  I defer to Devin, Jeff and doubtless others, though!

[2018-03-14 20:39] fgvanzee commented on #169
@loveshack Understood, thanks.

@devinamatthews @jeffhammond Perhaps the next question is, does it do any harm to call `hbw_malloc()` on a system that has libmemkind but does *not* have high-bandwidth memory? I know the likelihood of finding libmemkind of a non-KNL system is low, but entertain me for a moment.

[2018-03-14 20:40] devinamatthews commented on #169
Calling `hbw_malloc` when there is no HBM is fine, as it falls back to DRAM.

[2018-03-14 20:41] devinamatthews commented on #169
The only problem could be if the build system has libmemkind but the system that BLIS will be run on does not and so dynamic linking fails. A `--without-memkind` option would handle this.

[2018-03-14 20:45] loveshack commented on #172
Ah, thanks.  I didn't think to look in dev.  I have some rpm packaging
done, so I could test on whatever the arm64 (or arm32) hardware is in
the Fedora build system, if that's helpful.

[2018-03-14 20:52] fgvanzee commented on #172
@loveshack Yeah, sorry for any confusion. We try to only commit things to `master` that we are quite confident are already working. This ARM stuff is classic "we have no idea if it works yet" type work since, in practice, we only have emulators to work with--and even that, Devin only brought to my attention this morning. (I had to spoof `/proc/cpuinfo` and run the CPUID code in a play sandbox just

[2018-03-14 21:00] fgvanzee commented on #169
Thanks Devin.

My plan is as follows: Add a `--with-memkind` option to `configure` that enables use of `hbw_malloc()`/`_free()` for memory pools. The default behavior of this option (that is, the behavior if `configure` is run without any `--*-memkind` option) will depend on whether libmemkind is detected by `configure`. If libmemkind is present, the default is `--with-memkind`; otherwise, the def

[2018-03-14 21:15] loveshack commented on #171
You wrote:

It's basically checking that the built library works to run a short test
correctly, e.g. a few cases in dblat.f if one was using Fortran.
(Obviously I can do that in packaging, so it's not a big deal, but I
thought it might be more generally useful.)  A random short case from
the testsuite should be good enough, but I haven't looked at what's
there.  Now I mention it, a Fortran test fo

[2018-03-14 21:28] fgvanzee commented on #171
@loveshack It sounds like we may be able to give you what you want by drastically pruning the parameter/operation space specified by the testsuite's input files. This would amount to using a special set of files that is tailored for a very short run as part of a hypothetical `make quicktest`. Does that sound sensible?

@loveshack Are you suggesting a testsuite feature that exercises the BLAS compa

[2018-03-14 21:44] #174 closed

[2018-03-14 22:01] jacobgorm commented on #170
Yes please go ahead and close the issue.

[2018-03-14 22:43] #170 closed

[2018-03-15 11:51] loveshack commented on #171
Yes, that's the idea if it's easy to do.

Yes.

I added the netlib dblat3.f as a test to rpm packaging, and now need to
investigate why it's aborting...

I wonder why for numerical work.  (I feel the same about C++.)  Fortran
codes of the sort Jeff knows form a large part of our workloads.

  ALGOL 60 is alive and well and living in FORTRAN 90.  -- Tony Hoare

Oh, OK.  I thought it would just need

[2018-03-15 13:38] loveshack opened #177 "BLAS test fails"
I tested the BLAS interface with one of the reference BLAS tests, and it aborted under dsymm with

libblis: Encountered invalid stride/dimension combination.

To reproduce, compile dblat3.f, linked against libblis (e.g. "gfortran -g -o dblat3 dblat3.f -l...", and run as

./dblat3 <dblat3.dat

The dblat3 files come from https://github.com/Reference-LAPACK/lapack/tree/master/BLAS/TESTING
If it doesn

[2018-03-15 18:33] fgvanzee commented on #171
Be careful with your stack size limit (`ulimit -s`). I was unable to run the LAPACK testsuite using the default of 8MB. Switching to an unlimited stack size fixed the problem (which was a segfault on a *very* odd line of code).

Let me clarify that it's mainly Fortran-77 that bothers me. It's a perfectly fine language for some people, just not me. :)

We intentionally removed all Fortran dependenc

[2018-03-15 19:17] fgvanzee commented on #177
Thanks for this report, Dave. I see the problem now and I'll begin working on a fix.

[2018-03-15 21:20] fgvanzee commented on #177
@loveshack I think this issue is now addressed in c73055f0.

I was able to reproduce your issue pre-patch, and with the changes in c73055f0 the test driver ran to completion and exited normally. (I only tested `dblat3.f`, so there could be other problems with BLIS's BLAS layer, likely unrelated to this one.)

[2018-03-15 21:55] fgvanzee commented on #171
@loveshack In light of [issue 177](https://github.com/flame/blis/issues/177), I may have had a change of heart. I think I can provide some basic infrastructure to run this netlib BLAS testsuite, **provided** the user has `gfortran` (or a different working Fortran compiler). I may also experiment with running those test drivers through `f2c` and seeing if the output works just as well. If I can get

[2018-03-16 09:52] loveshack commented on #177
It now gets through the BLAS tests that OpenBLAS runs (with an adjusted
makefile) but that doesn't examine the results of the error exit tests,
and those fail, e.g.

 ******* DGEMM  FAILED THE TESTS OF ERROR-EXITS *******

[2018-03-16 10:26] loveshack opened #178 "printf format overflows"
gcc 7 warns about format overflows, with this note

[code]

This fixes it:

[code]

[2018-03-16 11:37] loveshack commented on #171
I agree about f77, and it's a pity there isn't a standard modern fortran
interface to blas/lapack.  (The one in MKL is proprietary.)

I don't understand the problem with having a make target using fortran
that isn't normally used, like mkl openblas ones, but no matter.

I used to be all too familiar with different f77 ABIs.  The double
underscore is used by the traditional unix ABI iff the fortran

[2018-03-16 13:08] fgvanzee commented on #177
@loveshack Could you clarify what you mean by error-exits? For example, is it a different `dblat` driver file that performs the error-exit tests? (Sorry, I don't have things set up to run all of them conveniently yet. I'm currently working on the `f2c` solution.)

[2018-03-16 15:01] loveshack commented on #177
No, the testing is controlled by an input flag with the same driver
(line 7 in the example input for dblat3 below).  I haven't checked what
it does exactly, but it uses a replacement error-reporting routine
(xerbla?).  The stop on failures flag doesn't seem to include that.  (I
don't know how important it is to pass that.)

[code]

[2018-03-16 17:30] fgvanzee commented on #178
Thanks Dave, your fix has been applied in 3d1a5a7.

I can't really convince myself of *why* the string was overflowing, though. `dt_str` is a single character string (excluding `\0` terminator). `op_str` is at most five characters (again, excluding the terminator). So I can count 1+5+1 characters (including terminator) going into `func_str`. What am I missing?

[2018-03-16 17:36] fgvanzee commented on #171
As I alluded to before, we've had partners in industry who have environments completely void of a Fortran compiler. I understand if that's difficult to imagine, especially for a user of Fortran and GNU software in general, but it's a situation we want to be able to handle.

I plan to import the necessary source code from `f2c` into the test driver, providing I can get everything working, so the AB

[2018-03-16 17:44] devinamatthews commented on #178
@fgvanzee never ever use `sprintf`. Use `snprintf` or `asprintf` instead (the latter is a GNU extension but is very easy to implement yourself in terms of two calls to the former).

[2018-03-16 17:46] fgvanzee commented on #178
@devinamatthews Could you explain? It's not clear to me what is wrong with `sprintf()`.

[2018-03-16 17:48] devinamatthews commented on #178
`sprintf` == possible (in practice probable) buffer overflow. Of course, I would just use C++:

[code]

but that's neither here nor there.

[2018-03-16 17:51] fgvanzee commented on #178
So you're just suggesting to never use `sprintf()` to avoid shooting myself in the foot? I thought you were going to say that it was inherently dangerous even when used properly. (It's still not clear to me what went wrong with the original code.)

[2018-03-16 18:09] fgvanzee commented on #177
@loveshack I didn't notice that the driver was producing `dblat3.out`. I was erroneously assuming that no output to `stdout` meant no errors. Sorry about that. I understand what you mean by error-exit tests now:
[code]
So it seems that the only reason the testsuite is complaining is because the name of the operation was provided in lowercase instead of uppercase. Seems rather nit-picky of the test

[2018-03-16 19:03] fgvanzee commented on #171
@loveshack I'm making progress with converting the BLAS testsuite to C via `f2c`. I was able to convert, compile, and run a `dblat3.c` and the behavior and output seems identical to the Fortran version. I'll proceed with importing the rest of the testsuite files and integrating it into the BLIS build system.

[2018-03-17 14:20] jeffhammond commented on #178
@fgvanzee The fact that you don't know what went wrong in the original code suggests that proper use of this function is harder than it looks 😉

[2018-03-17 18:58] fgvanzee commented on #178
@jeffhammond Allow me to clarify. I'm not trying to argue that `snprintf()` isn't safer than `sprintf()`. I'm fine with migrating to the former. But when I "make a mistake" I prefer to understand why it's a mistake. Specifically, in this case, I would like to understand how my strings ended up being longer than seven characters (including terminator). *Or*, maybe I didn't do anything wrong and thi

[2018-03-18 11:05] loveshack commented on #178
You wrote:

I looked at the pre-processed output (cc -E) of the original, which
contains

char func_str[ (6+1) ]; sprintf( func_str, "%s%-5s", "ch", "ger" );

so the buffer length needs to be 2+5+1.

[sprintf is one of the first things I'd check on for programming.  While
using snprintf saves you overflowing the buffer, of course you need to
check the return value if truncation would matter.  I've

[2018-03-18 11:35] loveshack commented on #171
For what it's worth, see -ff2c at
https://gcc.gnu.org/onlinedocs/gcc-7.3.0/gfortran/Code-Gen-Options.html#Code-Gen-Options
for ABI differences between f2c and gfortran, which the BLIS interface
follows.  (BLAS has real and complex functions.)

[2018-03-19 00:52] fgvanzee commented on #178
Thanks Dave. Your quoting of cpp output got me looking into the code closer. Before, I always looked at another operation's file, like `bla_gemm.c`, because I figured they all suffered from the same thing. But then I noticed you were specifically citing `ger` as the offender. That set me on the right path and eventually I found the problem:
[code]
I was using a macro parameter of `chxy` for the ch

[2018-03-19 00:56] fgvanzee commented on #171
Thanks. Yes, I've been bitten by the differences in f2c vs. conventional calling conventions before. I'm taking care to un-f2c f2c'ed functions that return complex values so they are compatible with BLIS's BLAS API.

I'm almost done with the new BLAS testsuite. (I think everything is running now. But I'm going to use the results to continue to track down and fix the remaining test failures.)