[2020-11-24 09:43] kvaragan opened #460 "DGEMM Segmentation Fault for certain input values"
For input size m = 126 n = 1 k= 126 lda = 126, ldb=31509 and ldc=126 - the dgemm crashes.
The crash is not observed for smaller values of ldb.
The crash is observed in the kernel "bli_dgemmsup_rv_haswell_asm_1x6".
How to reproduce:
./configure --enable-cblas -t openmp auto
make -j
cd test
modified test_gemm.c to consider lda, ldb and ldc. Attaching test_gemm.c and test inputs.
Replace test_gemm.c

[2020-11-24 12:09] BhaskarNallani commented on #460
Fix:

Extra unnecessary load of A matrix in bli_dgemmsup_rv_haswell_asm_1x6 kernel causing segmentation issue.
Looks like some copy paste error and need to check all other 1x6 kernels.
This may not be reproducible in testsuite because it always allocates multiple of 32 and no provision to test for leading dimension beyond size.

But when ldb=126 even though it is accessing beyond memory it is not

[2020-11-24 12:19] BhaskarNallani commented on #460
Another potential bug:

--- a/kernels/haswell/3/sup/d6x8/bli_gemmsup_rd_haswell_asm_dMx4.c
+++ b/kernels/haswell/3/sup/d6x8/bli_gemmsup_rd_haswell_asm_dMx4.c
@@ -1297,7 +1297,6 @@ void bli_dgemmsup_rd_haswell_asm_1x4
                                           // which would destory intermediate results.

        vmovsd(mem(rax       ), xmm0)
-       vmovsd(mem(rax, r8, 1), xmm1)
        add(imm(1*

[2020-11-27 11:24] BhaskarNallani opened #461 "FAILURE in TRSM for very low input values"
% --- trsm ---
%
% trsm m n                    3 3
% trsm operand params         llnn
%

% blis_<dt><op>_<params>_<stor>      m     n   gflops   resid      result
a:
4.940656e-324 0.000000e+00 0.000000e+00
0.000000e+00 4.940656e-324 0.000000e+00
0.000000e+00 0.000000e+00 4.940656e-324
b:
4.940656e-324 0.000000e+00 0.000000e+00
0.000000e+00 4.940656e-324 0.000000e+00
0.000000e+00 0.000000e+00 4.940

[2020-11-27 11:25] BhaskarNallani commented on #461
Injected these values into A, B @ ./blis/testsuite/src/test_trsm.c

[2020-11-27 14:56] devinamatthews commented on #461
@BhaskarNallani do you get the desired behavior from OpenBLAS, MKL, etc.?

[2020-11-27 14:59] rvdg commented on #461
Bhashar,

I suspect this problem comes from the fact that TRSM computes 1/x (where x is the diagonal element of the matrix) and then multiplies that result times values in the right-hand side.  If I am right, in computing 1/alpha, overflow happens for values this size, and that then translates to the “-inf”.

A fix for this would be to check x and branch if it is smaller than a certain threshold.

[2020-11-27 15:01] rvdg commented on #461
I just checked this in octave.

If you set
x = 4.940656e-324

Then

octave:2> 1/x
ans =  Inf
octave:3> x / x
ans =  1

I suspect the same happens in the TRSM call.

Robert

[2020-11-27 15:13] BhaskarNallani commented on #461
@rvdg  Yes. It is happening because a/b is done using a* (1/b) . This is to save the costly division operations but these are side effects. In trsm it is mixed with packing to optimized. We should think back now to move to a proper division operation.

@devinamatthews
Openblas is behaving same has blis but MKL is giving correct output.

[2020-11-27 15:20] devinamatthews commented on #461
OK, second question: does this impact an important use case or is it more of a curiosity?

I ask because, if other packages (OpenBLAS is pretty widely used) also don't get it "correct" then this is frankly pretty low priority. Denormals are problematic all around and lots of high-performance software chokes on them.

[2020-11-27 15:42] BhaskarNallani commented on #461
When matrix size is big the division operation may not impact the performance but when matrixes are small this division might effect the performance. But do we need to worry about those small sizes at the cost of functionality?

[2020-11-27 15:49] kvaragan commented on #461
For the equation _AX = A,_ with _A_ containing very small values. The correct solution is _**I**_. I think that's what @BhaskarNallani meant by "correct". Coming to importance, basically we are doing some regression tests and discovered this bug. Therefore posting it here for any help we can get.

[2020-11-27 15:56] devinamatthews commented on #461
@kvaragan assuming this is a true regression please do a git-bisect and find where the bug was introduced.

[2020-11-27 18:10] poulson commented on #461
The need for specialized triangular solves when the diagonal values have
extremal values is reasonably well studied and does not require sacrificing
much performance, even in the worst case. And one could perform an initial
sweep over the diagonal as a cheap gate.

See this paper on a generalized version of TRSM with adjustable diagonal
shifts that compensates for overflow and underflow.

http://a

[2020-11-28 23:07] hongyx11 opened #462 "multithread mode not working"
I try to benchmark dgemv of blis library. I want to use dgemv in multithread mode.
I'm running on AMD EPYC 7702 64-Core Processor. However, blis only works in single thread mode.

- how I install library.
`git clone https://github.com/flame/blis.git`
`cd blis`
`./configure -t openmp -p $HOME/simplemulti/amdbuild auto`
`make install -j`

here I notice antoher problem that the output of configure sh

[2020-11-28 23:15] devinamatthews commented on #462
For the `git` issue, a version of 1.8.5 or later is required. I'll see about updating the docs if that isn't already in there.

For the OpenMP issue, please attach the complete `configure` output. Also, what is the value of `$OMP_NUM_THREADS` and/or `$BLIS_NUM_THREADS`?

[2020-11-28 23:18] devinamatthews commented on #462
Docs updated re git version.

[2020-11-28 23:24] hongyx11 commented on #462
Hi,

- git issues,
thanks, after change git > 1.8.5, it works without any complaints.
Then I rerun the build and get the same cases.
- configureoutput
[configureoutput](https://github.com/hongyx11/simpledgemv/blob/master/exp2/configureoutput.txt)
- threads usage
[threadsusage](https://github.com/hongyx11/simpledgemv/blob/master/exp2/exp2threads.png)
-env of THEADS
I use 128, please see [threadsenv

[2020-11-28 23:27] devinamatthews commented on #462
Right, I glossed over the most important part: `dgemv`... unfortunately only level 3 BLAS (`dgemm` etc.) is parallelized at the moment. Hopefully this will be rectified at some point.

[2020-11-28 23:27] #462 closed

[2020-11-28 23:28] hongyx11 commented on #462
Okay. Thanks!

[2020-11-29 01:00] jeffhammond commented on #462
If one implements DGEMV as a DGEMM where on of the dimensions is 1, will
that not thread? Even if the compute is inefficient, DGEMV is often
bandwidth-limited and threading will allow it to utilize all the bandwidth
of this CPU.--
Jeff Hammond
jeff.science@gmail.com
http://jeffhammond.github.io/

[2020-11-29 03:58] hongyx11 commented on #462
that could be possible, will give it a try, yes, we are benchmarking the bandwidth of CPU.

[2020-11-29 04:03] devinamatthews commented on #462
If you're benchmarking memory bandwidth then I recommend using something reliable like STREAM.

[2020-11-29 04:12] hongyx11 commented on #462
@devinamatthews Thanks for your suggestions! in our app, we use dgemv and we know it's bounded by bandwidth, so we get the performance of dgemv based on bandwidth.

[2020-11-29 07:26] kvaragan commented on #461
Thanks @poulson for the directions.

[2020-12-01 19:11] iaincoulter opened #463 "Using Windows Subsystem Linux for Windows build will fail due to -fPIC"
Following the steps to build a windows version with Windows Subsystem Linux installed causes -fPIC errors

clang: fatal error: unsupported option '-fPIC' for target 'x86_64-pc-windows-msvc'

Main issue is when you type 'bash' it starts up and instance of WSL.  When running configure this logic is applied

[code]

Thus is_win is not set to true,   as when using WSL "uname -s"  it returns "Linux" !!

[2020-12-01 20:16] devinamatthews commented on #463
@iaincoulter do you mean the instructions [here](https://github.com/flame/blis/blob/e14424f55b15d67e8d18384aea45a11b9b772e02/docs/FAQ.md#can-i-build-blis-on-windows)? And are you using striaght MSYS2, Mingw64, Cygwin, etc.? Lastly, are you specifically trying to build a .dll or just build BLIS at all (in the latter case you could just do everything in WSL)?

[2020-12-01 21:08] iaincoulter commented on #463
I'm trying to build a .dll  but don't see why i need to install MSYS2. Mingw64 or Cygwin as WSL Linux already provides all the tools (sed/bash/etc) they provide.   For compiler I'm using windows LLVM as mentioned in that link.
modifying the configure script to set is_win=true.    Code is compiling in this manner but has no completed yet.  no Errors as of yet.

[2020-12-01 21:12] devinamatthews commented on #463
That may work or it may not. MSYS2 is *like* WSL but it definitely knows and adapts to the fact that it is really on Windows. WSL on the other hand is literally Linux.

[2020-12-01 21:16] iaincoulter commented on #463
I understand.  The only fix I can see would be to pass a flag which sets that is_win variable. Just wanted to highlight this issue should other Windows users encounter it.  I'll just stick to modifying the file for now

[2020-12-01 21:18] devinamatthews commented on #463
If it does work let us know and we can note it in the docs.

[2020-12-01 21:29] fgvanzee commented on #460
@BhaskarNallani Thanks for these suggested fixes. I'll look to reproduce the bug and fix it.

[2020-12-01 21:52] dnparikh commented on #463
The build system of BLIS was not designed to build a Windows .dll on a Linux system. If you are using the Windows Subsystem Linux, you should expect to build a library meant for Linux OS, not Windows.

[2020-12-01 22:46] fgvanzee commented on #460
@kvaragan @BhaskarNallani I've pushed b43dae9a, which should fix both issues that Bhaskar identified. Thank you both for your assistance and patience.

[2020-12-01 22:54] isuruf commented on #463
@iaincoulter was using Windows Subsystem Linux for bash only which is fine. It's good to have cross compiling support for BLIS. AFAIK, we can build a Windows .dll on a Linux system. See https://github.com/flame/blis/issues/90#issuecomment-478818051

[2020-12-02 19:12] fgvanzee commented on #459
This should be fixed now in 78aee79. Thanks Meghana.

[2020-12-02 21:57] fgvanzee commented on #461
Is it the consensus here that we make this problem go away by using explicit division instructions within the microkernel?

[2020-12-02 22:00] devinamatthews commented on #461
My suggestion is to bench it unless/until someone demonstrates a real-world example of failure.

[2020-12-02 22:01] devinamatthews commented on #461
Edit: @kvaragan said "regression testing" so if this is in fact a regression then it should be fixed.

[2020-12-02 22:51] rvdg commented on #461
There are many options.

1) Leave it alone.  The TRSM is performance critical for HPL.  Even a slight slowdown may not be wanted.
2) Change to divisions in the microkernel.
3) Test before inverting to see if is is small.  If it is, call a microkernel that divides.  Otherwise proceed as is.

Orthogonal to this:  Make it a configure option.

If you want to look at how to implement option 3), I vague

[2020-12-03 00:15] fgvanzee commented on #461
@devinamatthews My guess is that @kvaragan didn't actually mean regression testing, but rather stress testing. Very little about the `trsm` implementation has changed in the last few years.

[2020-12-03 00:23] fgvanzee commented on #461
I like inertia. But I also like fixing problems and making people happy.

I am oppose using divisions in the kernels unconditionally. I did a quick test on my workstation, and this seems to result in a ~2% slowdown for medium-sized problems (more for small problems), which is less than I expected but still more than some may be willing to tolerate.

I am opposed to maintaining two kernels at runti

[2020-12-04 15:01] rvdg commented on #461
Am I to understand that BLIS gets wrong answers due to reciprocation of the diagonal in TRSM, and if it did not reciprocate the diagonal, then performance would drop but it’d get correct answers in this one test case?

               And what is the size of the test case? If it’s larger than exists normally in say a HPL run, then the third option below seems wisest: that way this would not impact

[2020-12-04 15:15] rvdg commented on #461
Perhaps Field can repeat his message where he compared performance.

[2020-12-04 21:38] banskt opened #464 "How to link BLIS with OpenMPi"
I am trying to run [HPL benchmark](https://www.netlib.org/benchmark/hpl/) using different BLAS libraries (OpenBLAS, MKL and BLIS). The problem is I cannot get BLIS to work satisfactorily with OpenMPI. The Gflops in this table suggests that the BLIS library is working with OpenMP (albeit worse than other methods) but cannot take advantage of OpenMPI. What am I doing wrong in the benchmark? Is it th

[2020-12-04 21:45] devinamatthews commented on #464
For the MPI run have you set either `BLIS_NUM_THREADS` or `OMP_NUM_THREADS`? The other thing to check would be the process affinity. Are all cores actually being utilized or are multiple processes piling up on one core?

[2020-12-04 21:47] devinamatthews commented on #464
BTW, you should not set CFLAGS when configuring BLIS, although I don't think this is the problem.

[2020-12-04 22:15] fgvanzee commented on #461
@BhaskarNallani @kvaragan Please see our configure-time solution in 7038bba.

As others have observed, ideally one would insert some intelligent logic that scans the triangular matrix diagonal and uses in-kernel divisions only if necessary, but that would seem to require additional kernels to manage at runtime or a conditional branch within the `gemmtrsm` kernel to select between one of two `trsm`

[2020-12-04 22:29] banskt commented on #464
Thanks, I have set `OMP_NUM_THREADS=1` (updated the main text). All the cores are being utilized. Here's a screenshot:

![screenshot](https://i.imgur.com/1OcTYmQ.png)

[2020-12-04 22:31] devinamatthews commented on #464
Huh. My next thought would be to build BLIS without threading and try the MPI again.

[2020-12-04 23:16] banskt commented on #464
I just compiled BLIS without threading and tried with MPI again. It doesn't improve the benchmark.
[code]

[2020-12-05 12:53] kvaragan commented on #460
Thanks Field.

[2020-12-05 12:53] #460 closed

[2020-12-05 15:16] devinamatthews commented on #464
@kvaragan do you have any experience with HPL on AMD? I'm not sure if this is an HPL-related issue, and AMD-related issue, or something else altogether.

[2020-12-05 16:09] BhaskarNallani commented on #461
@fgvanzee , Thank you for converging quickly into this solution. I verified that this is producing identity matrix as expected.

But only testsuite is failing may because it is still expecting the correct output using old method for very low values. We can do the similar correction here too to pass the testsuite check.

[2020-12-05 16:39] devinamatthews commented on #461
@BhaskarNallani if I understand what you're saying correctly, the testsuite's reference values are incorrect for this example? I'll check on it.

[2020-12-05 16:50] devinamatthews commented on #461
@BhaskarNallani based on my reading of the trsv code, it should be OK for these values, and that is what is used to check trsm. Can you elaborate on your last comment?

[2020-12-06 00:20] phesse001 opened #465 "CC_VENDOR not being set"
Hello,

I recently reconfigured blis and the CC_VENDOR var seems to no longer be set.

I first ran ./configure auto (also tried ./configure zen since that is my architecture) and that finished successfully with a similar output as shown in the docs.

Then when I run make, I get:

config/zen/amd_config.mk:68: *** gcc or clang are required for this configuration..  Stop.

I do have both gcc and clan

[2020-12-06 01:21] devinamatthews commented on #465
Using `CC=clang` would be a quick workaround. BLIS looks for `GNU` in the gcc version string but I guess they changed the format. I'll look for a robust fix.

[2020-12-06 01:30] phesse001 commented on #465
Thank you, and setting the CC var explicitly did work as a quick fix

[2020-12-06 01:35] devinamatthews commented on #465
Without CC, please send the full output of `configure`.

[2020-12-06 02:16] phesse001 commented on #465
(base) patrick@patrick-Virtual-Machine:~$ cd blis
(base) patrick@patrick-Virtual-Machine:~/blis$ ./configure auto
configure: detected Linux kernel version 5.4.0-56-generic.
configure: python interpeter search list is: python python3 python2.
configure: using 'python' python interpreter.
configure: found python version 3.7.7 (maj: 3, min: 7, rev: 7).
configure: python 3.7.7 appears to be supported.

[2020-12-06 02:42] devinamatthews commented on #465
It's finding gcc as `/home/patrick/miniconda3/bin/x86_64-conda_cos6-linux-gnu-cc`. Is this what you get from just `gcc` on the command line?

[2020-12-06 02:45] devinamatthews commented on #465
Also, is Conda setting `CC` by any chance?

[2020-12-06 02:47] banskt commented on #464
Update: I found that the ~92 GFlops obtained with BLIS + OpenMPI is approximately same as the value obtained with single-core OpenMP.

[2020-12-06 02:52] devinamatthews commented on #464
@banskt did you link OpenBLAS and MKL the exact same way as BLIS? You could even link generically to libblas.so and set it as a symlink to either library at runtime.

Also, are you using plain gcc to link the MPI version instead of mpicc?

[2020-12-06 03:02] phesse001 commented on #465
When I run `printenv` it shows `GCC=/home/patrick/miniconda3/bin/x86_64-conda_cos6-linux-gnu-cc`. I'm not sure if Conda is setting CC but I would assume not since I'm not working within any conda env when building blis. I have a different installation of gcc in /usr/bin so when I do `export CC=/usr/bin/gcc` before configuring and calling make it works. I don't mind setting CC as I don't plan on bu

[2020-12-06 03:39] devinamatthews commented on #465
I think you're somehow getting some strange compiler, perhaps because of Conda (I hate it with a passion) or otherwise. I'll close this since setting CC manually seems to work.

[2020-12-06 03:39] #465 closed

[2020-12-06 03:42] isuruf commented on #465
:cry: I'm one of the maintainers of the compilers for conda package manager. they are built with crosstool-ng. (https://crosstool-ng.github.io/)

[2020-12-06 03:52] devinamatthews commented on #465
@isuruf don't take it personallt, I'm crotchetty :smile:.

[2020-12-06 04:07] kvaragan commented on #464
@banskt When running pure MPI based HPL using MKL or OpenBLAS - Did you set OMP_NUM_THREADS=1 ?.
These libraries by default run multi-threaded and when you set OMP_NUM_THREADS=1, the pure MPI based performance of these libraries will be similar to BLIS - can you confirm this ?

[2020-12-07 03:34] sandiprt commented on #464
@banskt I think you are using gcc to compile and link (CC= gcc  and LINKER=gcc). Can you try with mpicc?

[2020-12-07 05:36] BhaskarNallani commented on #461
@devinamatthews , It is failing at norm calculation and the residue going beyond the threshold value and testsuite throwing failure.

% --- trsm ---
%
% trsm m n                    3 3
% trsm operand params         llnn
%

% blis_<dt><op>_<params>_<stor>      m     n   gflops   resid      result
a
4.940656e-324 0.000000e+00 0.000000e+00
0.000000e+00 4.940656e-324 0.000000e+00
0.000000e+00 0.000000

[2020-12-07 17:30] banskt commented on #464
@devinamatthews

I used OpenBLAS and MKL the exact same way as BLIS. I did not use the symlink but I have explicitly set the path to libblas.so while compiling HPL.

I have tried both, `gcc` and `mpicc`

@kvaragan

Yes, I have set OMP_NUM_THREADS=1 while running MPI based HPL using MKL and OpenBLAS. I have set

[code]

I am using these environment variables as default on all MPI tests, unless othe

[2020-12-07 17:34] devinamatthews commented on #464
The MPI behavior is puzzling, especially when you have configure BLIS without threading.

For OpenMP, though, do not set any BLIS_XX_NT variables. Performance will be better with just OMP_NUM_THREADS.

[2020-12-07 17:36] devinamatthews commented on #464
@banskt do you have a master Makefile that can build each of the 6 different configurations ({BLIS,OpenBLAS,MKL}x{OpenMP,MPI})? If so please share it.

[2020-12-07 17:39] fgvanzee commented on #461
@devinamatthews I think what Bhaskar is saying is that he has hacked the testsuite to use arbitrary matrix inputs, and when fed the aforementioned pathological (denormal) values, the testsuite still fails.

[2020-12-07 17:46] banskt commented on #464
Yes, I will share the Makefiles. Let me do it after work today. Will edit this comment when done.

[2020-12-07 19:33] devinamatthews commented on #461
@BhaskarNallani if you wouldn't mind, can you drill down a bit more and find out exactly which routine(s) in BLIS are having problems? From the results above I'm not sure where to head next. Agreed that your testsuite modification *should* pass after Fields patch.

@fgvanzee I got that.

[2020-12-16 07:48] lingweiyang commented on #418
Thank you for your answer. Do you know how to evaluate the proportion of GEMM synchronization and packing overhead in BLIS?

[2020-12-16 12:23] hominhquan commented on #418
@lingweiyang You can add a `static` global counter in https://github.com/flame/blis/blob/master/frame/3/gemm/bli_gemm_ker_var2.c and accumulate the total time of `bli_gemm_ker_var2()` (macro-kernel) with `bli_clock()` for example.

The difference between the accumulated macro-kernel time and the total time of `cblas_sgemm()` is the cost of all non-computational parts: init context, control-tree, m

[2020-12-16 12:28] lingweiyang commented on #418
If BLIS can be more convenient for fine-grained analysis, it is helpful to guide future optimization.

[2020-12-22 07:34] BhaskarNallani commented on #461
For complex datatypes along with @fgvanzee fix added a saturation check to avoid a overflow when two sub norm numbers are multiplied as part of complex division.

When
x= a+ib
y= c+id
z=x/y
z.real   = ((a*c) + (b*d ))/(c2+d2)
z.imag = ((b*c) - (a*d ))/(c2+d2)

Here real multiplication in above equation can get overflow when inputs is a sub norm number.

[2020-12-22 14:51] devinamatthews commented on #461
The complex "level 0" macros do scale the numbers to avoid overflow of the denominator. The final results then *shouldn't* overflow, unless y is very small in magnitude and then overflow is of course unavoidable. I'm not sure if NaN propagation follows IEEE but who cares.

Or is the problem something else?

[2020-12-22 17:14] BhaskarNallani commented on #461
@devinamatthews , as said earlier the problem only coming for sub normal numbers which are mentioned in the above input data. Even though it is expensive added a complex division with saturation check in reference trsm kernels under the macro provided by Field.

[2020-12-22 17:24] devinamatthews commented on #461
Ah, in the microkernel. Good catch.

[2020-12-24 16:15] #461 closed

[2020-12-24 16:22] BhaskarNallani commented on #461
The above fix provided by @fgvanzee helped to resolve issue in real data types (double/float) but for complex data types (native/induced methods) the similar fix need to be extended based on requirement under the macro BLIS_DISABLE_TRSM_PREINVERSION. Multiplications which are part of complex division requires a saturation check. Thank you all.

[2020-12-25 19:27] fgvanzee commented on #461
@BhaskarNallani Yes, and similarly I forgot to update the the reference gemmtrsm kernels, too. Those should also be updated to honor `BLIS_DISABLE_TRSM_PREINVERSION`. I'll dig into this after the holidays.

[2020-12-29 14:19] lingweiyang commented on #418
For bli_ thread_ set_ ways (4,1,4,4,1), is it 16 threads pack collaboratively the panel of B?

[2020-12-30 19:00] devinamatthews opened #468 "Unexpected Transpose Offset Unit-Diagonal"
(from blis-discuss@googlegroups.com)

I discovered an unexpected behavior when I take the Transpose of an Offset Unit-Diagonal.  The Non-Unit variation performs as expected but when switched to Unit Diagonal the same operation leaves out the Transpose operation on the diagonal.  I narrowed it down to a simple "bli_daddm" example which I've attached (C++) code but I get the same behavior on all the

[2020-12-30 19:01] devinamatthews commented on #468
[unit.cpp.txt](https://github.com/flame/blis/files/5755377/unit.cpp.txt)

[2020-12-30 20:02] stepannassyr commented on #454
@fgvanzee Some of the interested parties have yet to provide feedback, but so far no issues have been identified with the implementation.

[2020-12-30 23:35] #468 closed

[2020-12-30 23:35] devinamatthews commented on #468
Should be fixed now.

[2021-01-04 20:04] banskt commented on #464
@devinamatthews could you manage to run the HPL benchmark?

[2021-01-04 20:30] fgvanzee commented on #454
Thanks, @stepannassyr. Please keep us updated.

[2021-01-04 21:01] devinamatthews commented on #464
@banskt I am stumped and I do not have time to actually try to run and play around with it. It would be helpful if you could produce ONE single tar.gz that contains everything needed (including BLIS/HPL sources, or the script could download the right version) and which contains ONE single script that will build and run everything. @kvaragan can you help?

[2021-01-04 21:04] banskt commented on #464
Ah, I see. I will prepare one single command to run everything.

[2021-01-05 03:18] kvaragan commented on #464
@banskt - can you write a mail to toolchainsupport@amd.com. They will help you.

[2021-01-05 03:36] intelmy opened #469 "Does level 1 and level 2 APIs have multi-threads support in BLIS"
Per my running on BLIS,  only see GEMM has multi-threading support, so want confirm that whether l1 l2 APIs like dot, gemv has multi-threading support now ? Thanks

[2021-01-05 04:06] devinamatthews commented on #469
No, L1 and L2 operations are still single-threaded.

[2021-01-05 16:35] fgvanzee commented on #461
@BhaskarNallani Hopefully this latest commit addresses your concerns. Thanks again for the feedback.

[2021-01-08 06:52] yunfeim opened #470 ""Illegal Instruction" on intel64"
I compiled BLIS using the `intel64` option, but when I run tests with
`make check`, I get the following output:
[code]

My machine is running
- Bash 5.0
- Make 4.2
- Python 3.8
- Ubuntu 20.04

with a 7th gen Intel i7 processor.

[2021-01-08 06:59] yunfeim commented on #470
Actually, everything succeeds when `auto` detects the `haswell` option. Using `intel64` was the wrong choice for me. Closing because issue is resolved.

[2021-01-08 15:47] devinamatthews commented on #470
@yunfeim Actually, if you wouldn't mind, could you send the full output of the testsuite and the contents of your /proc/cpuinfo file? Configuring with intel64 shouldn't cause an illegal instruction.

[2021-01-08 19:35] devinamatthews commented on #470
Nvm, I can reproduce on my MBP.

[2021-01-08 19:39] devinamatthews commented on #470
@fgvanzee the problem is that the zen kernels that get used in the haswell config seem to use non-Intel instructions. I'll try to narrow down the specific offending instruction set.

Solutions:
1. Have zen kernels compiled with Intel-compatible architecture flags when configured with intel64. I assume that when configure for haswell specifically this already happens?
2. Disable specific instructio

[2021-01-08 19:42] devinamatthews commented on #470
On further review, it may actually be something slightly different. The offending instruction is EVEX encoded which should only be enabled for AVX-512 which is definitely not zen.

[2021-01-08 19:46] fgvanzee commented on #470
I may know what the issue is. Running `configure -c intel64` gives:
[code]
Recall that the kernel-to-config map is used to determine which subconfig's compilation flags to use when compiling the kernel sets. Notice that it chooses `skx` for the 'zen' kernel set. I imagine that's not what is supposed to happen. I can try look into this later today.

Can you confirm that you see the same thing from

[2021-01-08 19:49] devinamatthews commented on #470
Ah, that would do it (and yes I see the same thing). I assume this is because the kernel-to-config map for zen doesn't include zen itself, so it just chooses the first which happens to be haswell. I guess the lists should just be ordered differently so haswell is chosen?

[2021-01-08 19:54] fgvanzee commented on #470
Yes, exactly.

Actually, I think the "problem" is that the `zen` subconfig does not currently belong to the `intel64` configuration family (per the `config_registry`), but the subconfigs within the `intel64` family are trying to use `zen` kernels.

If my hunch is correct, the obvious solution is to consolidate those level-1v and -1f kernels that the other `intel64` subconfigs are trying to use int

[2021-01-08 19:58] devinamatthews commented on #470
@fgvanzee That would just create a new possible problem when trying to configure with amd64. I put a least-effort workaround in #471.

[2021-01-10 21:42] ajaypanyala opened #472 "build: write a pkg-config file"
This is a request to enable writing out a `pkg-config` file when `blis` is built. This would make it easy for `CMake` projects that use `blis` to [find](https://cmake.org/cmake/help/latest/module/FindPkgConfig.html) and incorporate the `blis` configuration (`Cflags`, `libs`) appropriately. Thanks!

[2021-01-11 21:53] fgvanzee commented on #470
@devinamatthews You're right; my previously mentioned solution would not work. I'm fine with your workaround for now.

[2021-01-11 22:01] #470 closed

[2021-01-11 22:02] devinamatthews commented on #472
@ajaypanyala I don't think anyone here uses cmake or is familiar with pkg-config. Would you be able to submit a PR?

[2021-01-13 09:52] xrq-phys opened #474 "Row/Column-Major Assumptions on Registering gemmsup Kernels"
Hello again.

I'm wondering what assumption could be made when I register a `gemmsup` kernel for, e.g., `CCR` and `CCC` with row-major preference set to `FALSE`?

In `bli_dgemmsup_rv_haswell_asm_?x8n`, **B** is assumed to have `cs_b=1`. So in its column-major counterpart should I have `rs_a=1`? Or is it that we always assumes storage only for **B** and support of column-major **A** is done by tran

[2021-01-16 00:46] phesse001 opened #475 "Linking to blis library from appveyor on windows with gcc"
Hello all,

Sorry if this question has been answered, I looked through some of the docs and issues but couldn't find a clear answer.

I am trying to link to [this](https://ci.appveyor.com/project/isuruf/blis/build/job/5v6rotwcet184921/artifacts) library  from appveyor using mingw on windows. I am trying to link the lib with the test file [here](https://github.com/flame/blis/blob/master/test/test_g

[2021-01-16 21:56] isuruf commented on #475
You need to install pthreads from where you got gcc. If it's MSYS2, there is a package to install from pacman. Not sure what the exact name is.

[2021-01-17 03:33] phesse001 commented on #475
Thanks! I wasn't sure the windows version of pthreads was compatible but I got it to work. I ended up just reinstalling the newest version from source forge that comes with pthreads included as an extra lib.

[2021-01-17 03:33] #475 closed

[2021-01-19 01:24] eastwindow commented on #469
Are there any plans to make *gemv() multi-threaded?

[2021-01-28 01:09] phesse001 opened #477 "Question about CBLAS/BLAS compatibility layer and linking"
Hello,

So I am working on a slightly modified version of blis' [test suite](https://github.com/flame/blis/tree/master/test). I am trying to integrate the test suite into this [collective knowledge](https://github.com/ctuning/ck) framework.

I have run the test suite using the makefile provided and everything worked as expected, but I noticed the comment:

"For the BLAS test drivers, we place the

[2021-01-29 19:41] jdiamondGitHub opened #479 "Feature request for BLIS error handling..."
Blis currently handles user errors by printing an error message to the console and then signaling an abort.  This is reasonable in a situation where a programmer is calling blis directly.  However, we like to use blis inside our own libraries, which are then part of applications, some even being called by other languages and frameworks as behind the scenes acceleration.  So when the blis error hap

[2021-02-01 02:35] #477 closed

[2021-02-01 17:55] #472 closed

[2021-02-01 22:00] phesse001 opened #480 "Compiling test file with MSVC gives a bunch of errors"
I read on the faq that for blis to be compatible with msvc dlls, that it must be built with clang. I downloaded the prebuilt library from appveyor [here](https://ci.appveyor.com/project/shpc/blis/build/job/ol83svu3263hgqd5/artifacts). I am on windows 10 with a zen2 arc.

I am trying to compile and run one of the test files (specifically [this](https://github.com/flame/blis/blob/master/test/test_ge

[2021-02-01 23:14] fgvanzee commented on #479
Thanks for your input Jeff. I'll start thinking seriously about how best to accommodate your application's needs.

So far, I'm partial to using proper error return codes from user-level functions, even though (a) it will take more work and (b) it will break the API. The breakage doesn't scare me because it only affects the return values. But practically speaking, this may not be the best route. I'

[2021-02-01 23:17] devinamatthews commented on #479
@fgvanzee it's harmless. The return value will either be in a (callee-owned) register or on the callee stack, which the calling code will ignore either way. The ABI is also the unaffected.

[2021-02-04 20:59] fgvanzee commented on #479
I think I've come up with a feasible plan to overhaul the way errors are handled that will both preserve the status quo (as an option) as well as provide Jeff with his preferred solution.

Under the changes I envision, BLIS will provide two options, both of which can be changed at runtime (with the initial default for each set at configure-time):
- **error handling mode.** This is how BLIS reacts

[2021-02-13 19:55] raspi-three opened #481 "Cannot import blis into python3 code"
OS: Ubuntu 18.04.5 LTS 64-bit (clean minimal install)
Memory: 31.3 GB
Processor: Intel Core i7-2600 CPU @ 3.40GHz x 8
Graphics: llvmpipe (LLVM 10.0.0, 256 bits
GNOME 3.28.2
Disk 235.2 GB
Python 3.6.9

./configure -c intel64
make
make install
Result:
Installing libblis.a into /usr/local/lib/
Installing libblis.so.3.0.0 into /usr/local/lib/
Installing blis.h into /usr/local/include/blis/
Installing

[2021-02-13 20:53] devinamatthews commented on #481
@raspi-three BLIS does not have a native Python package. However, you might be able to use it as a BLAS backend for NumPy.

[2021-02-13 20:53] #481 closed

[2021-03-01 20:12] fgvanzee commented on #474
@xrq-phys Sorry I did not see this sooner. It sounds like you are trying to figure out how to implement and register kernels for gemmsup if the kernels are column-preferential instead of row-preferential. Is that correct?

[2021-03-01 20:19] fgvanzee commented on #469
No concrete plans, but in theory it is certainly possible.

[2021-03-01 20:22] fgvanzee commented on #480
@isuruf Any ideas here? The `bool` error makes me think that maybe there a non-default C99 mode that has to be activated?

[2021-03-01 20:28] devinamatthews commented on #480
@phesse001 yes you do need to use clang. I'm not windows expect but I think clang-cl.exe is a drop-in replacement for cl.exe that should work.

[2021-03-01 22:43] phesse001 commented on #480
Thank you, using clang-cl solved the problem

[2021-03-01 22:43] #480 closed

[2021-03-02 06:41] xrq-phys commented on #474
Sorry I forgot having opened this issue after I contacted you about `ps_a` in gemmsup kernels.
Now that `cs_b=1` assumption is clear and I can call a `rs_a=1` kernel with (B', A', C') so that it can be used as an `rv` kernel.

Column-preferential kernel seems not needed for the moment...

[2021-03-02 06:41] #474 closed

[2021-03-02 16:59] fgvanzee commented on #474
Yeah, I've not really found much evidence that one is needed over the other given that BLIS can induce a high-level transpose of the operation and convert any column-oriented problem into a row-oriented one, and vice versa. There may be subtle bandwidth-from-L2 vs bandwidth-from-L1 issues that I have yet to study closely--issues which derive from the relative imbalance between MR and NR--but to th

[2021-03-04 14:45] Runkli opened #483 "How to switch to row-major?"
I'm using BLIS as an add on to an already existing app that uses linear algebra, however all matrices are stored in row major in the original app. I couldn't find a "switch" that I could use to use row-major instead so everything works together

[2021-03-04 14:54] rvdg commented on #483
I assume you use BLIS through the traditional BLAS interface.  If so, then there are three options:

1) You recognize that storing a matrix by rows is the same as transposing it.  Thus, through some moderately clever mathematical trickery you can work with transposed matrices.

For example, if you compute C = A B you notice this is equivalent to computing C^T = ( A^T B^T ) = B^T A^T.  Hence, since

[2021-03-04 14:56] Runkli commented on #483
Thank you so much, this helps a lot!

[2021-03-04 14:56] #483 closed

[2021-03-04 14:58] rvdg commented on #483
Hopefully you noticed that my message should have said C^T = ( A B )^T...

[2021-03-04 16:05] devinamatthews commented on #483
@Runkli also note that BLIS (optionally) exports a CBLAS interface which allows one to select row- or column-major.

[2021-03-07 18:17] xrq-phys opened #484 "A/B with Generic Stride's Failing GEMMSUP"
Hi.

I've been getting this kind of errors for Haswell builds:
[code]

It seems that `gg*` matrix multiplication is triggering `gemmsup` and returning `BLIS_SUCCESS` according to GDB:
[code]

But according to my understanding of `gemmsup`, it should not be used (and return `BLIS_FAILURE`) if storage of B is general-strided because its kernel takes assumption `cs_b==1`.

I suppose 1 more check is n

[2021-03-07 18:21] xrq-phys commented on #484
The same test failure is observed if I add GEMMSUP kernels for another march (A64fx).

[2021-03-07 18:32] xrq-phys commented on #484
Adding this to `frame/3/bli_l3_sup.c` fixes the problem but it's apparently overkill: `gemmsup` only requires one side of A/B to be row or column major.

[code]

[2021-03-09 20:02] fgvanzee commented on #484
@xrq-phys Thanks for this report.

It seems the root problem is as follows: while BLIS's sup infrastructure currently attempts to catch cases that involve general stride and reject them with `BLIS_FAILURE` (in `frame/3/bli_l3_sup_int.c`, line 83), it does so from *within* the multithreaded region, and currently there is no attempt to sort through the various threads' return values and use that inf

[2021-03-10 00:58] fgvanzee commented on #483
@Runkli And in case you ever forget the semantic meaning of row stride and column stride (some people struggle to remember), you can always find an explanation in the [FAQ](https://github.com/flame/blis/blob/master/docs/FAQ.md#im-used-to-thinking-in-terms-of-column-majorrow-major-storage-and-leading-dimensions-what-is-a-row-stride--column-stride).

[2021-03-10 04:49] xrq-phys commented on #484
I see.
In my image, most thread-child procedures are void-return functions and we're not supposed to pass error flow from kernels.

[2021-03-10 04:52] xrq-phys commented on #484
Error fixed confirmed.

Thanks a lot!

[2021-03-10 04:52] #484 closed

[2021-03-12 09:19] akesandgren opened #486 "Netlib BLAS test xblat3d using BLIS on Intel Broadwell incorrectly signals IEEE_UNDERFLOW_FLAG IEEE_DENORMAL"
Building netlib blas test and linking with BLIS signals an incorrect IEEE_UNDERFLOW_FLAG IEEE_DENORMAL warning when running xblat3d on Intel Broadwell.

Flags for building BLAS test routines:
-O0 -frecursive -std=legacy -mieee-fp -fno-trapping-math -fno-math-errno -march=native

BLIS built by EasyBuild in gobff/2020b toolchain.

./xblat3d < dblat3.in
Note: The following floating-point exceptions a

[2021-03-12 20:00] fgvanzee commented on #486
Sorry to hear about these errors, @akesandgren.

Can you clarify what you mean by "netlib blas test"? Are you referring to test drivers in netlib LAPACK?

Skylake or SkylakeX?

It may also be helpful if you can tell us which operation is triggering the error.

[2021-03-15 07:19] akesandgren commented on #486
netlib blas test == BLAS/TESTING when downloading LAPACK from netlib.
And it's SkylakeX

I haven't had time to dig down into the details of it before, but a quick test-one-routine-at-a-time reveals the it is DGEMM

[2021-03-22 22:19] #459 closed

[2021-04-11 01:41] ethanhs opened #491 "WebAssembly/WASI support"
Hi,

I realized that BLIS is probably the best prepared to run in web assembly of all of the BLAS libraries I'm aware of because it uses C99 instead of Fortran (also supporting threadless builds is very important). I am interested in building targeting WASM with the [WASI SDK](https://github.com/WebAssembly/wasi-sdk/), as that is a minimal posix-like environment that makes building for WASM easy,

[2021-04-11 11:56] ethanhs commented on #491
Ah ok the error seems to be my own fault, I initially tried to add a new architecture for WASM but I seem to have done so incorrectly (possibly something about the context initialization?). Anyway, I will leave this open for WASM kernels.

[2021-04-19 09:33] computations commented on #145
Sorry to open this again, but it seems I am experiencing the same error for the master branch of BLIS. Unless I am making some mistake, the original example fails to build for the most recent version of BLIS[1] and the reference implementation of LAPACKe. Is there something totally dumb (like some configuration option) that I am missing here?

[1]: Commit 6280757be32f90fd77d8dd9357b07d9306e6f80d

[2021-04-19 16:00] devinamatthews commented on #145
@computations could you send the specific error you encounter? Especially it would be good to know the signatures of the two conflicting `lsame_`'s.

[2021-04-19 16:05] computations commented on #145
Sure thing. Here it is:

[code]

This is from the example at the top of this issue. The error occurs when LAPACKe/BLIS are in either order, and renaming the LAPACKe function fix from above still works (though there is a linker error in that case).

[2021-04-19 17:12] computations commented on #145
Here you go: https://gist.github.com/computations/a1613a8177ec1df5d4351f1e12e92086

[2021-04-19 17:42] devinamatthews commented on #145
@fgvanzee the `const` was added in the huge commit 453deb29068889698e274f269c9aa90eea99b527. Is there a macro to turn off the public BLAS prototypes in BLIS?

[2021-04-19 17:50] fgvanzee commented on #145
I could have sworn there was. I'll check.

[2021-04-19 18:02] fgvanzee commented on #145
Oh, sorry, yes. That's actually the *intended* usage. (It's been a while since I added that functionality, plus I never use it.)

[2021-04-19 18:15] devinamatthews commented on #145
@computations please try that and see if it works.

[2021-04-19 18:15] computations commented on #145
Alright, thanks! This fixes that problem for me!

Thanks for dealing with this so quickly!

[2021-04-19 18:15] devinamatthews commented on #145
No problem. Thanks for the report.

[2021-04-22 07:05] dzambare opened #494 "Unused function rm-dupls() in common.mk (stack overflow code)"
We have rm-dupls() function in common.mk, this function is taken from stack-overflow and hence was rejected by legal team as there is conflict in terms and conditions.

Currently this function is unused, when needed we need to have different implementation for it.

Let me know you thoughts on the same.

-Dipal (AMD)

[2021-05-04 14:17] BUMPRW opened #495 "Will not install on MAC M1"
Have tried a variety of methods to install.  The error message remains the same.

*** Cannot continue with unregistered configuration

[2021-05-04 15:08] devinamatthews commented on #495
BLIS currently doesn't work on M1 (see #492). Now, it looks like you're seeing a slightly different issue. Could you please send the command you used to configure and the full output?

[2021-05-04 15:56] BUMPRW commented on #495
This is an attempt to have brew install blis, the result is almost identical for a python install and ./configure auto:
brew install --build-from-source blis
==> Downloading https://github.com/flame/blis/archive/0.8.1.tar.gz
Already downloaded: /Users/xxxxxxxxxxxxx/Library/Caches/Homebrew/downloads/b730fb496c498b4333b5e032fe947fd181ecdd62cfc129c1c8ab23dc9127a384--blis-0.8.1.tar.gz
==> ./configure

[2021-05-04 16:06] devinamatthews commented on #495
Ah, we *definitely* haven't implemented auto-detection for M1. I've changed the title to reflect this specific problem so we can remember to fix it once BLIS actually compiles on that platform.

[2021-05-05 03:56] seuwins commented on #464
I meet same problem when I wanna run my tensorflow application with blis，but I found it didn't work to replace mkl with blis.so directly. Then I consider the reason maybe the differences between mkl api and blis api operations。

Reference：
github：flame/docs/BLISTypedAPI.md
intel official website： oneAPI math kernel library -c/developer  @reference/pblas

@banskt @kvaragan @sandiprt If here is a so

[2021-05-05 05:23] kvaragan commented on #464
BLIS and MKL support standard BLAS interfaces. So interface is definitely not the reason. Let me check with my team, they tried it in the past.

[2021-05-05 08:56] stefanozampini opened #496 "mismatch lsame signature between blis and flame"
I need cblas and lapacke for a project, and I have configured BLIS as (probably pools and threading are not influential)

`./configure --enable-blas --enable-cblas --enable-pba-pools --enable-sba-pools  --enable-threading=openmp zen2`

and libflame as

`./configure CFLAGS="-march=znver2 -Wno-maybe-uninitialized" --enable-internal-error-checking=none --enable-lapack2flame --enable-max-arg-list-hack

[2021-05-05 09:44] seuwins commented on #464
If you can supply the way that tensorflow cpu version link standard libblis.so, I will be appreciative. Now I am using AMD Roman CPU platform for development.

tensorflow: 2.4.0
python: 3.6.9
pip: 9.0.1
bazel: 3.1.0
gcc: 10.2.0
OS：centos 7

[2021-05-05 09:49] stefanozampini opened #497 "Issues with ?lamch routines: use O0 to compile them and static variables"
It seems that BLIS compiles slamch and dlamch using optimization flags enabled.
My configuration is

`./configure --enable-blas --enable-cblas --enable-pba-pools --enable-sba-pools  --enable-threading=openmp --prefix=$HOME/amd/src/local zen2`

and the compilation of these routines is

[code]

Using gcc 10.2 with `-march=znver2` on an AMD EPYC 7702 let my code (compiled with `-fopenmp`) emit this w

[2021-05-05 12:20] stefanozampini commented on #497
After some more investigation, it appears the specific issue I'm having with the EMIN warning is coming from using the AMD version of libflame, not blis, that is calling fla_dlamch from within a FLA_ routine https://github.com/amd/libflame/blob/master/src/base/flamec/util/lapack/FLA_Househ2_UT.c#L237. fla_dlamch is not thread safe, and if it gets called within a parallel region, bad things can hap

[2021-05-05 12:21] kvaragan commented on #464
I came to know that its difficult to link BLIS directly with TensorFlow since MKLDNN path takes MKL by default. It was suggested to use ZENDNN with TF in order to link BLIS. Here ZenDNN links BLIS by default. If you want BLIS to work with TF, then one way is to get TF+ZenDNN build available at:
https://developer.amd.com/zendnn/

[2021-05-05 13:31] stefanozampini commented on #497
I see that also here you are using static variables withis bli_?lamch, which make them not thread safe if called for the first time from within a parallel region https://github.com/flame/blis/blob/master/frame/base/noopt/bli_dlamch.c#L48.

[2021-05-05 15:46] devinamatthews commented on #440
@nicholaiTukanov shouldn't the lines like https://github.com/flame/blis/blob/6a4aa986ffc060d3e64ed230afe318b82630f8b2/kernels/power9/3/bli_gemm_power9_asm_d12x6.c#L98-L99 just be:

[code]

etc.?

[2021-05-05 15:51] devinamatthews commented on #496
@stefanozampini a similar (if not the same) issue came up recently, but for the life of me I can't find it. @fgvanzee do you remember?

[2021-05-05 17:27] fgvanzee commented on #496
@devinamatthews Are you thinking of [this from issue 145](https://github.com/flame/blis/issues/145#issuecomment-822664392)?

[2021-05-05 17:58] devinamatthews commented on #496
That's the one. @stefanozampini does the solution there work for you? Also, if you're only using the CBLAS/LAPACKe interface then you can skip the blis.h include.

[2021-05-06 13:41] MangalaVenakat opened #499 "Floating point exception is observed when KC is set to18 in bli_cnt_init_<arch>.c file"
We derive vaue of KC based on KC0(Value set in bli_cnt_init_<arch>.c file) in bli_xgemmsup_ref_var1n()
KC = 0 for certain values of KC0  and exception is seen when deriving pc_left =   k_local % KC;
As KC = 0 we are getting exception for % operation.

[2021-05-06 14:42] seuwins commented on #464
Thanks for your advice, I build TF_v1.15_ZenDNN_v3.0 successful, but I see only python lib in /usr/local/lib/python3.7/site-packages/tensorflow_core. My app code is c++，so that I cannot compile or bazel build c++ app without tensorflow_cc.so.

Below is the files after pip3 install tensorflow-1.15.5-cp37-cp37m-linux_x86_64.whl
![image](https://user-images.githubusercontent.com/57436561/117317459-20

[2021-05-07 11:11] stefanozampini commented on #496
Thanks. That worked

[2021-05-07 11:11] #496 closed

[2021-05-12 20:42] nicholaiTukanov commented on #440
@devinamatthews I think you're right... That's probably where the warnings come from.

I am going to run some more tests to make sure the semantics don't change.

[2021-05-12 23:42] #497 closed

[2021-05-23 15:36] boegel opened #501 "auto-configure fails on POWER9"
When trying to build BLIS 0.8.1 on a POWER9 system (hosted by https://osuosl.org) with GCC 10.3 and binutils 2.36.1, I'm seeing the following problem with the `configure` script:

[code]

Is auto-configure expected to work on POWER9 systems?
Maybe something else going wrong here, perhaps something as simple as a missing `#include` statement?

[2021-05-23 23:10] devinamatthews commented on #501
POWER autoconfiguration is addressed by #345 which needs to work before it can be merged. Certainly `configure power9` is an easy workaround for now.

[2021-05-23 23:25] devinamatthews commented on #463
OK, I guess the real fix for this problem would be to also check the predefined compiler macros for a window cross-compilation toolchain. @isuruf can you suggest something simple but robust (i.e. covering WSL-on-Windows as well as cross-compilation from Linux)?

[2021-05-23 23:34] isuruf commented on #463
`_WIN32` macro should be good for all windows compilers.

To avoid running executables, you can test whether the following compiles or not.
[code]

[2021-05-23 23:39] #494 closed

[2021-05-23 23:48] devinamatthews commented on #463
@iaincoulter please try [this branch](https://github.com/flame/blis/tree/windows-compiler-check).

[2021-05-24 19:48] fgvanzee commented on #499
Thanks for the report, @MangalaVenakat.

The problem is that the code you reference, which modifies `KC` for use with sup, assumes that `KC` will be chosen to be rather large (e.g. 256).

As a separate but related matter, this way of adjusting `KC` is one of the few aspects of my sup implementation that I was least satisfied with. I don't know why shrinking the value for `KC` worked like in my tes

[2021-05-24 21:32] devinamatthews commented on #453
Addressed by #500.

[2021-05-24 21:32] #453 closed

[2021-05-24 21:39] devinamatthews commented on #463
@isuruf since you've also noticed a similar problem cross-compiling on Linux can you check if the linker PR fixes it?

[2021-05-24 21:47] isuruf commented on #463
Yes, it works. There are more errors with that cross compiling build though.
1. Needs `-fno-asynchronous-unwind-tables` (we should check `__MINGW64__` macro and add that flag)
2. Next error is,

[code]

[2021-05-24 21:54] devinamatthews commented on #463
@isuruf if it fixes basic Windows detection then I think that solves the original problem for this issue. I will move this new problem to a separate issue.

[2021-05-24 21:54] isuruf commented on #463
Yes, it fixes the basic windows detection and I agree that we can close this issue after that PR is merged.

[2021-05-24 21:56] devinamatthews opened #504 "Unable to cross-compile for Windows from Linux using MINGW64."
Reposted from #463, as reported by @isuruf:

There are more errors with that cross compiling build though.

1. Needs -fno-asynchronous-unwind-tables (we should check __MINGW64__ macro and add that flag). gcc bug link
2. Next error is,

[code]

[2021-05-24 21:56] #463 closed

[2021-05-24 21:56] devinamatthews commented on #504
#1 is easy, but #2 will require some real work.

[2021-05-24 22:02] devinamatthews commented on #504
Is `-fno-asynchronous-unwind-tables` necessary for *any* Windows build or just cross-compilation? Can it be used safely on actual Windows builds if not?

[2021-05-24 22:06] isuruf commented on #504
It should be for any windows build with `CC_VENDOR` is `gcc` and it is `x86_64` and gcc version is <=7.

[2021-05-24 22:11] devinamatthews commented on #504
gcc version <= 7? That sounds like a bit of a pain but doable.

[2021-05-24 22:12] isuruf commented on #504
https://gcc.gnu.org/bugzilla/show_bug.cgi?id=65782 indicates that this fixed in GCC 8

[2021-05-24 22:14] devinamatthews commented on #504
Do you know why `-fomit-frame-pointer` is not sufficient here (problem # 2)?

[2021-05-24 22:22] isuruf commented on #504
No idea

[2021-05-24 23:36] devinamatthews commented on #504
@isuruf can you compile with `make -k` and report all files that fail?

[2021-05-25 01:24] isuruf commented on #504
[code]

[2021-05-25 04:21] devinamatthews commented on #504
So there wasn't an error compiling kernels/haswell/3/bli_gemm_haswell_asm_d6x8.o?

[2021-05-25 06:07] isuruf commented on #504
Nope. That compiled fine.

[2021-05-25 15:14] devinamatthews commented on #504
Can you take one of those files, produce an asm file and then try compiling that? Maybe we can get an actual line location for the error.

[2021-05-25 15:32] devinamatthews commented on #504
Those files compile fine with a recent version on macOS:
[code]

[2021-06-01 05:19] chengguosun opened #507 "complex sup kernel error in testsuite."
added complex sup kernel in AMD zen arch, every zgemm sup kernel test result is correct, but testsuite will be failure. is there conflict in blis or something else?

% blis_<dt><op>_<params>_<stor>      m     n     k   gflops   resid      result
13264 blis_zgemm1m_nn_rrr                100   100   100     7.97   2.48e-17   PASS
13265 blis_zgemm1m_nn_rrr                200   200   200    10.84   3.

[2021-06-02 08:47] chengguosun opened #508 "missing vhsubpd/vhsubps instructions in bli_x86_asm_macros.h??"
I found AVX instruction vhsubpd was missing in bli_x86_asm_maros.h. This instruction will be used in my kernel, so will you add it into header file? If necessary, I can also submit the pull request.

[2021-06-02 16:28] devinamatthews commented on #508
I just added these in 7c3eb44.

[2021-06-02 16:28] #508 closed

[2021-06-02 16:34] devinamatthews commented on #507
It looks like the failures are all cases with conjugation but no transposition. Is this case handled correctly in the sup kernel?

[2021-06-02 16:41] devinamatthews commented on #445
It's been a while without a response so I'm going to close. If the SNR could be improved then maybe this could be a useful tool for finding possible bugs.

[2021-06-02 16:41] #445 closed

[2021-06-02 16:42] devinamatthews commented on #444
I'm going to close this because the reported error happens in the BLAS testsuite code, not BLIS proper.

[2021-06-02 16:42] #444 closed

[2021-06-02 16:45] devinamatthews commented on #443
The "real" solution is to just not use `bp` in any x86 kernels, as this also causes problems elsewhere (e.g. #504). I'll keep this open as a linked issue to #504.

[2021-06-03 00:38] chengguosun commented on #507
thanks, I really didn't think about the conjugate case in asm kernel, but i have two questions for you answer:
1, I only enable sup kernel of kernel/zen/3/sup/broken, these kernel are disable in blis because they will be likely broken, so the set of kernels bug will be fixed in the future?  these kernels are same as amd/blis, and there are no failure in amd/blis.
2, Dose conjugate cases of A and B

[2021-06-03 09:30] xrq-phys opened #509 "GEMMSUP Handler Referring GEMM Kernel Size?"
Yet another issue.
Excuse me. 🤣

Just happened to notice that `(obj_t).blkszs` sometimes affects kernel selection of `gemmsup` which is, I guess, supposed to be only dominated by `(obj_t).l3_sup_blkszs`?

These lines seems to be a plausible cause:
https://github.com/flame/blis/tree/7c3eb44/frame/3/bli_l3_sup_int.c#L95-L96
https://github.com/flame/blis/tree/7c3eb44/frame/3/bli_l3_sup_int.c#L269-L27

[2021-06-16 00:35] #440 closed

[2021-06-19 00:02] devinamatthews commented on #421
Fixed by #506

[2021-06-19 00:02] #421 closed

[2021-06-19 00:04] devinamatthews commented on #207
This should be fixed by #504 and #492.

[2021-06-19 00:04] #207 closed

[2021-06-29 22:05] h-vetinari opened #514 "Failures with AVX512 in numpy test suite when using blis on windows (through conda-forge)"
Conda-forge is the community driven channel for the packaging & environment tool `conda`, which is used heavily in many scientific & corporate environments, especially (but not only) in terms of python.

conda-forge implements a blas [meta-package](https://github.com/conda-forge/blas-feedstock/blob/master/recipe/meta.yaml) that allows selecting between different blas/lapack implementations. Curren

[2021-06-30 08:33] h-vetinari commented on #514
Actually, the intermittency comes from the SIMD capabilities that the Azure agents have - and in particular AVX512 - these differ basically randomly from run to run.

The passing runs have:
[code]

The failing runs have:
[code]

with the difference being `AVX512F? AVX512CD? AVX512_SKX?` (i.e. absence of these instruction sets) for the passing ones, and `AVX512F* AVX512CD* AVX512_SKX*` (i.e. presen

[2021-06-30 11:01] raymondlanger commented on #145
How do you fix this issue if you need some BLAS definitions in `#include "blis.h"` and you need `#include "libflame.hh"` in your project? Modifying external header files is not an option.

[2021-06-30 11:14] hominhquan commented on #145
@raymondlanger It seems that this issue has been fixed. Can you explain your problem and attach error log if any ?

[2021-06-30 11:34] raymondlanger commented on #145
This is my test case:

`clang++ blis_flame.cpp -I../install/include/blis ../install/lib/libblis.a -I../install/include/ ../install/lib/liblapacke.a ../install/lib/libflame.a`

where the file `blis_flame.cpp` contains

[code]

I  compiled blis and flame on macOS using Apple clang version 11.0.0 (clang-1100.0.33.17) and installed them to ../install.

The code compiles and runs fine if I comment out

[2021-06-30 16:00] devinamatthews commented on #514
@h-vetinari it would be really helpful if you could come up with a minimal reproducer in C/C++/Fortran, e.g. a single `gemm` call that displays anomalous behavior. For AVX-512 I'll have to run it under Intel SDE so I'm not confident about running tests through Python.

[2021-06-30 16:05] devinamatthews commented on #145
Does this compile OK if you uncomment `//#define BLIS_DISABLE_BLAS_DEFS`? That is the solution for the present issue, and if you need BLAS prototypes then you really should use the lapacke/clapack/cblas/whatever headers from Netlib.

[2021-06-30 16:26] devinamatthews commented on #514
Right, we don't want to place an undue burden on you, but is it maybe possible to easily instrument which BLAS calls (m,n,k,transa,transb,strides,etc.) the tests are making and to determine which one fails?

[2021-06-30 16:44] h-vetinari commented on #514
Hey Devin, thanks for the quick response. Coming up with a C reproducer will not be trivial - essentially each of the failures above would need a separate reproducer (though I hope of course that several of them share the same underlying issue). I wanted to wait until I get a response before opening more issues, but this problem only gets more severe once I get into the ~440 failures of the scipy

[2021-06-30 17:06] h-vetinari commented on #514
For example, just chasing down the first failure:
[code]
leads all over the place in the code base (with lots of templating etc. in between)
https://github.com/numpy/numpy/blob/v1.21.0/numpy/core/multiarray.py#L736
https://github.com/numpy/numpy/blob/v1.21.0/numpy/core/src/umath/matmul.c.src#L398
https://github.com/numpy/numpy/blob/v1.21.0/numpy/core/src/multiarray/arraytypes.c.src#L3536
etc.

and

[2021-06-30 17:41] devinamatthews commented on #514
Printing out `*args` would probably be enough to construct something, but of course you would need to run it in Azure to reproduce probably. SDE is a singly-binary emulator with so I highly doubt running a full python instance inside it would work or be performant enough.

[2021-06-30 18:05] seberg commented on #514
One thing that dot and matmul do differently, is that `dot` NULL's out the array before the call I think (someone investigated something unrelated noted that recently).

So it *could* be that `blis` is **not** ignorning the input array here when the scaling factor `beta`(?) is 0?  (If my _very_ brief look is right, and this is about `NaN` being returned often, or just random values).  In that case

[2021-06-30 19:14] raymondlanger commented on #145
Everything works fine. The above code doesn't work on macOS with Apple clang version 11.0.0 if you clone the amd/blis instead of your repository. Sorry!

[2021-06-30 20:10] h-vetinari commented on #514
Ah no, that's trivial. Wil do that.

OK, I didn't know that, sorry.

Also thanks a lot for chiming in @seberg!

[2021-06-30 20:35] h-vetinari commented on #514
The `args*` from the first failure in `TestMatmul.test_dot_equivalent[args4]` is set as follows (5th element in the parametrization [here](https://github.com/numpy/numpy/blob/v1.21.0/numpy/core/tests/test_multiarray.py#L6616) - pytest assigns ids starting from 0 of course):
[code]

[2021-06-30 20:50] devinamatthews commented on #514
See if you can get this test program to run in the AVX512 Azure environment:

[code]

[2021-07-01 20:22] h-vetinari commented on #514
Doing this in https://github.com/conda-forge/blis-feedstock/pull/23, seems more/different headers are necessary?
[code]

[2021-07-01 20:26] devinamatthews commented on #514
You'll need to set the include path to the "combined" blis.h header, which is available after compiling at `<build_dir>/include/<arch>/blis.h` or `<install_prefix>/include/blis.h` after installation.

[2021-07-01 20:40] h-vetinari commented on #514
We're using the combined headers AFAICT (here's the [build script](https://github.com/conda-forge/blis-feedstock/blob/master/recipe/build.sh)).

The headers end up in `$PREFIX/include/blis/blis.h`, but there's not much else there (except for `cblas.h`).

[2021-07-01 20:44] devinamatthews commented on #514
Ah, I somehow missed "undefined reference". You are linking the BLIS library, right? You might also need libm.

[2021-07-02 07:24] h-vetinari commented on #514
My bad, I had indeed forgotten the linker options (because I had to do this by hand, not with cmake etc.). Currently trying to retrigger the build until it runs on an agent with AVX512 (which I have no influence over).

[2021-07-02 11:01] h-vetinari commented on #514
Ha! Got [one](https://dev.azure.com/conda-forge/feedstock-builds/_build/results?buildId=345851&view=logs&j=a70f640f-cc53-5cd3-6cdc-236a1aa90802&t=f5d15007-a01c-5ad8-c9ce-4d519d3b275f), and indeed it failed:
[code]

[2021-07-02 16:25] devinamatthews commented on #514
OK! Can you do one more thing and modify the program to print out the entire C matrix? Meanwhile I'll look over the code.

[2021-07-03 12:42] h-vetinari commented on #514
So I've added
[code]
to your reproducer, which yield the following (when correct)
[code]

but with AVX512 (on windows), it gives:
[code]

[2021-07-05 08:43] DBJDBJ commented on #514
Ignore me if I am off the target completely ... but

Unrelated to BLIS

What happened to us: the customer was using (for development) a Win10 PRO machine with [i5-2500K](https://www.reddit.com/r/pcmasterrace/comments/aekslt/its_2019_whos_still_using_the_old_i5_2500k/) ... for the AVX512 core of the JSON lib of his choice that CPU was "too old" (almost 10 years AFAIK); and of course, that lib was "

[2021-07-05 09:07] h-vetinari commented on #514
Yeah, it's a massive pain to debug. I had seen inexplicably flaky failures while testing numpy/scipy with blis for over a year, but only recently realised that it has to do with presence/absence of AVX512 (in the randomly assigned CI agents)...

Hoping we can make some inroads now that the source has finally been identified.

[2021-07-05 16:01] devinamatthews commented on #514
I'm trying to reproduce locally under SDE. Do you know if this is actually a Windows-only bug or if it also happens under Linux (and maybe clang vs gcc as well)?

[2021-07-05 16:19] h-vetinari commented on #514
Cool, thanks

It's Windows-only within the conda-forge Azure CI, with the following caveats:
* Linux uses GCC, passes on agents both with & without AVX512
* Windows uses clang + MSVC, passes on agents without AVX512, fails with AVX512
* OSX uses clang and passes (though AFAICT OSX does not get any AVX512 agents)

[2021-07-05 16:40] devinamatthews commented on #514
I can't reproduce on Mac or Linux and it's going to be a pain to try Windows (I would have to set up the development env. in a VM from scratch). Can you try this on your end:

In the file `frame/include/level0/bli_copys_mxn.h`, replace lines 205-208 with the following:

[code]

The problem either has to be a compiler bug with this part of the code or a problem with compiling the inline assembly ke

[2021-07-05 16:43] devinamatthews commented on #514
And to be clear, you are configuring blis with either the `intel64` or `x86_64` configuration, and not `skx`, right?

[2021-07-05 16:58] h-vetinari commented on #514
As I said, Linux works, but windows is the crucial case ATM.

This comes out as follows (just adding the print statement) - let me know if I got something wrong.

<details>
<summary>diff</summary>

[code]

</details>

Should be the default configuration (whatever that may be), the build invocation is [here](https://github.com/conda-forge/blis-feedstock/blob/master/recipe/build.sh#L23-L36).

[2021-07-05 17:01] devinamatthews commented on #514
Yep, that's right.

Ah, so it will get the `skx` configuration. This means that AVX512 will be enabled when compiling the above code, and makes me lean strongly towards a compiler bug. To be sure you could try explicitly configuring for `intel64` and seeing if that fixes it.

[2021-07-05 17:03] isuruf commented on #514
It's configured with `x86_64` not the default.

[2021-07-05 17:03] devinamatthews commented on #514
NVM I looked at the link at it does specify `x86_64`. Darn.

[2021-07-05 17:04] h-vetinari commented on #514
Ah, thanks, I had misread `--enable-arg-max-hack x86_64` to be an argument passed to `--enable-arg-max-hack x86_64`.

[2021-07-05 17:05] devinamatthews commented on #514
I have one more hypothesis but I'll wait until you try the printf above.

[2021-07-05 17:09] h-vetinari commented on #514
I think I'll have to add `fflush(stdout);` - otherwise, we'll hit the assert, and the stdout will never become visible (had the problem for printing the `C` matrix already)

[2021-07-05 18:05] h-vetinari commented on #514
So, I added a patch for the print statement (including flush), but while linux printed something (see below), on windows there was _no additional output_. It seems that `bli_ddcopys_mxn` is not being called at all by your reproducer. Note though that the printing _did_ work on windows - it's all over the [logs](https://dev.azure.com/conda-forge/feedstock-builds/_build/results?buildId=347250&view=l

[2021-07-05 18:33] devinamatthews commented on #514
Aha. My hypothesis was that somehow the assembly kernel (or maybe some other code but probably the kernel) is corrupting the beta scalar variable. If modifying and rerunning the code is still fairly easy then we can tell for sure this way:

In `frame/3/gemm/bli_gemm_ker_var2.c`, please add the following printf before and after the function call to `gemm_ukr` on line 384 (this is the `else` branch

[2021-07-05 19:11] h-vetinari commented on #514
Are you sure with the syntax of that patch? `#ch` looks suspect IMO...

[2021-07-05 19:15] devinamatthews commented on #514
Yes, I tested it. #ch is a string literal e.g. "d" which is then subscripted to check if the data type is actually double.

[2021-07-05 19:17] h-vetinari opened #517 "Test failure in scipy test suite without AVX512 on linux; tolerance missed by at least factor ~700"
Similar to #514, see intro there for context of blis in conda-forge.

This issue comes from the scipy test suite failing a test with blis on linux (whereas with blas from netlib/MKL/openblas, the suite passes, so it's almost certainly on the side of blis),

For some example CI runs see [here](https://dev.azure.com/conda-forge/feedstock-builds/_build/results?buildId=344548&view=logs&jobId=517fe804-

[2021-07-05 19:20] h-vetinari commented on #514
OK, thanks. Here's the diff I created from your instructions (note, every line in the vicinity there ended with a `\`, so I added that as well)
[code]

[2021-07-05 19:21] devinamatthews commented on #517
Is this using Netlib LAPACK for BLIS or libflame? Also, when using MKL for BLAS, is MKL LAPACK also used? It would be best to verify the bug with the only variable being the BLAS library and not LAPACK.

[2021-07-05 19:21] devinamatthews commented on #514
That should do it.

[2021-07-05 19:23] h-vetinari commented on #517
The setup is (in conda-forge parlance):
* `blas =*=netlib`: BLAS & LAPACK from netlib
* `blas =*=openblas`: BLAS & LAPACK from openblas
* `blas =*=mkl`: BLAS & LAPACK from MKL
* `blas =*=blis`: BLAS from blis & LAPACK from netlib.

So definitely, the netlib variant of lapack passes the test in the netlib-only run.

[2021-07-05 19:24] devinamatthews commented on #517
What is the input matrix?

[2021-07-05 19:28] h-vetinari commented on #517
The test definition is in the OP. I can print it here, but it's easier to reproduce with the instructions in python:

<details>
<summary>Matrices A & X</summary>

[code]

</details>

[2021-07-05 19:33] devinamatthews commented on #517
So, you're diagonalizing a diagonal matrix using CG starting with random eigenvectors? This is going to be beyond our resources to dig into deeply. If possible, please drill down and find a specific BLAS call that returns incorrect answers.

[2021-07-05 19:40] h-vetinari commented on #517
If you want, I try to can ask the scipy developers to explain that test (no guarantees though on if/when that might work out) - I'm mostly trying to make sure the tests pass on the packaging side.

Sounds like this will be a long road 😅  - I have 400+ more failures on windows (non-AVX512) that I haven't even gone into yet.
I'll see if I can eventually reduce this to BLAS calls.

[2021-07-05 21:24] h-vetinari commented on #514
No discernible output when calling the reproducer, but again there _is_ debug output from the selftests (I had removed the other debug statement for this run, so there is only one possible source). Note also that `check-blastest.sh` produces a failure that gets ignored somehow.

<details>
<summary>selftests</summary>

[code]

</details>

Regarding the discussion of the configuration above, not sur

[2021-07-05 22:05] devinamatthews commented on #514
If there's no output from the most recent `printf`s then I'm lost. Do you need more `fflush`es? Are you sure the correct code is linked in the reproducer?

[2021-07-05 22:07] devinamatthews commented on #514
Could you send/link the out.* files for the BLAS testsuite failure?

[2021-07-05 22:33] h-vetinari commented on #514
Forgot to add a flush this time 🤦

[2021-07-05 22:35] h-vetinari commented on #514
Though, OTOH, I would think the existing `fflush` for printing the matrix `C` should also trigger it, as `gemm_ukr` presumably gets called in `bli_dgemm`?

[2021-07-05 22:45] h-vetinari commented on #514
It's a bit hard to coax this out of the CI, but I've switched on artefact persistence and will see if some files remain in case of failure 🤞

[2021-07-05 23:26] h-vetinari commented on #514
OK, with the flush, I now get the following:
[code]

[2021-07-05 23:28] devinamatthews commented on #514
There goes my theory. I'll try and look for other ways the `bli_ddcopys_mxn` call could be missed.

[2021-07-05 23:28] devinamatthews commented on #514
And the reproducer fails in that instance, correct?

[2021-07-05 23:30] h-vetinari commented on #514
[Yes](https://dev.azure.com/conda-forge/feedstock-builds/_build/results?buildId=347396&view=logs&j=e5cdccbf-4751-5a24-7406-185c9d30d021)

[2021-07-05 23:34] devinamatthews commented on #514
OK. The critical piece of code in determine which code path to take when writing out the matrix C (for something as small as a 5x5) is in `bli_dddxpbys_mxn` (frame/include/level0/bli_xpbys_mxn.h:226). Could you try adding a print statement at the beginning of the function to print `*beta` and some print statements to tell if the branch is taken or not?

[2021-07-05 23:35] devinamatthews commented on #514
An assembly dump of `bli_dgemm_ker_var2` would also be useful, but I imagine that is not simple to do :).

[2021-07-05 23:41] h-vetinari commented on #514
OK; what was your rationale for adding both `%g` and `%a` - would you like both for `beta` again?

[2021-07-05 23:44] devinamatthews commented on #514
%g - human-readable, %a - exact representation. Both is fine but %g by itself is probably sufficient too.

[2021-07-05 23:44] h-vetinari commented on #514
Something like this?
[code]

[2021-07-05 23:45] devinamatthews commented on #514
Yes that's great.

[2021-07-05 23:55] h-vetinari commented on #514
Hm, I had copied this from your previous print statement, but the signature (resp.) meaning of beta must be different here:
[code]

[2021-07-05 23:56] h-vetinari commented on #514
Nevermind, missing comma... I should be getting to bed 🙈

[2021-07-06 00:12] h-vetinari commented on #514
After downloading a 1.2GB compressed artefact & unpacking it with glacial speed on windows, here are the various `out.?blat?` files from a failed `check-blastest.sh`:

[out.xblat.zip](https://github.com/flame/blis/files/6766532/out.xblat.zip)

[2021-07-06 00:29] devinamatthews commented on #514
Those BLAS testsuite failures are almost certainly the same underlying issue as in the AVX512 reproducer. Do those failures also happen on AVX512?

@fgvanzee why does `make check` ignore failures in the BLAS testsuite?

[2021-07-06 02:00] fgvanzee commented on #514
Uhh, could you elaborate on what you mean by "ignore failures in the BLAS testsuite"? Because I can't imagine any definitions that are consistent with my understanding of what the BLAS test drivers do.

(Note: To reduce confusion, I suggest only using the term "testsuite" to refer to the BLIS-specific thing that I wrote, rather than the BLAS-specific thing that I translated from netlib.)

[2021-07-06 02:28] devinamatthews commented on #514
@fgvanzee it was buried up above. `make check` on Windows/AVX512 produces:

[code]

However, on a second look it doesn't actually seem that any failure is ignored. The make rule fails which I assume leads to a non-zero exit code. The "Error 1 (ignored)" is probably because `make -k` or similar is used?

BTW for context those failures registered as e.g. `******* FATAL ERROR - PARAMETER NUMBER 11 WA

[2021-07-06 07:11] h-vetinari commented on #514
I only stumbled over this in the logs by accident, and actually, I hadn't checked that at all for the passing runs. It does seem to _only_ fail with AVX512, only on windows.

More interestingly, _**adding the print statements removed the bug in the reproducer**_ (while `check-blastest.sh` still fails), which I guess is an argument towards a compiler error? I've triggered another run to see if this

[2021-07-06 10:56] h-vetinari commented on #514
Update: switching from vs2017 to vs2019, the same behaviour persists. Using the above [patch](https://github.com/flame/blis/issues/514#issuecomment-874370875), the reproducer does not fail anymore on win+AVX512, whereas it fails without the patch.

Still sounds like some form of misoptimization (which goes away with the insertion of `printf`), but then it would affect all current MSVC compilers -

[2021-07-06 13:32] h-vetinari commented on #514
On the off chance that there was a regression in clang, I tried with clang 11.1 as well, but no cigar (i.e. failure persists).

[2021-07-06 13:48] DBJDBJ commented on #514
In our team, we use the expression "still no baby" when  Eeisenbug appears and days are passing without a convincing solution. A canonical (very small source) executable that will be failing on Windows AVX512 might be in order here.

[2021-07-06 14:28] h-vetinari commented on #514
We have one of [those](https://github.com/flame/blis/issues/514#issuecomment-871718398) (though I cannot influence the choice of agent that azure CI makes, I can parallelize & restart if necessary). That executable stops failing with the mentioned [patch](https://github.com/flame/blis/issues/514#issuecomment-874370875), but fails on Win/AVX512 under all other circumstances that I could test so far

[2021-07-06 15:16] devinamatthews commented on #514
I'm not sure it's a compiler bug, mostly be cause of the **only on AVX512** thing. I think it's more likely that different code generation patterns happen to mask the bug. I'll go back over the assembly kernel and look for ways that we might invoke UB or otherwise corrupt the beta scalar.

[2021-07-06 15:24] devinamatthews opened #518 "Netlib BLAS test failures should cause CI failure"
See e.g. [here](https://ci.appveyor.com/project/shpc/blis/build/job/nxn5du4s0v5hm7t0). The build passes even though many BLAS tests fail. In this case, I have no idea *why* they fail but since they do so only for shared builds and not static it is probably a real bug that the CI workflow should indicate.

For context, similar BLAS test failures happen on Windows/AVX512 (#514) and are not reflected

[2021-07-06 15:27] isuruf commented on #518
The way the BLAS tests are setup, it's impossible to have them run on windows with shared builds.

This is because a local `xerbla` implementation needs to override the one in the blis library which works in Unix and in windows static builds, but with windows DLLs, the `xerbla` implementation in the DLL takes precedence.

[2021-07-06 15:31] fgvanzee commented on #518
Ah yes, I forgot about that highly unfortunate feature of the BLAS test drivers. Thanks for that reminder, Isuru.

[2021-07-06 15:32] devinamatthews commented on #518
So is the symptom of this seemingly random test failures or is there a more specific outcome?

[2021-07-06 15:41] isuruf commented on #518
Yes

[2021-07-06 16:01] devinamatthews commented on #518
Well, that sucks. I'll revert the changes to .appveyor.yml but I still think that BLAS tests should trigger CI failure. I've have them fail in other circumstances where the BLIS tests did not and there was indeed a bug.

[2021-07-06 16:02] devinamatthews commented on #514
@h-vetinari can you try the `windows-avx512` branch? The only thing I could think to try is to change which registers are used to be more like the `haswell` kernel.

[2021-07-06 16:03] isuruf commented on #518
With static libraries, it should work though.

[2021-07-06 16:07] h-vetinari commented on #514
Since I need to carry patches for everything that happened since 0.8.1 (even though I could squash into a giant commit), I started with just cherry-picking https://github.com/flame/blis/commit/47d0bfd471f4ada09caf58c3baf3fc5c82d08fce, which applied cleanly.

[2021-07-06 16:07] devinamatthews commented on #514
Yes there's just that one commit.

[2021-07-06 17:04] h-vetinari commented on #514
Unfortunately, it still fails also with https://github.com/flame/blis/commit/47d0bfd471f4ada09caf58c3baf3fc5c82d08fce

[2021-07-06 17:32] devinamatthews commented on #514
Darn. I'm kind of out of ideas at this point. I'd need to see the generated assembly for `bli_dgemm_ker_var2` (and callees if not inlined) and `bli_dgemm_skx_asm_16x14` to go any further.

[2021-07-06 17:33] devinamatthews commented on #514
Or run it in a debugger on real AVX512 HW.

[2021-07-06 17:38] h-vetinari commented on #514
Are you talking about something like `bli_dgemm_ker_var2.o`? I'm pretty sure that could be extracted somewhere from the artefacts that get created, but I've never tried to do that.

I don't have AVX512 HW, unfortunately

[2021-07-06 17:41] devinamatthews commented on #514
FYI if you're up for generating assembly the steps would be:

1. Build BLIS as usual with `make V=1`.
2. Save the complete compile lines for `frame/3/gemm/bli_gemm_ker_var2.c` and `kernels/skx/3/bli_dgemm_skx_asm_16x14.c`.
3. Replace `-c` with `-S` and `-o <whatever>.o` with `<whatever>.s` insert the new commands after `make`.
4. Save the generated .s files (or I guess you could cat them if that's

[2021-07-06 17:41] devinamatthews commented on #514
This is better than working from the .o files because it preserves any comments generated by clang.

[2021-07-06 18:09] h-vetinari commented on #514
I'm not sure I followed the instructions correctly (also adapted to conda-forge infra), but here's my attempt: https://github.com/conda-forge/blis-feedstock/pull/23/commits/625bcceb309bebd755c7ef00312aa5b69729c8fb

[2021-07-06 20:00] devinamatthews commented on #514
@h-vetinari surely there are more compiler flags for the compile lines? Did you run with `make V=1` and copy-paste the compiler line it used for those files?

[2021-07-06 20:34] h-vetinari commented on #514
No, but happy to take pointers how these lines should look like (and I've added `V=1` now, which had not been necessary so far) I'm doing everything in CI (and battling with differences in GCC vs. MSVC options, much less the conda-forge setup), so it's generally quite a painful process.

[2021-07-06 21:53] devinamatthews commented on #514
After adding `V=1` you'll see in the build log the full compiler commands used by make. Just copy-paste the two lines for the files named above and modify as indicated. This way you get the exact same flags as used by BLIS in case any of them affect code generation.

[2021-07-06 22:12] h-vetinari commented on #514
Thanks, that's also what I wanted to do, see [outcome](https://github.com/conda-forge/blis-feedstock/pull/23/commits/3d0c3b5ff1862d9fecc377974cde69f23afce04e)

[2021-07-07 06:15] AnonymousYWL opened #521 "small/skinny matrix"
https://github.com/flame/blis/blob/master/docs/PerformanceSmall.md

Hello!
Is the evaluation of each small/skinny matrix start with cold data cache?

[2021-07-07 09:01] h-vetinari commented on #514
Here's the output of a failing [run](https://dev.azure.com/conda-forge/feedstock-builds/_build/results?buildId=348123&view=logs&j=171a126d-c574-5c8c-1269-ff3b989e923d&t=1183ba29-a0b5-5324-8463-2a49ace9e213) ([raw log](https://dev.azure.com/conda-forge/84710dde-1620-425b-80d0-4cf5baca359d/_apis/build/builds/348123/logs/114))

Hope this helps. 🙃

[2021-07-07 16:11] devinamatthews commented on #521
I think they are hot cache. @fgvanzee ?

[2021-07-07 16:30] devinamatthews commented on #514
The problem seems to be here:

[code]

The beta variable is loaded in `xmm0` and compared to `xmm6` which was zeroed out before the call to the microkernel. Of course, in the meantime the microkernel has overwritten it. Perhaps the craziness of Windows calling conventions is to blame here? Could we force the compiler to re-zero `xmm6` by changing the calling convention used for the microkernel or

[2021-07-07 16:31] devinamatthews commented on #514
I guess the "hacky" solution is to zero out `xmm6` on exit from the microkernel...

[2021-07-07 16:38] devinamatthews commented on #514
If you could also generate the assembly for `kernels/haswell/3/bli_gemm_haswell_asm_d6x8.c` then I could see if maybe the compiler is zeroing out the `xmm` registers for us in that case but not for AVX512. On non-AVX512 (haswell) `xmm6[0]` should contain `C[1][0]` on exit so I'm not sure why it doesn't also fail.

[2021-07-07 16:45] fgvanzee commented on #521
Could somebody define these terms so I don't accidentally misspeak?

[2021-07-07 16:51] fgvanzee commented on #518
I recommend that we insert a comment somewhere (in the .appveyor.yml file?) that will remind future readers of this issue.

[2021-07-07 17:13] fgvanzee commented on #521
@AnonymousYWL Okay, I realized that the definition doesn't matter; I can just explain what the test drivers do and then you will have the information to answer your question.

The driver starts by creating and initializing the matrices. It then enters a loop with a loop bound of 3. In the body of that loop, the `gemm` operation is performed. After the loop exits, all matrices are freed. The driver

[2021-07-07 18:17] AnonymousYWL commented on #521
Is the same GEMM iterated multiple times?

---Original---
From: "Field G. Van ***@***.***&gt;
Date: 2021/7/8 01:14:02
To: ***@***.***&gt;;
Cc: ***@***.******@***.***&gt;;
Subject: Re: [flame/blis] small/skinny matrix (#521)

@AnonymousYWL Okay, I realized that the definition doesn't matter; I can just explain what the test drivers do and then you will have the information to answer your question.

[2021-07-07 18:18] fgvanzee commented on #521
Yes, three times.

[2021-07-07 18:21] hominhquan commented on #521
@fgvanzee then the driver takes the average of the three runs I guess ? I think @AnonymousYWL is expecting something like:
[code]

[2021-07-07 18:26] fgvanzee commented on #521
No, as I said above, the driver always reports the best of three. (It is the max, not the average.) This applies for any implementation that the driver tests.

Perhaps, or perhaps they were merely trying to determine what is reported.

@AnonymousYWL Are you requesting that we *only* report performance under cold cache conditions?

[2021-07-07 18:26] AnonymousYWL commented on #521
thanks for your reply.

I think hot cache will affect the performance of small matrices.

---Original---
From: "Minh Quan ***@***.***&gt;
Date: 2021/7/8 02:21:33
To: ***@***.***&gt;;
Cc: ***@***.******@***.***&gt;;
Subject: Re: [flame/blis] small/skinny matrix (#521)

@fgvanzee then the driver takes the average of the three runs I guess ? I think @AnonymousYWL is expecting something like:
 // cold

[2021-07-07 18:31] AnonymousYWL commented on #521
Is it max GFLOPS or max clock?

---Original---
From: "Field G. Van ***@***.***&gt;
Date: 2021/7/8 02:26:14
To: ***@***.***&gt;;
Cc: ***@***.******@***.***&gt;;
Subject: Re: [flame/blis] small/skinny matrix (#521)

@fgvanzee then the driver takes the average of the three gemm I guess ?

No, as I said above, the driver always reports the best of three. (It is the max, not the average.) This applies

[2021-07-07 18:32] hominhquan commented on #521
Yes, I wrote this during your reply arrived, without refreshing the page.

@AnonymousYWL according to the testing way described by @fgvanzee, the best performance reported is probably the hot-cache performance. And we don't know if there is a big gap between cold and hot.

[2021-07-07 18:34] AnonymousYWL commented on #521
Thank you for your reply.
Many thanks

---Original---
From: "Minh Quan ***@***.***&gt;
Date: 2021/7/8 02:32:15
To: ***@***.***&gt;;
Cc: ***@***.******@***.***&gt;;
Subject: Re: [flame/blis] small/skinny matrix (#521)

No, as I said above, the driver always reports the best of three. (It is the max, not the average.) This applies for any implementation that the driver tests.
 Yes, I wrote this duri

[2021-07-07 18:37] fgvanzee commented on #521
Unfortunately, I'm not sure what you mean by "it."

We scale our y-axes according to the theoretical peak performance (measured in GFLOPS), which assumes the maximum attainable clock rate under the conditions of the experiment. (Sometimes clock rates are lower for multicore, for example, so we would not use the max clock rate for single-core in those cases.)

[2021-07-07 19:18] devinamatthews commented on #521
TL;DR: yes it is hot cache.

@fgvanzee to get cold cache numbers we would have to clear the cache between runs. I don't think this is really necessary right now though. Maybe a note on the performance page though.

[2021-07-07 19:18] #521 closed

[2021-07-07 20:16] devinamatthews commented on #514
Indeed the haswell kernel is saving `xmm6` through `xmm15` on the stack, but the skx kernel is not.

[2021-07-07 20:25] devinamatthews commented on #514
@h-vetinari please try the `windows-avx512` branch again (force-pushed, only ad10dc1f matters).

[2021-07-07 20:44] devinamatthews commented on #518
Done

[2021-07-07 20:55] devinamatthews commented on #518
Apparently *all* test failures are ignored in the Makefile (prepended with "- "). @fgvanzee can you remind me what the rationale for this is? Makes it hard for other people to incorporate "make check" into their CI pipelines.

[2021-07-07 21:42] fgvanzee commented on #518
I probably did this because I wanted `make` to continue whatever rule is being executed, even if an error is encountered.

[2021-07-07 23:00] h-vetinari commented on #514
Not sure if related, but this reminds me of a recent numpy/scipy bug caused by microsoft shipping a [broken](https://developercommunity.visualstudio.com/t/fmod-after-an-update-to-windows-2004-is-causing-a/1207405#T-N1243113) ucrtbase runtime that ended up corrupting various registers (and took them half a year to fix).

[2021-07-08 00:48] devinamatthews commented on #514
@h-vetinari If I'm reading the [logs](https://dev.azure.com/conda-forge/feedstock-builds/_build/results?buildId=348681&view=logs&jobId=00f5923e-fdef-5026-5091-0d5a0b3d5a2c&j=00f5923e-fdef-5026-5091-0d5a0b3d5a2c&t=3cc4a9ed-60e1-5810-6eb3-5f9cd4a26dba) right, seems like it is fixed?

[2021-07-08 04:31] BhaskarNallani commented on #509
Currently MR,NR are same between gemmsup or gemm for a given data type.

Yes! It is better to change to l3_sup api mentioned below.

        const dim_t NR  = bli_cntx_get_l3_sup_blksz_def_dt( dt, BLIS_NR, cntx );
	const dim_t MR  = bli_cntx_get_l3_sup_blksz_def_dt( dt, BLIS_MR, cntx );

At the same time it is required to create new tables and set/get functions for gemmsup, trsmsup, gemmtsup and s

[2021-07-08 07:08] h-vetinari commented on #514
Yes, switching to the haswell kernel made the reproducer run through also on AVX512 🥳
(I just couldn't stick around for the job to finish because it got very late.)

Thanks a lot for your help on this, much appreciated!

I'll discuss with Isuru to build a new version for conda-forge with this patch, and see if this helps with the other failures I've been seeing (e.g. #517, resp. other scipy errors

[2021-07-08 07:12] h-vetinari commented on #514
Also note, `check-blastests.sh` doesn't produce failures anymore with that patch either.

[2021-07-08 16:34] devinamatthews commented on #514
Great, I'll also add a comment to the kernel makefile so this doesn't pop back up. FYI it's not using the haswell kernel on AVX512 (that would lead to much lower performance), just using `-march=haswell` to maintain the same calling convention. The AVX512 instructions are hard-coded in inline ASM.

[2021-07-08 16:46] devinamatthews opened #523 "Haswell kernels lost vzeroupper at some point"
"Old" haswell kernels has vzeroupper to avoid penalty when mixed with legacy SSE code. For some reason, the current kernels don't have this anymore. AFAICT the compiler does **not** insert this automatically so we should put it back in.

[2021-07-08 16:49] h-vetinari commented on #514
Great, thanks, and thanks for the explanation.

Not that it's a priority, but shouldn't it be possible to _eventually_ fix this natively (not knowing ATM whether it's the compiler, the runtime, blis or something else that's at fault)?

[2021-07-08 19:00] #514 closed

[2021-07-08 19:01] devinamatthews commented on #514
I consider this solved "once and for all" since it seems that the cause is a difference in calling convention between AVX512 and non-AVX512 code (or a compiler bug). I can't find any Microsoft documentation to support this but then again I didn't think I would.

[2021-07-08 21:20] fgvanzee commented on #523
I see `vzeroall` used instead. Does that not avoid the penalty as well?

[2021-07-08 22:33] devinamatthews commented on #523
That's at the beginning. vzeroupper has to be the last (VEX) instruction.

[2021-07-09 19:38] fgvanzee commented on #523
Gotcha. I was confused and had forgotten about the trailing `vzeroupper` instructions. Yes, those should go back in.

[2021-07-09 19:59] #523 closed

[2021-07-14 09:06] xrq-phys commented on #509
Seem already implemented:
https://github.com/flame/blis/tree/fab5c86/frame/base/bli_cntx.h#L336

and used:
https://github.com/flame/blis/tree/fab5c86/frame/3/bli_l3_sup_var12.c#L235-L239
https://github.com/flame/blis/tree/fab5c86/frame/3/bli_l3_sup_var1n2m.c#L292-L296
https://github.com/flame/blis/tree/fab5c86/frame/3/old/bli_l3_sup_var1n2m.c#L276-L280

Maybe it would be just OK to replace the lin

[2021-07-14 09:23] BhaskarNallani commented on #509
Yes! if you consider just your gemm case.

But when we have sup for gemm, trsm , gemmt then it is difficult to use same l3_sup for all api's if they need different sizes, where we need a separate api's bli_cntx_get_l3_supgemm_blksz_def_dt() , bli_cntx_get_l3_suptrsm_blksz_def_dt() to be independent of each other.

We can also solve this having family id (gemm/trsm/gemmt ...etc) as an argument to t

[2021-07-14 09:35] xrq-phys commented on #509
It would be very nice to allow using different sizes for GEMM, GEMMT and TRMM, while currently the (non-sup) block kernel handler seems to require all kernel sizes to be equal? (There is only one `bli_cntx_get_blksz_def_dt`.)

Of course I would also imagine SUP cases to be much more complicated thus requiring a different way to handle...

[2021-07-30 08:13] lschork2 opened #525 "Crash when re-initialized after finalized"
When `bli_finalize()` is called, then it is not possible to re-initialize the library with `bli_init()`. Doing so causes a crash in the next call to `bli_dgemm()`. The code snippet below is a working example to reproduce this.

It would be useful to allow re-initializing the library after it has been finalized.  In our application we would like to deallocate the memory after part of the computatio

[2021-08-04 21:31] fgvanzee commented on #525
Thanks for this report, @lschork2. It was definitely my intention for BLIS to be able to be finalized and then re-initialized. I'll look into this.

[2021-08-04 21:49] fgvanzee commented on #525
Oh dear lord, `pthread_once()` isn't yet done mocking us.

Of *course* it fails. The current init/finalization model means `bli_init()` and `bli_finalize()` will be called exactly once. Not just by one thread, but *once*.

The reason @lschork2's code example results in a segfault is because the second time around, BLIS is refusing to initialize itself. Lol.

@devinamatthews How did we not see this

[2021-08-04 21:57] devinamatthews commented on #525
If you can be sure it is happening in a single-threaded or otherwise thread-safe region then you could set the control variable back to `PTHREAD_ONCE_INIT`.

[2021-08-04 22:02] fgvanzee commented on #525
I suppose we could make that an API call. Something like `bli_reinit()`, which resets the control variables *and* calls `bli_init()`. That would allow us to document the single-threaded assumption in the documentation for `bli_reinit()`.

I also like this because it semantically communicates that re-initialization is distinctly different than first-time initialization.

[2021-08-04 22:04] fgvanzee commented on #525
@lschork2 Would your applicable be able to work with the following:
[code]
And would this part of your application be single-threaded?

[2021-08-04 22:11] devinamatthews commented on #525
Why wouldn't that be part of `bli_finalize()`?

[2021-08-04 22:12] devinamatthews commented on #525
Single-threaded (or thread-safe, i.e. locked) is necessary because you wouldn't want to change the control variable while another thread is calling pthread_once etc.

[2021-08-04 22:12] hominhquan commented on #525
Oh, this a a tricky and interesting one. I like the idea of @devinamatthews, how about adding this:
[code]

`bli_finalize()` to rearm `bli_init()`, and `bli_init()` to rearm `bli_finalize()`

[2021-08-04 22:13] devinamatthews commented on #525
I like @hominhquan's idea. It has symmetry.

[2021-08-04 23:12] fgvanzee commented on #525
I agree. I had actually thought of this, but dismissed it before realizing that we pretty much have to be guaranteed that the caller is single-threaded.

[2021-08-04 23:32] fgvanzee commented on #525
Please give the latest commit a try, @lschork2.

Thanks @hominhquan and @devinamatthews for your help fixing this.

[2021-08-05 01:02] fgvanzee commented on #525
@devinamatthews Can you take a look at this [clang-on-OSX Travis CI failure](https://travis-ci.com/github/flame/blis/builds/234536010)? The first signs of trouble are in `configure`:
[code]

[2021-08-05 01:16] devinamatthews commented on #525
line 1425 change `clang version` to `(clang|LLVM) version`.

[2021-08-05 06:55] lschork2 commented on #525
Thanks for the fix. It works with our application.

[2021-08-05 20:40] fgvanzee commented on #525
It's actually [still failing](https://travis-ci.com/github/flame/blis/jobs/529440697), but for a reason that seemingly had nothing to do with the `configure` issue:
[code]
Does the `= { ... };` `struct` assignment notation only work when initializing at declaration time?

[2021-08-05 20:42] devinamatthews commented on #525
In C yes, unless maybe you cast? You can always just create a local variable with the initializer then memcpy it. No it's not "POSIX standard" but I am hard-pressed to imagine a universe in which it wouldn't work.

[2021-08-05 21:02] fgvanzee commented on #525
Do we have to use `memcpy()` though? Is there any issue with using the following approach based on `=`?
[code]

[2021-08-05 21:13] devinamatthews commented on #525
I think this is fine.

[2021-08-05 21:45] fgvanzee commented on #525
Yay it works.

[2021-08-05 21:46] fgvanzee commented on #525
I'm glad we were able to help. Please stay in touch.

[2021-08-05 21:46] #525 closed

[2021-08-08 16:09] h-vetinari commented on #514
Just to report the results of this (took a while, sorry) - the errors on the numpy test suite are now gone: https://github.com/conda-forge/numpy-feedstock/pull/237, which is awesome!

Unfortunately, on the scipy side https://github.com/conda-forge/scipy-feedstock/pull/172, blis+avx512 now hangs indefinitely. I'm going to open another issue for that.

At least #517 did not reappear, which I'm going

[2021-08-08 16:10] h-vetinari commented on #517
This failure did not reappear with the latest scipy test run in https://github.com/conda-forge/scipy-feedstock/pull/172, so closing this issue.

[2021-08-08 16:10] #517 closed

[2021-08-08 16:13] h-vetinari opened #526 "Blis on windows with AVX512 hangs indefinitely in scipy test suite"
Before fixing #154, the scipy test-suite used to fail with ~440 errors (see e.g. [here](https://github.com/conda-forge/scipy-feedstock/pull/172#issuecomment-870917701)).

Running the same thing with a new build that includes #522, the test suite now hangs indefinitely (and reproducibly so): There are some failures right before which might provide a clue, but so far all I see is:
[code]

[2021-08-08 16:21] devinamatthews commented on #526
Can you get a backtrace on the hang?

[2021-08-08 16:26] h-vetinari commented on #526
Hey, thanks for the very quick response!

Getting a backtrace is not so easy from the CI, and I don't have AVX512 hardware to run this on myself.

However, maybe looking at the 4 failed tests might already start to give some clues? Haven't dug into that yet.

[2021-08-08 16:48] devinamatthews commented on #486
I'm not able to reproduce this on Xeon E5-2680 v4 with the dblat3 driver included with BLIS and `feenableexcept(FE_UNDERFLOW)` added. I suppose I can try the Netlib Fortran driver.

[2021-08-08 16:58] devinamatthews commented on #486
Can't reproduce with the Netlib driver with `-ffpe-trap=underflow` either (and no FP warnings printed).

[2021-08-08 16:59] devinamatthews commented on #486
Can you provide more details about your processor, environment (OS, compiler), BLIS configuration, and flags used for the Netlib driver?

[2021-08-08 16:59] devinamatthews commented on #486
Duh, dblat3d. Let me try that one.

[2021-08-08 17:05] devinamatthews commented on #486
OK, AFAICT dblat3d is the input file for dblat3 so I was in the right place. We're back to needing more details as above.

[2021-08-13 16:49] h-vetinari commented on #526
Just recording for myself the instructions I just stumbled over for how to run python in Intel SDE:

[2021-08-13 17:02] devinamatthews commented on #526
I can only imagine how slow it must be :smile:.

[2021-08-19 14:41] jongwonjlee opened #532 "Having trouble in building with cross-compiler"
Hi, I appreciate your hard work! I'm now trying to create BLIS static library for a target microcontroller (NXP MPC5748G, having 32bit PowerPC architecture on which code built by GCC is mounted) through the corresponding cross compiler with its specialized C standard library called EWL, but I'm in trouble while building the code.

Prerequisite:
- having the corresponding GCC cross-compiler (powerp

[2021-08-19 14:54] hominhquan commented on #532
@jongwonjlee I'm also interested in the portability of BLIS on embedded platforms. Can you share the error of
`But when I try to link it with the BLIS tutorial code, it throws similar errors as mentioned above; this is not so surprising as the library file has been built 'incomplete'.` ? I did not see any error log in your zip file.

Then, I believe "Cannot determine operating system" is a preproc

[2021-08-19 15:28] jongwonjlee commented on #532
@hominhquan  It states as follows when linked to the tutorial code:

[code]

For the second question, yes it seems to be a preprocessing error when making the BLIS library file. Doesn't it have to do with configuring for the target processor?

[2021-08-19 15:42] hominhquan commented on #532
On the linking issue, it looks like your compiler toolchain does not provide any `fprintf` implementation.

On the preprocessing error "Cannot determine operating system", yes, one who wants to port BLIS on a new architecture (as well as new OS) needs adding associated macros in `bli_system.h`. There are also other things to do, like:

- adding a custom implementation (if any) of `bli_clock()`, ma

[2021-08-19 16:36] jongwonjlee commented on #532
@hominhquan Oh, the target processor's OS (FreeRTOS) is classified into none of them in the list that BLIS is supposed to support. Does it mean that I can't use BLIS for the target environment?

[2021-08-19 16:46] hominhquan commented on #532
BLIS has been written as much portable as possible. Any compiler supporting C99 can compile BLIS mostly out-of-the-box. Any new architecture not figuring in the OS list can still be cross-compiled after some code modification (points mentioned above). That can be some more tricky, but is not impossible either.

Then you can create PR to contribute to BLIS. I think @fgvanzee, @rvdg and @devinamatth

[2021-08-19 18:46] devinamatthews commented on #532
@jongwonjlee I've added a checklist to the Issue description to try and break down the different sub-issues, then we can work down the list one at a time.

[2021-08-19 18:50] devinamatthews commented on #532
Re `BLIS_OS_<X>`, there are three options:

1. Add a new OS macro, with appropriate checks for predefined macro(s). As @hominhquan suggests, there may be a number of other places in the code which would need updates.
2. If one of the other `BLIS_OS_<X>` macros does what your platform needs:
    1. Supply `-DBLIS_OS_WHATEVER` during configuration: `./configure CFLAGS="-DBLIS_OS_WHATEVER ..." ...`,

[2021-08-19 19:05] devinamatthews commented on #532
Re `fprintf`: worst case you can write a simple `fprintf` yourself which just calls `vprintf` (and if `vprintf` isn't available, maybe define `fprintf` as a variadic macro).

[2021-08-19 19:10] devinamatthews commented on #532
FYI, it definitely seems that you'll need to create your own configuration, whether or not you eventually want to write optimized microkernels or not. Please see [here](https://github.com/flame/blis/blob/master/docs/ConfigurationHowTo.md) for instructions.

[2021-08-21 23:22] devinamatthews opened #535 "ARMSVE blacklist for Clang 10 and lower"
The `armsve` config should be added to the blacklist for clang 10 and lower, as ARM SVE intrinsics support (used in the packm kernels) is only in clang11+. I am checking on gcc...

[2021-08-21 23:23] devinamatthews commented on #535
@fgvanzee you can probably handle this quite easily.

[2021-08-21 23:27] fgvanzee commented on #535
I'll wait until you finish checking for gcc.

[2021-08-21 23:28] devinamatthews commented on #535
gcc 10+ required

[2021-08-23 18:33] fgvanzee commented on #535
Okay, so disallow `armsve` for clang10 and older, and gcc 9 and older?

[2021-08-23 18:38] devinamatthews commented on #535
Yes. I don't know if this affects A64fx because it is only the intrinsics. @xrq-phys ?

[2021-08-23 19:44] fgvanzee commented on #535
@devinamatthews Do I need to also add the `armsve` blacklisting to the `"Apple"` branch of the `clang` conditional handling?

[2021-08-23 19:50] devinamatthews commented on #535
No.

[2021-08-24 14:34] jongwonjlee commented on #532
OS macros except Windows and OSX cause no problem while running `make` after configuring. (When it comes to enforcing either Windows or OSX, they throw errors while including header files of std c libraries, such as `#include <windows.h>` or `#include <mach/mach_time.h>`). Thus, from now on, I enforce the OS macro to be `__gnu_hurd__` unless otherwise mentioned.
[code]

[2021-08-24 22:35] jongwonjlee commented on #532
@devinamatthews Thanks for your comments. I am stilling with fprintf implicit declaration error and cannot figure out how to resolve this issue.

Why do you think the error occurs though the EWL library supports `fprintf` (as mentioned [here](https://www.nxp.com/docs/en/reference-manual/CWEWLCREF.pdf))? What would be the best solution to sort this out?

FYI, I attached the [log file](https://githu

[2021-08-24 22:45] devinamatthews commented on #532
@jongwonjlee please attach the file `include/generic/blis.h`. You might also try specifically looking at the EWL headers to verify that fprintf is in there (maybe it needs a macro defined to be accessible?).

[2021-08-24 22:49] devinamatthews commented on #532
BTW, can you also send the output of `powerpc-eabivle-gcc -dM -E - < /dev/null`?

[2021-08-24 22:54] devinamatthews commented on #532
@jongwonjlee shouldn't you have to explicitly link some library or libraries with `-l` for EWL?

[2021-08-27 17:13] devinamatthews opened #537 "Parallelization of the PC loop"
Many applications (e.g. in machine learning) end up with matrix products that have small(ish) `m` and `n` dimensions, but large K. For these cases, one would need to parallelize the `pc` loop to take advantage of threading in an efficient way. An example application is #536. The downside of parallelizing the `pc` loop is that extra workspace is required to store the partial C matrices, and then th

[2021-08-27 23:20] devinamatthews commented on #537
I'm reconsidering this now, but my thinking was that a) you only want to parallelize over k if n is smallish anyways and b) you only want to checkout a block for C and do a reduction once. But, on second though I don't think there's really a downside to b), and maybe you do still want to parallelize over k for some bizarre situation like m=20, n=5000, k=10000.

[2021-08-27 23:29] fgvanzee commented on #537
I think if @rvdg were here, he would likely say that this isn't bizarre at all. We want to have maximum flexibility in the dimensions along which we parallelize, and oftentimes that means parallelizing two dimension simultaneously, especially when you have large numbers of cores. And if only one of m and n is large (and k is also large) that means (potentially) parallelizing k.

[2021-08-27 23:35] devinamatthews commented on #537
Agreed. Drop that requirement.

[2021-08-29 15:31] fgvanzee commented on #537
I *think* I know how to solve this for generalized problems. It builds upon the idea of carouseling, which @tlrmchlsmth developed and prototyped years ago. The key feature of that solution is that it avoids using large workspace, but it will also require significant changes to the overall matrix multiplication algorithm.

(Historical aside: I found Tyler's original implementation to be a bit rough

[2021-08-29 15:48] devinamatthews commented on #537
@fgvanzee let's talk about this; IIRC carouseling doesn't take full advantage of parallelism in both dimensions.

[2021-08-29 16:59] rvdg commented on #537
I’d like to be part of that discussion

[2021-08-29 17:03] devinamatthews commented on #537
Tuesday then.

[2021-08-30 16:03] fgvanzee commented on #532
BTW, I've temporarily disabled the changes in 8e0c425, so we're back to passing on AppVeyor.

[2021-08-30 18:23] tlrmchlsmth commented on #537
The thing about carouselling is that it doesn't actually increase the number of FMA instructions that you can execute in parallel. Instead, the advantage comes from not messing up your block sizes. So instead of just parallelizing along the `m` dimension and cutting the matrix up into too-small of partitions, we also parallelize along the `k` dimension. And then the carousel mechanism just manages

[2021-09-08 16:16] jongwonjlee commented on #532
@devinamatthews That was the case. As the `libc.a` library file of the cross-toolchain I'm using doesn't have `fprintf` symbol as below, I explicitly copied the `fprintf.c` file from the EWL library and pasted it to the cross-compiling project file I'm working on and now it succeeds to be built.

[code]

However, the problem is, when I try to go through the tutorial codes (i.e. examples in `blis/e

[2021-09-09 17:15] jlinford opened #539 "Inline ASM clobber list means no spare register for LLVM"
LLVM and Arm Compiler for Linux (ACfL) fail to compile for armsve or a64fx. This code is also failing on upstream LLVM: https://godbolt.org/z/PPzhebnan
[code]
Commenting out Line 27 makes LLVM/ACfL work.

In short, the problem seems to be that there is a long clobber list in the inline assembly, and that there are many function arguments. When you add extra function arguments into the list in the

[2021-09-09 17:49] stepannassyr commented on #539
Well great - I've actually been working on something that potentially uses inline asm even more heavily than any kernels I've  manually written so far :D

With Solution 2 tight control over which architectural register gets used is lost and it's also incompatible with my current work.

I think Solution 1 is the way to go, but it does mean some rework is required. I'm actually mostly using inline a

[2021-09-09 19:16] devinamatthews commented on #539
@jlinford why can't the compiler push the function arguments to the stack to save registers? (Actually, all of these already end up on the stack in order to be transferred to the ASM region).

Alternatively, if we change some of the ASM variables to "r" constraints, would that allow the compiler to re-use those registers?

[2021-09-09 19:17] devinamatthews commented on #539
@jlinford FYI intrinsics are probably out because we have observed very poor instruction reordering in previous attempts (although these were x86_64).

[2021-09-10 17:23] jeffhammond commented on #539
@devinamatthews I assume that was an ICC-specific issue. Was it?

[2021-09-10 17:25] devinamatthews commented on #539
I think it affected all of the compilers (gcc, clang, icc). Basically the problem is that when you unroll the inner loop, then all of the loads get moved to the beginning (presumably to cover the longest latency possible), whereas we need them sprinkled in the right places during the iterations. There's no way to tell the compiler that we know we will be loading from L1.

[2021-09-12 15:12] xrq-phys commented on #539
In fact `bli_gemm_armsve256_asm_d8x8.c` is from a previous commit by Linaro Ltd.
It's currently of no use at all.

`3/sup` kernels are experimental kernels for skinny matrices, but not yet used by any config either.
Removing the 3 affected files would pass compilation.

[2021-09-12 15:36] xrq-phys commented on #539
@devinamatthews :

Does not seem to work with clang 12.0.5.
But we *can* set all input variables to "+r" and use them as usual GP registers in asm. i.e. instead of like:
[code]
we do:
[code]
For example, the `bli_gemm_armsve256_asm_d8x8.c` assembly of the problem, if we replace:
| From | To |
|--|--|
| `x0` |`%[aaddr]`  |
| `x1` |`%[baddr]`  |
| `x2` |`%[caddr]`  |
| `x3` |`%[a_next]` |
| `x4` |`%

[2021-09-12 16:19] devinamatthews commented on #539
Yes, I like this solution. It still requires "baking in" the calling convention but AFAIK passing the first 8 args in registers is required on AArch64(?)

[2021-09-12 16:20] devinamatthews commented on #539
Is passing args in x8, x9, and x13 standard?

[2021-09-12 16:21] xrq-phys commented on #539
It's `x0-x7` if I remember.

[2021-09-12 16:23] xrq-phys commented on #539
I guess that regardless the calling convention, we can just ensure the num of clobbered `x?` + in/out params <= 31 and compiler should do its job. 🤔

[2021-09-12 16:24] devinamatthews commented on #539
Oh I see, you don't actually require the above mapping from args to registers, you just put them in "some register" and remove the clobbers for the now-unused explicit registers. I guess the compiler may still insist on reserving a register for e.g. `k` even though it is only used as `k_iter`/`k_left`?

[2021-09-12 16:27] xrq-phys commented on #539
Seems true for LLVM though it might be possible to infer that `k` is unused.

[2021-09-14 20:41] babreu-ncsa opened #541 "BLIS DGEMM performance decreases with increasing threads"
Hello,

I am trying to optimize a Fortran code that relies heavily on BLAS DGEMM calls by using threaded-BLIS. I am following somehow [this example from the AMD Developer webpage](https://developer.amd.com/wp-content/resources/AMDCPULibrariesUserGuide_1.3.pdf) (page 7 of the pdf). Here's my code:

[code]

Here's how I'm compiling this:

[code]

Then, I am running this on an AMD EPYC 7742 node, cla

[2021-09-15 09:28] jeffhammond commented on #541
i'll try later but you might use taskset  (see https://www.glennklockwood.com/hpc-howtos/process-affinity.html for useful examples) to make sure the affinity is proper.

[2021-09-15 17:04] akesandgren commented on #486
Hardware: Intel(R) Xeon(R) CPU E5-2690 v4 @ 2.60GHz
OS: irrelevant
Compiler: GCC 10.2.0
BLIS: 0.8.0
[code]
This sets the correct flags for the testing routines and make it link with -lblis.
Make sure libblis is in LD_LIBRARY_PATH (or update make.inc to contain -L)
[code]
This will spew out:
[code]
If you do not see this then we need to dive into details on how BLIS is built.

[2021-09-15 17:54] devinamatthews commented on #486
I was finally able to reproduce this and tracked it down to a bug that was fixed in 0.8.1. Easy fix!

[2021-09-15 17:54] #486 closed

[2021-09-15 17:57] devinamatthews commented on #539
@jlinford what do you think of the solution of using "+r" register constraints for the variables? @xrq-phys I think you have tested this and it works, right? We probably should have been passing args in registers all along except that sometimes we want to wait to load a variable until after the AB product accumulation.

[2021-09-15 18:12] xrq-phys commented on #539
Yes. It's tested and proposed in #540 .

[2021-09-15 19:18] xrq-phys commented on #541
As far as what I see from this Fortran code, it is in fact a GEMV call? (N=1)

If that is the case the procedure is memory-bound and is hardly likely to benefit from multithreading.

[2021-09-15 19:48] babreu-ncsa commented on #541
@xrq-phys Thanks for the comment, but I don't think that that is the case. The exact same code benefits from other threaded-BLAS implementations in different architectures (see [this Intel community post](https://community.intel.com/t5/Intel-oneAPI-Math-Kernel-Library/Threaded-MKL-s-DGEMM-performance-does-not-improve-with/m-p/1314774/emcs_t/S2h8ZW1haWx8dG9waWNfc3Vic2NyaXB0aW9ufEtUTEVTT1c1MzRWUUR8M

[2021-09-15 19:54] devinamatthews commented on #541
MKL is probably calling GEMV internally. BLIS *could* do this but currently does not. Also note that BLIS does not currently have multi-threaded level-2 BLAS.

From: "Field G. Van Zee" ***@***.***>
Reply-To: flame/blis ***@***.***>
Date: Wednesday, September 15, 2021 at 2:49 PM
To: flame/blis ***@***.***>
Cc: Subscribed ***@***.***>
Subject: Re: [flame/blis] BLIS DGEMM performance decreases with i

[2021-09-15 20:00] babreu-ncsa commented on #541
@devinamatthews Thank you! I'm still a bit confused on how the clock time can increase from 369 ms to 15870 ms when BLIS_NUM_THREADS goes from 1 to 2, do you have any insights?

[2021-09-15 20:09] devinamatthews commented on #541
Yes: you have a GEMM with m=4000, n=1, k=2000 and column-major storage. On AMD architectures this is internally recast as m=1, n=4000, k=2000 with row-major storage. m=1 is critically fatal to performance in BLIS because we will be repeatedly and in parallel "packing" a 1x256 matrix (k=2000 is split into chunks of size <= 256) into a 6x256 buffer with zero-padding. This adds a tremendous amount of

[2021-09-15 20:26] babreu-ncsa commented on #541
@devinamatthews Thanks again for your time! I'm going to experiment with GEMV, instead. Closing this issue.

[2021-09-15 20:26] #541 closed

[2021-09-15 21:36] babreu-ncsa commented on #541
I may just have to dive deeper in the documents to figure out how to use this properly, but here is as a **true** DGEMM with M=N=K=10000, to keep this thread documented.

[code]

A few outputs:

- `export BLIS_NUM_THREADS=1`
[code]

- `export BLIS_NUM_THREADS=4`
[code]
with threads for some reason going to the same PSR:
[code]

- `export BLIS_NUM_THREADS=4` with `numactl`
[code]
with threads sprea

[2021-09-15 22:50] devinamatthews commented on #541
Looks better. Try running >= 3 times and taking the best. This helps to get rid of noise like spurious page faults, interrupts, etc.

[2021-09-16 05:15] akesandgren commented on #486
Ok, can you give me the commit or describe the fix, i'm curious by nature and in BLAS-related stuff in particular...

[2021-09-16 05:19] devinamatthews commented on #486
It's the 0.8.1 tag or you can checkout the current HEAD. The fix has to do with not reading one element past the end the rows/columns of small matrices (in a way which cannot result in a segfault, but can introduce a NaN or Inf value into a horizontal addition). The particular commit for the fix is b43dae9a5d2f078c9bbe07079031d6c00a68b7de.

[2021-09-16 05:28] akesandgren commented on #486
Ahh reading out-of-bounds... was kind of guessing at that, not the first time :-)
Was the first bug report I sent to GotoBLAS way back :-)

[2021-09-16 14:36] devinamatthews commented on #486
Are those CFLAGS for BLIS or xblat3d?

[2021-09-16 14:57] akesandgren commented on #486
The
[code]
is what we build BLIS with.
xblat3d flags can be seen in my lapack repo, but to shortcut, they are:
[code]
I build the BLAS/TESTING with FFLAGS_NOOPT since it is the testing code and it should not have any optimizations done.

[code]

[2021-09-16 15:17] devinamatthews commented on #486
Found it. This one isn't a read-past-the-end, but a place where some vestigial code does a horizontal add on junk data and then throws it away.

[2021-09-16 15:38] akesandgren commented on #486
Are you sure? I still get the same if I add that commit on top of 0.8.1. Are there more commits between 0.8.1 and that commit that I need?

[2021-09-16 15:39] devinamatthews commented on #486
It's possible that was only the first location of several issues. Let me delve deeper.

[2021-09-16 15:40] devinamatthews commented on #486
That's what you get for fixing bugs in 5-minute spurts between other work :).

[2021-09-16 15:41] akesandgren commented on #486
Know the problem well...

[2021-09-16 16:01] devinamatthews commented on #486
OK, I think I really fixed it this time.

[2021-09-16 17:23] akesandgren commented on #486
Yes, with those two commits on top of 0.8.1 the problem is finally gone.

Thanks, awaiting 0.8.2 eagerly...

[2021-09-18 21:22] Diazonium commented on #469
*GEMV is often found as one of the bottlenecks of pivoting/rank-revealing QR/SVD algorithms.
As such, it might be the most important primitive L2 operation to optimize/parallelize.

[2021-09-24 13:23] bartoldeman opened #548 "Performance testing on AMD7502 (zen2)"
Hi,

FYI, I was curious how BLIS fares now against slightly newer versions of MKL/OpenBLAS and also AMD's fork.

## Zen2

### Zen2 experiment details

* Location: https://docs.computecanada.ca/wiki/B%C3%A9luga/en
* Processor model: AMD Epyc 7502 (Zen2 "Rome")
* Core topology: two sockets, 4 Core Complex Dies (CCDs) per socket, 2 Core Complexes (CCX) per CCD, 4 cores per CCX, 64 cores total
* SMT s

[2021-09-24 14:38] jdiamondGitHub commented on #539
As a quick aside, the singlest largest performance hit we've seen from pushing the boundaries of intrinsics vs assembly is that compilers will not do register blocking unless you constrain the entire function to use less variables than physical registers, which also impacts performance.  Register blocking is critical for fast matrix multiplication, and no compiler will do this because compilers do

[2021-09-24 14:46] jdiamondGitHub commented on #539
TBF, we didn't study the use of intrinsics on ARM or armclang, but these issues seem pretty fundamental to how all compilers work.  If C wanted to be a truly fast language, they'd need to add a keyword like "force_register" and provide something like block volatile where code wouldn't be reordered - it'd be taken literally.

[2021-09-24 14:58] jdiamondGitHub commented on #539
One more observation that might be very important to John:  Even when we had intrinsics kernels getting similar performance to assembly language, they used an order of magnitude more power, pushing the cooling system to its limits.  The reason is that the compiler, even with intrinsics, tends to issue more instructions, and use memory I/O less efficiently (for many reasons), while a well running b

[2021-09-24 15:08] devinamatthews commented on #548
@bartoldeman thanks for collecting this data, it looks great! For level-3 BLAS operations, "vanilla" BLIS and AMD BLIS should be essentially the same, with perhaps slightly better performance of AMD BLIS for small non-GEMM operations (although I think the only one not ported back so far is GEMMT which you didn't test). It seems like there might be thermal rate-limiting issues in some of these? Esp

[2021-09-24 15:10] devinamatthews commented on #548
@fgvanzee this gives me an idea: what if we modified the test driver to also count cycles (e.g. `rdtsc` on x86) and print FLOPS/cycle in addition to GFLOPs?

[2021-09-24 17:21] jdiamondGitHub commented on #539
One approach we had some luck with on x86 was we found you could take
standard blis asm kernels and unroll them only half as much. The result
saved registers with almost no loss in performance.

On 9/9/21 12:15 PM, John C. Linford wrote:

[2021-09-24 17:43] bartoldeman commented on #548
Thanks for the feedback! Not sure what affects single-threaded `*trsm (m,n,k<1000)` and all-threaded `zherk` though from that.

I also tested on Skylake-X (Intel 6148, dual socket 2x20 cores), I'll attach the pictures but will post details later.
IMHO, no big surprises here versus your tests, MKL wins overall but not everywhere, BLIS, AMD-BLIS pretty much the same everywhere, the differences look

[2021-09-24 19:53] devinamatthews commented on #548
Yeah our SKX performance is not stellar. I wrote that kernel so it's totally my fault! :smile:

[2021-09-24 20:10] tlrmchlsmth commented on #548
`rdtsc` is actually a measurement of time, not clock cycles! (it returns the number of nominal clock cycles elapsed, regardless of tubo boost, throttling &c)

[2021-09-24 20:12] devinamatthews commented on #548
That is an insane design decision. Isn't there another easy instruction to read the actual number of cycles elapsed? It would be a pain to have to hook into PAPI or something.

[2021-09-24 20:19] devinamatthews commented on #548
Looks like you have to use the PMU, so PAPI or similar is the only portable way. Too bad.

[2021-09-24 20:31] rvdg commented on #548
Great project for an undergrad?

[2021-09-24 20:41] tlrmchlsmth commented on #548
Sorry for being the bearer of bad news. I don't know a better way.

[2021-09-28 21:14] devinamatthews opened #550 "Force stack alignment for AVX kernels"
The perfect storm happens:

1. On macOS
2. With gcc (in my case 11.2)
3. With debugging enabled (`CFLAGS="-g -O0"`)
4. Using the `haswell` configuration

What occurs in my case is that `bli_saxpyv_zen_int10` is compiled with flags for AVX, and GCC makes the assumption that the incoming stack pointer is 32-byte aligned. Then, because of the debug flags, horrible code is emitted which spills vector

[2021-09-28 21:17] devinamatthews commented on #550
Linux seems unaffected. Windows is also unaffected according to the internet.

[2021-09-29 14:40] devinamatthews commented on #550
I'll leave this open as a warning to others.

[2021-10-03 14:19] chuckyschluz commented on #31
I have been looking for an open source implementation of this myself. Intel MKL has two routines to compute A * B * A^T, where A is a general matrix, and B is Hermitian (NOT necessarily positive definite). `sypr` takes sparse A and B, whereas `syprd` takes sparse A and dense B. They work very well -- but I have no clue what's going on under the hood.

https://software.intel.com/content/www/us/en/d

[2021-10-04 20:46] devinamatthews commented on #539
I'm closing this because the specific problem is solved by #554. In the future, I prefer the "Solution 3" of @xrq-phys.

[2021-10-04 20:46] #539 closed

[2021-10-05 12:14] egaudry opened #555 "Up-to-date benchmarks"
Hi, I've been looking at the project and the benchmarks published with great interest.

Considering that OpenBLAS and MKL continues to evolve, I'm wondering if another set of benchmarks using the last versions has already been performed (for instance, MKL is now at version 2021.4, with different implementations).

Another point : there are different hacks that can be used to get a better a behavio

[2021-10-05 14:39] egaudry commented on #555
Thanks for your feedback Devin.
I understand the decision made regarding benchmark contents.

I believe it would be interesting to bench again (or report what was not already published) recent x86_64 architectures (broadwell, skylake, zen2, and zen 3) against current Blis, MKL 2021.4 (https://software.intel.com/content/www/us/en/develop/articles/oneapi-math-kernel-library-release-notes.html) and O

[2021-10-05 17:09] devinamatthews commented on #535
I believe this is fixed nowl

[2021-10-05 17:09] #535 closed

[2021-10-05 17:23] devinamatthews opened #556 "Improved CI testing for kernels"
There are some important facets of the various kernels which are not currently tested:

- [ ] The case of `beta == 0` in gemm ukrs. We should pre-populate C with NaNs to make sure it gets overwritten.
- [ ] gemmsup kernels. I don't know how to best test these, but we should make sure that we get complete code coverage (all transa/b cases plus different sizes?). This should also include `beta == 0`

[2021-10-07 17:56] devinamatthews opened #557 "All dcomplex 1m operations fail for mixed row/col dgemm ukrs"
When the sgemm microkernel is row-major and the dgemm microkernel is column-major or vice versa, all dcomplex 1m operations fail. I guess the row/column preference is being read from the wrong precision?

The problem is reproduced in [this branch](https://github.com/flame/blis/tree/1m_row_col_problem) for `haswell`.

[2021-10-07 19:03] fgvanzee commented on #557
Le sigh. I'll investigate.

[2021-10-07 19:21] fgvanzee opened #558 "Native execution fails when only real-domain haswell kernels are registered"
Registering `haswell` kernels in the `haswell` subconfig as follows results in failures for native execution of level-3 operations on complex datatypes:
[code]
Notice that these are the default row-preferential `sgemm` and `dgemm` ukernels. This seems to be the only change needed to trigger the failures of native execution.

Abbreviated testsuite output:
[code]

I stumbled upon this issue when pre

[2021-10-07 19:31] #558 closed

[2021-10-11 11:05] jeffhammond commented on #495
not hard to write, but if you want the dumb C code to detect Apple M1, here it is:
[code]

[2021-10-13 20:18] #557 closed, assigned to fgvanzee

[2021-10-22 17:06] romanis opened #564 "Very poor performance of cblas_dgemm_batch with BLIS"
Hi, I have some exotic, but really simple linear algebra package that performs the so-called Face splitting product of two matrices and a vector.
Tha matrices A and B have the same number of rows, but potentially different number of columns (n1 and n2), the vector v has n1*n2 elements.
The resulting product has the same number of rows as the two matrices. Element `i` of the resulting product equal

[2021-10-28 11:11] zerothi opened #569 "auto not detecting correct architecture for ryzen 5"
I have this:
[code]

I got this:
[code]
if you need anything, please let me know!

[2021-10-31 10:17] Realtyxxx opened #572 "Want to know how to find which microkernel does the gemm use"
I would want to know how does the gemm function use the gemm's kernel which are in the directory kernel?
specific , I'm using zen architecture and armv8 without sve

[2021-11-03 19:23] ArcadioN09 opened #574 "11gemm_md.c example: libblis: malloc() returned NULL; heap memory is likely exhausted."
I got `libblis: malloc() returned NULL; heap memory is likely exhausted.` when running the `11gemm_md.c` example under the `blis/examples/oapi` folder.

Mixed datatype support is enabled by default but just to be sure, I explicitly enable at configure as well:

[code]

After running `make check`, I got:

[code]

I build the examples with: `make BLIS_INSTALL_PATH=/usr/local`, all examples built suc

[2021-11-03 20:41] ArcadioN09 commented on #574
Add core dump backtrace:

[code]

[2021-11-03 21:02] devinamatthews commented on #574
Can you put a `printf` in `bli_fmalloc_noalign` and see how much it is trying to allocate? Would be good to know if this is a reasonable number of not.

[2021-11-03 21:15] ArcadioN09 commented on #574
modified `bli_fmalloc_noalign`:

[code]

Output with memory trace enable:

[code]

[2021-11-03 21:34] devinamatthews commented on #574
@fgvanzee looks like maybe `n_threads` is -1 in `bli_apool_checkout_array`, and since it is stored as unsigned it passes the "new size <= old size" check.

[2021-11-03 22:04] ArcadioN09 commented on #574
I found out that this error occurs when `BLIS_NUM_THREADS` is not set, the error goes away when `BLIS_NUM_THREADS` is set to greater than or equal to 1.

From the [Multithreading doc](https://github.com/flame/blis/blob/master/docs/Multithreading.md#environment-variables-the-automatic-way), it said:

"If neither variable is set, the default number of threads is 1", this is well understood. However,

[2021-11-03 22:07] devinamatthews commented on #574
It should, and that info is a good hint for tracking down why it isn't.

[2021-11-03 22:25] fgvanzee commented on #574
I was able to reproduce this behavior and I'm currently tracking down where the `num_threads` field of the `rntm_t` strays from its expected value of 1. Just now I inserted some new `printf()`s and the problem went away. Removed the `printf()`s and the problem came back. :confused:

[2021-11-03 22:42] fgvanzee commented on #574
It seems that the compiled code isn't actually calling `bli_rntm_set_ways_for_op()` from within `bli_gemm_front()` like it should be (unless I insert a `printf()` nearby).

1. Insert `printf()` at the very top of `bli_rntm_set_ways_for_op()`.

2. The following (default code) causes the above `printf()` output to *not* appear.
[code]

3. The following modification causes the above `printf()` to app

[2021-11-03 22:55] fgvanzee commented on #574
Oh dear, *this* seems to be a problem (from `bli_gemm_front.c`):
[code]
The body of the `if` conditional seems to have gotten lost, because the call to `bli_rntm_set_ways_for_op()` is absolutely not the `ccr`/`crc` optimization referred to in the comment.

[2021-11-03 23:19] fgvanzee commented on #574
@ArcadioN09 I've applied a commit, cfa3db3. Hopefully [Travis](https://app.travis-ci.com/github/flame/blis/builds/241148682) blesses it shortly.

(You won't see the commit here in the timeline because I forgot to mention the issue number in the commit log.)

Thanks for your feedback! I added you to the `CREDITS` file. :slightly_smiling_face:

[2021-11-03 23:30] fgvanzee commented on #574
Tests have passed. Closing now.

[2021-11-03 23:30] #574 closed

[2021-11-03 23:33] ArcadioN09 commented on #574
@fgvanzee Thank you for the prompt fix.
The orphaned if-statement was indeed the problem. Seems like Travis has blessed it and I can confirm that the issue has been fixed on my end too!

@devinamatthews Thank you for your help!

[2021-11-05 09:12] dzambare commented on #569
Can you please share output of one of the following command on this system?

dmidecode -t processor
cpuid --one-cpu

[2021-11-05 09:18] zerothi commented on #569
Output of `cpuid --one-cpu`:
[code]

[2021-11-05 09:28] dzambare commented on #569
Thanks, I will check based on this information and get back.

[2021-11-08 08:51] dzambare commented on #569
The support for zen3 architecture is being added as part of exiting pull request #561.

Thanks for reporting the issue!

[2021-11-08 08:55] dzambare commented on #569
You may also consider checking out https://github.com/amd/blis.
PR #561 is basically backporting the changes from there in this repo.

[2021-11-08 09:02] zerothi commented on #569
Ok, thanks. Hope it gets merged soon :)

[2021-11-10 02:34] zhuangbility111 opened #575 "The reproduction of performance result on A64fx"
Hi, I have been looking at the performance result on A64fx, and trying to reproduce it. According to the result you proposed, the Fujitsu SSL2's `sgemm` performance is pretty good. Could you please tell me what `sgemm` subroutine did you use on Fujitsu SSL2?

[2021-11-13 19:20] ProgrammerWLY opened #576 "What are BLIS APIs for small/skinny matrix gemm?"

[2021-11-13 20:05] devinamatthews commented on #576
@ProgrammerWLY ATM there is no publicly-accessible interface specifically for small/skinny GEMM; users should use the normal `bli_gemm` interface which checks for small operations internally. Is there a specific use case for calling the small/skinny code directly?

[2021-11-14 02:23] hominhquan opened #577 "Review obj_t-related stack consumption"
BLIS internal layers are mostly re-cloning and re-aliasing `obj_t a, b, c` each time (`bli_l3_thread_entry, bli_gemm_int` as well as `bli_?_blk_var?`). This increases the management overhead (`obj_t` aliasing) and consumes a lot of stack, which can be problematic on memory-constrained platforms.

Can we take a look if some cloning logic can be relaxed (between multi-threading isolation (must clone

[2021-11-15 15:51] hominhquan commented on #572
@Realtyxxx Welcome to BLIS and I hope you will learn a lot from BLIS like I did.

First ,I recommend reading the [Goto's algorithm](https://www.cs.utexas.edu/users/flame/pubs/GotoTOMS_final.pdf). BLIS is built on top of these algorithms.

Then you can give a look at what micro-kernels are and how they are named in https://github.com/flame/blis/blob/master/docs/KernelsHowTo.md

BLIS also has a GEMM

[2021-11-15 15:55] rvdg commented on #572
And we have a free Massive Open Online Course that walks you through the basics of writing your own microkernel: ulaff.net, third column.

[2021-11-15 23:29] fgvanzee commented on #572
While the course might still be of value, I'm not sure @Realtyxxx's question would be answered by @rvdg's MOOC.

@Realtyxxx Is your question about the BLIS infrastructure? That is, are you trying to understand how the microkernel functions defined in the appropriate `kernels` subdirectory get called by the `gemm` operation provided by BLIS? Or maybe your question is about *where* in the code they

[2021-11-17 05:56] Realtyxxx commented on #572
Thank you for you advices I just find out which sub directory's code  the gemm operation has called, but now I have a new question, when  I called a gemm operation ,I find that my codes used the file bli_gemm_int.c several times , I don't understand why, this is the print message I get (I set printf function in several files which I think the gemm function would use) :![Untitled](https://s3-us-wes

[2021-11-17 19:20] fgvanzee commented on #572
@Realtyxxx Great question. The `bli_gemm_int()` function serves as an abstraction that allows BLIS to sort of pause and decide which loop to partition over next (that is, which algorithmic variant to call next). How it decides is determined by the makeup of the control tree that it is given.

Devin is in the middle of a refactorization that will eliminate `bli_gemm_int()` altogether. Each variant

[2021-11-17 20:17] fgvanzee commented on #577
Some of this will naturally be addressed when @devinamatthews obviates the need for the `bli_gemm_int()` function, which is on his docket. But yes, we do a lot of aliasing under the assumption that it's cheap.

We could probably get by with aliasing each matrix `obj_t` only once, near the very top of the call stack.

[2021-11-17 20:20] devinamatthews commented on #577
Not if you want to be able to use task-based parallelism... However, only aliasing two of the three matrices in each gemm variant is sufficient. This is maybe 30-40% of the current number of aliases?

[2021-11-17 20:23] fgvanzee commented on #575
Maybe @xrq-phys would be able to answer this question, since he was the one who gathered the data.

[2021-11-17 20:24] fgvanzee commented on #569
@zerothi Could you give this another try using the latest commit on the `master` branch? We recently merged PR #561, which includes Zen3 support and related improvements.

[2021-11-17 20:25] hominhquan commented on #577
+1
@devinamatthews As I can see, there is also some aliasing in `bli_?_front`, `bli_l3_thread_entry`, and `bli_?_blk_var?`.

[2021-11-17 20:28] zerothi commented on #569
Great thanks!

Here is the output (with success!)
[code]

[2021-11-17 20:29] zerothi commented on #569
@fgvanzee I'll let you close in case you wanted some follow up questions, but to me this seems resolved! :)

[2021-11-17 20:30] #569 closed

[2021-11-17 20:34] fgvanzee commented on #555
@egaudry Thanks for your interest in the performance results. Based on internal GitHub stats, they seem to be one of the things that draws many people to our project website. :slightly_smiling_face:

Unfortunately, re-running benchmarks can be somewhat labor intensive. We have to update system software, then update all of the BLAS software, including BLIS, then get the environment set up (i.e., di

[2021-11-17 21:07] fgvanzee commented on #569
Great news, @zerothi. Thanks for that update.

[2021-11-18 04:19] xrq-phys commented on #575
Hi @zhuangbility111 .

I suppose you're asking about SSL2 part, not BLIS, right?

The API used here is just standard BLAS API for SSL2.

SSL2 is completely private. I can reach no internal. But according to my own observation on SC Fugaku (that machine has the most recent toolchain updates, as everyone'd expect), SSL2 had a performance update this March (toolchain version `1.30`, FCC version `4.4`

[2021-11-18 05:14] zhuangbility111 commented on #575
Hi @xrq-phys  Thanks for your reply!

Which version of API do you use? I have read the Fugaku SSL2's documentation. And I found that there are two version `gemm` in SSL2(`toolchain version 1.33`), Fortran version and cblas version. After testing them(under the same frequency 2.0GHz) I found that there are some difference on performance between Fortran version and cblas version. So I'm just wonderi

[2021-11-18 05:18] xrq-phys commented on #575
I see.
The test uses Fortran BLAS API.

Did you observe cblas to be better?

[2021-11-18 05:26] zhuangbility111 commented on #575
Actually the performance depends on the specific case. In some case cblas version is better. But I think the fortran version perform better among the most cases.

I found that the fortran version doesn't support multi-cores? I used `export OMP_NUM_THREADS` to adjust the number of threads,  it didn't work... How do you achieve this with fortran version?

[2021-11-18 05:30] xrq-phys commented on #575
cf. https://github.com/flame/blis/blob/master/docs/Performance.md#a64fx-experiment-details

There is an env called `NPARALLEL` controlling `-SSL2BLAMP` threading behavior. `OMP_NUMBER_THREADS` should also work. I'm not sure about the specifics.

It's quite surprising that SSL2's cblas isn't a simple wrapper over Fortran one or vice versa.

[2021-11-18 06:35] zhuangbility111 commented on #575
Thanks! I have tried it again. The API of `sgemm` I used is `VMGGM`. But it didn't work.. Here is my compile options:

`frt -Kfast,openmp -SSL2BLAMP -KSVE main.f`

I guess they are developed by different teams. Maybe the cblas version is developed base on another open source library.

[2021-11-18 07:07] xrq-phys commented on #575
I'm afraid I've no idea what `VMGGM` is.

Btw, discussion happening here seems to be SSL2-specific thus out of BLIS' reach. @zhuangbility111 I believe we'd better discuss this elsewhere. You can use the institution email posted on my profile to reach me, and close this PR if OK. Thanks.

[2021-11-18 07:21] Realtyxxx commented on #572
OKkk ,but why does the `bli_gemm_int.c` call itself ?

[2021-11-18 07:22] Realtyxxx commented on #572
OKkk ,but why does the `bli_gemm_int.c` call itself ? and I don't know about the control tree, could you please tell me where can I get more message about that ?😁

[2021-11-18 07:43] egaudry commented on #555
@fgvanzee
fully understood, keep up the good work :).

[2021-11-18 08:10] zhuangbility111 commented on #575
Thank you very much!

[2021-11-18 08:10] #575 closed

[2021-11-18 08:20] BhaskarNallani commented on #572
You can check bli_gemm_cntl_create() function in file "frame\3\gemm\bli_gemm_cntl.c" which is called from bli_l3_cntl_create_if() as part of bli_l3_thread_decorator() where actual openmp/pthread penalization happens.

[2021-11-19 07:08] Realtyxxx commented on #572
cool ,this helps a lot

[2021-11-20 21:21] vrossum opened #581 "integration with update-alternatives"
Hi
I would like to use BLIS in combination with numpy.
Can it be used as drop-in replacement for libblas?

Ubuntu has the update-alternative system to specify alternatives libraries, but it looks tricky to me.
If so, it would be great if someone could add update-alternative instructions to the installation guide.

[2021-11-30 12:25] egaudry commented on #555
I'm just adding a comment regarding the last release notes for MKL (oneAPI 2022.1):
https://www.intel.com/content/www/us/en/developer/articles/system-requirements/oneapi-math-kernel-library-system-requirements.html

They state they support Intel chips only, with no mention (at all) for others.
I might be wrong (please let me know) but I believe it is the first time Intel uses an explicit list such

[2021-11-30 20:27] MariusCausemann opened #582 "Warning: The value EMIN may be incorrect"
Dear BLIS-developers,
I've installed multithreaded BLIS through PETSc and get a warning when running my code:

[code]

EMIN is not consistently -1, but varies (e.g. 0, 1, -354, ...).
Is this a serious problem and what could I do to solve the issue?
Thanks!

[2021-12-08 17:43] devinamatthews opened #584 "Configure should stop when requested compiler not found"
Currently, if you specify a particular compiler when configuring (using `CC=...`), `configure` will blithely go on and find some other compiler to use. For example, on my Mac I have `gcc-11` installed so that I can use OpenMP. If I forget and specify `CC=gcc-10`, the following happens:

[code]

`configure` now finds `gcc` which is actually Apple clang which doesn't understand `-fopenmp`. `configur

[2021-12-20 11:05] egaudry opened #588 "[aarch64] possible issue with atomic barrier and generic implementation (lack of good atomic support on generic kernel ?)"
I've been observing a strange behavior when launching some job on an Ampere Altra processor (ARM neoverse-n1 based design) with multiple threads. The symptoms remain the same with both pthread and openmp threading : when launching the computation with multiple threads, the computation is likely to deadlock when a dgemm_ request is made.

By looking at the stracktrace, when the dgemm_ call is made,

[2021-12-20 11:52] jeffhammond commented on #588
Can you write a stand-alone test for  bli_thrcomm_barrier_atomic?

[2021-12-20 12:52] egaudry commented on #588
Hi Jeff, I know I should, however I will have a hard-time doing it now.
Are you asking so as you believe that the issue is likewise on the caller side ?

[2021-12-20 15:05] egaudry commented on #588
It was indeed linked to the choice made when building arm64 means corea57 core a53 firestorm etc. + generic.
I believe the "generic" implementation was chosen at runtime (core is neoverse, might be not detected "properly"), without proper atomics support (via -moutline-atomics for instance).
When directly building the thunderx2 flavor of blis, I don't have this issue anymore.

[2021-12-21 21:07] jeffhammond commented on #588
I think this issue should remain open until the build system handles it properly.

Also, A friend with expertise told me:

[2021-12-21 21:12] egaudry commented on #588
Jeff, when building the different kernels for arm64 (meaning all arch with dynamic dispatch), the build system doesn't use the proper flag for each of the objects built. If you had -mpcu=neoverse-n1 as a flag for all, then there is a conflict as specific cpu target are set for each of the kernel.

[2021-12-21 22:38] h-vetinari commented on #526
As of the most recent run, this hang does not appear anymore. Not sure what caused this, but in the meantime this can be closed.

There is one "relatively" bad tolerance violation on linux + x64 + non-avx512 - would you like to have an issue for that @devinamatthews?

[2021-12-21 22:38] #526 closed

[2021-12-21 23:17] devinamatthews commented on #526
@h-vetinari if it can be reduced to a small, reproducible test case (BLAS only) then yes. Otherwise is will be impossible to isolate the cause.

[2021-12-22 00:24] h-vetinari commented on #526
Well, we've covered above that it would be possible in principle to run python in Intel SDE. And since this is only one test, it might be doable.

In any case, I think I'll open the issue, and then we can see if the python-version can be distilled down further to the underlying blas calls.

[2021-12-22 02:49] doomlab opened #589 "mac M1 chip for older versions"
Hi guys,

I am trying to install spacy 2.2.3 because I use it to teach classes. I upgraded to a new M1 Max Mac, which is supported for newer versions of blis, but I am trying to install 0.4.0 due to spacy requirements. Any suggestions?

[code]

[2021-12-22 03:06] devinamatthews commented on #589
Perhaps you can prepare a patch from 0.4.0 to HEAD and then apply it during the build process?

[2021-12-22 03:09] doomlab commented on #589
Hi @devinamatthews - do you have an example of what you mean? I am afraid that's a bit out of my wheelhouse.

[2021-12-22 03:12] devinamatthews commented on #589
No, I don't. I don't really know how the pip build process worka internally so that is just a suggestion from left field. You might have better luck [here](https://github.com/explosion/cython-blis) since we don't maintain the Python-based distribution.

[2021-12-22 03:15] doomlab commented on #589
Ah, I see - thanks!

[2021-12-22 03:16] #589 closed

[2021-12-22 15:17] jeffhammond commented on #526
SDE only emulates instructions that fault so it should not be too bad. But it's probably better to run in GDB and backtrack the fault first.

[2021-12-23 18:23] ivan23kor opened #591 "BLIS gemm microkernel segfaults if buffers are not 32 byte-aligned"
Hi, I am trying to call native sgemm microkernels and observe segfault in the microkernels.
I am compiling [this code](https://gist.github.com/ivan23kor/b3db676728bbc9fe1188c964ba57db31) with `gcc blis_gemm_ukr_align_error.c -lblis -lm -lpthread`.
The issue only happens if the buffers are not aligned to 32 bytes.

Affected architectures are at least Haswell, Zen2 and skx.
It does not happen on the

[2021-12-23 19:02] devinamatthews commented on #591
@ivan23kor the microkernels expect a very specific layout for the packed A and B buffers, which can include alignment restrictions. The kernels typically used aligned load instructions e.g. `vmovapd` so using an improperly aligned buffer can indeed lead to a segfault.

[2021-12-23 20:31] ivan23kor commented on #591
I see.

Then what about this line from the [KernelsHowTo](https://github.com/flame/blis/blob/master/docs/KernelsHowTo.md#implementation-notes-for-gemm):

[2021-12-23 20:52] devinamatthews commented on #591
`BLIS_POOL_ADDR_ALIGN_SIZE` is definitely a multiple of `PACKNR` (`PACKMR` is irrelevant in this case) since they're both powers of two. @fgvanzee any other comments?

[2021-12-23 21:01] devinamatthews commented on #591
Also note that `BLIS_POOL_ADDR_ALIGN_SIZE` is by default 4kB (i.e. page) alignment.

[2021-12-23 23:14] fgvanzee commented on #591
It seems that the KernelsHowTo (at the very least) needs to be updated to clean up that second sentence, which is probably outdated and definitely misleading.

But yes, Devin is right: BLIS defaults to using a `BLIS_POOL_ADDR_ALIGN_SIZE` of 4096 bytes. Until I can untangle what the *actual* constraints are, @ivan23kor, it would be best to continue to align the start of your pack buffers to 4096 by

[2022-01-01 16:21] maparent opened #594 "Compilation errors with clang 13 on MacOS with ARM"
Compiling on clang 13.0.0 with latest Xcode (13.2.1) on Monterey 13.1. On HEAD  (08174a2f6ebbd8ed5aa2bc4edc45da80962f06bb)
Configured with `configure firestorm`. I get the following error:
[code]
Solvable with the following patch:
[code]

[2022-01-02 20:59] #594 closed

[2022-01-02 21:01] devinamatthews commented on #594
@maparent thanks for the report, it should be fixed now. If this is your first bug report, @fgvanzee will want to ask if you want your name included in the `CREDITS` file.

[2022-01-03 02:57] maparent commented on #594
It's a small contribution, I can live without credits. Thank you for the fix!

[2022-01-03 23:13] fgvanzee commented on #594
Thanks, @maparent. We credit all contributions, even small ones like this. I would normally just include you in `CREDITS` without asking. :slightly_smiling_face:

But if you still object, I can leave you out.

[2022-01-03 23:40] maparent commented on #594
Then I will accept and thank you for honouring even small contributions.

[2022-01-04 21:11] fgvanzee commented on #594
Done! :slightly_smiling_face:

[2022-01-06 04:24] chengguosun opened #595 "error: ‘asm’ operand has impossible constraints"
hi,
i compiled the latest blis with gcc7.2, but there was an error as shown below:

i found this error caused by "__attribute__((aligned(BLIS_STACK_BUF_ALIGN_SIZE)))" in bli_edge_case_macro_defs.h, if i delete this line, compilation passed.

if i compile blis with gcc8.5, it passes with no errors. so, I think this may be related to compiler optimization.

[2022-01-10 01:27] chengguosun commented on #595
another problem:
there is "GEMM_UKR_SETUP_CT( s, 16, 6, true );" in bli_gemm_haswell_asm_d8x6.c, Shouldn't it be "GEMM_UKR_SETUP_CT( s, 16, 6, false );"?

[2022-01-10 16:07] devinamatthews commented on #595
Yes, good catch. This kernel isn't actually used ATM so that slipped through.

[2022-01-10 16:08] devinamatthews commented on #595
Hmmm... the alignment restriction isn't technically necessary for Haswell. I could add another macro for an unaligned buffer although it's a bit hackish.

[2022-01-10 16:17] devinamatthews commented on #595
@chengguosun please test if the linked PR fixes the problem.

[2022-01-11 00:18] chengguosun commented on #595
@devinamatthews yes, the test passed without any problems, thanks.

[2022-01-11 00:18] #595 closed

[2022-01-11 00:49] devinamatthews commented on #591
Closing since this is the expected behavior.

[2022-01-11 00:49] #591 closed

[2022-01-11 00:51] devinamatthews commented on #582
I don't have a clue what could be causing this. BLIS has no variable called EMIN, how is this calculated/stored/used?

[2022-01-11 00:56] devinamatthews commented on #588
@jeffhammond, @egaudry is correct, when compiling for `arm64`, one is implicitly saying the library should run on any arm64 hardware, some of which do not have hardware atomics I guess, and certainly not all hardware will work with Neoverse-specific flags. Am I correct that the correct alternative is to add `-moutline-atomics` for general arm64 code?

[2022-01-11 00:59] devinamatthews commented on #588
@egaudry what compiler is this? gcc docs say `-moutline-atomics` is the default.

[2022-01-11 08:25] egaudry commented on #588
@devinamatthews I'm using gcc-10.3.0 (built from sources). I'm not sure about `-moutline-atomics` being the default behavior when reading https://gcc.gnu.org/gcc-10/changes.html.

[2022-01-11 13:49] SAbdulah opened #598 "Error when compiling BLIS with A64FX"
I am using Fujitsu C/C++ Compiler 4.6.1  simulating gcc version 6.1 to compile `BLIS` on an A64FX chip. Through cross-compile, this is the command I am using:

`cc=fccpx CC=FCCpx ./configure  --prefix=$PWD/blis_install a64fx`

I am getting some warning and some errors as follow,

"kernels/armsve/1m/bli_dpackm_armsve512_asm_16xk.c", line 69: error: a value of type "unsigned long" cannot be assigned

[2022-01-11 14:22] devinamatthews commented on #598
Please use `CC=fccpx CXX=FCCpx`.

[2022-01-11 15:00] #598 closed

[2022-01-11 21:18] #572 closed

[2022-01-11 21:22] #576 closed

[2022-01-11 21:37] devinamatthews commented on #582
@MariusCausemann Aha, now my memory is triggered. I rewrote this code to use the C builtin constants but maybe somehow that is problematic. There is a line `#ifdef BLIS_ENABLE_LEGACY_LAMCH` at the beggining of `frame/base/noopt/bli_slamch.c` and `frame/base/noopt/bli_dlamch.c`. Please change this to `#if 1`, recompile, and test again.

[2022-01-12 10:10] MariusCausemann commented on #582
Hi @devinamatthews!
I'm only trying to use BLIS through PETSc (never compiled it outside the PETSc installation process) and don't have the time to investigate this in-depth at the moment, sorry. I could provide more information (e.g the docker file I use for installation) if that would be helpful?

[2022-01-13 10:21] egaudry commented on #588
I am now wondering if there is something else than this too.
I've just rebuild the master branch using GCC-11.2 and the thunderx2 variant and I'm encountering the same issue (bli_thrcomm_barrier_atomic issue).

[2022-01-13 12:06] jeffhammond commented on #588
[ARMv8](https://en.wikichip.org/wiki/arm/armv8) introduced 64-bit.  ARMv8-A is the variant relevant to us, since I suspect realtime or microcontroller implementations break other aspects of BLIS (e.g. C RTL, especially heap allocation).

ARMv8-A has atomics (https://developer.arm.com/documentation/den0024/a/Memory-Ordering/Barriers/One-way-barriers) just not the better LSE ones added in [ARMv8.1](

[2022-01-13 12:10] egaudry commented on #588
Thanks Jeff.
I've been rebuilding blas master (thunderx2) with gcc-11 on debian 11 with kernel 5.10 and I'm still seeing the issue in the atomic barrier mentioned when creating this issue.
Any pointer on what to check/how debug this ?

[2022-01-13 12:11] jeffhammond commented on #588
In any case, the code uses the GCC `__atomic` intrinsics, which usually map to hardware, but could map to some awful emulated implementation if there existed a CPU that didn't have the necessary hardware.  For example, on PowerPC, an operation like `__atomic_fetch_xor` will not compile to a single instruction but a loop around [LLSC](https://en.wikipedia.org/wiki/Load-link/store-conditional).

[2022-01-13 12:11] jeffhammond commented on #588
I think I have a TX2 somewhere.  Let me see what I can do.

[2022-01-13 12:17] egaudry commented on #588
Just to clarify @jeffhammond, I'm not using a thunderx2 processor, but a neoverse-n1 based one. I'm using the thunderx2 flavor of Blis as it is the most recent one available matching this core. I'm also relying on the build system available in Blis and I covered the basics using various building options (for atomics).

[2022-01-13 12:26] jeffhammond commented on #588
Just out of curiosity, does the BLIS build that comes with the OS package manager work?

[2022-01-13 12:43] egaudry commented on #588
not, it doesn't, at least with my current setup:

[code]

[2022-01-13 12:52] jeffhammond commented on #588
So far, I see no failures.
[code]

What test are you running that fails?

[2022-01-13 12:55] egaudry commented on #588
I cannot replicate the issue using the embedded test suite.
I can replicate it using a big HPC numerical simulation software test-suite.

FWIW, I tested with openblas-0.3.13 (using the deb package) and the issue is gone, at least I don't see it anymore.

[2022-01-13 13:04] jeffhammond commented on #588
I can't do much without a reproducer.  If it's something you can share privately, send me an email.

[2022-01-13 13:06] jeffhammond commented on #588
You might try with this, which will use the sequentially consistent atomics, which are likely slower, but might reveal some defect in the implementation.
[code]

[2022-01-13 13:31] egaudry commented on #588
Doesn't seem to help, sorry.
Is there a (hidden) way to avoid relying on gnu atomic ?

[2022-01-13 13:51] jeffhammond commented on #588
If you use Pthreads and set `BLIS_USE_PTHREAD_BARRIER` then that should use the slow and dumb Pthread barrier, which goes into the kernel.  That should not have a race in it.

[2022-01-13 13:58] egaudry commented on #588
I tried GCC-10.2 and GCC-11.2 (custom build or OS packaged versions).

I've just tried building master with clang-11.0.1 but lamely failed.
[code]

[2022-01-13 15:13] jeffhammond commented on #588
ok.  the other think i might try is to set `BLIS_NUM_STATIC_COMMS` to zero, so that all thrcomm_t are allocated thread-safely on the heap, instead of with a `static`.  i don't know your usage but if you have multiple threads entering BLIS and multiple threads hit a barrier at the same time, then this might be an issue.

[2022-01-13 15:19] egaudry commented on #588
this didn't work either.
i'm sorry i'm not able to share a reproducer jeff.

[2022-01-13 15:28] jeffhammond commented on #588
is the reproducer proprietary to some company that might have sufficient legal agreements with my employer to move forward on this?

[2022-01-13 15:28] jeffhammond commented on #588
or even Ampere, in which case, i can connect you to people there.

[2022-01-13 15:29] egaudry commented on #588
proprietary, and no NDA signed with your current employer.
you can connect me with Ampere, sure!

[2022-01-13 15:40] egaudry commented on #588
when building with clang-11.0.1 using the missing ifdef from your PR, an openmp build of BLIS (without any other change) does work as expected.

[2022-01-17 11:26] jeffhammond commented on #588
I have determined the issue here is the lack of proper backoff in the spin-wait loop of the atomic barrier.

[code]

[2022-01-17 12:32] jeffhammond opened #601 "BLIS tree barrier is broken"
I have an 80-core AArch64 CPU (Ampere Altra) and think it prudent to use the more scalable tree barrier designed for Xeon Phi on it.

Sadly, this code appears to have rotted.

[code]

You can reproduce by making this change:
[code]

[2022-01-17 14:46] drew-parsons opened #602 "triggers segfault in scipy arpack test (test_hermitian_modes) on i386"
This issue has been reported in the Debian build of blis and scipy, https://bugs.debian.org/cgi-bin/bugreport.cgi?bug=1003877

Debian runs CI testing of packages. The test for blis and scipy are logged at https://ci.debian.net/packages/b/blis/ and https://ci.debian.net/packages/s/scipy/

Debian has set up BLAS packages so that client applications link against libblas.so.3, which can be provided by

[2022-01-17 15:22] devinamatthews commented on #588
Is that the core issue or only an exacerbating factor? BTW I started to address this in #82 but never finished it up.

[2022-01-17 15:23] devinamatthews commented on #588
Also, is `-moutline-atomics` a red herring or does that also fix it?

[2022-01-17 15:25] devinamatthews commented on #588
Lastly, from the original post is seemed like spawning way too many threads was also part of or all of the problem. Is that the case?

[2022-01-17 15:49] egaudry commented on #588
@devinamatthews I believe there would be value in offering, optionally, the yielding feature you were working on.

I might be wrong, but current openblas (which didn't show the stale behavior) uses
[code]

Merging #82 plus some more work would allow for debugging experiments I guess.

[2022-01-17 15:49] egaudry commented on #588
This is my limited understanding indeed.

[2022-01-17 17:52] drew-parsons commented on #602
Here is an indicative test case.  Compiles with `gfortran test_blis.f90 -larpack -o test_blis`

test_blis.f90
[code]

I don't use fortran routinely so there may be some implementation error here. It's adapted from python output, printing out the arguments used when calling cneupd from python.  I'll provide the python test code used to generate it in the next comment.

This sample code does segfaul

[2022-01-17 17:58] drew-parsons commented on #602
I got the parameters for the test case by hacking scipy's arpack.py and test_arpack.py,
running as `python3 test_arpack_min.py`

test_arpack_min.py
[code]

and printing parameters in
arpack_debug.py is a local copy of arpack.py edited to print parameters:
[code]

[2022-01-17 18:00] drew-parsons commented on #602
The parameters printed by arpack_debug.py were (in python format)

[test_arpack_min_i386.txt](https://github.com/flame/blis/files/7883904/test_arpack_min_i386.txt)

[2022-01-17 18:32] devinamatthews commented on #602
There's definitely a mismatch in the Fortran arguments. Here is the docs if you want to take a stab a fixing it (I can't take a look until at least Friday):

[code]

[2022-01-19 12:46] drew-parsons commented on #602
Yeah something odd going on there. The python call provides 17 arguments, but the fortran function expects 24.  I expect it's something particular about the way python calls fortran functions, and isn't actually an error (in scipy), otherwise it would fail in all cases, not just for blis.

[2022-01-19 16:57] drew-parsons commented on #602
This version adds the missing arguments, following the definitions in arpack.pyf.src.
[test_blis.f90.txt](https://github.com/flame/blis/files/7898958/test_blis.f90.txt)

It does build successfully but it doesn't reproduce the segfault (the test runs without errors).  Not sure if that means the error arises via f2py processing so isn't seen in the direct fortran test, or if I missed some detail set

[2022-01-19 16:59] devinamatthews commented on #602
This is always the problem with Python wrappers... how feasible is it to try and get a backtrace of the segfault when called from Python?

[2022-01-19 17:31] drew-parsons commented on #602
Eh, it principle it can be done.  python can be run in gdb. It does come up with a backtrace, but in this case the backtrace is empty.
[code]

My guess is that means it's happening inside scipy's extension module for arpack (/usr/lib/python3/dist-packages/scipy/sparse/linalg/eigen/arpack/_arpack.cpython-39-i386-linux-gnu.so) .  Usually debug symbols can be made available (I did install the python3

[2022-01-25 16:40] egaudry commented on #588
After spending too much time trying to understand why blis would stall in my scenarii, I finally revisited our own sources and realized that we were actually oversubscribing. This has gone unnoticed on our x86_64 build linked with another BLAS implementation, which - under the hood - tries to overcome the following usual scenario:

[code]
I'm to blame, sorry about that @devinamatthews @jeffhammond

[2022-01-25 16:42] jeffhammond commented on #588
I learned a lot here and there is a real problem in barrier that should be fixed. We need a sched_yield() there to improve QOS when threads collide.

I can also try to mitigate the oversubscription issue the way MKL does. That might take longer.

[2022-01-25 21:27] devinamatthews commented on #588
@jeffhammond I'm not 100% convinced `sched_yield` is always the best solution but yes we need SOMETHING there. Can you open a separate issue on this.

Detection of OpenMP parallel regions would also be great. Another issue please?

[2022-01-25 21:27] #588 closed

[2022-01-25 21:28] devinamatthews commented on #601
@jeffhammond I'm not sure what you mean by this? I gather there is still a bug? but I'm not sure what

[2022-01-25 21:29] devinamatthews commented on #584
@fgvanzee can you add this? Seems like it should be pretty easy. I don't think it is ever the user's intent to use some other compiler when `CC` is explicitly defined.

[2022-01-25 21:30] devinamatthews commented on #582
@MariusCausemann if you provide the docker file maybe just maybe I can suggest an addition to patch this change in.

[2022-01-25 22:01] exerf commented on #584
@devinamatthews Sure, I'll work on it.

[2022-01-25 22:02] fgvanzee commented on #584
@devinamatthews Sure, I'll work on it.

[2022-01-25 23:45] fgvanzee commented on #584
Question: do we just want to hack this in for `CC` or adopt some consistent policy for *all* of the environment variables we support?
[code]

[2022-01-25 23:50] devinamatthews commented on #584
For CC/CXX/FC yes, not sure how others are relevant.
On Jan 25, 2022, at 5:45 PM, "Field G. Van Zee" ***@***.******@***.***>> wrote:

[EXTERNAL SENDER]

Question: do we just want to hack this in for CC or adopt some consistent policy for all of the environment variables we support?

    echo " Environment Variables:"
    echo " "
    echo "   CC            Specifies the C compiler to use. "
    ec

[2022-01-26 18:14] devinamatthews commented on #584
Yeah, those make sense.

From: "Field G. Van Zee" ***@***.***>
Reply-To: flame/blis ***@***.***>
Date: Wednesday, January 26, 2022 at 11:57 AM
To: flame/blis ***@***.***>
Cc: "Matthews, Devin" ***@***.***>, Mention ***@***.***>
Subject: Re: [flame/blis] Configure should stop when requested compiler not found (Issue #584)

[EXTERNAL SENDER]

For CC/CXX/FC yes, not sure how others are relevant.

I a

[2022-01-28 10:41] egaudry opened #603 "Detection of OpenMP parallel regions"
As a user of BLIS, I would like to be warned of possible runtime conflicts linked to OpenMP parallel regions when running with multiple threads. It could be nice as well to automatically reduce the number of threads used by BLIS in such scenarios.

The key benefit would be to help identifying possible stalling issues (as in #588). It would help to compete with alternatives BLAS implementations (MK

[2022-01-28 12:24] jeffhammond commented on #603
I'll take this one.  I agree with you that it's a good feature.  I'll let Devin and Field decide if it should be on by default or not.  Will depend on the overhead.

[2022-01-28 12:25] jeffhammond commented on #601
This is a trivial bug where struct members need to be updated to track the usage, when the preprocessor switch is on.
[code]
Whether there is a preprocessor/configuration bug here is TBD.

[2022-01-28 12:31] jeffhammond opened #604 "thread barriers need backoff"
This code leads to serious problems when hardware threads are oversubscribed.  Adding `sched_yield()` reduces the problem by one or two orders of magnitude by triggering the kernel to swap threads so progress happens more quickly.

[code]

I tried no-op instructions but those do not help in the oversubscribed case, because they don't trigger a context switch.  Those backoffs are appropriate when m

[2022-01-28 18:08] BhaskarNallani opened #605 "Avoiding unwanted comm and barriers in "L3 sup" path when packing is disabled gave great performance boost"
Hi @fgvanzee, @devinamatthews

We observed huge performance improvements in "**gemmsup**" path when we **avoid** creating thread comm and barriers when there is  "No Packing" enabled in sup.

There is no need to sync and communicate for threads when there is no packing enabled in l3 api's and there is no need to to have communicator and barriers between them. We can simply avoid creating communica

[2022-01-28 21:06] fgvanzee commented on #605
Thanks for reminding me of this, Bhaskar. I'll add it to my list.

[2022-01-30 09:54] ajaypanyala opened #606 "arm64 config error"
Am trying to build BLIS with `config=arm64` and see the following error

`config/arm64/make_defs.mk:71: *** gcc or clang is required for this configuration..  Stop.`

[code]

[2022-01-30 15:29] devinamatthews commented on #606
@fgvanzee I guess we need to update the parsing to treat this as clang X.Y.Z as indicated in the "based on"?

[2022-01-30 15:37] devinamatthews commented on #604
@jeffhammond `sched_yield` is too heavyweight and not portable enough to be used all the time. I will update #82 with a general framework for config-specific behavior and then we can start filling in the actual implementation.

[2022-01-31 16:29] #606 closed

[2022-01-31 17:02] MariusCausemann commented on #582
Hi @devinamatthews , here is the Dockerfile. The blis installation is handled by PETSc, so it might be a bit tricky to get that patch in.
[docker.txt](https://github.com/flame/blis/files/7972670/docker.txt)

[2022-01-31 18:26] devinamatthews commented on #582
You'll need to add a command before installing PETSc to install BLIS from source (with patch) and then have PETSc use that. I don't know what configure options you need for PETSc but installing BLIS should go something like this:

[code]

[2022-01-31 18:28] devinamatthews commented on #604
@jeffhammond suggestions for any specific architectures?

[2022-01-31 22:23] fgvanzee commented on #606
Thanks for taking care of this.

[2022-02-07 17:13] loveshack commented on #555
I hadn't seen this issue originally.  I should have posted full results here before for SKX, in particular, despite the response when I reported on DGEMM originally.  Anyhow, there are results which are fair to OpenBLAS (apart from Graviton?) at https://git.sr.ht/~fx/blis/tree/performance/docs/Performance.md.  Some of them probably bear repeating, though.

I don't keep up with MKL, and haven't tri

[2022-02-13 17:58] gdonval opened #611 "BLAS interface broken on OSX with clang11"
I am trying to improve BLIS (0.8.1) support in conda.

# TL;DR

On OSX, all BLIS (libflame) tests pass but not BLAS tests (e.g. `On entry to CGEMV , parameter number  1 had an illegal value`). Unsetting conda-defined CFLAGS and LDFLAGS does **not** solve the problem.

# Details

## Versions

<details>
  <summary>Packages</summary>

[code]
</details>

## Script

[code]

## CFLAGS

<details>
  <summ

[2022-02-13 18:08] gdonval commented on #611
I would love that but things fail (at least on Linux) when it's not set because of the non-standard compiler binary names. If there is another thing to set instead, I'll use it.

That's `configure` and the first few lines of `make` (they look dodgy):

<details>
  <summary>Configure</summary>

[code]
</details>

[2022-02-13 18:13] devinamatthews commented on #611
Confirmed.

[2022-02-13 18:29] devinamatthews commented on #611
OK, there's a few things here:

1) The part `bash: -c: line 0: syntax error near unexpected token '&'` is a bug but shouldn't affect your build.
2) I fixed conda `CC_VENDOR` detection in another project but I can't remember if I did so here. Please send the output of `x86_64-apple-darwin13.4.0-clang --version`.
3) Speaking of `x86_64-apple-darwin13.4.0-clang`, my version of conda (miniconda) with

[2022-02-13 20:04] isuruf commented on #611
Exactly.

Yes

[2022-02-13 22:11] devinamatthews commented on #611
@gdonval yes now I remember the conda `CC_VENDOR` problem wasn't clang is was gcc. The version string used `GCC` instead of `gcc` or something. I can fix that easily.

[2022-02-13 22:55] devinamatthews commented on #611
Still looking into the shared library problem, but it looks like 1) is already fixed in HEAD, and 2) is now fixed for gcc. AFAIK there shouldn't be a problem with vendor detection for clang even in conda. Let me know if this is not the case.

[2022-02-13 23:21] gdonval commented on #611
Tomorrow, I can temporarily switch to HEAD to see if all goes well in CI (including vendor detection). If all works, do you think we could get a new point release soonish? We are already carrying over the fix to #514 from quite a while back so a 0.8.2 would be great.

No worries if it's not possible (BLIS' release workflow might be complex, I'm not familiar with it) but it would be nice to know so

[2022-02-13 23:26] devinamatthews commented on #611
Success: it looks like `-Wl,-flat_namespace` fixes things on macOS.

Yes, we will do a point release soon. @fgvanzee this should probably happen before #610 is merged since that is a big change.

[2022-02-13 23:28] #611 closed

[2022-02-13 23:30] isuruf commented on #611
@devinamatthews, homebrew and conda-forge actively discourages use of `-Wl,-flat_namespace` because it leads to other issues. I'd rather we not use that.

[2022-02-14 00:06] devinamatthews commented on #611
@isuruf any other suggestions? What kind of issues pop up? I gather that flat namespace used to be the default.

[2022-02-14 00:12] isuruf commented on #611
I don't have any suggestions except to disable the BLAS tests when only shared is enabled and adding a warning to users.

For eg: if a another library in the same process loads an incompatible C runtime or pthreads library or openmp library before blis itself is loaded, then blis will use those instead of the ones that blis was compiled for.

[2022-02-14 00:22] devinamatthews commented on #611
Yeah, doesn't sound good. I tried instead just marking `xerbla_` as a weak symbol in libblis.dylib and that seemed to also work. I've never really fully understood weak symbols so I'm not sure if this is a good solution.

[2022-02-14 00:26] isuruf commented on #611
Ah, yes. Marking `xerbla_` as a weak symbol should be good. (I don't fully understand it myself, so take that with a grain of salt)

[2022-02-14 02:14] devinamatthews commented on #611
OK, I took out `-Wl,-flat-namespace` and went with the weak symbol. I only marked it weak for macOS and tested fine on my machine so shouldn't be problematic.

[2022-02-14 15:42] fgvanzee commented on #611
Okay, I will pivot to moving towards a release, then.

[2022-02-15 21:04] fgvanzee commented on #591
@ivan23kor I've cleaned up the alignment language in `KernelsHowTo.md` in ee9ff98. Thanks again for your feedback.

[2022-02-16 02:07] ivan23kor commented on #591
@fgvanzee looks good now, thanks!

[2022-02-17 12:32] egaudry opened #612 "Integrate armsve in arm64 family : runtime detection and kernel selection"
I believe the current arm64 config option will not include the armsve kernels.
[code]

With new processors getting on the market, with SVE, it might be interesting to include the armsve optimization in the arm64 family, and to support the detection of sve at runtime.

@devinamatthews @jeffhammond

[2022-02-17 15:53] egaudry opened #613 "armsve : non-multiple of NR for one or more datatypes"
Running https://github.com/flame/blis/commit/c9700f369aa84fc00f36c4b817ffb7dab72b865d on an ARM sve-enabled processor, fails with
[code]

[2022-02-21 15:30] devinamatthews commented on #613
Can you confirm that there is not a failure using the commit's parent [ee9ff98](https://github.com/flame/blis/commit/ee9ff988c49f16696679d4c6cd3dcfcac7295be7)?

[2022-02-21 15:31] devinamatthews commented on #612
@xrq-phys @fgvanzee IIRC the previous problem with including `armsve` in `arm64` was the need to use newer compilers? I think this is fixed now with clang/gcc version detection, right?

[2022-02-21 15:54] egaudry commented on #613
I used
35195bb5cea5d99eb3eaf41e3815137d14ceb52d
9be97c150e19fa58bca30cb993a6509ae21e2025
and master (c9700f369aa84fc00f36c4b817ffb7dab72b865d) and got the same error with the 3 of them.

Could this be linked to some hard-coded SVE units size ? Sorry for the naive question.

[2022-02-21 17:37] xrq-phys commented on #612
Confirmed working. Raising PR.

[2022-02-21 20:29] devinamatthews commented on #613
@xrq-phys any idea about this?

[2022-02-22 14:40] xrq-phys commented on #613
Wield... [This line](https://github.com/flame/blis/blob/c9700f369aa84fc00f36c4b817ffb7dab72b865d/kernels/armsve/3/bli_armsve_utils.c#L81) should guarantee things' working.

[2022-02-22 15:02] xrq-phys commented on #613
I wonder whether you could try [this artifact](https://github.com/JuliaBinaryWrappers/blis_jll.jl/releases/tag/blis-v0.8.1%2B2) (the aarch64-linux one).

Perhaps it'd help eliminating the compiler's influence.

[2022-02-22 15:59] egaudry commented on #613
@xrq-phys I tried this however it seems some symbols are missing:
dsyr2k_ (https://github.com/JuliaBinaryWrappers/blis_jll.jl/releases/download/blis-v0.8.1%2B2/blis.v0.8.1.aarch64-linux-gnu.tar.gz).

If you let know how you build it, I can try on my own and activate what I need.

[2022-02-22 16:03] #612 closed

[2022-02-22 16:06] devinamatthews commented on #613
@fgvanzee is there a "verbose" mode that can be enabled at runtime to let us see what the actual values are? Failing that, @egaudry you could always add print statements to the file indicated by @xrq-phys (bli_armsve_utils.c).

[2022-02-22 16:07] xrq-phys commented on #613
Oops. I forgot there's a symbol mangling there.

On current master, in fact it should be OK to built via:
`configure armsve; make -j$NPROC`.

[2022-02-22 16:14] devinamatthews commented on #613
@xrq-phys I think @egaudry was referring to the compiler version etc. (maybe)? @egaudry while we're at it, what compiler  version are you using?

[2022-02-22 16:18] xrq-phys commented on #613
My apologies.

GCC 10.3.0 & GCC 11.

[2022-02-22 16:52] egaudry commented on #613
I built blis-master (and other older versions) using GCC-11.2 on CentOS-7.9, using the following
[code]
@fgvanzee is right that the issue happens right from the start, upon initialization.
@xrq-phys if #615 is about enabling SVE support on non A64FX processor, I will need to try for sure.

[2022-02-22 16:54] devinamatthews commented on #613
@egaudry #615 is a potential fix for this issue. Please try it and if it works I'll merge. Thanks @xrq-phys for the PR.

[2022-02-22 16:57] fgvanzee commented on #613
In the future, if you ever need to see what the blocksizes are, you could try to comment out the runtime check causing the `abort()`, recompile, and *then* run the testsuite. It might bomb when running level-3 operations, but at least you'll get the info you want.

[2022-02-22 17:10] egaudry commented on #613
@devinamatthews I haven't checked the _actual_ returned values, but #615 fixes the initialization issue indeed. However, the performance largely decreases compared to that of the thunderx2 build BLIS version (I built 4d8352309784403ed6719528968531ffb4483947+#615).

@fgvanzee thanks for the clarification, I'll try to remember this to provide more useful inputs when encountering this kind of issues

[2022-02-22 17:17] xrq-phys commented on #613
Thanks.

Unsure about the chip you're using, but if you could set the following env variables to your chip's actual value (approximated values are enough), it might be helpful to your perf. result:
[code]

[2022-02-22 18:34] devinamatthews commented on #613
@xrq-phys can you please set defaults appropriate for whatever the most common SVE chip is? (Maybe this is just A64fx for now?) It would be nice to be able to grab these from the OS or hwloc but that is more work.

[2022-02-22 18:34] devinamatthews commented on #613
@xrq-phys NVM I saw the comment in the PR that A64fx is the default.

[2022-02-22 18:35] #613 closed

[2022-02-22 20:02] fgvanzee commented on #584
Finally getting around to this today.

[2022-02-23 09:11] egaudry opened #616 "armsve: generic kernel"
As a user running on a node based on neoverse-v1 design, I'd like to us the armsve kernels with a better performance level than the neon-based ones.

This issue is a follow' up of https://github.com/flame/blis/issues/613 and https://github.com/flame/blis/issues/612 where the question of using generic values for
[code]
was raised, as performance using armsve with d5146582b1f1bcdccefe23925d3b114d40c

[2022-02-23 09:17] egaudry commented on #616
For the sake of gathering information, here are some abstract from the ARM technical reference paper referenced above:
[code]
[code]

[2022-02-23 09:26] egaudry commented on #616
Possible generic fit for neoverse-v1 based processors:
[code]

Not tested, just to discuss.

[2022-02-23 22:50] fgvanzee commented on #584
@devinamatthews Alright, so in the case of C++ (which isn't strictly necessary to build BLIS) do you think we should follow the same behavior as with `CC`? That is, if the user sets `CXX=abc` and `abc` doesn't work or doesn't exist, should `configure` bail out?

[2022-02-23 22:52] devinamatthews commented on #584
I would think so, but since it's not necessary to build libblis maybe it could just warn.

[2022-02-23 22:54] fgvanzee commented on #584
Okay, I'll try using a warning.

[2022-02-27 19:46] fgvanzee commented on #584
Closing. Let's move any further dialogue to #617.

[2022-02-27 19:46] #584 closed

[2022-03-01 15:06] QingleiCao opened #618 "Performance issue on Ookami"
I tested Blis using dgemm on [Ookami](https://www.stonybrook.edu/ookami/), but the performance for 1 core is less than 50 Gflop/s on matrix with size up to 5000 * 5000. Are there any tips? I followed the steps on [website](https://github.com/flame/blis/blob/master/docs/Performance.md), which shows about 70 Gflop/s per core could be achieved.

[2022-03-01 16:44] devinamatthews commented on #618
@xrq-phys any tips?

[2022-03-09 14:59] egaudry commented on #616
@devinamatthews @xrq-phys
this is the information I received for AWS Graviton 3:

L1 associativity 4, size 64KB, 256 sets, 64B lines
L2 associativity 8, size 1MB, 2k sets, 64B lines
L3 32MB, 64B lines, massive associativity

would this translates to (L3 values are just a guess)
[code]
?

[2022-03-09 17:10] xrq-phys commented on #618
Sorry for the late reply.

SC Fugaku runs at 2.2GHz while A64FX chip itself supports 1.6, 1.8, 2.0 and 2.2GHz frequencies. Perhaps that's the reason?

[2022-03-09 17:13] devinamatthews commented on #618
[This](https://cpb-us-e1.wpmucdn.com/you.stonybrook.edu/dist/6/1671/files/2021/09/bari2021A64FXexperience.pdf) says 1.8 GHz.

[2022-03-09 17:16] devinamatthews commented on #618
Also, @QingleiCao have you tried SSL2 for comparison?

[2022-03-10 15:08] ivan23kor opened #621 "Tests fail on POWER machines"
- testsuite-run-fast fails on POWER9 and POWER10 with error message:
`4440 Segmentation fault      ./test_libblis.x -g ./testsuite/input.general.fast -o ./testsuite/input.operations.fast > output.testsuite`
- POWER7 dgemm microkernel includes altivec.h, which defines type `bool`. Because of that, edge-case handling macros [here](https://github.com/flame/blis/blob/master/kernels/power7/3/bli_gemm_p

[2022-03-10 15:53] devinamatthews commented on #621
@ivan23kor can QEMU be used to test POWER 7/8/9/10? If so what are the necessary flags so that we can add Travis CI tests?

[2022-03-11 20:44] QingleiCao commented on #618
Thanks for your explanation. Yes, the performance of SSL2 is similar as shown [in this website](https://github.com/flame/blis/blob/master/docs/Performance.md#a64fx), about 64 Gflop/s on a single core and about 60 Gflop/s per core if on 48 cores using OpenMP.

Actually, the problem we are facing with SSL2 is when using pthread instead of OpenMP, which needs to disable the sector cache, leading to a

[2022-03-11 20:47] devinamatthews commented on #618
BLIS performance with pthreads is usually not very good except for very large matrices since we don't maintain a thread pool. If DPLASMA is handling parallelism then you could just use single-threaded BLIS.

[2022-03-11 20:54] QingleiCao commented on #618
Thanks for your quick reply. Yes, that's the configuration in DPLASMA, coupling single-threaded BLIS kernel and pthread. Is it good if calling many single-threaded kernels in BLIS, e.g., dgemm, simultaneously?

[2022-03-11 20:57] devinamatthews commented on #618
There shouldn't be any specific problems with that. If you link SSL2 does it get better performance?

[2022-03-11 21:04] QingleiCao commented on #618
Not sure whether SSL2 is available on Ookami, but on Faguku it's not as good as OpenMP because of sector cache issue. Not sure the details but maybe it's related to the cache reuse. I will get you posted once I get the results about BLIS on Fugaku.

[2022-03-13 01:27] xrq-phys commented on #618
I see. SSL2 is said to have a very restrictive licensing policy.

Does "less than 50GFlops single core" means "less than 50GFlops per core under 48-thread pthread run?

[2022-03-13 01:33] xrq-phys commented on #616
Sorry for the delay.

It seems strange to me even with correctly set cache sizes you are only able to get 25% perf.

Another benchmark on V1 once told me a 10% boost.

I'll see if I can find any Graviton 3 nodes avail to me.

[2022-03-13 05:44] BhaskarNallani commented on #605
The changes looks fine for me. Thanks.

[2022-03-13 17:09] #605 closed

[2022-03-13 17:10] BhaskarNallani commented on #605
Thanks Field for the fix. We can update the sup xgemm graphs later.

[2022-03-14 08:38] egaudry commented on #616
thanks, I would expect a performance bump indeed.
fwiw, I'm using gcc-11 to build blis-master (explicitly building the armsve variant).

[2022-03-14 15:05] devinamatthews commented on #437
@hominhquan is the general issue that `BLIS_JR_NT` should be a divisor of `BLIS_NC/BLIS_NR`? As I mentioned before, `BLIS_JR_NT` also shouldn't be very large, maybe 4 at most.

[2022-03-14 15:22] hominhquan commented on #437
@devinamatthews Yes, but the full condition should be:
- `BLIS_JR_NT`  ideally be divisor of `BLIS_NC/BLIS_NR`, and
- `BLIS_IR_NT`  ideally be divisor of `BLIS_MC/BLIS_MR`

Unless BLIS implicitly re-tweak user's BLIS_JR_NT and BLIS_IR_NT to respect your mentioned condition, a user lamda is free to set these values to his convenience, including using global env var or local `rntm_t` ?

And I remind

[2022-03-14 15:30] devinamatthews commented on #437
No BLIS can't override the user's choices, but I guess then it's up to the user to not do that. I just added some notes to the Multithreading documentation.

[2022-03-14 20:48] fgvanzee commented on #437
I'm a bit confused as to what this issue is really about. And to the extent that I understand it, I'm not quite sure why this issue was labeled as a bug.

I'm not sure if this is causing any confusion, but let's all remember that matrix dimensions are *first* partitioned for parallelism (oblivious to cache blocksizes), and *then* each thread applies its cache blocksizes to whatever portion of the

[2022-03-15 08:28] hominhquan commented on #437
@fgvanzee You are right, this is, functionality-speaking, not a bug, but a sub-optimiality in micro-kernels dispatch. As you said, it is possible to have idle threads not doing any computation.

[2022-03-24 13:27] RajalakshmiSR commented on #621
Looks like this is happening on POWER9 after https://github.com/flame/blis/commit/ee9ff988c49f16696679d4c6cd3dcfcac7295be7

This is the stack trace :
Program received signal SIGSEGV, Segmentation fault.
bli_sgemmtrsmbb_l_power9_ref (k=4, alpha=0x10, a1x=0x64, a11=0x7fffffffccf0, bx1=0x7ffff6ef10c0, b11=0x7ffff6ef1700, c11=0x7fffebd51098, rs_c=140737150003608, cs_c=270180544,
    data=0x10, cntx=0x

[2022-03-30 06:38] moon-chilled opened #624 "typo in edge case handler"
In [bli_edge_case_defs.h:50](https://github.com/flame/blis/blob/master/frame/include/bli_edge_case_macro_defs.h#L50):

[code]

I think it should be `sizeof( PASTEMAC(ch,ctype) )` (note **c**type, not type).

[2022-04-07 10:44] egaudry commented on #616
By reading at the source, I do not see and understand how we would use a SVE256 implementation when running armsve on a neoverse-v1 chip: there is none.

[2022-04-07 11:23] xrq-phys commented on #616
armsve kernels are vl-agnostic.

On Thu, Apr 7, 2022 at 19:45 egaudry ***@***.***> wrote:

--
--------------------
*Xu* RuQing
*許* ルーキン
東大理学系研究科
物理学専攻藤堂研
所属研究室Eメール: ***@***.***
東京大学生Eメール: ***@***.***

[2022-04-07 11:51] egaudry commented on #616
I'm sorry, I don't understand.
Do you mean that no ASM kernels would be needed to get the best performance when running on SVE 256-bit wide ?

[2022-04-07 11:56] xrq-phys commented on #616
Assembly kernels like bli_gemm_armsve_asm_d2vx10_unindexed.c
<https://github.com/xrq-phys/blis/blob/main-dev/kernels/armsve/3/bli_gemm_armsve_asm_d2vx10_unindexed.c>
are
VL-agnostic.
What it does is a 2*VL-by-10 GEMM.

Sorry I didn't manage to grab time for investigating Graviton 3
performance. Maybe a week later.

2022年4月7日(木) 20:51 egaudry ***@***.***>:

[2022-04-07 12:35] egaudry commented on #616
ok, thanks for your feedback, my understanding was wrong obviously then :).
good luck with the graviton3 when you have time then !

[2022-04-22 20:11] devinamatthews opened #627 "Better compiler vendor detection"
The autoconf macro [ax_compiler_vendor](http://git.savannah.gnu.org/gitweb/?p=autoconf-archive.git;a=blob_plain;f=m4/ax_compiler_vendor.m4) provides an arguably better way to determine the compiler vendor, since it doesn't depend on the vagaries of compiler version strings (although it does require running the compiler). A similar technique could be implemented in configure even though it's not au

[2022-05-02 10:03] ProgrammerWLY opened #629 "Excuse me, is the performance evaluation of small/skinny matrix by the following program correct?"
if ( bli_does_notrans( transa ) )
				bli_obj_create( dt, m, k, rs_a, cs_a, &a );
			else
				bli_obj_create( dt, k, m, cs_a, rs_a, &a );

			if ( bli_does_notrans( transb ) )
				bli_obj_create( dt, k, n, rs_b, cs_b, &b );
			else
				bli_obj_create( dt, n, k, cs_b, rs_b, &b );
			if ( bli_does_notrans( transc ) )
				bli_obj_create( dt, m, n, rs_c, cs_c, &c );
			else
				bli_obj_create( dt, n,

[2022-05-02 22:03] fgvanzee commented on #629
A few comments.
1. We don't typically advocate for honoring a `trans_t` parameter on the output matrix.
2. This code leaves out the setting of `alpha` and `beta` (and other details).
3. Whether small/skinny execution takes place (vs. the conventional code path) is decided by comparing the problem dimensions to hardware-specific thresholds. Thus, I can't really say from the above code that `sup` wo

[2022-05-05 15:09] FuncJ opened #631 "Performance issue of dgemm on Gold 6230R CPU"
Hi, I have some questions about **the performance of dgemm on Intel(R) Xeon(R) Gold 6230R CPU**. I follow the documentation available on [https://github.com/flame/blis/blob/master/docs/Performance.md](url). I just want to compare the performance of dgemm on my machine with **the results of skylakex** that have been shown in the documentation. There is more detailed information below.

**My Machine

[2022-05-05 18:13] devinamatthews commented on #631
Yes this is quite odd. Some things to try:

1. Use `beta = 0.0`
2. Zero out `A` and `B`
3. Try `BLIS_JR_NT=XXX` instead of `BLIS_JC_NT`.
4. Make a more detailed plot of performance vs. m=n=k (e.g. 200 to 4000 in steps of 200). This might reveal patterns which point to the problem.

[2022-05-05 18:16] devinamatthews commented on #631
Also, it looks like your thread pinning is correct but you might try `OMP_PLACES=CORES OMP_PROC_BIND=CLOSE`.

[2022-05-09 20:57] fgvanzee commented on #631
I agree that your results are puzzling, @FuncJ. I can't see anything that is super concerning to me in the test driver code. That leaves many other variables, though.

A few suggestions:
1. I notice you use `gettimeofday()`. Perhaps you can try doing what we do, which is using `bli_clock()` and `bli_clock_min_diff()`, both of which use `clock_gettime()`. You can look at `test/test_gemm.c` to see t

[2022-05-10 03:08] FuncJ commented on #631
Thanks a lot for your suggestions. I will follow your suggestions and redesign the experiment.

[2022-05-19 03:07] FuncJ commented on #631
I'm sorry, but I got a similar experimental phenomenon. I tried different libraries, including MKL, Openblas, blis. In multi-threaded scenarios, with the increase of matrix size (m=n=k, 200 to 4000, step=200), the performance curve will first rise to a peak(lower than yours) and then fall to half. Could it be that the operating system has a problem with thread scheduling? Maybe I should test on a

[2022-05-19 04:09] devinamatthews commented on #631
Can you post a graph please?

[2022-05-26 15:15] FuncJ commented on #631
![core_26](https://user-images.githubusercontent.com/51168944/170516424-99aac3c7-6d08-4bb6-ac94-8deba60e59b2.jpg)
![core_52](https://user-images.githubusercontent.com/51168944/170516435-b4548bc9-7294-4e73-b449-6782a9b858ed.jpg)
This time I followed the documentation available at https://github.com/flame/blis/blob/master/docs/Performance.md. I used the code you provided in the directory /test/3. Th

[2022-05-26 16:08] devinamatthews commented on #631
I'm not sure you got anything wrong. This is quite odd though. @field? @jdiamondGitHub?

[2022-05-26 18:49] devinamatthews commented on #631
I will note that the performance collapse seems to occur just when the size of one matrix == 64GiB. Accesses to DRAM vs. L3 may be the bottleneck at higher sizes.

[2022-05-26 19:03] jeffhammond commented on #631
https://github.com/jeffhammond/vpu-count

[2022-05-26 19:04] devinamatthews commented on #631
Duh

[2022-05-26 19:04] jeffhammond commented on #631
6230 should have 2. Refresh (6230R) shouldn't change it.

[2022-05-26 20:58] devinamatthews commented on #631
The `empirical.x` program in the vpu-count repo will give a definitive answer. I can't think of any other reasons why performance is so poor.

[2022-05-28 03:22] FuncJ commented on #631
![core_8](https://user-images.githubusercontent.com/51168944/170807075-33b42667-76b6-4a83-b518-e7fe9bbb5673.jpg)
Thanks a lot for your suggestions. I have run the program ‘empirical.x’. The output of the program is 'vpu=2'. I have inserted the 'printf' statement in the 'bli_dgemm_skx_asm_16x14.c' file and recompiled the blis source code. This graph shows the performance when the number of cores is

[2022-05-28 04:24] devinamatthews commented on #631
OK. What is your memory configuration (# and arrangement of DIMMs)?

[2022-05-28 05:04] FuncJ commented on #631
I refer to the information provided by the website https://en.wikichip.org/wiki/intel/xeon_gold/6230r. Max bandwidht == 131.13Gib/s. Could you please tell me which command line should I use?

[2022-05-28 05:32] devinamatthews commented on #631
If you have administrator access, then `sudo dmidecode -t 17`, otherwise you'll have to ask your system administrator. I ask because that chip has 6-channel memory, so you need **exactly 12** (or 24) **identical memory DIMMs**, balanced 6 (or 12) on each socket, to fully saturate the memory bandwidth. You can also measure the memory bandwidth empirically using the STREAM benchmark. Hopefully your

[2022-05-28 07:26] FuncJ commented on #631
<img width="352" alt="Snipaste_2022-05-28_15-23-40" src="https://user-images.githubusercontent.com/51168944/170815358-ee82972a-53cb-482e-b324-989864d8714f.png">

[2022-05-28 12:33] devinamatthews commented on #631
That's plenty of bandwidth. Have you tried MKL? I'm assuming at this point that it stomps all over BLIS...

[2022-05-30 11:52] FuncJ commented on #631
Yes, I have tried MKL. Can I post pictures related to it?If this is inappropriate, please remind me to delete them.Thanks.
<img width="813" alt="Snipaste_2022-05-30_19-49-40" src="https://user-images.githubusercontent.com/51168944/170986815-d23a8f54-35a8-475f-8611-1f5de438411f.png">
<img width="614" alt="Snipaste_2022-05-30_19-50-01" src="https://user-images.githubusercontent.com/51168944/17098683

[2022-06-04 11:18] danieldk opened #635 "Out-of-bounds read when using Haswell kernels"
We are using BLIS in [spaCy](https://github.com/explosion/spaCy) and have encountered access violations in CI when running on Windows, since updating to BLIS 0.9.0. I have tried to reproduce this issue with Linux and get out-of-bound reads with this small program:

https://gist.github.com/danieldk/b4f275e715fb8131d6fe5435e9f29a98

[code]

On the other hand, when using `penryn` or `sandybridge` ker

[2022-06-04 18:27] devinamatthews commented on #635
@danieldk what BLIS version/commit are you using? Also, can you please post a minimal reproducer?

[2022-06-04 18:32] danieldk commented on #635
Version `0.9.0` (14c86f66b20901b60ee276da355c1b62642c18d2), but `master` (tested 56772892450cc92b3fbd6a9d0460153a43fc47ab) has the same issue.

I am not sure I can come up with something more minimal than the linked gist?

https://gist.github.com/danieldk/b4f275e715fb8131d6fe5435e9f29a98

[2022-06-04 18:33] devinamatthews commented on #635
Missed that, sorry.

[2022-06-05 07:10] BhaskarNallani commented on #635
Looks like issue is with the vector load access in fringe case kernels where the load is trying to access out of bound. I am able to reproduce the memory leak issue. Will provide a fix.

[2022-06-05 14:28] jeffhammond commented on #631
Those STREAM numbers are bogus. You cannot get that from DRAM. You set the size too small and it fits in cache.

[2022-06-05 16:33] devinamatthews commented on #631
@FuncJ I guess you deleted uyour post with the MKL numbers? I have no problem posting that here. From those results though, since they more or less follow the BLIS curve by ~15-20% higher, I think this is unlikely to be a BLIS-specific problem. My money is on a hardware misconfiguration (e.g. the distribution of DIMMs that I mentioned above) or maybe a thermal issue? You might get some help on the